[class^=pb_gradient_overlay] {
  .gradient-overlay-container {
    position: relative;
  }

  .gradient-overlay {
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 1;
  }
}
