import React from 'react'
import { Title } from '../../../../pb_kits/playbook'

const <%= @react_comp %> = () => (
  <div>
    <Title
        marginTop="xl"
        size={1}
        text="Your Sample Page"
    />
  </div>
)

export default <%= @react_comp %>
