@import "../pb_caption/caption";


.pb_circle_chart {

}

.pb-circle-chart-block {
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    text-align: center;
    pointer-events: none;
}