<div class="pb--doc-demo-row">

  <%= pb_rails("selectable_card", props: {
    input_id: "block",
    name: "block",
    value: "block",
    checked: true
  }) do %>
    <%= pb_rails("title", props: { text: "Block", size: 4 }) %>
    <%= pb_rails("body", props: { tag: "span"}) do %>
      This uses block
    <% end %>
  <% end %>

  <br><br>

  <%= pb_rails("selectable_card", props: {
    input_id: "tag",
    name: "tag",
    value: "tag",
    text: "This passes in text",
    checked: false
  }) %>

</div>
