// Border Radius

$border-rad-lightest:     1px
$border-rad-lighter:      2px
$border-rad-light:        4px
$border-rad-normal:       0
$border-rad-heavy:        5px
$border-rad-heavier:      6px
$border-rad-heaviest:     7px
$border-rad-mega:         1000px


// Bootstrap
$border-radius-base:      $border-rad-light
$border-radius-large:     $border-rad-heavy
$border-radius-small:     $border-rad-lighter
$border-radius:           $border-rad-light
$border-radius-lg:        $border-rad-heavy
$border-radius-sm:        $border-rad-lighter


$panel-border-radius:     $border-rad-light



// Change to borders
$border-color: $sky
