$shadow-default: 0 1px 5px 0 $black-opacity-2;
$shadow-deep: 0 2px 10px 0 $black-opacity-2;
$shadow-deeper: 0 7px 18px 0 $black-opacity-2;
$shadow-deepest: 0 31px 41px 0 rgba($ink-dark, $opacity-2), 0 2px 16px 0 rgba($ink-dark, $opacity-8);
