@import "../tokens/typography";
@import "../tokens/spacing";
@import "../pb_icon/icon";
@import "../pb_body/body";

.pb_icon_value_kit_left,
.pb_icon_value_kit_center,
.pb_icon_value_kit_right {
  display: flex;
  align-items: center;

  .pb_body_kit_light {
    font-size: $font-small !important;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;

    svg {
      font-size: $font-large !important;
      margin-right: $space-xs !important;
      flex-shrink: 0;
    }
  }
}

.pb_icon_value_kit_left {
  justify-content: flex-start;
}

.pb_icon_value_kit_center {
  justify-content: center;
}

.pb_icon_value_kit_right {
  justify-content: flex-end;
}