@import "../tokens/typography";
@import "../tokens/spacing";
@import "../pb_icon/icon";
@import "../pb_body/body";

.pb_icon_value_kit {
  display: flex;
  align-items: center;

  .pb_body_kit {
    font-size: $font-small !important;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;

    .pb_icon_kit {
      font-size: $font-large !important;
      margin-right: $space-xs !important;
      flex-shrink: 0;
    }
    &.dark {
      
    }
  }

  &._left {
    justify-content: flex-start;
  }
  &._center {
    justify-content: center;
  }
  &._right {
    justify-content: flex-end;
  }
}
