@import "base-mixins/_all.scss";
@import "base-variables/_all.scss";

:global {
  .nitro-panel-group {
    margin-bottom: 0px;

    .panel {
      box-shadow: none;
      margin-bottom: $space-base;

      .panel-heading {
        background-color: $white;

      }

      .panel-body{
        padding-top: $space-largest;

        .title {
          font-size: $font-size-base;
          font-weight: $bold;
        }
      }
    }

    &.inner-panel-group {
      .panel {
        box-shadow: $shadow-default;

        .panel-toggle {
          padding-top: $space-small;
          padding-bottom: $space-small;
        }

        &.panel-collapsed {
          box-shadow: none;
          margin-bottom: $space-base;

            .panel-heading {
              background-color: $sky-lighter;
            }
        }
          .panel-body {
            padding-top: $space-largest;

          }
      }
    }

    .panel-heading {
      padding: 0;
      border-color: $sky;

        .heading-icon {
          margin-right: $space-large;
        }

        .panel-title {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          line-height: $space-large;

        }

        .heading-icon, .title, .subtitle {
          color: $ink-light;
        }

        .title {
          font-size: $font-size-large;
          font-weight: $regular;
          line-height: $space-larger;
        }
        .subtitle {
          font-size: $font-size-small;
        }
    }

    .panel-toggle {
      display: flex;
      padding: 6px 16px;
      align-items: center;
      padding-top: $space-large;
      padding-bottom: $space-large;

    }

    .icon-toggle {
      color: $ink-lightest;
      transition: all 0.5s ease;
      margin-left: $space-large;
    }
  }
}
