@import "../tokens/typography";
@import "../tokens/colors";
@import "../tokens/shadows";
@import "../tokens/border_radius";

@mixin pb_map_button_states {
  &:hover {
    background-color: darken($bg_light, 2%);
  }
  &:focus-visible {
    border: solid 1px $primary_action;
    box-shadow: unset;
  }
  &:active {
    color: $text_lt_default;
    background-color: darken($bg_light, 5%);
    &:focus {
      border: solid 1px $border_light;
    }
  }
}

@mixin pb_map_button {
  @include pb_map_button_states;
  border: solid 1px $border_light;
  border-radius: $border_radius_md;
  cursor: pointer;
  padding: $space_xs + 1;
  text-align: center;
  color: $text_lt_light;
  background-color: $card_light;
  min-height: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin pb_map_button_dark {
  color: $text_dk_light;
  background-color: $bg_dark;
  border-color: $border_dark;
  &:hover {
    background-color: #221e3d;
  }
  &:active {
    color: $text_dk_default;
    background-color: $bg_dark;
    &:focus {
      border: solid 1px $border_dark;
    }
  }
}
