@import "../pb_textarea/textarea_mixin";
@import "../tokens/colors";
@import "../tokens/border_radius";
@import "../tokens/shadows";
@import "../tokens/spacing";
@import "../tokens/typography";
@import "../tokens/line_height";

.pb_multi_level_select {
  font-family: $font-family-base;

  .dropdown {
    width: 100%;
    .search {
      border-bottom: none;
    }

    .toggle {
      padding: 0px $space_xs;
    }
    .node.tree {
      display: flex;
      align-items: center;
    }

    .node-label {
      line-height: $lh_tight;
      color: $text_lt_default;
      font-size: $text_default;
      font-weight: $regular;
      font-family: $font-family-base;
    }

    .checkbox-item {
      height: $space_sm;
      width: $space_sm;
    }

    .toggle.expanded:after {
      border-style: solid;
      border-width: 0.1em 0.1em 0 0;
      content: "";
      display: inline-block;
      height: 0.8em;
      position: relative;
      vertical-align: top;
      width: 0.8em;
      top: 8px;
      transform: rotate(135deg);
      font-size: 0.5em;
    }
    .toggle.expanded:hover {
      background-color: rgba(0, 86, 207, 0.1);
      border-radius: $border_radius_rounded;
      &::after {
        color: $primary;
      }
    }
    .toggle.collapsed:after {
      border-style: solid;
      border-width: 0.1em 0.1em 0 0;
      content: "";
      display: inline-block;
      height: 0.8em;
      right: 0.1em;
      position: relative;
      vertical-align: top;
      width: 0.8em;
      top: 8px;
      font-size: 0.5em;
      transform: rotate(45deg);
      top: 10px;
    }

    .toggle.collapsed:hover {
      background-color: rgba(0, 86, 207, 0.1);
      border-radius: $border_radius_rounded;
      &::after {
        color: $primary;
      }
    }

    .tag {
      height: fit-content;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: $space_xxs $space_xxs $space_xxs $space_xs;
      border-radius: $border_radius_xl + 2;
      background-color: rgba($primary, 0.1);
      color: $primary;
      border: none;
      font-size: $font_smaller;
      font-weight: $bolder;

      .tag-remove {
        color: $primary;
        padding-left: $space_xs;
        padding-right: $space_xxs;
      }
    }
  }
  .react-dropdown-tree-select .dropdown .dropdown-trigger {
    width: 100%;
    @include pb_textarea_light;
  }
  .react-dropdown-tree-select .dropdown .dropdown-trigger.arrow.bottom:after {
    content: none;
  }
  .react-dropdown-tree-select .dropdown .dropdown-trigger.arrow.top:after {
    content: none;
  }

  .react-dropdown-tree-select .dropdown .dropdown-content {
    width: 100%;
    border: 1px solid $border_light;
    border-radius: $border_rad_heavier;
    box-shadow: $shadow_deeper;
  }
  .node.leaf.collapsed {
    display: block !important;
  }
}
