@import "../pb_textarea/textarea_mixin";
@import "../tokens/colors";
@import "../tokens/border_radius";
@import "../tokens/shadows";
@import "../tokens/spacing";
@import "../tokens/typography";
@import "../tokens/line_height";
@import "../tokens/positioning";

.pb_multi_level_select {
  font-family: $font-family-base;

&.error {
  .wrapper {
    .input_wrapper {
      border-color: $input_border_error;
    }
  }
  .pb_body_kit_negative {
    margin-top: $space_xxs;
  }
}
  .wrapper {
    position: relative;

    .toggle_icon {
      visibility: hidden;
      .pb_button_content {
        visibility: hidden !important;
      }
    }

    .input_wrapper {
      background-color: $input_background_default;
      cursor: pointer;
      padding: $space_xs + 1 $space_sm;
      border: 1px solid $input_border_default;
      border-radius: $border_rad_heavier;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include transition_default;

      &:focus-within {
        border-color: $input_border_state;
        background-color: $input_background_state;
      }

      .input_inner_container {
        width: 100%;
      }

      input {
        width: 100%;
        border: none;
        font-family: $font_family_base;
        font-size: $font_base;
        background-color: $input_background_default;
        &::placeholder {
          color: $input_text_default;
        }
        &:focus {
          outline: none;
          background-color: $input_background_state;
          color: $input_text_active;
        }
      }

      &:has(input:disabled) {
        background-color: $input_background_disabled;
        box-shadow: none;
        cursor: default;
        opacity: 0.5;
        input {
          background-color: $input_background_disabled;
          color: $input_text_disabled;
        }
      }
    }
  }
  .dropdown_menu {
    position: absolute;
    z-index: $z_1;
    width: 100%;
    background-color: $white;
    padding: $space_sm $space_sm $space_sm 0;
    border-radius: $border_rad_heavier;
    border: 1px solid #e4e8f0;
    max-height: 600px;
    overflow: auto;

    ul {
      padding: 0px !important;
    }

    .dropdown_item {
      list-style: none;
      padding-left: 20px;
      .dropdown_item_checkbox_row {
        display: flex;
        align-items: center;
        .pb_checkbox_kit {
          align-items: center;
        }
        .pb_button_kit,
        .pb_button_link,
        .pb_button_inline,
        .pb_button_enabled {
          color: $input_text_default;
          &:hover {
            color: $input_text_active;
          }
        }
      }
    }
  }

  .close {
    display: none;
  }

  .open {
    display: block;
  }

  &.dark {
    &.error {
      .wrapper {
        .input_wrapper {
          border-color: $input_border_error_dark;
        }
      }
      .pb_body_kit_negative {
        color: $text_error_dark;
      }
    }
  }
}
