@import "../pb_textarea/textarea_mixin";
@import "../tokens/colors";
@import "../tokens/border_radius";
@import "../tokens/shadows";
@import "../tokens/spacing";

.pb_multi_level_select {
  .dropdown {
    width: 100%;
    .search {
      border-bottom: none;
    }

   
  .toggle.expanded:after {
    border-style: solid;
    border-width: 0.1em 0.1em 0 0;
    content: '';
    display: inline-block;
    height: 0.6em;
    left: 0.1em;
    position: relative;
    vertical-align: top;
    width: 0.6em;
    top: 10px;
    transform: rotate(135deg);
    font-size: 0.5em;
  }
  .toggle.collapsed:after {
    border-style: solid;
    border-width: 0.1em 0.1em 0 0;
    content: '';
    display: inline-block;
    height: 0.6em;
    left: 0.1em;
    position: relative;
    vertical-align: top;
    width: 0.6em;
    top: 10px;
    transform: rotate(135deg);
    font-size: 0.5em;

    transform: rotate(-45deg);
    top: 12px;
  }

    .tag {
      height: 37px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 0 $space_xxs 0 $space_xs;
      border-radius: 18px;
      background-color: rgba($primary,.1);
      color: $primary;
      border: none;
      font-size: 16px;
      font-weight: 700;

      .tag-remove {
        color: $primary;
        padding-left: $space_xs;
        padding-right: $space_xxs;
      }
    }
  }
  .react-dropdown-tree-select .dropdown .dropdown-trigger {
    width: 100%;
    @include pb_textarea_light;
  }
  .react-dropdown-tree-select .dropdown .dropdown-trigger.arrow.bottom:after {
    content: none;
  }
  .react-dropdown-tree-select .dropdown .dropdown-trigger.arrow.top:after {
    content: none;
  }

  .react-dropdown-tree-select .dropdown .dropdown-content {
    width: 100%;
    border: 1px solid $border_light;
    border-radius: $border_rad_heavier;
    box-shadow: $shadow_deeper;
  }
  .node.leaf.collapsed {
    display: block !important;
  }
}
