<div class="pb--doc-demo-row">

    <%= pb_rails("selectable_card_icon", props: {
        icon: "calendar", 
        title_text: "Title", 
        body_text: "Selected, with icon",
        input_id: 8,
        checked: true,
        card_icon: true,
        dark: true
    }) %>

    <%= pb_rails("selectable_card_icon", props: {
        icon: "calendar", 
        title_text: "Title", 
        body_text: "Selected, without icon",
        input_id: 9,
        checked: true,
        dark: true
    }) %>

    <%= pb_rails("selectable_card_icon", props: {
        icon: "calendar", 
        title_text: "Title", 
        body_text: "Unselected",
        input_id: 10,
        dark: true
    }) %>
    
    <%= pb_rails("selectable_card_icon", props: {
        icon: "calendar", 
        title_text: "Title", 
        body_text: "Disabled",
        input_id: 11,
        disabled: true,
        dark: true
    }) %>

</div>