<div class="pb--doc-demo-row">

  <%= pb_rails("selectable_card_icon", props: {
    icon: "chart-line",
    title_text: "Quarterly Report",
    body_text: "Export",
    input_id: "card-icon-id",
    checked: true,
    additional_input_options: {
      class: "input-class",
      name: "overwriting-name",
      value: "overwriting-value",
    }
  }) %>

</div>
