<div class="pb--doc-demo-row">

    <%= pb_rails("selectable_card_icon", props: {
        icon: "cog", 
        title_text: "Title", 
        body_text: "Selected, with icon",
        input_id: 1,
        checked: true,
        card_icon: true
    }) %>

    <%= pb_rails("selectable_card_icon", props: {
        icon: "calendar", 
        title_text: "Title", 
        body_text: "Selected, without icon",
        input_id: 2,
        checked: true,
    }) %>

    <%= pb_rails("selectable_card_icon", props: {
        icon: "inbox", 
        title_text: "Title", 
        body_text: "Unselected",
        input_id: 3,
    }) %>
    
    <%= pb_rails("selectable_card_icon", props: {
        icon: "cog", 
        title_text: "Title", 
        body_text: "Disabled",
        input_id: 4,
        disabled: true
    }) %>

</div>