<div class="pb--doc-demo-row">

  <%= pb_rails("selectable_card_icon", props: {
    icon: "cog", 
    title_text: "Settings", 
    body_text: "Enable user preferences",
    input_id: 1,
    checked: true,
  }) %>

  <%= pb_rails("selectable_card_icon", props: {
    icon: "inbox", 
    title_text: "Mark Unread", 
    body_text: "Select All",
    input_id: 2,
  }) %>

  <%= pb_rails("selectable_card_icon", props: {
    icon: "calendar", 
    title_text: "", 
    body_text: "Disabled",
    input_id: 3,
    disabled: true
  }) %>

</div>