<div class="pb--doc-demo-row">

    <%= pb_rails("selectable_card_icon", props: {
        icon: "cassette-tape", 
        title_text: "Title", 
        body_text: "Cassette",
        input_id: 5,
        name: "select",
        multi: false,
    }) %>

    <%= pb_rails("selectable_card_icon", props: {
        icon: "compact-disc", 
        title_text: "Title", 
        body_text: "CD",
        input_id: 6,
        name: "select",
        multi: false,
    }) %>

    <%= pb_rails("selectable_card_icon", props: {
        icon: "album-collection", 
        title_text: "Title", 
        body_text: "Vinyl",
        input_id: 7,
        name: "select",
        multi: false,
    }) %>

</div>