<div class="pb--doc-demo-row">

  <%= pb_rails("selectable_card_icon", props: {
    icon: "volume", 
    title_text: "Sound", 
    body_text: "Silent Mode",
    input_id: 10,
    checked: true,
    card_icon: true,
    dark: true
  }) %>

  <%= pb_rails("selectable_card_icon", props: {
    icon: "location", 
    title_text: "Location", 
    body_text: "Allow ",
    input_id: 12,
    dark: true
  }) %>
  
  <%= pb_rails("selectable_card_icon", props: {
    icon: "wifi", 
    title_text: "WiFi", 
    body_text: "Disabled",
    input_id: 13,
    disabled: true,
    dark: true
  }) %>

</div>