<div class="pb--doc-demo-row">    
  
  <%= pb_rails("selectable_card_icon", props: {
    icon: "cog", 
    title_text: "Title", 
    body_text: "Selected, with checkmark",
    input_id: 4,
    checked: true,
    checkmark: true
  }) %>

  <%= pb_rails("selectable_card_icon", props: {
    icon: "inbox", 
    title_text: "Title", 
    body_text: "Unselected, with checkmark",
    input_id: 5,
    checkmark: true
  }) %>

  <%= pb_rails("selectable_card_icon", props: {
    icon: "cog", 
    title_text: "Title", 
    body_text: "Disabled",
    input_id: 6,
    disabled: true,
    checkmark: true
  }) %>

</div>