@import "../pb_title/title";
@import "../pb_body/body";
@import "../pb_avatar/avatar";
@import "../tokens/spacing";

.pb_user_kit{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;

  // Orientation =============
  &._vertical  {
    flex-direction: column;

    &._center  {
      align-items: center;

      .pb_title,
      .pb_body {
        text-align: center;
      }
    }

    &._right  {
      align-items: flex-end;

      .pb_title,
      .pb_body {
        text-align: right;
      }
    }

    .pb_avatar {
      margin-bottom: $space-xs;
    }
  }

  &._horizontal  {
    align-items: center;

    &._center  {
      justify-content: center;
    }

    &._right  {
      justify-content: flex-end;
    }

    .pb_avatar {
      margin-right: $space-sm;
    }
  }
}
