@import "../tokens/colors";

.pb_distribution_bar_lg,
.pb_distribution_bar_sm {
  $bar_colors: map-merge($data_colors, $status_colors);
  $small_bar: 8px;
  $large_bar: 36px;
  display: flex;
  border-radius: $large_bar;
  overflow: auto;
  .pb_distribution_width {
    height: 100%;
    display: inline-block;
    @each $name, $color in $bar_colors {
      &:nth-child(#{length($bar_colors)}n+#{index(($bar_colors), ($name $color))}) {
        background-color: $color;
      }
      &.color_#{$name} {
        background-color: $color !important;
      }
    }
    &:first-child {
      border-top-left-radius: $large_bar;
      border-bottom-left-radius: $large_bar;
    }
    &:last-child {
      border-top-right-radius: $large_bar;
      border-bottom-right-radius: $large_bar;
    }
  }
}

.pb_distribution_bar_sm {
  height: 8px;
}

.pb_distribution_bar_lg {
  height: 36px;
}