@import "../tokens/colors";

[class^=pb_distribution_bar] {
  $bar_colors: map-values($data_colors);
  $small_bar: 8px;
  $large_bar: 36px;
  display: flex;
  border-radius: $large_bar;
  overflow: auto;
  .pb_distribution_width {
    height: 100%;
    display: inline-block;
    @each $name, $color in $data_colors {
      &:nth-child(#{length($data_colors)}n+#{index(($data_colors), ($name $color))}) {
        background-color: $color;
      }
      &.color_#{$name} {
        background-color: $color !important;
      }
    }
    &:first-child {
      border-top-left-radius: $large_bar;
      border-bottom-left-radius: $large_bar;
    }
    &:last-child {
      border-top-right-radius: $large_bar;
      border-bottom-right-radius: $large_bar;
    }
  }
  &[class*=_sm] {
    height: $small_bar;
  }
  &[class*=_lg] {
    height: $large_bar;
  }
}
