.pb_date_range_stacked_kit {
  .pb_date_range_stacked_display {
    display: inline-grid;
    .pb_date_range_stacked_start_date {
      text-align: right;
    }
    .pb_date_range_stacked_end_date {
      text-align: left;
    }
  }
}
