@import "../tokens/spacing";

.pb_date_range_stacked {
  .pb_date_range_stacked_display {
    display: inline-grid;
    .pb_date_range_stacked_arrow {
      top: $space_xs + 2;
      position: relative;
      margin: 0 ($space_sm - 3) 0;
    }
  }

  .pb_date_range_stacked_display.pb_date_range_stacked_start_date {
    [class^=pb_body_kit] {
      text-align: right;
    }
  }
}
