[class^="pb_file_upload_kit"] {
  [class^="pb_card_kit"] {
    border: 1px #ccc dashed;
    text-align: center;
  }
  ::file-selector-button {
    visibility: hidden;
    padding: 0;
    border: none;
    width: 0;
  }
}
