.pb_file_upload_kit {
  .pb_card_kit {
    border: 1px #ccc dashed;
    text-align: center;
  }
  ::file-selector-button {
    visibility: hidden;
    padding: 0;
    border: none;
    width: 0;
  }
  &.error,
  &.pb_file_upload_kit_error {
    .pb_card_kit {
      border-color: $error;
    }
    .pb_body_kit_negative {
      margin-top: $space_xs;
    }
  }
}

.pb_file_upload_kit_error {
  ::file-selector-button {
    visibility: hidden;
    padding: 0;
    border: none;
    width: 0;
  }
}

.dark .pb_file_upload_kit {
  .pb_card_kit {
    border: 1px $text_dk_lighter dashed;
  }
  &.error,
  &.pb_file_upload_kit_error {
    .pb_card_kit {
      border-color: $error_dark;
    }
  }
}
