<%= content_tag("div",
    aria: object.aria,
    class: object.classname,
    data: object.data,
    id: object.id) do %>

    
      <%= pb_rails("form_group") do %>
        <label for="upload" class="pb_button_kit_secondary_inline_enabled"><%= "#{object.label}" %></label>
        <%= pb_rails("text_input", props: { input_options: { id: "upload"}, placeholder: "#{object.placeholder}", cursor: "pointer", type: "file" } ) %>
      <% end %>
    </label>
<% end %>
