$header-height: 57px;
$header-icon-color: #fff;
$header-icon-hover-color: $power-grey;
$nav-height: 30px;
$nav-caret-color: #fff;

.header-placeholder {
  height: $header-height + $nav-height;
}

#header {
  @include title-font;
  background: $power-royal;
  color: #999;
  min-height: $header-height;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: all .4s ease-out;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  z-index: z-index-for("header");
  web-transition: width 1s;

  .logo {
    display: block;
    float: left;
    margin-top: 12px;
    margin-left: 15px;
    text-decoration: none;
    @include media-max-width(380px) {
      display: none;
    }

    h1 { text-indent: -9999px; }

  } /* .logo */

  .navbar-form {
    margin-top: 10px;
    margin-bottom: 0;
  }

  .announcements {
    position: relative;
    top: -3px;
    white-space: nowrap;
    display: block;
    text-align: center;
    .btn {
      display: block;
      border-radius: 0;
    }
  }

  .triangle {
    background-image: image-url("widgets/triangle.png");
    background-size: 14px 7px;
    height: 7px;
    margin-top: -7px;
    margin-left: 70%;
    width: 14px;
  }
  .fa-2x {
    font-size: 2.2em;
  }

  .head-nav-link {
    color: $header-icon-color;
    display: block;
    float: left;
    margin-top: 3px;
    margin-right: 15px;
    padding-right: 15px;
    position: relative;

    &.microphone {
      margin-top: -1px;
    }

    span:nth-child(2) {
      position: absolute;
      bottom: -14px;
      right: -4px;

      i:first-child {
        color: red;
      }
      i:last-child {
        font-size: 10px;
        color: white;
      }
      .fa-play {
        padding-left: 3px;
      }
    }

    /* Power P fill color since it's svg */
    img, svg {
      margin-top: 6px;
    }
    path {
      &.bg { fill: $header-icon-color; }
      &.fg { fill: $power-royal; }
    }

    .head-nav-link-caret {
      position: absolute;
      top: 10px;
      right: 0;
    }
    .head-nav-link-caret span.caret {
      border-top: 5px solid $nav-caret-color;
    }

    &.phone {
      .fa-phone { margin-top: 8px; }
      .head-nav-link-caret { right: 5px; }
    }

    &.search {
      .fa-search { margin-top: 6px; }
    }
  }
  .head-nav-link:hover, .head-nav-link:focus, .head-nav-link:active  {
    color: $header-icon-hover-color;
    outline: 0;
    text-decoration: none;

    /* Power P fill color since it's svg */
    path {
      &.bg { fill: $header-icon-hover-color; }
    }
  }

  .spotnitro ~ .logo {
    margin-left: 0;
  }

  .badge-connect-unread-messages {
    bottom: 0.5em;
    color: $power-red;
    display: none;
    position: absolute;
    right: 0.8em;
  }

  #menu-link {
    margin: 12px 0 0 15px;
  }

  .profile {
    margin-top: 5px;
    margin-right: 5px;

    .profile-avatar {
      float: left;
      height: $header-height - 10px;
      margin-left: 10px;
      width: $header-height - 10px;
    }
    .profile-avatar img {
      border-radius: $border-rad-light;
      height: $header-height - 10px;
      width: $header-height - 10px;
    }

    .profile-username {
      color: #fff;
      float: left;
      font-size: 13px;
      line-height: $header-height - 10px;
      margin-left: 10px;
    }

    .profile-caret {
      float: left;
      margin-top: 8px;
      margin-right: 8px;
      padding-left: 5px;

      span.caret { /* colors the caret */
        border-top: 5px solid $nav-caret-color;
      }
    }
  } /* .profile */

  div.settings-box {
    border: 1px solid #c9c9c9;
    background: #fff;
    -webkit-box-shadow: 0px 0px 18px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    0px 0px 18px rgba(50, 50, 50, 0.2);
    box-shadow:         0px 0px 18px rgba(50, 50, 50, 0.2);
    color: #5f5f5f;
    font-size: 13px;
    margin-top: 10px;
    padding: 0;
    width: auto;

    .profile-navigation {
      margin: 2px 0px;
      padding: 0;
      list-style: none;

      h6 {
        color: $medium-dark-grey;
        font-size: 9px;
        text-transform: uppercase;
      }

      li {
        &:hover {
          background: $ultralight-grey;
        }
        &:last-child a {
          border: 0;
        }
        a, span {
          color: #535457;
          display: block;
          margin: 0px 10px;
          padding: 10px 0px;

          &:hover {
            text-decoration: none;
          }
          i {
            padding-right: 10px;
          }

          &.text-danger {
            color: $danger-color;
          }
        }
        span {
          color: $medium-dark-grey;
          cursor: default;
        }
      }
    }
  } /* div.settings-box */

} /* #header */

body.training {
  #header {
  background: $ink-lighter;
  }
}

#connect-notifier {
  h6 {
    color: #fff;
    margin-bottom: 5px;
    margin-top: 10px;
    padding-left: 10px;
  }

  li {
    color: #777;
    font-size: 12px;
    line-height: 12px;
    list-style-type: none;
    margin-bottom: 7px;
    margin-top: 3px;
  }

  ul {
    padding-left: 10px;
  }

  > h6#connect-mention-header > i.fa {
    padding-right: 0;
  }

  #connect-mention-header,
  #connect-notifier-unread-message-names,
  #connect-notifier-room-names {
    display: none;
  }

  #connect-notifier-unread-message-names,
  #connect-notifier-room-names {
    padding-bottom: 10px;
  }
}

.connect-link {
  cursor: pointer;
}

#main-crumbs.navbar-default {
  @include title-font;
  @include box-shadow(0, 2px, 8px, $black-opacity-2);
  border: none;
  border-radius: 0;
  background-color: shade($power-navy, 20%);
  max-height:$nav-height;
  min-height: $nav-height;
  overflow: hidden;
  padding: 0;
  position: relative;
  top: 5px;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  transition: all .4s ease-out;
  web-transition: width 1s;
  display: block;
  width: 100%;
  margin-bottom: 0;

  .navbar-nav > li {
    border-right: solid 1px rgba($white, $opacity-1);
  }

  .navbar-nav > li > a {
    color: $white-opacity-8;
    font-size: 13px;
    padding: 0 $space-large;
    line-height: $nav-height;
    border-bottom: 0;
  }
  .navbar-nav > li > a:hover {
    color: $white;
    background-color: shade($power-navy, 40%);
  }

  .navbar-nav > li.back-to-nitro, .navbar-nav > li.back-to-nitro a {
    color: #fff;
  }
  .navbar-nav > li.back-to-nitro a:hover {
    color: $power-grey;
  }

} /* #main-crumbs.navbar-default */

body.training #main-crumbs {
  background-color: $ink;
}

.poker-session {
  a {
    text-decoration: none;
    color: $ultralight-grey;
  }

  a:hover {
    text-decoration: underline;
    color: $light-grey-alt;
  }
}


@media screen and (max-width: 1000px) {
  .navbar-default {
    .navbar-nav {
      margin: 0;
    }
    .navbar-nav > li {
      float: left;
    }
  }
}

.env-information {
  position: absolute;
  left: 65px;
  bottom: 45px;
  .label.label-warning {

  }
}

.announcements-hidden .announcements {
  visibility: hidden;
  transform: translateX(-2000px);
}
