<form id="example-form-validation" action="" method="get">
    <%= pb_rails("phone_number_input", props: { error: raw(pb_rails("icon", props: { icon: "warning"}) + " Missing phone number"), id: "validation", initial_country: "af", value: "", required: true }) %>
    <%= pb_rails("button", props: {html_type: "submit", text: "Save Phone Number"}) %>
</form>

<%= javascript_tag do %>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelector('#example-form-validation').addEventListener('submit', function (e) {
            if (e.target.querySelectorAll('[error]:not([error=""])').length > 0) e.preventDefault();
        })
    })
<% end %>
