<%= content_tag(:div,
    id: object.id,
    data: object.data,
    class: object.classname) do %>
    <% if object.orientation === 'horizontal' %>
        <span><%= pb_rails("caption", props: { text: object.text }) %></span>
    <% end %>
    <% if object.orientation === 'vertical' %>
        <%= pb_rails("flex", props: { orientation: "column"}) do %>
        <% end %>    
    <%end%>
<% end %>
