@import "../tokens/colors";
@import "../tokens/spacing";
@import "../pb_caption/caption";

$section_colors: (
  background:   $bg_light,
  card:   $card_light,
);

[class^=pb_section_separator_kit] {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @each $color_name, $color_value in $section_colors {
    &[class*=_#{$color_name}] {
      span {
        display: inline-block;
        padding: 0 $space_xs;
        background: #{$color_value};
        position: relative;
        z-index: 1;
      }
    }
  }

  &::after {
    content: "";
    height: 1px;
    width: 100%;
    background: $border_light;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 0;
  }
  &[class*=_horizontal] {
    justify-content: center;
  }
  &[class*=_vertical] {
    content: "";
    height: 50px;
    width: 1px;
    margin-left: $space_xs;
    margin-right: $space_xs;
    background: $border_light;
    position: relative;
    z-index: 0;
  }
}
