.pb_date_year_stacked_left {
  & > .pb_title_kit, 
  & > .pb_body_kit_light {
    text-align: left !important;
  }
}

.pb_date_year_stacked_center {
  & > .pb_title_kit, 
  & > .pb_body_kit_light {
    text-align: center !important;
  }
}

.pb_date_year_stacked_right {
  & > .pb_title_kit, 
  & > .pb_body_kit_light {
    text-align: right !important;
  }
}