.pb_date_year_stacked {
  &._left {
    & > .pb_title, & > .pb_body {
      text-align: left;
    }
  }
  &._center {
    & > .pb_title, & > .pb_body {
      text-align: center;
    }
  }
  &._right  {
    & > .pb_title, & > .pb_body {
      text-align: right;
    }
  }
}
