@import "../pb_icon/icon";
@import "../pb_button/button";

$pb_circle_icon_button_size: 40px;

@mixin pb_circle_icon_button {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  object-fit: cover !important;
  overflow: hidden !important;
  position: relative !important;
  width: $pb_circle_icon_button_size !important;
  height: $pb_circle_icon_button_size !important;
  border-radius: $border_rad_mega !important;
  line-height: $pb_circle_icon_button_size !important;
  flex-shrink: 0 !important;
  flex-grow: 0 !important;
  flex-basis: $pb_circle_icon_button_size !important;
  min-width: $pb_circle_icon_button_size !important;
  padding: 0 !important;
}

[class^=pb_circle_icon_button_kit] {
  [class^=pb_button_kit] {
    @include pb_circle_icon_button;
  
    i,
    svg {
      &[class^="pb_icon_kit"] {
        width: 100%;
        height: 100%;
        display: block;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        z-index: 0;
      }
    }
  }
}
