@import "../tokens/border_radius";
@import "../tokens/colors";
@import "../tokens/typography";
@import "../pb_icon/icon";
@import "../pb_button/button_mixins";

@mixin pb_circle_icon_button {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: $border_rad_mega;
  line-height: 40px;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 40px;
  max-width: 40px;
  padding: 0;
}

@mixin pb_circle_icon_button_primary {
    @include pb_circle_icon_button;
    & > a {
        @include pb_button_primary;
    }
}

@mixin pb_circle_icon_button_secondary {
    @include pb_circle_icon_button;
    & > a {
        @include pb_button_secondary
    }
}

@mixin pb_circle_icon_button_disabled {
    @include pb_circle_icon_button;
    & > a {
        @include pb_button_disabled;
    }
}

@mixin pb_circle_icon_button_link {
    @include pb_circle_icon_button;
    & > a {
        @include pb_button_link;
    }
}

@mixin pb_circle_icon_button_primary_dark {
    @include pb_circle_icon_button;
    & > a {
        @include pb_button_primary_dark;
    }
}

@mixin pb_circle_icon_button_secondary_dark {
    @include pb_circle_icon_button;
    & > a {
        @include pb_button_secondary_dark;
    }
}

@mixin pb_circle_icon_button_disabled_dark {
    @include pb_circle_icon_button;
    & > a {
        @include pb_button_disabled_dark;
    }
}

@mixin pb_circle_icon_button_link_dark {
    @include pb_circle_icon_button;
    & > a {
        @include pb_button_link_dark;
    }
}