@import "../tokens/border_radius";
@import "../tokens/colors";
@import "../tokens/typography";
@import "../pb_icon/icon";
@import "../pb_button/button_mixins";

@mixin pb_circle_icon_button {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: $border_rad_mega;
  line-height: 40px;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 40px;
  max-width: 40px;
  padding: 0;
}


[class^=pb_circle_icon_button_kit] {
  & > a {
    @include pb_button_primary;
    @include pb_circle_icon_button;
  }

  &[class*=_secondary]{
    & > a {
      @include pb_button_secondary;
      @include pb_circle_icon_button;
    }
  }

  i,
  svg {
    &[class^=pb_icon_kit] {
      width: 100%;
      height: 100%;
      display: block;
      text-align: center;
      text-transform: uppercase;
      position: relative;
      z-index: 0;
    }
  }
}
