@import "settings/variables";

.desktop-only { display: none; }
.mobile-only { display: block;}

.body-container {
  margin-right: 8px;
  margin-left: 8px;
  flex-basis: 100%;
}

@media (min-width: $desktop-breakpoint) {
  .desktop-only { display: block; }
  .mobile-only { display: none; }

  .body-container {
    flex-basis: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.bold { font-weight: bold; }
.fw-300 { font-weight: 300; }
