<div>
  <%= pb_rails("badge", props: {
    text: "1",
    variant: "notification",
    rounded: true
  }) %>

  <%= pb_rails("badge", props: {
    text: "4",
    variant: "notification"
  }) %>
</div>

<div>
  <%= pb_rails("badge", props: {
    text: "1",
    variant: "notification_error",
    rounded: true
  }) %>

  <%= pb_rails("badge", props: {
    text: "4",
    variant: "notification_error"
  }) %>
</div>