@import "../tokens/colors";
@import "../utilities/colors";
@import "../tokens/opacity";
@import "../pb_avatar/avatar";

$pb_multiple_users_overlap: -9px;
$pb_multiple_users_border_size: 1px;
$pb_multiple_users_size: map-get($avatar-sizes, "xs");
$pb_multiple_users_size_xxs: map-get($avatar-sizes, "xxs");

.pb_multiple_users_kit,
.pb_multiple_users_kit_reverse {
  display: inline-flex;

  .multiple_users_badge_xs,
  .multiple_users_badge_xxs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $pb_multiple_users_size;
    height: $pb_multiple_users_size;
    border-radius: $pb_multiple_users_size / 2 + 2;
    background: tint($primary, 90%);
    border: $pb_multiple_users_border_size solid $white;
    color: $primary;
    font-weight: $bold;
    font-size: $font_smallest - 1;

    &.dark {
      border: $pb_multiple_users_border_size solid $bg_dark;
    }
  }

  .multiple_users_badge_xxs {
    width: $pb_multiple_users_size_xxs;
    height: $pb_multiple_users_size_xxs;
  }


  .pb_multiple_users_overlap {
    margin-left: $pb_multiple_users_overlap !important;
  }

  .pb_multiple_users_count_overlap {
    margin-left: $pb_multiple_users_overlap !important;
    position: relative;
  }

  .pb_multiple_users_item {
    margin-left: $pb_multiple_users_overlap;
    margin-right: 0;

    &:first-of-type {
      margin-left: 0;
    }

    &.dark {
      .avatar_wrapper {
        border: $pb_multiple_users_border_size solid $bg_dark;
      }
    }

    .avatar_wrapper {
      border: $pb_multiple_users_border_size solid $white;
    }

    &:nth-child(1) { z-index: 0; }
    &:nth-child(2) { z-index: 1; }
    &:nth-child(3) { z-index: 2; }
    &:nth-child(4) { z-index: 3; }
    &:nth-child(5) { z-index: 4; }
  }
}

.pb_multiple_users_kit_reverse {
  flex-direction: row-reverse;

  .pb_multiple_users_item {
    margin-left: 0;
    margin-right: $pb_multiple_users_overlap;

    &:first-of-type {
      margin-right: 0;
    }
  }

  .pb_multiple_users_count_overlap {
    margin-left: 0 !important;
    margin-right: $pb_multiple_users_overlap !important;
  }
}
