@import "playbook-tokens/colors";
@import "playbook-tokens/spacing";

.kit-filter {
  width: 100%;
}

.filter-icon {
  height: $space_sm;
  padding-right: $space_xs;
}

.pb_nav_list_kit_item:hover {
  .filter-icon {
    svg path {
      fill: $primary;
    }
  }
}
