@import "../tokens/colors";
@import "../tokens/border_radius";
@import "../tokens/opacity";
@import "../pb_avatar/avatar";

@mixin avatar-wrapper($size, $border-color: $white) {
  height: $size;
  width: $size;
  border: $border_size solid $border-color;
}

[class^=pb_multiple_users_stacked_kit] {
  $container_size: map-get($avatar-sizes, "xs");
  $bubble_container_size: map-get($avatar-sizes, "sm");
  $overlap: -15px;
  $border_size: 1px;
  $stacked_size: 18px;
  $max_to_display: 1, 2;
  display: inline-flex;
  width: $container_size;
  height: $container_size;
  flex-basis: $container_size;
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  [class^=pb_avatar_kit].pb_multiple_users_stacked_item {
    @include avatar-wrapper($stacked_size);

    &.dark {
      .avatar_wrapper {
        border-color: $bg_dark;
      }
    }
    .avatar_wrapper {
      @include avatar-wrapper($stacked_size);
      img {
        z-index: 0;
      }
    }
  }
  &[class*=_single] .pb_multiple_users_stacked_item {
    @include avatar-wrapper($container_size);
  }

  [class^=pb_avatar_kit].second_item,
  [class^=pb_badge_kit].second_item {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    background: tint($primary, 90%);
    border-radius: $border_rad_mega;
    padding: 0;
    span {
      transform: translateY(0);
    }

    @include avatar-wrapper($stacked_size);
  }

  .stacked_item .avatar_wrapper::before {
    font-size: 0;
    color: transparent;
  }

  &[class*=_bubble] {
    width: $bubble_container_size;
    height: $bubble_container_size;
    background-color: $bg_light;
    border-radius: 50%;
    &.dark {
      background-color: $card_dark;
    }

    [class^=pb_avatar_kit] {
      &.first_item {
        top: 3px;
        left: 5px;
        @include avatar-wrapper(20px);

        &.three_or_more {
          @include avatar-wrapper(16px);
        }
      }

      &.second_item {
        bottom: 7px;
        right: 5px;
        @include avatar-wrapper(12px);

        &.double {
          bottom: 5px;
          right: 5px;
        }
      }

      &.third_item {
        position: absolute;
        bottom: 5px;
        left: 8px;
        @include avatar-wrapper(10px);
      }

      &.fourth_item {
        position: absolute;
        top: 7px;
        right: 4px;
        @include avatar-wrapper(8px);
      }
    }
  }

  &[class*=_single_bubble] {
    [class^=pb_avatar_kit].first_item {
      top: 0;
      left: 0;
      @include avatar-wrapper($bubble_container_size);
    }
  }
}
