@import "../tokens/colors";
@import "../tokens/line_height";
@import "../tokens/typography";

$pb_body_colors: (
  default: $text_lt_default,
  light: $text_lt_light,
  lighter: $text_lt_lighter,
  link: $primary,
  error: $error,
  success: $text_lt_success_sm,
);

$pb_dark_body_colors: (
  default: $text_dk_default,
  light: $text_dk_light,
  lighter: $text_dk_lighter,
  link: $active_dark,
  error: $error,
  success: $text_dk_success_sm,
);

// Order is important here!
$pb_body_status: (
  default: $text_lt_default,
  negative: $error,
  dark_error: $error_dark_body,
  positive: $text_lt_success_sm,
);

$pb_dark_body_status: (
  default: $text_dk_default,
  negative: $error_dark,
  positive: $text_dk_success_sm,
);

@mixin pb_body($color: $text_lt_default) {
  line-height: $lh_tight;
  color: $color;
  font-size: $text_default;
  font-weight: $regular;
  font-family: $font-family-base;
}

// Colors ======================
@mixin pb_body_light {
  @include pb_body($text_lt_light);
}

@mixin pb_body_lighter {
  @include pb_body($text_lt_lighter);
}

@mixin pb_body_dark {
  @include pb_body($text_dk_default);
}

@mixin pb_body_light_dark {
  @include pb_body($text_dk_light);
}

@mixin pb_body_lighter_dark {
  @include pb_body($text_dk_lighter);
}

// Statuses =====================
@mixin pb_body_negative {
  @include pb_body($error);
}

@mixin pb_body_dark_error {
  @include pb_body($error_dark_body);
}

@mixin pb_body_positive {
  @include pb_body($success);
}