<div class="pb--doc-demo-row">
  <%= pb_rails("user", props: {
    align: "center",
    avatar_url: "https://randomuser.me/api/portraits/women/44.jpg",
    name: "Anna Black",
    orientation: "vertical",
    size: "md",
    subtitle: "User ID: 12345",
    territory: "PHL",
    title: "Remodeling Consultant"
  }) %>

  <%= pb_rails("user", props: {
    align: "left",
    avatar_url: "https://randomuser.me/api/portraits/women/44.jpg",
    name: "Anna Black",
    orientation: "horizontal",
    size: "md",
    subtitle: "User ID: 12345",
    territory: "PHL",
    title: "Remodeling Consultant"
  }) %>
</div>
