<div class="pb--doc-demo-row">
  <%= pb_rails("user", props: {
    align: "left",
    avatar_url: "https://randomuser.me/api/portraits/women/44.jpg",
    name: "Anna Black",
    orientation: "horizontal",
    size: "md",
    territory: "PHL",
    title: "Remodeling Consultant",
    title_style: "caption",
  }) %>
  <%= pb_rails("user", props: {
    align: "left",
    avatar_url: "https://randomuser.me/api/portraits/women/44.jpg",
    name: "Anna Black",
    orientation: "horizontal",
    size: "md",
    territory: "PHL",
    title: "Remodeling Consultant",
    title_style: "detail",
  }) %>
</div>
