@import "../tokens/colors";
@import "../tokens/spacing";

$pb_progress_stepper_circle_size: 14px;
$pb_progress_stepper_connector_width: 3px;
$pb_progress_stepper_connector_height_from_top: $pb_progress_stepper_circle_size/2 - $pb_progress_stepper_connector_width/2;


@mixin pb_progress_stepper_circle($background_color, $border_color, $icon_color) {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    padding-right: 0;
    overflow: hidden;
    height: $pb_progress_stepper_circle_size;
    width: $pb_progress_stepper_circle_size;
    background-color: $background_color;
    color: $icon_color;
    border-radius: $pb_progress_stepper_circle_size/2;
    border: 2px solid $border_color;
}

@mixin pb_progress_stepper_line_wrapper {
    top: $pb_progress_stepper_connector_height_from_top;
    left: calc(-50% + 10px);
    right: calc(50% + 10px);
    position: absolute;
    flex: 1 1 auto;
}

@mixin pb_progress_stepper_horizontal_line($line_color){
    display: block;
    border-color: $line_color;
    border-top-width: $pb_progress_stepper_connector_width;
    border-top-style: solid;
    margin-bottom: 4px;
}

@mixin pb_progress_stepper_item {
    flex: 1;
    position: relative;
    padding-left: 8px;
    padding-right: 8px;
}

@mixin pb_progress_stepper_column_center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin pb_progress_stepper_vertical {
    display: flex;
    flex-direction: row;
    flex: 1;
    position: relative;
    padding-left: 8px;
    padding-right: 8px;
}

@mixin pb_progress_stepper_vertical_line($border_color) {
    display: block;
    height: 100%;
    border-left-style: solid;
    border-left-width: $pb_progress_stepper_connector_width;
    border-color: $border_color;
    margin-top: 4px;
    margin-bottom: 4px;
}


[class^=pb_progress_stepper_kit] {
    &[class*=_horizontal] {
        display: flex;
        > div:first-child {
            [class=line_wrapper] {
                display: none ;
            }
        }

        &[class*=_icon] {
            [class*=pb_progress_stepper_item_kit] {
                &[class*=_complete] {
                    [class=step_wrapper] {
                        @include pb_progress_stepper_column_center;
                        [class=circle] {
                            @include pb_progress_stepper_circle($primary, $primary, $white);
                        }
                    }
                }
            }
        }

        [class*=pb_progress_stepper_item_kit] {
            &[class*=_complete] {
                @include pb_progress_stepper_item;
                [class=line_wrapper] {
                    @include pb_progress_stepper_line_wrapper;
                    [class=line] {
                        @include pb_progress_stepper_horizontal_line($primary);
                    }
                }
                [class=step_wrapper] {
                    @include pb_progress_stepper_column_center;
                    [class=circle] {
                        @include pb_progress_stepper_circle($primary, $primary, $primary);
                    }
                }
            }

            &[class*=_active] {
                @include pb_progress_stepper_item;
                [class=line_wrapper] {
                    @include pb_progress_stepper_line_wrapper;
                    [class=line] {
                        @include pb_progress_stepper_horizontal_line($primary);
                    }
                }
                [class=step_wrapper] {
                    @include pb_progress_stepper_column_center;
                    [class=circle] {
                        @include pb_progress_stepper_circle($white, $primary, $white);
                    }
                }

            }

            &[class*=_inactive] {
                @include pb_progress_stepper_item;
                [class=line_wrapper] {
                    @include pb_progress_stepper_line_wrapper;
                    [class=line] {
                        @include pb_progress_stepper_horizontal_line($border_light);
                    }
                }
                [class=step_wrapper] {
                    @include pb_progress_stepper_column_center;
                    [class=circle] {
                        @include pb_progress_stepper_circle($border_light, $border_light, $border_light);
                    }
                }
            }
        }
    }

    &[class*=_vertical] {
        > div:last-child {
            [class=circle_and_line] {
                [class=line] {
                    display: none !important;
                }
            }
        }

        &[class*=_icon] {
            [class*=pb_progress_stepper_item_kit] {
                &[class*=_complete] {
                    [class=circle_and_line] {
                        @include pb_progress_stepper_column_center;
                        margin-right: $space_xs;
                        [class=circle] {
                            @include pb_progress_stepper_circle($primary, $primary, $white);
                        }
                    }
                }
            }
        }
                
        [class^=pb_progress_stepper_item_kit] {
            display: flex;
            flex-direction: row;

            &[class*=_complete] {
                @include pb_progress_stepper_vertical;

                [class=circle_and_line] {
                    @include pb_progress_stepper_column_center;   
                    margin-right: $space_xs; 
                    [class=circle] {
                        @include pb_progress_stepper_circle($primary, $primary, $primary);
                    }
    
                    [class=line] {
                        @include pb_progress_stepper_vertical_line($primary);
                    }
                }

                [class=step_child] {
                    margin-bottom: $space_sm;
                }
            }

            &[class*=_active] {
                @include pb_progress_stepper_vertical;

                [class=circle_and_line] {
                    @include pb_progress_stepper_column_center;
                    margin-right: $space_xs;
                    [class=circle] {
                        @include pb_progress_stepper_circle($white, $primary, $white);
                    }
    
                    [class=line] {
                        @include pb_progress_stepper_vertical_line($border_light);
                    }
                }

                [class=step_child] {
                    margin-bottom: $space_sm;
                }

            }

            &[class*=_inactive] {
                @include pb_progress_stepper_vertical;

                [class=circle_and_line] {
                    @include pb_progress_stepper_column_center; 
                    margin-right: $space_xs;
                    [class=circle] {
                        @include pb_progress_stepper_circle($border_light, $border_light, $border_light);
                    }
    
                    [class=line] {
                        @include pb_progress_stepper_vertical_line($border_light);
                    }
                }

                [class=step_child] {
                    margin-bottom: $space_sm;
                }
            }
        }
    }
}
