<%= content_tag(:div,
  id: object.id,
  data: object.data,
  class: object.classname) do %>


    <div class="line_wrapper">
      <div class="line"></div>
    </div>

    <span class="step_wrapper">
      <span class="circle">
        <%= pb_rails("icon", props: { icon: "check", fixed_width: true, size: "xs" }) %>
      </span>
      <span>
        <%= capture(&object.children) %>
      </span>
    </span>

<% end %>
