@import "playbook-tokens/colors";
@import "playbook-tokens/spacing";
@import "playbook-tokens/typography";
@import "playbook-tokens/screen_sizes";

.changelog {
  .no-sidebar {
    $nav_breakpoint: breakpoint("lg");
    grid-template-columns: 0 auto !important;
    @include break_at($nav_breakpoint) {
      grid-template-columns: auto !important;
    }
  }
  h1 {
    padding-top: $space_xl*3;
    border-top: 1px solid $border_light;
    &:first-of-type  {
      padding-top: $space_xl;
    }
  }
}