@import "playbook-ui/dist/tokens/spacing";
@import "playbook-ui/dist/tokens/typography";

.changelog-card-collection {
  max-width: 650px;
  margin: auto;
  h2 {
    margin-top: $space_xl;
    &:first-child {
      margin-top: 0;
    }
  }
  .markdown-header-anchor-icon {
    font-size: $font_base;
    position: relative;
    bottom: $space_xxs / 2;
  }
}
