@import "playbook-ui/dist/tokens/colors";
@import "playbook-ui/dist/tokens/spacing";
@import "playbook-ui/dist/tokens/border_radius";

.getting_started {
  display: flex;
  justify-content: center;
  padding: $space_lg $space_xl;
  .markdown {
    code {
      // override
      @at-root pre {
        background: $bg_dark;
        padding: $space_sm;
        border-radius: $border_rad_heavy;
      }
    }
  }
}