@import "playbook-tokens/colors";
@import "playbook-tokens/typography";

.kit-show-wrapper {
  .sample-card-grid-override {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)) !important;
  }
  .sample-ui-link-wrapper {
    max-width: 295px;
    cursor: pointer;
    .dropdown-icon {
      color: $primary;
      margin-left: 3px;
    }
  }
  .ui-sample-card {
    .title-alignment {
      align-self: center;
    }
  }
  .kearning {
    letter-spacing: $lspace_looser;
  }
  .card {
    max-width: fit-content;
  }
  //workaround to set the width of the empty state container to 530px for the lg size till changes
  //are made in the empty state component
  // purpose: to prevent the title text from wrapping
  .no-kit-empty-state-container {
    .pb_empty_state_kit .lg-state-vertical {
      width: 530px;
    }
  }
}

.multi-kits-container {
  width: 100%;
}
