@import "playbook-tokens/colors";
@import "playbook-tokens/spacing";
@import "playbook-tokens/screen_sizes";
@import "playbook-tokens/border_radius";
@import "playbook-tokens/shadows";
@import "playbook-tokens/screen_sizes";
@import "./landing-page-solutions";
@import "./homepage_mixins";

$max_screen: $screen-xl-min + 176px;
$medium_screen: $screen-xl-min - 53px;
$small_screen: $screen-md-min - 6px;
$mobile_screen: $screen-xs-min;

.landing-page {
  .homepage_hero_wrapper {
    height: $screen-lg-min - 52;
    @include break_at($max_screen) {
      height: $screen-xl-min - 170px;
    }
    @include break_at($medium_screen) {
      height: $screen-md-min + 82px;
    }
    @include break_at($mobile_screen) {
      height: 100%;
    }
  }

  .homepage_hero_container {
    .welcome_component {
      &_underline {
        bottom: $space_xs;
        left: ($space_xl * 2) + 20;
        @include break_at($max_screen) {
          right: -10px;
          left: unset;
        }
        @include break_at($medium_screen) {
          right: ($space_xl * 3) + 13px;
        }
        @include break_at($mobile_screen) {
          width: ($space_xl * 3) + 25px;
          right: $space_xl * 2;
        }
      }
      @include break_at($max_screen) {
        align-items: center;
        justify-content: center;
      }
      &_text {
        @include break_at($max_screen) {
          width: 80%;
        }
        @include break_at($medium_screen) {
          width: 90%;
        }
      }
      &_buttons {
        width: 100%;
      }
    }

    &_cards {
      background-color: transparent; //can we add transparent as an option for the background color in background kit?
      height: 100%;
      width: 100%;

      &_blur_1 {
        @include blur-position(18%, null, null, 5%);
      }
      &_blur_2 {
        @include blur-position(50%, null, null, 30%);
      }
      &_blur_3 {
        @include blur-position(10%, null, 10%, null);
      }
      &_blur_4 {
        @include blur-position(null, 0px, null, 0px);
      }
      &_blur_5 {
        @include blur-position(12%, null, 17%, null);
      }
      &_blur_6 {
        @include blur-position(null, 4%, null, 10%);
      }

      &_grid {
        bottom: 15%;
        right: 0;
      }
      .component_example {
        position: absolute;
      }
      .tickets_chart {
        top: ($space_xl * 3) + 17;
        right: $space_xl - 5;
        @include break_at($max_screen) {
          top: ($space_lg * 2) - 4px;
          right: $screen-xs-min - 115px;
        }
        @include break_at($medium_screen) {
          right: ($space_xl * 9) + 20px;
          top: 50%;
        }
        @include break_at($small_screen) {
          left: 10%;
          right: unset;
        }
      }
      .connected_devices {
        right: 0px;
        top: $screen-xs-min - 165px;
        @include break_at($max_screen) {
          right: ($space_xl * 3) + 10px;
          top: $space_xl * 9;
        }
        @include break_at($medium_screen) {
          right: 55%;
          top: $space_xl + 10px;
        }
        @include break_at($small_screen) {
          right: unset;
          left: 10%;
        }
      }
      .lettuce_checkbox {
        top: $screen-xs-min - 20;
        right: $space_sm - 1;
      }
      .select_plan {
        top: $screen-xs-min - 20;
        right: $screen-sm-min + 34;
        @include break_at($max_screen) {
          top: ($space_xl * 7) + 5px;
          right: $screen-xs-min - 125px;
        }
      }
      .order_details {
        top: $screen-sm-min + 84;
        right: ($space_xl * 6) + 8;
        @include break_at($max_screen) {
          top: $screen-xs-min - 120px;
          right: ($space_xl * 4) + 10px;
          z-index: 2;
        }
        @include break_at($medium_screen) {
          top: $space_lg - 2px;
          right: 20%;
        }
        @include break_at($small_screen) {
          right: 10%;
        }
      }
      .hover_card {
        top: $screen-md-min - 8;
        right: ($space_xl * 3) - 10;
      }
      .gauge-max-width {
        max-width: ($space_xl * 3) + 30;
      }
      // Global Padding prop does not work on size small buttons
      .order_details {
        .button-padding {
          padding-left: 0px !important;
        }
      }

      .notifications_large,
      .notifications_small {
        .button-padding {
          padding: ($space_xxs + 2) $space_sm !important;
        }
      }

      .notifications_small {
        .background-min-height{
          min-height: ($space_xl * 3) + 13px !important;
        }
        @include break_at($max_screen) {
          top: ($space_xl * 3) - 5px;
          right: $space_xl * 3;
        }
      }

      .subscribe_toggle {
        top: $screen-md-min - 18;
        left: 0px;
        .card-min-width {
          min-width: ($space_xl * 8) - 2;
        }
        @include break_at($max_screen) {
          top: $screen-xs-min - 125px;
          right: $screen-sm-min + 44px;
          left: unset;
        }
        @include break_at($medium_screen) {
          top: ($space_xl * 5) + 30px;
          right: 15%;
          z-index: 2;
        }
      }

      .notifications_large {
        top: ($space_xl * 8) - 10;
        right: ($space_xl * 4) + 10;
        .background-min-height {
          min-height: ($space_xl * 4) + 13 !important;
          border-top-left-radius: $border_radius_xl;
          border-top-right-radius: $border_radius_xl;
        }
      }
    }
  }

  .code-snippets {
    background-color: $bg_dark;
    border-radius: $border_rad_heaviest;
    box-shadow: $shadow_deepest;
  }
  .hero-text-width {
    max-width: 500px;
  }
  .homepage-hero {
    background-color: $bg_dark;
  }
  .kit-example {
    max-width: 800px;
    position: relative;
    padding-right: $space_xl;
  }
  .middle-white-background {
    display: flex;
    justify-content: center;
  }
  .pb-hero-image {
    padding-right: $space_lg;
  }
  .react-rails-text {
    max-width: 450px;
    margin-right: $space_xl;
  }
  .second-section-inner-wrapper {
    max-width: 1700px;
  }
  .user-card {
    width: 275px;
    position: absolute;
    left: 505px;
  }
  .width-full {
    width: 100%;
  }

  @include break_at(1342px) {
    .kit-example {
      margin-top: $space_xl * 2;
    }
  }

  // Mobile overrides
  @include break_at(breakpoint("lg")) {
    .hero-inner-wrapper {
      justify-content: center !important;
      img {
        max-width: 100%;
        padding-right: 0;
      }
    }
    .react-rails-text {
      max-width: 500px;
      margin-right: 0;
    }
  }

  // Hide Code/Kit Example
  @include break_at(866px) {
    .kit-example {
      display: none;
    }
  }

  // Rearrange buttons on smaller screens
  // and realign text to center
  @include break_at(443px) {
    text-align: center;

    .button-flexbox {
      flex-direction: column !important;
      align-content: center;
      [class^="pb_button_kit_secondary"] {
        margin-left: 0 !important;
        margin-top: $space_md;
      }
    }
  }
}
