@import "playbook-ui/dist/tokens/colors";
@import "playbook-ui/dist/tokens/spacing";
@import "playbook-ui/dist/tokens/screen_sizes";
@import "playbook-ui/dist/tokens/border_radius";
@import "playbook-ui/dist/tokens/shadows";
@import "playbook-ui/dist/tokens/screen_sizes";
@import "./landing-page-solutions";

.landing-page {
  .homepage_hero_container {
    .gauge-max-width {
      max-width: 150px;
    }
    // Global Padding prop does not work on size small buttons
    .OrderDetails {
      .button-padding {
        padding-left: 0px !important;
      }
    }

    .NotificationsLarge,
    .NotificationsSmall {
      .button-padding {
        padding: 6px 16px !important;
      }
    }

    .SubscribeToggle {
      .card-min-width {
        min-width: 318px;
      }
    }

    .NotificationsLarge {
      .background-min-height {
        min-height: 173px !important;
      }
    }
  }
  .code-snippets {
    background-color: $bg_dark;
    border-radius: $border_rad_heaviest;
    box-shadow: $shadow_deepest;
  }
  .hero-text-width {
    max-width: 500px;
  }
  .homepage-hero {
    background-color: $bg_dark;
  }
  .kit-example {
    max-width: 800px;
    position: relative;
    padding-right: $space_xl;
  }
  .middle-white-background {
    display: flex;
    justify-content: center;
  }
  .pb-hero-image {
    padding-right: $space_lg;
  }
  .react-rails-text {
    max-width: 450px;
    margin-right: $space_xl;
  }
  .second-section-inner-wrapper {
    max-width: 1700px;
  }
  .user-card {
    width: 275px;
    position: absolute;
    left: 505px;
  }
  .width-full {
    width: 100%;
  }

  @include break_at(1342px) {
    .kit-example {
      margin-top: $space_xl * 2;
    }
  }

  // Mobile overrides
  @include break_at(breakpoint("lg")) {
    .hero-inner-wrapper {
      justify-content: center !important;
      img {
        max-width: 100%;
        padding-right: 0;
      }
    }
    .react-rails-text {
      max-width: 500px;
      margin-right: 0;
    }
  }

  // Hide Code/Kit Example
  @include break_at(866px) {
    .kit-example {
      display: none;
    }
  }

  // Rearrange buttons on smaller screens
  // and realign text to center
  @include break_at(443px) {
    text-align: center;

    .button-flexbox {
      flex-direction: column !important;
      align-content: center;
      [class^="pb_button_kit_secondary"] {
        margin-left: 0 !important;
        margin-top: $space_md;
      }
    }
  }
}
