@import "playbook-ui/dist/tokens/colors";
@import "playbook-ui/dist/tokens/spacing";
@import "playbook-ui/dist/tokens/screen_sizes";
@import "playbook-ui/dist/tokens/border_radius";
@import "playbook-ui/dist/tokens/shadows";
@import "playbook-ui/dist/tokens/screen_sizes";
@import "./landing-page-solutions";

$max_screen: 1376px;
$medium_screen: 1218px;
$small_screen: 762px;
$mobile_screen: 575px;

.landing-page {
  .homepage_hero_wrapper {
    height: $screen-lg-min - 52;
    @include break_at($max_screen) {
      height: 1030px;
    }
    @include break_at($medium_screen) {
      height: 800px;
    }
    @include break_at($mobile_screen) {
      height: 100%;
    }
  }

  .homepage_hero_container {
    .welcome_component {
      &_underline {
        bottom: $space_xs;
        left: ($space_xl * 2) + 20;
        @include break_at($max_screen) {
          right: -10px;
          left: unset;
        }
        @include break_at($medium_screen) {
          right: 133px;
        }
        @include break_at($mobile_screen) {
          width: 145px;
          right: 80px;
        }
      }
      @include break_at($max_screen) {
        align-items: center;
        justify-content: center;
      }
      &_text {
        @include break_at($max_screen) {
          width: 80%;
        }
        @include break_at($medium_screen) {
          width: 90%;
        }
      }
    }

    &_cards {
      background-color: transparent; //can we add transparent as an option for the background color in background kit?
      height: 100%;
      width: 100%;

      &_blur_1 {
        top: 18%;
        right: 5%;
      }
      &_blur_2 {
        top: 50%;
        right: 30%;
      }

      &_blur_3 {
        top: 10%;
        left: 10%;
      }
      &_blur_4 {
        bottom: 0px;
        right: 0px;
      }
      &_blur_5 {
        top: 12%;
        left: 17%;
      }
      &_blur_6 {
        bottom: 4%;
        right: 10%;
      }

      &_grid {
        bottom: 15%;
        right: 0;
      }
      .component_example {
        position: absolute;
      }
      .tickets_chart {
        top: ($space_xl * 3) + 17;
        right: $space_xl - 5;
        @include break_at($max_screen) {
          top: 60px;
          right: 460px;
        }
        @include break_at($medium_screen) {
          right: 380px;
          top: 50%;
        }
        @include break_at($small_screen) {
          left: 10%;
          right: unset;
        }
      }
      .connected_devices {
        right: 0px;
        top: $screen-xs-min - 165;
        @include break_at($max_screen) {
          right: 130px;
          top: 360px;
        }
        @include break_at($medium_screen) {
          right: 55%;
          top: 50px;
        }
        @include break_at($small_screen) {
          right: unset;
          left: 10%;
        }
      }
      .lettuce_checkbox {
        top: $screen-xs-min - 20;
        right: $space_sm - 1;
      }
      .select_plan {
        top: $screen-xs-min - 20;
        right: $screen-sm-min + 34;
        @include break_at($max_screen) {
          top: 285px;
          right: 450px;
        }
      }
      .order_details {
        top: $screen-sm-min + 84;
        right: ($space_xl * 6) + 8;
        @include break_at($max_screen) {
          top: 455px;
          right: 170px;
          z-index: 2;
        }
        @include break_at($medium_screen) {
          top: 30px;
          right: 20%;
        }
        @include break_at($small_screen) {
          right: 10%;
        }
      }
      .hover_card {
        top: $screen-md-min - 8;
        right: ($space_xl * 3) - 10;
      }
      .gauge-max-width {
        max-width: ($space_xl * 3) + 30;
      }
      // Global Padding prop does not work on size small buttons
      .order_details {
        .button-padding {
          padding-left: 0px !important;
        }
      }

      .notifications_large,
      .notifications_small {
        .button-padding {
          padding: ($space_xxs + 2) $space_sm !important;
        }
      }

      .notifications_small {
        @include break_at($max_screen) {
          top: 115px;
          right: 120px;
        }
      }

      .subscribe_toggle {
        top: $screen-md-min - 18;
        left: 0px;
        .card-min-width {
          min-width: ($space_xl * 8) - 2;
        }
        @include break_at($max_screen) {
          top: 450px;
          right: 620px;
          left: unset;
        }
        @include break_at($medium_screen) {
          top: 230px;
          right: 15%;
          z-index: 2;
        }
      }

      .notifications_large {
        top: ($space_xl * 8) - 10;
        right: ($space_xl * 4) + 10;
        .background-min-height {
          min-height: ($space_xl * 4) + 13 !important;
          border-top-left-radius: $border_radius_xl;
          border-top-right-radius: $border_radius_xl;
        }
      }
    }
  }

  .code-snippets {
    background-color: $bg_dark;
    border-radius: $border_rad_heaviest;
    box-shadow: $shadow_deepest;
  }
  .hero-text-width {
    max-width: 500px;
  }
  .homepage-hero {
    background-color: $bg_dark;
  }
  .kit-example {
    max-width: 800px;
    position: relative;
    padding-right: $space_xl;
  }
  .middle-white-background {
    display: flex;
    justify-content: center;
  }
  .pb-hero-image {
    padding-right: $space_lg;
  }
  .react-rails-text {
    max-width: 450px;
    margin-right: $space_xl;
  }
  .second-section-inner-wrapper {
    max-width: 1700px;
  }
  .user-card {
    width: 275px;
    position: absolute;
    left: 505px;
  }
  .width-full {
    width: 100%;
  }

  @include break_at(1342px) {
    .kit-example {
      margin-top: $space_xl * 2;
    }
  }

  // Mobile overrides
  @include break_at(breakpoint("lg")) {
    .hero-inner-wrapper {
      justify-content: center !important;
      img {
        max-width: 100%;
        padding-right: 0;
      }
    }
    .react-rails-text {
      max-width: 500px;
      margin-right: 0;
    }
  }

  // Hide Code/Kit Example
  @include break_at(866px) {
    .kit-example {
      display: none;
    }
  }

  // Rearrange buttons on smaller screens
  // and realign text to center
  @include break_at(443px) {
    text-align: center;

    .button-flexbox {
      flex-direction: column !important;
      align-content: center;
      [class^="pb_button_kit_secondary"] {
        margin-left: 0 !important;
        margin-top: $space_md;
      }
    }
  }
}
