@import "playbook-tokens/screen_sizes";
@import "playbook-tokens/colors";
@import "playbook-tokens/spacing";

$screen-xxl-min: 1600px !default;

.landing-page {
  .language-card {
    max-width: 200px;
    flex: 1;

    [class*="pb_card_kit"] {
      height: 120px;
      align-items: center;
      justify-content: center;

      @include break_on($screen-md-min, $screen-xxl-min) {
        img {
          width: 75%;
        }
      }

      @include break_on($screen-md-min, $screen-xl-max) {
        height: 160px;
      }
    }

    @include break_on($screen-md-min, $screen-xl-max) {
      max-width: 350px;
    }
  }

  @include break_at($screen-xl-max) {
    .explore-button {
      justify-content: center;
    }
  }

  @include break_on($screen-xl-min, $screen-xxl-min) {
    .solutionsFlexContainer {
      flex-direction: column !important;
      row-gap: $space_xl;
    }

    .language-card {
      max-width: 300px;

      [class*="pb_card_kit"] {
        height: 175px;
      }

      &-text {
        display: none !important;
      }
    }
  }

  // Image comparsion slider
  .solutionsContainer {
    position: relative;
    height: 350px;
    overflow: hidden;

    @include break_on($screen-xl-min, $screen-xxl-min) {
      margin-right: 0 !important;
    }

    @media screen and (min-width: $screen-xl-min) {
      min-width: 570px;
    };
  }

  .solutionsCard {
    position: absolute;
    height: 350px;
  }

  .vertical-bar svg {
    position: absolute;
    top: 48%;
    left: 35%;
    color: $text_lt_light
  }

  .vertical-bar {
    position: absolute;
    cursor: ew-resize;
    top: -1px;
    left: -10px;
    width: 20px;
    height: 350px;
    background-color: $bg_light;
    box-shadow: -10px 0 15px -2px $shadow;
    user-select: none;
  }

  .highlightSolutions {
    padding-top: $space_md !important;
    padding-bottom: $space_md !important;
  }
}
