ul {
   
  &.opacity-play {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: none;
  background: none;
  border-radius: none;
  border: 0px;
  padding: none;
  flex-wrap: wrap;
  }
}

.selector { 
  .opacity_1{
    opacity: $opacity_1;
  }
  .opacity_2{
    opacity: $opacity_2;
  }
  .opacity_3{
    opacity: $opacity_3;
  }
  .opacity_4{
    opacity: $opacity_4;
  }
  .opacity_5{
    opacity: $opacity_5;
  }
  .opacity_6{
    opacity: $opacity_6;
  }
  .opacity_7{
    opacity: $opacity_7;
  }
  .opacity_8{
    opacity: $opacity_8;
  }
  .opacity_9{
    opacity: $opacity_9;
  }
  .opacity_10{
    opacity: $opacity_10;
  }
}
