.sample-layout {
  .font-size-override {
    font-size: 14px;
    svg.pb_icon_kit {
      font-size: 14px !important;
    }
  }
  .header-icons > * {
    cursor: pointer;
  }
  // Fullscreen overrides
  #sample-card:fullscreen {
    overflow-y: scroll;
    .header-icons {
      #kits-used, #toggle-button-js {
        display: none;
      }
    }
  }
  // Code Drawer Styles
  .pb--doc {
    margin-bottom: 0px;
  }
  .pb--codeCopy {
    display: block;
    border: 0px;
    width: 100%;
    height: calc(50vh - 45px);
    bottom: 0;
    left: 0;
    transition: all .4s;
    border-radius: 0;
    z-index: 99;
  }
  .pb--codeCopy.close {
    top: 100%;
    height: 0px;
    transition: all .4s;
  }
  .hiddenCodeforCopy {
    display: none;
  }
}
