.shadow-box-container {
    text-align: center;
}

.shadow-box-border {
    border: $border_light 1px solid;
    height: 100px;
    width: 100px;
    margin: 20px 15px 15px;
}

.shadow-box-none {
    box-shadow: $shadow_none;
}

.shadow-box-deep { 
    box-shadow: $shadow_deep;
}

.shadow-box-deeper {
    box-shadow: $shadow_deeper;
}

.shadow-box-deepest {
    box-shadow: $shadow_deepest;
}
