@import "playbook-ui/dist/tokens/spacing";
@import "playbook-ui/dist/tokens/screen_sizes";

.visual_guidelines {

  // Example Sections
  @import "visual_guidelines/typography_guidelines";
  @import "visual_guidelines/border_radius_guidelines";

  &_hero {
    padding: $space_xl * 1.75 !important;
    .header-text {
      max-width: 600px;
      margin: auto;
    }
    @include break_at(breakpoint("sm")){    
      padding: $space_xl !important;
    }
  }
  
  // Main Sections
  .token-wrapper {
    max-width: 1242px;
    margin: auto;
  }

  // General Code Round Bottom
  .border-bottom {
    border-radius: 0 0 6px 6px;
  }
}
