@import "playbook-ui/dist/tokens/spacing";
@import "playbook-ui/dist/tokens/screen_sizes";
@import "playbook-ui/dist/tokens/opacity";
@import "opacity_guidelines";
@import "playbook-ui/dist/tokens/colors";


.visual_guidelines {

  // Example Sections
  @import "visual_guidelines/typography_guidelines";
  @import "visual_guidelines/border_radius_guidelines";
  @import "visual_guidelines/spacing_tokens";
  @import "visual_guidelines/line_height_guidelines";

  &_hero {
    padding: $space_xl * 1.75 !important;
    .header-text {
      max-width: 600px;
      margin: auto;
    }
    @include break_at(breakpoint("sm")){    
      padding: $space_xl !important;
    }
  }
 
  // Main Sections
  .token-wrapper {
    max-width: 1242px;
    margin: auto;
  }

  @include break_at(breakpoint("sm")) {
    .visual_guidelines_hero {
      padding: $space_xl !important;
    }
  }

  .positioning-guideline {
    & > * {
      height: 100px;
      width: 33%;
      position: absolute;

      code {
        position: absolute;
        right: 10px;
        bottom: 5px;
      }
    }

    .two {
      margin-left: 50px;
    }

    .three {
      margin-left: 100px;
    }

    .four {
      margin-left: 150px;
    }

    .five {
      margin-left: 200px;
    }

    .six {
      margin-left: 250px;
    }

    .seven {
      margin-left: 300px;
    }

    .eight {
      margin-left: 350px;
    }

    .nine {
      margin-left: 400px;
    }

    .ten {
      margin-left: 450px;
    }
  }

  // General Code Round Bottom
  .border-bottom {
    border-radius: 0 0 6px 6px;
  }

  .one-z-index-example {
    //position: absolute !important;
  }
  .zindex-wrapper {
    max-width: 100%;
    //height: 150px;
    //text-align: left;
    display: flex;
    //overflow: hidden;
    flex-direction: row;
    padding: 10px;
    align-content: center;
    justify-content: center;
    border-bottom-left-radius: 0;
  }

  .text-wrapper {
    padding: 15px;
  }
    .zIndex {
      //width: 20%;
      background-color: white;
    }
    .two-zIndex {
      //width: 20%;
      //transform: translateX(-10px);
      margin-left: -10px;
      background-color: white;
    }
    .three-zIndex {
      //width: 20%;
      //transform: translateX(-20px);
      margin-left: -10px;
      background-color: white;
    }
    .four-zIndex {
      //width: 20%;
      //transform: translateX(-10px);
      margin-left: -10px;
      background-color: white;
    }
    .five-zIndex {
      //width: 20%;
      //transform: translateX(-40px);
      margin-left: -10px;
      background-color: white;
    }
    .six-zIndex {
      //width: 20%;
      //transform: translateX(-50px);
      margin-left: -10px;
      background-color: white;
    }
    .seven-zIndex {
      //width: 20%;
      //transform: translateX(-60px);
      margin-left: -10px;
      background-color: white;
    }
    .eight-zIndex {
      //width: 20%;
      //transform: translateX(-70px);
      margin-left: -10px;
      background-color: white;
    }
    .nine-zIndex {
      //width: 20%;
      //transform: translateX(-80px);
      margin-left: -10px;
      background-color: white;
    }
    .ten-zIndex {
      //width: 20%;
      //transform: translateX(-90px);
      margin-left: -10px;
      background-color: white;
    }
}
