@import "playbook-tokens/spacing";
@import "playbook-tokens/screen_sizes";

.visual_guidelines {

  // Example Sections
  @import "visual_guidelines/typography_guidelines";
  @import "visual_guidelines/border_radius_guidelines";
  @import "visual_guidelines/spacing_tokens";
  @import "visual_guidelines/line_height_guidelines";

  &_hero {
    padding: $space_xl * 1.75 !important;
    .header-text {
      max-width: 600px;
      margin: auto;
    }
    @include break_at(breakpoint("sm")){
      padding: $space_xl !important;
    }
  }

  // Main Sections
  .token-wrapper {
    max-width: 1242px;
    margin: auto;
  }

  .maxwidth-class {
    max-width: 1320px !important;
  }

  // General Code Round Bottom
  .border-bottom {
    border-radius: 0 0 6px 6px;
  }

  .zindex-wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-content: center;
    justify-content: center;
    border-bottom-left-radius: 0;
  }

  .text-wrapper {
    padding: 15px;
  }
    .zIndex {
      background-color: white;
      margin-left: -10px;
    }

}
