@import "playbook-ui/dist/tokens/spacing";
@import "playbook-ui/dist/tokens/screen_sizes";
@import "playbook-ui/dist/tokens/colors";

@import "playbook-ui/dist/tokens/line_height";

.visual_guidelines {
  @import "border_radius_guidelines";

  .header-text {
    max-width: 600px;
    margin: auto;
  }
  &_hero {
    padding: $space_xl * 1.75 !important;
  }
  .token-wrapper {
    max-width: 1242px;
    margin: auto;
  }
  @include break_at(breakpoint("sm")){
    .visual_guidelines_hero {
      padding: $space_xl !important;
    }
  }
  .positioning-guideline {
    & > * {
      height: 100px;
      width: 33%;
      position: absolute;

      code {
        position: absolute;
        right: 10px;
        bottom: 5px;
      }
    }

    .two { margin-left: 50px; }
    .three { margin-left: 100px; }
    .four { margin-left: 150px; }
    .five { margin-left: 200px; }
    .six { margin-left: 250px; }
    .seven { margin-left: 300px; }
    .eight { margin-left: 350px; }
    .nine { margin-left: 400px; }
    .ten { margin-left: 450px; }
  }
  .border-bottom {
    border-radius: 0 0 6px 6px;
  }
}

.card-tightest {
  font-size: 28px;
  letter-spacing: -0.03em;
  font-weight: 100;
  color: #242B42;
  margin: 0;
  line-height: 1.0;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans_serif
}
.card-tighter {
  font-size: 28px;
  letter-spacing: -0.03em;
  font-weight: 100;
  color: #242B42;
  margin: 0;
  line-height: 1.2;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans_serif
}
.card-tight {
  font-size: 28px;
  letter-spacing: -0.03em;
  font-weight: 100;
  color: #242B42;
  margin: 0;
  line-height: 1.4;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans_serif
}
.card-normal {
  font-size: 28px;
  letter-spacing: -0.03em;
  font-weight: 100;
  color: #242B42;
  margin: 0;
  line-height: 1.5;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans_serif
}
.card-loose{
  font-size: 28px;
  letter-spacing: -0.03em;
  font-weight: 100;
  color: #242B42;
  margin: 0;
  line-height: 1.6;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans_serif
}
.card-looser {
  font-size: 28px;
  letter-spacing: -0.03em;
  font-weight: 100;
  color: #242B42;
  margin: 0;
  line-height: 1.8;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans_serif
}
.Card-loosest {
  font-size: 28px;
  letter-spacing: -0.03em;
  font-weight: 100;
  color: #242B42;
  margin: 0;
  line-height: 2.0;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans_serif;
}
