// SCAFFOLD
@import "playbook-ui/dist/reset";

// KITS
@import "playbook-ui/dist/playbook";

// APP STYLES
@import "./site-style";
@import "./docs/all";

// KITS SHOW PAGE STYLES
@import "./kits_show";

// FULL PAGE EXAMPLE STYLES
@import "./samples_show";

// FULL PAGE INDEX STYLES (route = '/samples')
@import "./samples_index";

// LANDING PAGE STYLES
@import "./landing-page";

// GETTING STARTED PAGE STYLES
@import "./getting_started";

// VISUAL GUIDELINES PAGE STYLES
@import "./visual_guidelines";

// CHANGELOG STYLES
@import "./changelog";

// SHADOWS FOR VISUAL GUIDELINES PAGE STYLES
@import "./shadow_guidelines";

@font-face{
  src: url('fonts/ProximaNova-Regular.woff2') format('woff2');
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 500;
    
}
@font-face {
  src: url('fonts/ProximaNova-Light.woff2') format('woff2');
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    
}
@font-face {
  src: url('fonts/ProximaNova-Thin.woff2') format('woff2');
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 100;
    
}
@font-face {
  src: url('fonts/ProximaNova-Semibold.woff2') format('woff2');
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    
}
@font-face {
  src: url('fonts/ProximaNova-Bold.woff2') format('woff2');
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    
}
@font-face {
  src: url('fonts/ProximaNova-Extrabld.woff2') format('woff2');
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 800;
    
}
@font-face {
  src: url('fonts/ProximaNova-Black.woff2') format('woff2');
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 900;
    
}
@font-face {
  src: url('fonts/ProximaNova-RegularIt.woff2') format('woff2');
    font-family: 'Proxima Nova';
    font-style: italic;
    font-weight: 500;
    
}
@font-face {
  src: url('fonts/ProximaNova-LightIt.woff2') format('woff2');
    font-family: 'Proxima Nova';
    font-style: italic;
    font-weight: 400;
    
}
@font-face {
  src: url('fonts/ProximaNova-ThinIt.woff2') format('woff2');
    font-family: 'Proxima Nova';
    font-style: italic;
    font-weight: 100;
    
}
@font-face {
  src: url('fonts/ProximaNova-SemiboldIt.woff2') format('woff2');
    font-family: 'Proxima Nova';
    font-style: italic;
    font-weight: 600;
    
}
@font-face {
  src: url('fonts/ProximaNova-BoldIt.woff2') format('woff2');
    font-family: 'Proxima Nova';
    font-style: italic;
    font-weight: 700;
    
}
@font-face {
  src: url('fonts/ProximaNova-ExtrabldIt.woff2') format('woff2');
    font-family: 'Proxima Nova';
    font-style: italic;
    font-weight: 800;
    
}
@font-face {
  src: url('fonts/ProximaNova-BlackIt.woff2') format('woff2');
    font-family: 'Proxima Nova';
    font-style: italic;
    font-weight: 900;
    
}
