@import "./button_toolbar_mixins";
@import "../tokens/colors";
@import "../tokens/opacity";

[class^=pb_button_toolbar]{

  // Vertical =============

  &[class*=_vertical] {
    &[class*=_primary].dark {
      & > [class^=pb_button]:not(:first-child)::before {
        @include toolbar_border(true, $primary_dark)
      }
    }
    &[class*=_secondary].dark {
      & > [class^=pb_button]:not(:first-child)::before {
        @include toolbar_border(true, $secondary_dark)
      }
    }
  }

  // Horizontal =============

  &[class*=_horizontal] {
    &[class*=_primary].dark {
      & > [class^=pb_button]:not(:first-child)::before {
        @include toolbar_border(false, $primary_dark)
      }
    }
    &[class*=_secondary].dark {
      & > [class^=pb_button]:not(:first-child)::before {
        @include toolbar_border(false, $secondary_dark)
      }
    }
  }
  & > [class^=pb_button]:not(:first-child):hover::before,
  [class^=pb_button]:hover + [class^=pb_button]::before {
    opacity: 0
  }

  // Hover =============

  [class^=pb_button].dark  {
    @media (hover:hover) {
      &:hover {
        background-color:darken($royal, 20%);
      }
    }
    &[class*=secondary] {
      @media (hover:hover) {
        &:hover {
          background-color:rgba($primary_action, $opacity_3)
        }
      }
    }
  }
}
