@import "./button_toolbar_mixins";
@import "../tokens/colors";
@import "../tokens/opacity";

// Dark theme - Vertical toolbars
.pb_button_toolbar_kit_vertical_primary.dark {
  & > .pb_button_kit:not(:first-child)::before {
    @include toolbar_border(true, $primary_dark)
  }
}

.pb_button_toolbar_kit_vertical_secondary.dark {
  & > .pb_button_kit:not(:first-child)::before {
    @include toolbar_border(true, $secondary_dark)
  }
}

// Dark theme - Horizontal toolbars  
.pb_button_toolbar_kit_horizontal_primary.dark {
  & > .pb_button_kit:not(:first-child)::before {
    @include toolbar_border(false, $primary_dark)
  }
}

.pb_button_toolbar_kit_horizontal_secondary.dark {
  & > .pb_button_kit:not(:first-child)::before {
    @include toolbar_border(false, $secondary_dark)
  }
}

// Dark theme hover effects
.pb_button_toolbar_kit_horizontal_primary.dark,
.pb_button_toolbar_kit_horizontal_secondary.dark,
.pb_button_toolbar_kit_vertical_primary.dark,
.pb_button_toolbar_kit_vertical_secondary.dark {
  & > .pb_button_kit:not(:first-child):hover::before,
  .pb_button_kit:hover + .pb_button_kit::before {
    opacity: 0
  }

  // Dark button hover styles
  .pb_button_kit.dark {
    @media (hover:hover) {
      &:hover {
        background-color:darken($royal, 20%);
      }
    }
    &.pb_button_secondary {
      @media (hover:hover) {
        &:hover {
          background-color:rgba($primary_action, $opacity_3)
        }
      }
    }
  }
}