@import "./button_toolbar_mixins";
@import "../tokens/colors";
@import "../tokens/opacity";

.pb_button_toolbar{

  // Vertical =============

  &._vertical {
    &._primary.dark {
      & > .pb_button:not(:first-child)::before {
        @include toolbar_border(true, $primary_dark)
      }
    }
    &._secondary.dark {
      & > .pb_button:not(:first-child)::before {
        @include toolbar_border(true, $secondary_dark)
      }
    }
  }

  // Horizontal =============

  &._horizontal {
    &._primary.dark {
      & > .pb_button:not(:first-child)::before {
        @include toolbar_border(false, $primary_dark)
      }
    }
    &._secondary.dark {
      & > .pb_button:not(:first-child)::before {
        @include toolbar_border(false, $secondary_dark)
      }
    }
  }
  & > .pb_button:not(:first-child):hover::before,
  .pb_button:hover + .pb_button::before {
    opacity: 0
  }

  // Hover =============

  .pb_button.dark  {
    @media (hover:hover) {
      &:hover {
        background-color:darken($royal, 20%);
      }
    }
    &.secondary {
      @media (hover:hover) {
        &:hover {
          background-color:rgba($primary_action, $opacity_3)
        }
      }
    }
  }
}
