@import "../tokens/spacing";
@import "../tokens/colors";
@import "../tokens/opacity";

$primary_border:      rgba($white, $opacity_1);
$secondary_border:    rgba($white, $opacity_10);
$primary_dark:        rgba($bg_dark, $opacity_2);
$secondary_dark:      rgba($bg_dark, $opacity_2);

@mixin toolbar_border($horizontal: true, $color: $color) {
    @if $horizontal == true {
        height: 2px;
        width: calc(100% + #{$space_md} + #{$space_md});
        top: -$space_xs - 1px;
        left: -$space_md;
    } @else {
        width: 2px;
        height: $space_md;
        top: 0;
        right: $space_lg + 2px;
    }
    background-color: $color;
    content: '';
    position: relative;
    bottom: 0;
    display: block;
}