@import "playbook-ui/dist/tokens/screen_sizes";

.hero {
  min-height: 245px;
  @media screen and (max-width: $screen-xs-min) {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    min-height: 192px;
  }
  &-description {
    @media screen and (max-width: $screen-xs-min) {
      display: none;
    }
  }
}
