@import "playbook-tokens/screen_sizes";
@import "playbook-tokens/border_radius";

.hero {
  min-height: 245px;
  border-radius: $border_radius_lg;
  @media screen and (max-width: $screen-lg-min) {
    border-radius: 0;
  }
  @media screen and (max-width: $screen-xs-min) {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    min-height: 192px;
  }
  &-description {
    @media screen and (max-width: $screen-xs-min) {
      display: none !important;
    }
  }
}
