@import "../tokens/spacing";
@import "../tokens/colors";
@import "../tokens/opacity";



span.pb_walkthrough_beacon {
  background-color: rgba(255, 27, 14, 0.6);
  border-radius: 50%;
  display: inline-block;
  height: 3rem;
  width: 3rem;
  .inner{

  }
  .outer{
    
  }
}
