# Jenkins and Build Environment
Jenkinsfile
Dockerfile
buildkitd.toml
docker-bake*.hcl
docker-compose.ci.yml
docker-compose.override.yml
docker-compose.yml
env.hcl
milano.*.yml
mkdocs.yml
portal.yml
renovate.json
.dockercompose.state.json
.dockerignore
.git
.github
.gitignore
.sops.yaml
.env
log/*.yml
log/*.json
build-metadata*.json
renovate.json
playbook/node_modules
playbook/tmp
playbook-docs/node_modules
playbook-docs/tmp
*.dec.*
.overcommit.yml
node_modules
