version: '3'
volumes:
  bundle:
  database:
services:
  web:
    build:
      context: .
      args:
        precompileassets: "disable"
    volumes:
      - .:/home/app/src
      - bundle:/usr/local/bundle
    ports:
      - "8089:3000"
  webpacker:
    build:
      context: .
      args:
        precompileassets: "disable"
    deploy:
      resources:
        limits:
          cpus: '4.0'
          memory: 8G
        reservations:
          cpus: '2.0'
          memory: 2G
    env_file:
      - '.env.docker'
    command: bash -c "yarn workspaces foreach -pvi run watch"
    volumes:
      - .:/home/app/src
    ports:
      - '3035:3035'
