version: '3'
volumes:
  bundle:
  database:
services:
  db:
    image: postgres:10.6
    volumes:
      - database:/var/lib/postgresql/data
    ports:
      - "8081:5432"
  web:
    build:
      context: .
      args:
        precompileassets: "disable"
    volumes:
      - .:/home/app/src
      - bundle:/usr/local/bundle
    ports:
      - "8080:3000"
    depends_on:
      - db
  webpacker:
    build:
      context: .
      args:
        precompileassets: "disable"
    env_file:
      - '.env.docker'
    command: bash -c "rm -rf /app/public/packs; rm -rf /home/app/src/spec/dummy/tmp/pids/server.pid; ./bin/webpack-dev-server"
    volumes:
      - .:/home/app/src
    ports:
      - '3035:3035'
    environment:
      NODE_OPTIONS: "--max-old-space-size=4096"
