@import "../tokens/colors";
@import "../tokens/typography";
@import "../pb_icon/icon";
@import "../pb_body/body";
@import "../pb_title/title";

[class^=pb_time_kit] {
  &[class*=_center]  {
    text-align: center;
  }

  &[class*=_right]  {
    text-align: right;
  }

  [class^=pb_body] {
    font-weight: $bold !important;
  }

  [class*=pb_icon_kit] {
    margin-right: 4px;
  }

  [class^=pb_time_timezone] {
    font-size: $font-small;
    font-weight: $regular;
    color: $text-lt-light;

    &::before {
      content: " ";
    }
  }

  &[class*=_lg] {
    [class^=pb_time_timezone] {
      font-size: $font-large !important;
      color: $text-lt-light;
    }
  }

  &[class*=_dark] {
    & > * [class^=pb_title_kit] {
      color: $text_dk_default;
    }
    & > * [class^=pb_body_kit] {
      color: $text_dk_light;
    }
  }
}
