@import "../tokens/colors";
@import "../tokens/typography";
@import "../pb_icon/icon";
@import "../pb_body/body";
@import "../pb_caption/caption";

[class^=pb_time_kit] {
  letter-spacing: $lspace_looser;
  text-transform: uppercase;
  &[class*=_center]  {
    text-align: center;
  }

  &[class*=_right]  {
    text-align: right;
  }

  [class^=pb_body] {
    font-weight: $bold !important;
  }

  [class^=pb_time_timezone] {
    color: $text_lt_light;
    font-weight: $bold;

    &::before {
      content: " ";
    }
  }

  &[class*=_lg] {
    [class^=pb_caption_kit] {
      color: $text_lt_default;
      letter-spacing: $lspace_tight;
      text-transform: capitalize;
    }
    [class^=pb_time_timezone] {
      color: $text_lt_light;
      font-size: $font-large !important;
      font-weight: $regular;
      letter-spacing: $lspace_tight;
    }
  }

  &.dark {
    [class^=pb_caption_kit] {
      color: $text_dk_default;
    }
    [class^=pb_body_kit] {
      color: $text_dk_light;
    }
  }
}
