@import "../tokens/positioning";
@import "../tokens/colors";
@import "../pb_card/card_mixin";
@import "../tokens/shadows";
@import "../tokens/border_radius";
@import "../tokens/spacing";
@import "../tokens/animation-curves";
@import "../tokens/positioning";

// Dialog animations
// Dialog animations for fading in and out from the center


body.ReactModal__Body--open {
  transition: margin-left 0.3s ease-in-out, margin-right 0.3s ease-in-out;
}

@keyframes modalFadeIn {
  from {
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes modalFadeOut {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(0, -50%, 0);
    opacity: 0;
  }
}

.pb_dialog {
  transition: transform 0.3s ease-in-out;
}

.pb_dialog_lg_left.pb_dialog {
  transform: translateX(-100%);
}

.pb_dialog_lg_right.pb_dialog {
  transform: translateX(100%);
}

.pb_dialog.pb_dialog_after_open {
  transform: translateX(0); /* Slide in */
}

@keyframes overlayFade {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes overlayFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

// Dialog Styles
.pb_dialog {

  // Local Variables
  $gutter: $space_lg;
  $xsmall: 64px;
  $small: 200px;
  $medium: 250px;
  $large: 300px;
  $xlarge: 365px;
  $animation-duration: .2s;
  $z-index: 100;
  $opacity_visible: 1;
  $opacity_hidden: 0;

  .dialog_sticky_header {
    position: sticky;
    top: 0;
    background-color: $white;
    z-index: $z_8;
  }

  // @include pb_card;
  background-color: $white;
  box-shadow: $shadow_deepest;
  border: 0;
  max-height: calc(100vh - #{$gutter * 2});
  max-width: calc(100vw - #{$gutter * 2});
  overflow: auto;
  animation-name: modalFadeIn;
  animation-duration: $animation-duration;
  outline: none;
  animation-timing-function: $easeInOutQuint;

  &.drawer_border_full {
    box-shadow: none;
  }

  &.drawer_border_right {
    border-right: 2px solid #f3f7fb; // Replace $border-color with your desired color
  }

  &.drawer_border_left {
    border-left: 2px solid #f3f7fb; // Replace $border-color with your desired color
  }

  &[class*="_left"] {
    animation-name: modalFadeInLeft;
    &[class*="_before_close"] {
      animation-name: modalFadeOutLeft;
      animation-duration: $animation-duration;
      opacity: $opacity_hidden;
    }
  }

  &[class*="_right"] {
    animation-name: modalFadeInRight;
    &[class*="_before_close"] {
      animation-name: modalFadeOutRight;
      animation-duration: $animation-duration;
      opacity: $opacity_hidden;
    }
  }

  &[class*="_xs"] {
    width: $xsmall;
    max-width: $xsmall;
  }

  &[class*="_sm"] {
    width: $small;
    max-width: $small;
  }

  &[class*="_md"] {
    width: $medium;
    max-width: $medium;
  }

  &[class*="_lg"] {
    width: $large;
    max-width: $large; 
  }

  &[class*="_xl"] {
    width: $xlarge;
    max-width: $xlarge; 
  }

  &_body_open {
    overflow: hidden;
  }

  &_after_open {
    opacity: $opacity_visible;
  }

  &[class*="_before_close"] {
    animation-name: modalFadeOut;
    animation-duration: $animation-duration;
    opacity: $opacity_hidden;
  }

  &_close_icon {
    cursor: pointer;
  }

  &_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($bg_dark, $opacity_4);
    z-index: $z-index;
    animation-name: overlayFade;
    animation-duration: $animation-duration;

    &.no-background {
      background-color: transparent; 
    }

    &_after_open {
      opacity: $opacity_visible;
    }
    &_before_close {
      animation-name: overlayFadeOut;
      animation-duration: $animation-duration;
      opacity: $opacity_hidden;
    }
    &[class*="full_height"] {
      &[class*="_left"]{
        justify-content: flex-start;
      }

      &[class*="_center"]{
        justify-content: center;
      }

      &[class*="_right"]{
        justify-content: flex-end;
      }

      .pb_dialog {
        height: 100%;
        max-height: 100%;
        max-width: none;
        // This empty div only has height when dialog is full height
        // Fix for dialog body content disappearing behind sticky footer
        .dialog-pseudo-footer {
          height: $space_xl * 2;
        }
        .dialog_footer {
          position: fixed;
          bottom: 0;
          background-color: $white;
          max-width: 100%;
        }
        &[class*="_xs"] {
          width: $xsmall;
          .dialog_footer {
            width: $xsmall;
          }
        }
        &[class*="_sm"] {
          width: $small;
          .dialog_footer {
            width: $small;
          }
        }
        &[class*="_md"] {
          width: $medium;
          .dialog_footer {
            width: $medium;
          }
        }
        &[class*="_lg"] {
          width: $large;
          .dialog_footer {
            width: $large;
          }
        }
        &[class*="_xl"] {
          width: $xlarge;
          .dialog_footer {
            width: $xlarge;
          }
        }
      }
    }
  }
}

[class*="dialog_body"] {
  padding: $space_sm;
}

[class*="dialog_header"] {
  padding: $space_sm;
}

[class*="dialog_footer"] {
  padding: $space_sm;
}

//styles specific to rails version of kit
// rails version has own wrapper because of the way the overlay functions for the HTML dialog used to create this
.pb_dialog_wrapper_rails {
  $medium: 500px;
  $large: 800px;
  $xlarge: 1150px;

  &[class*="full_height"] {
    &[class*="_left"]{
      .pb_dialog_rails {
        margin: unset !important;
        margin-right: auto !important;
      }
    }

    &[class*="_center"]{
      justify-content: center;
    }

    &[class*="_right"]{
      .pb_dialog_rails {
        margin: unset !important;
        margin-left: auto !important;
      }
    }

    .pb_dialog {
      height: 100% !important;
      max-height: 100% !important;
      max-width: 100%;
      // This empty div only has height when dialog is full height.
      // Fix for dialog body content disappearing behind sticky footer
      .dialog-pseudo-footer {
        height: $space_xl * 2;
      }
      .dialog_footer {
        position:fixed;
        bottom: 0;
        background-color: $white;
        max-width: 100%;
      }
      &[class*="_sm"] {
        width: $medium;
        .dialog_footer {
          width: $medium;
        }
      }
      &[class*="_md"] {
        width: $large;
        .dialog_footer {
          width: $large;
        }
      }
      &[class*="_lg"] {
        width: $xlarge;
        .dialog_footer {
          width: $xlarge;
        }
      }
    }
  }

  // Fixes for stylesheets in nitro that were conflicting with our kit. DO NOT REMOVE.
  // Conflicts were only apparent in nitro, not in playbook local env
  .pb_dialog_rails {
    position: fixed !important;
    top: 0 !important;
    padding: unset !important;
    margin: auto;

  }

  // Overlay for rails kit
  dialog::backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($bg_dark, $opacity_4);
    animation-name: overlayFade;
    animation-duration: 0.2s;
  }

  .dialog-button-class {
    background-color: unset;
    border: none;
    cursor: pointer;
  }
}

