@import "../tokens/positioning";
@import "../tokens/colors";
@import "../pb_card/card_mixin";
@import "../tokens/shadows";
@import "../tokens/border_radius";
@import "../tokens/spacing";
@import "../tokens/animation-curves";

// Dialog animations
@keyframes modalFadeIn {
  from { transform: translate3d(0, -100%, 0); opacity: 0; }
  to { transform: translate3d(0, 0, 0); opacity: 1; }
}

@keyframes modalFadeOut {
  from { transform: translate3d(0, 0, 0); opacity: 1; }
  to { transform: translate3d(0, -50%, 0); opacity: 0; }
}

@keyframes modalFadeInLeft {
  from { transform: translate3d(-100%, 0, 0); opacity: 0; }
  to { transform: translate3d(0, 0, 0); opacity: 1; }
}

@keyframes modalFadeOutLeft {
  from { transform: translate3d(0, 0, 0); opacity: 1; }
  to { transform: translate3d(-50%, 0, 0); opacity: 0; }
}

@keyframes modalFadeInRight {
  from { transform: translate3d(100%, 0, 0); opacity: 0; }
  to { transform: translate3d(0, 0, 0); opacity: 1; }
}

@keyframes modalFadeOutRight {
  from { transform: translate3d(0, 0, 0); opacity: 1; }
  to { transform: translate3d(50%, 0, 0); opacity: 0; }
}

@keyframes overlayFade {
  from { opacity: 0; transform: translateY(0); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes overlayFadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.pb_dialog {
  $gutter: $space_lg;
  $small: 300px;
  $status_size: 375px;
  $medium: 500px;
  $large: 800px;
  $xlarge: 1150px;
  $animation-duration: .2s;
  $z-index: 100;
  $opacity_visible: 1;
  $opacity_hidden: 0;

  background-color: $white;
  box-shadow: $shadow_deepest;
  border: 0;
  border-radius: $border_radius_md;
  max-height: calc(100vh - #{$gutter * 2});
  max-width: calc(100vw - #{$gutter * 2});
  overflow: auto;
  animation-name: modalFadeIn;
  animation-duration: $animation-duration;
  outline: none;
  animation-timing-function: $easeInOutQuint;

  &.pb_dialog_left { animation-name: modalFadeInLeft; }
  &.pb_dialog_left.pb_dialog_before_close { animation-name: modalFadeOutLeft; opacity: $opacity_hidden; }

  &.pb_dialog_right { animation-name: modalFadeInRight; }
  &.pb_dialog_right.pb_dialog_before_close { animation-name: modalFadeOutRight; opacity: $opacity_hidden; }

  &.pb_dialog_status_size { width: $status_size; }
  &.pb_dialog_sm { width: $small; }
  &.pb_dialog_md { width: $medium; }
  &.pb_dialog_lg { width: $large; }

  &.pb_dialog_body_open { overflow: hidden; }
  &.pb_dialog_after_open { opacity: $opacity_visible; }
  &.pb_dialog_before_close { animation-name: modalFadeOut; opacity: $opacity_hidden; }

  &_close_icon { cursor: pointer; font-size: $font_base; line-height: $lh_normal; }

  &_overlay {
    position: fixed; top: 0; left: 0; right: 0; bottom: 0;
    display: flex; align-items: center; justify-content: center;
    background-color: rgba($bg_dark, $opacity_4);
    z-index: $z-index;
    animation-name: overlayFade;
    animation-duration: $animation-duration;

    &.pb_dialog_overlay_after_open { opacity: $opacity_visible; }
    &.pb_dialog_overlay_before_close { animation-name: overlayFadeOut; opacity: $opacity_hidden; }

    &.full_height {
      &.pb_dialog_left { justify-content: flex-start; }
      &.pb_dialog_center { justify-content: center; }
      &.pb_dialog_right { justify-content: flex-end; }

      .pb_dialog {
        border-radius: 0;
        height: 100%; max-height: 100%; max-width: none;

        .dialog-pseudo-footer { height: $space_xl * 2; }

        .dialog_footer {
          position: fixed; bottom: 0;
          background-color: $white; max-width: 100%;
        }

        &.pb_dialog_sm .dialog_footer { width: $medium; }
        &.pb_dialog_md .dialog_footer { width: $large; }
        &.pb_dialog_lg .dialog_footer { width: $xlarge; }
      }
    }
  }
}

.dialog_body, .dialog_header, .dialog_footer {
  padding: $space_sm;
}

.pb_dialog_wrapper_rails {
  $medium: 500px; $large: 800px; $xlarge: 1150px;

  .dialog_status_text_align { text-align: center; }

  &.full_height {
    &.pb_dialog_left .pb_dialog_rails { margin-right: auto !important; }
    &.pb_dialog_center { justify-content: center; }
    &.pb_dialog_right .pb_dialog_rails { margin-left: auto !important; }

    .pb_dialog {
      border-radius: 0;
      height: 100% !important;
      max-height: 100% !important;
      max-width: 100%;

      .dialog-pseudo-footer { height: $space_xl * 2; }

      .dialog_footer {
        position: fixed;
        bottom: 0;
        background-color: $white;
        max-width: 100%;
      }

      &.pb_dialog_sm .dialog_footer { width: $medium; }
      &.pb_dialog_md .dialog_footer { width: $large; }
      &.pb_dialog_lg .dialog_footer { width: $xlarge; }
    }
  }

  .pb_dialog_rails {
    position: fixed !important;
    top: 0 !important;
    padding: unset !important;
    margin: auto;
  }

  dialog::backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($bg_dark, $opacity_4);
    animation-name: overlayFade;
    animation-duration: 0.2s;
  }

  .dialog-button-class {
    background-color: unset;
    border: none;
    cursor: pointer;
  }
}
