<div class="pb_dialog_wrapper_rails">
    <%= content_tag(:dialog,
        aria: object.aria,
        data: object.data,
        id: object.id,
        class: object.classname) do %>
            <%= content %>
    <% end %>
</div>
