@import "../tokens/colors";

$pb_online_status_size: 8px;
$pb_online_status_border: 2px;
$pb_online_status_sizes: (
  "sm": 8px,
  "md": 10px,
  "lg": 12px,
);

$pb_online_status_statuses: (
  online: $success,
  away: $warning,
  offline: $neutral,
  success: $success,
  warning: $warning,
  error: $error,
  info: $info,
  neutral: $neutral,
  primary: $primary,
);

.pb_online_status_kit {
  box-sizing: content-box;
  width: $pb_online_status_size;
  height: $pb_online_status_size;
  flex-basis: $pb_online_status_size;
  flex-grow: 0;
  flex-shrink: 0;
  border-width: $pb_online_status_border;
  border-color: $white;
  border-style: solid;
  border-radius: 50%;
  background: $neutral;

  &.dark {
    border-color: $bg_dark;
  }

  @each $status_name, $status_value in $pb_online_status_statuses {
    &[class*=_#{$status_name}] {
      background: $status_value;
    }
  }

  @each $size, $value in $pb_online_status_sizes {
    &[class*=_size_#{$size}] {
      width: $value;
      height: $value;
      flex-basis: $value;
    }
  }

  &._no_border {
    border-width: 0;
    border-style: none;
  }
}