@import "../pb_caption/caption_mixin";
@import "../pb_textarea/textarea_mixin";
@import "../tokens/colors";
@import "./sass_partials/flatpickr_styles";
@import "./sass_partials/inline_styles";
@import "./sass_partials/month_and_year_styles";
@import "./sass_partials/time_selection_styles";
@import "./sass_partials/input_styles";
@import "./sass_partials/quick_pick_styles";

.pb_date_picker_kit {
  .input_wrapper {
    position: relative;

    .flatpickr-wrapper {
      display: block;
    }

    @import "./sass_partials/calendar_input_icon";
  }

  label {
    display: block !important;
  }

  &:focus,
  :focus-within {
    div.cal_icon_wrapper,
    input.date_picker_input {
      @include transition_default;
      border-color: $status_border_primary;
    }
    .add-on-card {
      border-color: $status_border_primary;
    }
  }

  @media (hover: hover) {
    &:hover {
      .add-on-card {
        cursor: pointer;
        background-color: rgba($input_background_state, $opacity_5);
      }
    }
  }
  .text_input_wrapper_add_on .add-on-icon {
    color: $status_border_primary
  }

  .text_input_wrapper_add_on .add-on-right .text_input{
    cursor: pointer;
  }

}


.pb_popover_reference_wrapper {
  display: unset !important
}

.flatpickr-calendar {
  @import "./sass_partials/day_styles";
  @import "./sass_partials/header_styles";
  @import "./sass_partials/overrides";

  .date_picker_input.flatpickr-input {
    text-overflow: ellipsis;
    padding-right: $space_xl + 10 !important;
  }

  // Calendar Shadow and Border
  .flatpickr-calendar {
    box-shadow: $shadow_deeper;
    border: 1px solid $input_border_default;
  }

  // Hide Caret
  &:before,
  &:after {
    content: none;
  }
}
