@import "../pb_caption/caption_mixin";
@import "../pb_textarea/textarea_mixin";
@import "../tokens/colors";
@import "./sass_partials/flatpickr_styles";
@import "./sass_partials/inline_styles";
@import "./sass_partials/month_and_year_styles";

[class^=pb_date_picker_kit] {
  .input_wrapper {
    margin-bottom: $space_sm;
    position: relative;
    @import "./sass_partials/calendar_input_icon";
    @import "./sass_partials/day_styles";
    @import "./sass_partials/header_styles";
    @import "./sass_partials/overrides";
    @import "./sass_partials/month_and_year_styles";

    .flatpickr-wrapper {
      display: block;
      .text_input.flatpickr-input {
        text-overflow: ellipsis;
        padding-right: $space_xl + 10 !important;
      }
      // Calendar Shadow and Border
      .flatpickr-calendar {
        box-shadow: $shadow_deeper;
        border: 1px solid $border_light;
      }
      // Hide Caret
      .flatpickr-calendar:before,
      .flatpickr-calendar:after {
        content: none;
      }
    }
  }

  &:focus,:focus-within{
    div.cal_icon_wrapper, input.text_input{
      @include transition_default;
      border-color: $primary;
    }
  }
}
