@import "../tokens/colors";
@import "../tokens/spacing";

[class^=pb_selectable_list]{
  margin-bottom: 0px;
  [class^=pb_item_kit] {
    &:hover {
      background-color: $bg_light;
    }
  }
  [class^=pb_radio_kit] {
    margin-left: $space_xs;
  }
  [class^=pb_checkbox_kit] {
    margin-left: $space_xs;
  }
}
