@import "../tokens/colors";

[class^=pb_selectable_list]{
  .pb_item_kit {
    &:hover {
      background-color: rgb(249,251,255);
    }
  }

  .checked {
    background-color: rgb(233,242,253);
    &:hover {
      pointer-events: none;
    }
  }
}
