
[class^=pb_currency_kit] {
  &[class*=_center]  {
    & > [class^=pb_caption],
    & > [class^=pb_title],
    & > [class^=pb_body] {
      text-align: center;
    }
    & > [class*=pb_currency_wrapper] {
      justify-content: center;
    }
  }

  &[class*=_right] {
    & > [class^=pb_caption],
    & > [class^=pb_title],
    & > [class^=pb_body] {
      text-align: right;
    }
    & > [class*=pb_currency_wrapper] {
      justify-content: flex-end;
    }
  }
  [class^=pb_currency_wrapper] {
    display: flex;

    & > [class*=dollar_sign] {
      display: flex;
      align-items: flex-start;
    }
    & > [class*=unit] {
      display: flex;
      align-items: flex-end;
    }
  }

  &[class*=_lg] [class^=pb_currency_wrapper] [class*=pb_currency_value] {
    line-height: .9;
    padding-left: $space_xs - 7px;
    padding-right: $space_xs - 7px;
  }

  &[class*=_md] [class^=pb_currency_wrapper] [class*=pb_currency_value] {
    line-height: 1.2;
    padding-left: $space_xs - 7px;
    padding-right: $space_xs - 7px;
  }
  &[class*=_sm] [class^=pb_currency_wrapper] [class*=pb_currency_value] {
    line-height: 1.4;
    padding-left: $space_xs - 7px;
    padding-right: $space_xs - 7px;
  }
}
