[class^="pb_currency_kit"] {
  &[class*="_center"] {
    & > [class^="pb_caption_kit"],
    & > [class^="pb_title_kit"],
    & > [class^="pb_body_kit"] {
      text-align: center;
    }
    & > [class*="pb_currency_wrapper"] {
      justify-content: center;
    }
  }

  &[class*="_right"] {
    & > [class^="pb_caption_kit"],
    & > [class^="pb_title_kit"],
    & > [class^="pb_body_kit"] {
      text-align: right;
    }
    & > [class*="pb_currency_wrapper"] {
      justify-content: flex-end;
    }
  }
}

[class^="pb_currency_wrapper"] {
  display: flex;
  align-items: baseline;

  & > [class*="dollar_sign"] {
    align-self: flex-start;
  }

  & > [class*="pb_currency_value"] {
    line-height: 1 !important;
  }
}
