@import "../tokens/colors";
@import "../tokens/spacing";
@import "../tokens/typography";
@import "../tokens/border_radius";
@import "../tokens/shadows";
@import "../tokens/positioning";
@import "../pb_body/body_mixins";
@import "../pb_textarea/textarea_mixin";

@import "./scss_partials/dropdown_animation";
@import "dropdown_mixin";

.pb_dropdown_default,
.pb_dropdown_subtle,
.pb_dropdown_quickpick,
.pb_dropdown_default_separators_hidden,
.pb_dropdown_subtle_separators_hidden {
  .dropdown_wrapper {
    .dropdown_trigger_wrapper,
    .dropdown_trigger_wrapper_focus,
    .dropdown_trigger_wrapper_focus_select_only,
    .dropdown_trigger_wrapper_select_only {
      @include pb_body;
      border: 1px solid $border_light;
      background-color: $white;
      min-height: 45px;
      @media (hover: hover) {
        &:hover,
        &:active,
        &:focus {
          background-color: $focus_input_light;
          input {
            background-color: $focus_input_light;
          }
        }
      }

      .dropdown_input {
        @include pb_body;
        border: unset;
        padding: 0;
        background-color: $white;
        &:focus-visible {
          outline: none;
        }
      }
      &:focus {
        box-shadow: 0px 0px 0 1px $primary !important;
        outline: unset;
        transition: box-shadow 0.15s ease-in-out;
      }
      &:focus-within {
        box-shadow: 0px 0px 0 1px $primary !important;
        outline: unset;
        transition: box-shadow 0.15s ease-in-out;
      }

      &.dropdown_trigger_wrapper_select_only {
        box-shadow: inset 0 -11px 20px rgba($primary, 0.05);
      }

      &.dropdown_trigger_wrapper_focus {
        box-shadow: 0px 0px 0 1px $primary !important;
        transition: box-shadow 0.1s ease-in-out;
      }
    }

    .pb_dropdown_container {
      position: absolute;
      background-color: $white;
      overflow-y: auto;
      overflow-x: hidden;
      max-height: 18em;
      box-shadow: $shadow_deep;
      border-radius: $border_rad_heavier;
      border: 1px solid $border_light;
      margin-top: $space_xs;
      z-index: $z_1;
      width: 100%;

      .pb_dropdown_option,
      .pb_dropdown_option_list,
      .pb_dropdown_option_selected,
      .pb_dropdown_option_focused,
      .pb_dropdown_option_list_focused,
      .pb_dropdown_option_selected_focused {
        padding-left: $space_sm;
        padding-right: $space_sm;
        padding-top: $space_xs;
        padding-bottom: $space_xs;
        cursor: pointer;
        &:hover {
          background-color: $bg_light;
        }

        &.pb_dropdown_option_focused,
        &.pb_dropdown_option_list_focused,
        &.pb_dropdown_option_selected_focused {
          background-color: $bg_light;
        }

        &.pb_dropdown_option_list,
        &.pb_dropdown_option_list_focused {
          border-bottom: 1px solid $border_light;

          &:hover, &:focus {
            .pb_body_kit {
              color: $primary;
            }
          }
        }
        &.pb_dropdown_option_selected,
        &.pb_dropdown_option_selected_focused {
          background-color: $primary;
          color: $white;
          [class^="pb_body"],
          [class^="pb_title_kit"], a {
            color: $white !important;
          }
          border-bottom: 1px solid $border_light;
          &:hover {
            background-color: $product_1_background;
          }
 
          // activeStyle font color map
          @each $name, $color in $font-colors {
            &.font-#{$name} {
              @include apply-font-color($color);
            }
          }
          // activeStyle background color map (no difference between selected and selected+hover custom colors)
          @each $name, $bg in $background-colors {
            &.bg-#{$name} {
              background-color: $bg;
            }
          }     
        }
      }

      .dropdown_option_wrapper {
        width: 100%;
      }
    }

    .close {
      display: none;
      animation-name: fadeOut;
      animation-duration: 150ms;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }

    .open {
      display: block;
      animation-name: fadeIn;
      animation-duration: 150ms;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }

    &.error {
      .pb_body_kit_negative {
        margin-top: $space_xs / 2;
      }

      .dropdown_trigger_wrapper,
      .dropdown_trigger_wrapper_focus,
      .dropdown_trigger_wrapper_focus_select_only,
      .dropdown_trigger_wrapper_select_only {
        border-color: $error;
        box-shadow: none !important;
      }
    }
  }

  &.pb_dropdown_default_separators_hidden,
  &.pb_dropdown_subtle_separators_hidden {
    .dropdown_wrapper {
      .pb_dropdown_container {

        .pb_dropdown_option,
        .pb_dropdown_option_list,
        .pb_dropdown_option_selected,
        .pb_dropdown_option_focused,
        .pb_dropdown_option_list_focused,
        .pb_dropdown_option_selected_focused {
          border: none;
        }
      }
    }
  }

  &.pb_dropdown_subtle,
  &.pb_dropdown_subtle_separators_hidden {
    .dropdown_wrapper {
      .pb_dropdown_container {
        
        .pb_dropdown_option:first-child,
        .pb_dropdown_option_list:first-child,
        .pb_dropdown_option_selected:first-child,
        .pb_dropdown_option_focused:first-child,
        .pb_dropdown_option_list_focused:first-child,
        .pb_dropdown_option_selected_focused:first-child {
          margin-top: $space_xs;
        }

        .pb_dropdown_option:last-child,
        .pb_dropdown_option_list:last-child,
        .pb_dropdown_option_selected:last-child,
        .pb_dropdown_option_focused:last-child,
        .pb_dropdown_option_list_focused:last-child,
        .pb_dropdown_option_selected_focused:last-child {
          margin-bottom: $space_xs;
        }

        .pb_dropdown_option,
        .pb_dropdown_option_list,
        .pb_dropdown_option_selected,
        .pb_dropdown_option_focused,
        .pb_dropdown_option_list_focused,
        .pb_dropdown_option_selected_focused {
          margin: $space_xs;
          padding: $space_xs;
          border-radius: $border_radius_md;
          border-bottom: none;
          position: relative;
        
          &::after {
            content: "";
            position: absolute;
            left: -$space_xs;
            right: -$space_xs;
            bottom: -4.5px;
            height: 1px;
            background: $border_light;
          }
        }
        
        .pb_dropdown_option:last-child::after,
        .pb_dropdown_option_list:last-child::after,
        .pb_dropdown_option_selected:last-child::after,
        .pb_dropdown_option_focused:last-child::after,
        .pb_dropdown_option_list_focused:last-child::after,
        .pb_dropdown_option_selected_focused:last-child::after {
          display: none; 
        }
      }
    }
  
    &.pb_dropdown_subtle_separators_hidden {
      .dropdown_wrapper {
        .pb_dropdown_container {
          .pb_dropdown_option:first-child,
          .pb_dropdown_option_list:first-child,
          .pb_dropdown_option_selected:first-child,
          .pb_dropdown_option_focused:first-child,
          .pb_dropdown_option_list_focused:first-child,
          .pb_dropdown_option_selected_focused:first-child {
            margin-top: $space_xs;
          }
  
          .pb_dropdown_option:last-child,
          .pb_dropdown_option_list:last-child,
          .pb_dropdown_option_selected:last-child,
          .pb_dropdown_option_focused:last-child,
          .pb_dropdown_option_list_focused:last-child,
          .pb_dropdown_option_selected_focused:last-child {
            margin-bottom: $space_xs;
          }

          .pb_dropdown_option,
          .pb_dropdown_option_list,
          .pb_dropdown_option_selected,
          .pb_dropdown_option_focused,
          .pb_dropdown_option_list_focused,
          .pb_dropdown_option_selected_focused {
            padding: $space_xxs $space_xs;
            margin: $space_xxs $space_xs;
     
            &::after {
              height: 0px;
            }

            &.pb_dropdown_option_selected,
            &.pb_dropdown_option_selected_focused {
              border-bottom: none;
            }
          }
        }
      }
    }
  }

  &.dark {
    .dropdown_wrapper {
      .dropdown_trigger_wrapper,
      .dropdown_trigger_wrapper_focus,
      .dropdown_trigger_wrapper_focus_select_only,
      .dropdown_trigger_wrapper_select_only {
        @include pb_body_light_dark;
        background-color: rgba($white, 0.1) !important;
        background: none;
        border-color: rgba($white, 0.15);
        @media (hover: hover) {
          &:hover,
          &:active,
          &:focus {
            background-color: rgba($white, 0.05) !important;
          }
        }
        [class^="pb_body"] {
          color: $white;
        }
        &.dropdown_trigger_wrapper_select_only {
          box-shadow: inset 0 -11px 20px rgba($white, 0.05);
        }
        .dropdown_input {
          background-color: unset;
          color: $white;
        }
      }

      &.error {
        .dropdown_trigger_wrapper,
        .dropdown_trigger_wrapper_focus,
        .dropdown_trigger_wrapper_focus_select_only,
        .dropdown_trigger_wrapper_select_only {
          border-color: $error_dark;
        }
      }
    }
    .pb_dropdown_container {
      background-color: $bg_dark !important;
      border-color: rgba($white, 0.15);
      color: $white;
      [class^="pb_body"],
      [class^="pb_title_kit"] {
        color: $white !important;
      }

      .pb_dropdown_option,
      .pb_dropdown_option_list,
      .pb_dropdown_option_selected,
      .pb_dropdown_option_focused,
      .pb_dropdown_option_list_focused,
      .pb_dropdown_option_selected_focused {
        &:hover {
          background-color: $hover_dark;
        }

        &.pb_dropdown_option_focused,
        &.pb_dropdown_option_list_focused,
        &.pb_dropdown_option_selected_focused {
          background-color: $hover_dark;
        }

        &.pb_dropdown_option_list,
        &.pb_dropdown_option_list_focused {
          border-color: rgba($white, 0.15);
        }
        &.pb_dropdown_option_selected,
        &.pb_dropdown_option_selected_focused {
          background-color: $primary;
          border-bottom: rgba($white, 0.15);
        }
      }
    }
  }
}