<%= pb_content_tag do %>
    <%= pb_rails("list/item", props: {
        display: "flex",
        justify_content: "center",
        padding:"none",
        cursor: "pointer"
        }) do %>
            <div class="dropdown_option_wrapper">
                <% if content.present? %>
                    <%= content.presence %>
                <% else %>
                    <%= pb_rails("body", props: {text: object.option[:label]}) %>
                <% end %>
            </div>
    <% end %>
<% end %>
