<%= content_tag(:div,
  id: object.id,
  data: object.data,
  class: object.classname) do %>
    <div class="popover_tooltip" id="<%= object.tooltip_id %>" role="tooltip" >
      <div class="popover_body">
      <%= capture(&object.children) %>
      </div>
    </div>
<% end %>


