@import "../tokens/positioning";
@import "../pb_card/card_mixin";
@import "../tokens/shadows";

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
  .pb_popover_body {
    @include pb_card;
    border: 0;
    box-shadow: $shadow_deeper;
  }
  .overflow_handling {
    overflow: auto;
  }
}

.pb_popover_tooltip {
  opacity: 0;
  animation-name: fadeOut;
  animation-duration: 150ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  visibility: hidden;
  pointer-events: none;
  &.show {
    animation-name: fadeIn;
    animation-duration: 150ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    visibility: visible;
    pointer-events: initial;
    z-index: $z_9;
  }
}
.pb_popover_body {
  @include pb_card;
  border: 0;
  box-shadow: $shadow_deeper;
}
.overflow_handling {
  overflow: auto;
}


.pb_popover_reference_wrapper {
  display: inline-block;
}
