@import "../colors";

:export {
  @mixin export-colors($colors-list) {
    @each $name, $color in $colors-list {
      #{"" + $name}: $color;
    }
  }
  /* Legacy tokens — from _colors.scss */
  @include export-colors($product_colors);
  @include export-colors($status_colors);
  @include export-colors($data_colors);
  @include export-colors($shadow_colors);
  @include export-colors($colors);
  @include export-colors($interface_colors);
  @include export-colors($main_colors);
  @include export-colors($background_colors);
  @include export-colors($card_colors);
  @include export-colors($active_colors);
  @include export-colors($action_colors);
  @include export-colors($hover_colors);
  @include export-colors($border_colors);
  @include export-colors($text_colors);
  @include export-colors($category_colors);
  gradient_start: $gradient_start;
  gradient_end: $gradient_end;
  /* Accessible tokens — from _colors_accessible.scss */
  @include export-colors($accessible_text_colors);
  @include export-colors($accessible_input_text_colors);
  @include export-colors($accessible_input_background_colors);
  @include export-colors($accessible_input_border_colors);
  @include export-colors($accessible_status_text_colors);
  @include export-colors($accessible_status_background_colors);
  @include export-colors($accessible_status_icon_background_colors);
  @include export-colors($accessible_status_border_colors);
}
