@import "../tokens/border_radius";
@import "../tokens/colors";
@import "../tokens/spacing";
@import "../tokens/typography";

@mixin pb_input ($bg: $white, $bc: $border-light, $color: $text_lt_default) {
  -webkit-appearance: none;
  border: 1px solid $bc;
  border-radius: $border-rad-light;
  display: block;
  width: 100%;
  color: $color;
  font-weight: bold;
  background: $bg;
  padding: $space_xs $space_sm;
  transition: 0.2s all;
  outline: none;
  font-size: $font_small;
  margin: .1rem 0 0;

  &:focus {
    border-color: $primary-action;
  }

  &::-webkit-input-placeholder {
    color: $text_lt_lighter;
    opacity: 1;
    font-weight: normal;
  }

  &:-ms-input-placeholder {
    color: $text_lt_lighter;
    opacity: 1;
  }

  &::-ms-input-placeholder {
    color: $text_lt_lighter;
    opacity: 1;
  }

  &::placeholder {
    color: $text_lt_lighter;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: $text_lt_lighter;
  }

  &::-ms-input-placeholder {
    color: $text_lt_lighter;
  }
}

@mixin pb_input_dark {
  @include pb_input(rgba($white, $opacity_1), rgba($white, $opacity_2), $text_dk_default)
};

.pb_input_kit {
  margin: 8px;

  .input_wrapper {
    margin-bottom: 1rem;
  }

  .pb_input_kit {
    @include pb_input
  }
};

.pb_input_kit {
  margin: 8px;

  .input_wrapper {
    margin-bottom: 1rem;
  }

  .pb_input_kit_dark {
    @include pb_input_dark;

    &:focus{
      border-color: $secondary_action;
    }

    &::-webkit-input-placeholder {
      color: $text_dk_lighter;
      opacity: 1;
      font-weight: normal;
    }
  
    &:-ms-input-placeholder {
      color: $text_dk_lighter;
      opacity: 1;
    }
  
    &::-ms-input-placeholder {
      color: $text_dk_lighter;
      opacity: 1;
    }
  
    &::placeholder {
      color: $text_dk_lighter;
      opacity: 1;
    }
  
    &:-ms-input-placeholder {
      color: $text_dk_lighter;
    }
  
    &::-ms-input-placeholder {
      color: $text_dk_lighter;
    }
  }
}


