<% data = [{
    name: 'Waiting for Calls',
    y: 2000,
  },
  {
    name: 'On Call',
    y: 46.8,
  },
  {
    name: 'After call',
    y: 256,
  }
] %>


<%= pb_rails("donut_chart", props: {
    style: "pie",
    text: "Average Daily Breakdown",
    chart_data: data,
    id: "default-test",
    inner_size: 'md',
    useHTML: true,
    point_format: '<b><span style="font-weight: bold; color:{point.color};">●</span> {point.name}: ' + '{point.y}%</b>'
}) %>
