<%= content_tag(:div,
    aria: object.aria,
    id: object.id,
    data: object.data,
    class: object.classname) do %>

    <%= pb_rails "icon_circle", props: {
      icon: object.icon,
      size: object.size,
      variant: object.variant } %>

      <div>
        <%= pb_rails "title", props: {
            text: object.value_unit,
            size: object.title_size } %>
        <%= pb_rails "caption", props: {
            text: object.text } %>
      </div>
<% end %>
