@font-face {
    src: font-url('ProximaNova-Regular.woff2') format('woff2');
      font-family: 'Proxima Nova';
      font-style: normal;
      font-weight: 500;
      
  }
  @font-face {
    src: font-url('ProximaNova-Light.woff2') format('woff2');
      font-family: 'Proxima Nova';
      font-style: normal;
      font-weight: 400;
      
  }
  @font-face {
    src: font-url('ProximaNova-Thin.woff2') format('woff2');
      font-family: 'Proxima Nova';
      font-style: normal;
      font-weight: 100;
      
  }
  @font-face {
    src: font-url('ProximaNova-Semibold.woff2') format('woff2');
      font-family: 'Proxima Nova';
      font-style: normal;
      font-weight: 600;
      
  }
  @font-face {
    src: font-url('ProximaNova-Bold.woff2') format('woff2');
      font-family: 'Proxima Nova';
      font-style: normal;
      font-weight: 700;
      
  }
  @font-face {
    src: font-url('ProximaNova-Extrabld.woff2') format('woff2');
      font-family: 'Proxima Nova';
      font-style: normal;
      font-weight: 800;
      
  }
  @font-face {
    src: font-url('ProximaNova-Black.woff2') format('woff2');
      font-family: 'Proxima Nova';
      font-style: normal;
      font-weight: 900;
      
  }
  @font-face {
    src: font-url('ProximaNova-RegularIt.woff2') format('woff2');
      font-family: 'Proxima Nova';
      font-style: italic;
      font-weight: 500;
      
  }
  @font-face {
    src: font-url('ProximaNova-LightIt.woff2') format('woff2');
      font-family: 'Proxima Nova';
      font-style: italic;
      font-weight: 400;
      
  }
  @font-face {
    src: font-url('ProximaNova-ThinIt.woff2') format('woff2');
      font-family: 'Proxima Nova';
      font-style: italic;
      font-weight: 100;
      
  }
  @font-face {
    src: font-url('ProximaNova-SemiboldIt.woff2') format('woff2');
      font-family: 'Proxima Nova';
      font-style: italic;
      font-weight: 600;
      
  }
  @font-face {
    src: font-url('ProximaNova-BoldIt.woff2') format('woff2');
      font-family: 'Proxima Nova';
      font-style: italic;
      font-weight: 700;
      
  }
  @font-face {
    src: font-url('ProximaNova-ExtrabldIt.woff2') format('woff2');
      font-family: 'Proxima Nova';
      font-style: italic;
      font-weight: 800;
      
  }
  @font-face {
    src: font-url('ProximaNova-BlackIt.woff2') format('woff2');
      font-family: 'Proxima Nova';
      font-style: italic;
      font-weight: 900;
  }