@font-face {
  src: font-url('PowerCentra-Light.woff2') format('woff2');
  font-family: 'Power Centra';
  font-style: normal;
  font-weight: 300;
}

@font-face {
  src: font-url('PowerCentra-Book.woff2') format('woff2');
  font-family: 'Power Centra';
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: font-url('PowerCentra-BookItalic.woff2') format('woff2');
  font-family: 'Power Centra';
  font-style: italic;
  font-weight: 400;
}

@font-face {
  src: font-url('PowerCentra-Bold.woff2') format('woff2');
  font-family: 'Power Centra';
  font-style: normal;
  font-weight: 700;
}

@font-face {
  src: font-url('PowerCentra-BoldItalic.woff2') format('woff2');
  font-family: 'Power Centra';
  font-style: italic;
  font-weight: 700;
}