// Light -----------------
= render partial: "playbook/pb_layout/examples/layout_xs"
= render partial: "playbook/pb_layout/examples/layout_sm"
= render partial: "playbook/pb_layout/examples/layout_md"
= render partial: "playbook/pb_layout/examples/layout_lg"
= render partial: "playbook/pb_layout/examples/layout_xl"

// Dark ------------------
= render partial: "playbook/pb_layout/examples/layout_xs_dark"
= render partial: "playbook/pb_layout/examples/layout_sm_dark"
= render partial: "playbook/pb_layout/examples/layout_md_dark"
= render partial: "playbook/pb_layout/examples/layout_lg_dark"
= render partial: "playbook/pb_layout/examples/layout_xl_dark"
