#snippet-responsive-preview.container-fluid.p-0.bg-sky-lighter
  .row.m-0
    .col-md-12.p-0.text-center
      iframe onload="snippetFrameLoad('snippet#{@page.id}')" id="snippet#{@page.id}" src="#{snippet_path(@page.id)}" class="#{@size}"
