@import "tokens/colors";
@import "tokens/spacing";

.pb_collapsible_kit {
  padding: $space_md;

  .toggle-content {
    display: none;
    height: 0;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    overflow: hidden;
    transition: height 300ms, padding 300ms ease-in-out;
  }

  .toggle-content.is-visible {
    display: block;
    height: auto;
  }
  .icon_wrapper:hover {
      color: $primary_action_dark
  }

  .dark {
    .pb_icon_kit {
      color: $white;
    }
  }
}

.pb_collapsible_main_kit {
  padding: $space_md;
}

.pb_collapsible_content_kit {
  padding: $space_md;
}