.document-page {
  .top {
    @include clearfix;
    background: url(home-background.jpg);
    @include border-top-radius(4px);
    padding: $space-mega $space-jumbo $space-large $space-jumbo;
    h1 {
      padding-top: $space-mega;
      margin-top: $space-mega;
      font-weight: $lighter;
    }
    p {
      width: 45%;
    }
  }
  .bottom {
    padding: $space-jumbo;
  }
}
