#snippet-responsive-preview {
  height: 100vh;

  iframe {
    width: calc(100% - 50px);
    max-width: 100%;
    height: 100vh;
    border: 0;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 50px;

    &.tablet {
      max-width: 1024px;
      height: calc(100vh - 50px);
      position: relative;
      top: 0;
      left: auto;
      margin: 25px 0 20px 50px;
      border: 1px solid $sky;
    }

    &.mobile {
      max-width: 425px;
      height: calc(100vh - 50px);
      position: relative;
      top: 0;
      left: auto;
      margin: 25px 0 20px 50px;
      border: 1px solid $sky;
    }
  }
}
#responsive-controls {
  position: fixed;
  top: 0;
  left: 0;
  border-right: 1px solid $sky;
  width: 50px;
  height: 100vh;
  z-index: 99999;
  background: $white;
  padding: $space-base $space-smaller;
  margin: 0 !important;

  li {
    display: block;
    float: none;
    clear: both;

    &.separator {
      border-bottom: 1px solid $sky;
      width: 100%;
      height: 1px;
      margin: 0 0 $space-small 0;
      padding: 0 0 $space-small 0;
    }

    a {
      text-align: center;
      padding: $space-smallest $space-base;
      font-size: $font-small;
      border-radius: $border-rad-light;
      color: $sky-dark;
      transition: all 0.3s ease;

      &:hover,
      &:active {
        background: $sky-light;
      }
    }

    &.active {
      a {
        color: $power-royal;
      }
    }

    &:hover,
    &:active {
      a {
        background: $sky-light;
      }
    }
  }
}
