<div class="pb--doc-demo-row">
  <div>
    <%= pb_rails("button_toolbar", props: { orientation: "vertical", connected: true }) do %>
      <%= pb_rails("button", props: { text: "Personal Info" }) %>
      <%= pb_rails("button", props: { text: "Relevant Employment Experience" }) %>
      <%= pb_rails("button", props: { text: "Resume Submission" }) %>
    <% end %>
  </div>
</div>