<div class="pb--doc-demo-row">

  <%= pb_rails("selectable_card", props: {
    input_id: "selectable-image-default",
    name: "selectable-image-default",
    value: "selectable-image-default",
    checked: true,
    icon: true
  }) do %>
    <%= pb_rails("image", props: { rounded: true, url: "https://unsplash.it/500/400/?image=634" }) %>
  <% end %>

  <%= pb_rails("selectable_card", props: {
    input_id: "selectable-image-xl",
    name: "selectable-image-xl",
    value: "selectable-image-xl",
    checked: false,
    icon: true
  }) do %>
    <%= pb_rails("image", props: { rounded: true, size: "xl", url: "https://unsplash.it/500/400/?image=634" }) %>
  <% end %>

</div>