<div class="pb--doc-demo-row">

  <%= pb_rails("selectable_card", props: {
    text: "Selected With Options",
    input_id: "selected_with options",
    name: "selected_with options",
    value: "selected_with options",
    checked: true,
    additional_input_options: {
      class: "input-class",
      name: "overwriting-name",
      value: "overwriting-value",
    }
  }) %>

</div>
