<div class="pb--doc-demo-row">

  <%= pb_rails("selectable_card", props: {
    label_for: "male",
    name: "gender",
    value: "male",
    multi: false
  }) do %>
    Male
  <% end %>

  <%= pb_rails("selectable_card", props: {
    label_for: "female",
    name: "gender",
    value: "female",
    multi: false
  }) do %>
    Female
  <% end %>

  <%= pb_rails("selectable_card", props: {
    label_for: "other",
    name: "gender",
    value: "other",
    multi: false
  }) do %>
    Other
  <% end %>
  
</div>