@import "../tokens/border_radius";
@import "../tokens/spacing";
@import "../tokens/colors";
@import "../tokens/shadows";
@import "../tokens/opacity";
@import "../pb_card/card";

@mixin pb_selectable_card {
  $dot-size: 22px;

  input[type="checkbox"],
  input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none;

    &:checked ~ label {
      position: relative;
      @include pb_card_selected;

      .pb_selectable_card_circle {
        opacity: $opacity_10;

      }
    }
  }

  label {
    @include pb_card;
    // display: block;
    padding: $space_sm;
    cursor: pointer;

    &:hover {
      box-shadow: $shadow-default;
      border-color: $slate;
    }

    .pb_selectable_card_circle {
      display: block;
      color: $white;
      font-size: 12px;
      text-align: center;
      height: $dot-size;
      width: $dot-size;
      border-radius: ($dot-size/2);
      border: 2px solid $white;
      background: $royal;
      position: absolute;
      top: -($dot-size/2);
      right: -($dot-size/2);
      opacity: 0;
      padding: 2px;

      transition-property: opacity;
      transition-duration: 0.15s;
      transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    }
  }
}

@mixin pb_selectable_card_dark{
  $dot-size: 22px;

  input[type="checkbox"],
  input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none;

    &:checked ~ label {
      position: relative;
      @include pb_card_dark_selected;

      .pb_selectable_card_circle {
        opacity: $opacity_10;

      }
    }
  }

  label {
    @include pb_card_dark;
    // display: block;
    padding: $space_sm;
    cursor: pointer;

    &:hover {
      box-shadow: $shadow-default;
      border-color: $bg_dark;
    }

    .pb_selectable_card_circle {
      display: block;
      color: $card_dark;
      font-size: 12px;
      text-align: center;
      height: $dot-size;
      width: $dot-size;
      border-radius: ($dot-size/2);
      border: 2px solid $card_dark;
      background: $secondary_action;
      position: absolute;
      top: -($dot-size/2);
      right: -($dot-size/2);
      opacity: 0;
      padding: 2px;

      transition-property: opacity;
      transition-duration: 0.15s;
      transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    }
  }
}

