@import "../tokens/colors";
@import "../tokens/opacity";
@import "../tokens/spacing";


[class*=pb_star_rating_kit] {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;

  path {
    &.suble_star_dark {
      fill: $text_dk_default;
    }
    &.suble_star_light {
      fill: $text_lt_default;
    }
    &.outline_star_dark {
      stroke: $text_dk_lighter;
    }
    &.outline_star_light {
      stroke: $text_lt_lighter;
    }
    &.empty_star_dark {
      fill: $border_dark;
    }
    &.empty_star_light {
      fill: $border_light;
    }
  }

  .pb_star_rating_number_xs {
    max-height: 14px;
  }

  .pb_star_rating_number_sm {
    max-height: 14px;
  }

  .pb_star_rating_number_md {
    max-height: 24px;
  }

  .pb_star_rating_number_lg {
    max-height: 40px;
    height: 29px;
  }

  $star-styles: (
    pb_star_xs: (font-size: $text_small, padding-right: 4px),
    pb_star_sm: (font-size: $text_base, padding-right: 4px),
    pb_star_md: (font-size: 24px, padding-right: 6px),
    pb_star_lg: (font-size: 48px, padding-right: 12px)
  );

  @each $class, $styles in $star-styles {
    .#{$class} {
      @each $property, $value in $styles {
        #{$property}: $value;
      }
    }
  }

  $star-container: (
    pb_star_container_xs: (font-size: 14px ),
    pb_star_container_sm: (font-size: 16px ),
    pb_star_container_md: (font-size: 24px ),
    pb_star_container_lg: (font-size: 48px )
  );

  @each $class, $styles in $star-container {
    .#{$class} {
      @each $property, $value in $styles {
        #{$property}: $value;
      }
    }
  }

  $star-padding: (
    pb_star_padding_xs: (padding-right: 4px),
    pb_star_padding_sm: (padding-right: 4px),
    pb_star_padding_md: (padding-right: 6px),
    pb_star_padding_lg: (padding-right: 12px)
  );

  @each $class, $styles in $star-padding {
    .#{$class} {
      @each $property, $value in $styles {
        #{$property}: $value;
      }
    }
  }
}
