<%= content_tag(:div,
    id: object.id,
    data: object.data,
    class: object.classname) do %>
  <div class="pb_stat_value_wrapper">
    <%= pb_rails "title", props: {
      classname: "pb_stat_value_kit",
      size: 1,
      text: object.value } %>
      &nbsp;
      <%= pb_rails "title", props: {
      classname: "pb_stat_value_kit",
      size: 3,
      text: object.unit } %>
  </div>
<% end %>
