@import "playbook-ui/dist/tokens/typography";
@import "playbook-ui/dist/tokens/shadows";
@import "playbook-ui/dist/tokens/screen_sizes";

.category {
  width: 100%;
  &-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    @media screen and (max-width: $screen-xl-min) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: $screen-md-min) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: $screen-xs-min) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &-card {
    @media screen and (min-width: $screen-xs-min) {
      min-height: 138px;
    }
    .icon {
      display: none;
      color: $primary;
      &.mobile {
        @media screen and (max-width: $screen-xs-min) {
          display: block;
        }
      }
    }
    &-header {
      height: 40px;
    }
    &-description {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      font-size: $text-small;
      @media screen and (max-width: $screen-xs-min) {
        display: none;
      }
    }
    &:hover {
      box-shadow: $shadow_deeper;
      cursor: pointer;
      @media screen and (max-width: $screen-xs-min) {
        box-shadow: none;
      }
      .icon {
        &.desktop {
          @media screen and (min-width: $screen-xs-min) {
            display: block;
          }
        }
      }
    }
  }
}
