<%= pb_rails("progress_stepper", props: {orientation: "vertical"}) do %>
  <%= pb_rails("progress_stepper/progress_item") do %>
    <p></p>
    <p>Item 1</p>
  <% end %>
  <%= pb_rails("progress_stepper/progress_item") do %>
    <p></p>
    <p>Item 1</p>
  <% end %>
<% end %>
