@import "../tokens/transition";
@import "../tokens/colors";

.pb_selectable_icon_kit,
.pb_selectable_icon_kit_checked,
.pb_selectable_icon_kit_enabled,
.pb_selectable_icon_kit_disabled,
.pb_selectable_icon_kit_checked_enabled,
.pb_selectable_icon_kit_checked_disabled {

	text-align: center;
	cursor: pointer;
	transition: all $transition_short ease;

	@media (hover:hover) {
		&:hover * {
			transition: transform $transition_short ease;
			transform: translateY(-2px);
			border-color: $input_background_state;
		}
	}

	* {
		cursor: pointer;
	}

	h4 {
		margin-top: $space_xs !important;
		user-select: none;
		transition: color $transition_short ease;
	}

	label {
		transition: color $transition_short ease;
	}

	input[type="checkbox"],
	input[type="radio"] {
		-webkit-appearance: none;
		-moz-appearance: none;
		display: none;
		appearance: none;
		transition: color $transition_short ease;
		border-color: $input_background_state;

		&:checked ~ label * {
			transition: color $transition_short ease;
			color: $primary;
		}
		
		&:not(:checked) ~ label {
			transition: color $transition_short ease;
			color: $slate;

		}
	}
}

.pb_selectable_icon_kit_disabled,
.pb_selectable_icon_kit_checked_disabled {
	opacity: $opacity_6;
	cursor: not-allowed;
	* {
		cursor: not-allowed;
	}
}

.pb_selectable_icon_kit.dark,
.pb_selectable_icon_kit_checked.dark,
.pb_selectable_icon_kit_enabled.dark,
.pb_selectable_icon_kit_disabled.dark,
.pb_selectable_icon_kit_checked_enabled.dark,
.pb_selectable_icon_kit_checked_disabled.dark {
	input[type="checkbox"],
	input[type="radio"] {
		-webkit-appearance: none;
		-moz-appearance: none;
		display: none;
		appearance: none;
		transition: color $transition_short ease;
		
		&:checked ~ label * {
			transition: color $transition_short ease;
			color: $active_dark !important;
		}
			
		&:not(:checked) ~ label {
			transition: color $transition_short ease;
			color: $text_dk_lighter;

			h4 {
				transition: color $transition_short ease;
				color: $text_dk_default;
			}
		}
	}
}


