<div class="test" style="display:flex;">
  <%= pb_rails("avatar_action_button", props: {
      name: "Danny Devito",
      size: "md",
      onclick: "alert('click!')",
      link_url: "http://www.google.com",
      image_url: "https://upload.wikimedia.org/wikipedia/commons/8/88/Danny_DeVito_cropped_and_edited_for_brightness.jpg",
      icon: "plus-circle",
      placement: "bottom_right"
  }) %>
    <%= pb_rails("avatar_action_button", props: {
      name: "Danny Devito",
      size: "md",
      onclick: "alert('click!')",
      link_url: "http://www.google.com",
      image_url: "https://upload.wikimedia.org/wikipedia/commons/8/88/Danny_DeVito_cropped_and_edited_for_brightness.jpg",
      icon: "plus-circle",
      placement: "bottom_left"
  }) %>
    <%= pb_rails("avatar_action_button", props: {
      name: "Danny Devito",
      size: "md",
      onclick: "alert('click!')",
      link_url: "http://www.google.com",
      image_url: "https://upload.wikimedia.org/wikipedia/commons/8/88/Danny_DeVito_cropped_and_edited_for_brightness.jpg",
      icon: "plus-circle",
      placement: "top_right"
  }) %>
    <%= pb_rails("avatar_action_button", props: {
      name: "Danny Devito",
      size: "md",
      onclick: "alert('click!')",
      link_url: "http://www.google.com",
      image_url: "https://upload.wikimedia.org/wikipedia/commons/8/88/Danny_DeVito_cropped_and_edited_for_brightness.jpg",
      tooltip_text: "Tooltip",
      tooltip_id: "avatar_20",
      icon: "plus-circle",
      placement: "top_left"
  }) %>
</div>