<div class="pb--doc-demo-row">
  
  <%= pb_rails("avatar_action_button", props: {
      dark: true,
      name: "Sophia Carden",
      image_url: "https://randomuser.me/api/portraits/women/8.jpg",
      action: "add",
  }) %>

  <%= pb_rails("avatar_action_button", props: {
      dark: true,
      name: "Sophia Carden",
      image_url: "https://randomuser.me/api/portraits/women/8.jpg",
      action: "remove",
  }) %>

</div>