@import "./button_mixins";
@import "../tokens/colors";
@import "../tokens/border_radius";
@import "../tokens/colors";
@import "../tokens/spacing";
@import "../tokens/typography";

$pb_button_sizes: (
  "sm":   $font_smaller,
  "md":   $font_small,
  "lg":   ($font_large - 2px),
);

// Base button class
.pb_button_kit {
  @include pb_button;
  
  // Size variants
  @each $name, $size in $pb_button_sizes {
    &.pb_button_size_#{$name} {
      font-size: $size;
      padding: $size / 2 $size * 2.42;
      @if $name == "sm" {
        min-height: 0;
      }
    }
  }

  // Variant styles
  &.pb_button_primary {
    @include pb_button_primary;
  }
  
  &.pb_button_secondary {
    @include pb_button_secondary;
  }
  
  &.pb_button_link {
    @include pb_button_link;
  }
  
  &.pb_button_danger {
    @include pb_button_danger;
  }
  
  &.pb_button_reaction {
    background-color: $card_light;
    min-width: 40px;
    border-radius: $border_radius_rounded;
    border: 1px solid $border_light;
    color: $text_lt_light;
    padding: ($space_xxs - 3) $space_xs;
    min-height: $space_md + 4;

    .pb_icon_kit_emoji, .pb_icon_kit {
      font-size: $font_small;
    }
    &:hover {
      background-color: $bg_light;
    }
    &.pb_button_active {
      border-color:transparent;
      box-shadow: 0px 0px 0 2px $primary_action;
      &:hover {
        background-color: rgba($primary, 0.03);
      }
    }
    
    &.pb_button_reaction_default {
      padding: ($space_xxs + 1) ($space_sm - 4);
      color: $text_lt_lighter;
    }
  }

  // Block (full width) style
  &.pb_button_block {
    @include pb_button_block;
    width: 100% !important;
  }

  // Loading state
  &.pb_button_loading {
    @include pb_button_loading(true);
    &.pb_button_size_sm {
        min-height: 30px;
    }
    &.pb_button_size_lg {
        min-height: 45px;
    }
  }

  // Disabled state
  &.pb_button_disabled {
    @include pb_button_disabled;
  }

  // Dark theme variants
  &.dark {
    &.pb_button_primary {
      @include pb_button_primary_dark;
    }
    
    &.pb_button_secondary {
      @include pb_button_secondary_dark;
    }
    
    &.pb_button_link {
      @include pb_button_link_dark;
    }
    
    &.pb_button_disabled {
      @include pb_button_disabled_dark;
    }
  }

  // Icon-only button (icon prop set, no text) - square with equal padding
  // Rails: uses .pb_button_icon_only class
  // React: when pb_button_content is empty (no text). Do not match when content has
  // text + icon (e.g. "Exit Fullscreen" + FA icon) which can include empty spans.
  &.pb_button_icon_only,
  &:has(.pb_button_content:empty) {
    aspect-ratio: 1;
    min-width: auto;
    width: auto;
    height: auto;
    padding: $pb_button_v_padding !important;
    min-height: ($pb_button_v_padding * 2) + $font_small;
    
    &.pb_button_size_sm {
      padding: $font_smaller !important;
      min-height: ($font_smaller * 2) + $font_smaller;
    }
    
    &.pb_button_size_md {
      padding: $font_small !important;
      min-height: ($font_small * 2) + $font_small;
    }
    
    &.pb_button_size_lg {
      padding: ($font_large - 2px) !important;
      min-height: (($font_large - 2px) * 2) + ($font_large - 2px);
    }

    // Remove margins from icons
    .button_with_icon,
    .button_with_icon_right {
      margin-right: 0;
      margin-left: 0;
    }

    // Remove margins from Rails icon wrapper spans
    > span {
      margin-right: 0 !important;
      margin-left: 0 !important;
    }
  }
}
