<%= content_tag(object.tag,
    object.tag == "button" ? object.options : object.link_options) do %>
    <%= pb_rails("icon", props: { icon: "spinner", pulse: true, fixed_width: true, classname: "loading-icon" }) %>
    <span class="pb_button_content"><%= !object.children.nil? ? capture(&object.children) : object.text %></span>
<% end %>
