[class^=pb_range_slider] {

  @mixin track {
    height: 4px;
    -webkit-appearance: none;
    appearance: none;
    margin-top: -1px;
    background-color: $primary_action;
    border-radius: 2px;
  }

  @mixin thumb {
    width: 16px;
    -webkit-appearance: none;
    appearance: none;
    height: 16px;
    cursor: pointer;
    background: #fff;
    box-shadow: make-progress($border_light);
    border: 3px solid $primary_action;
    border-radius: 50%;
    position: relative;
    top: -6px;
    transition: box-shadow 0.2s ease-in-out;
    &:after {
      content: '';
      background: #808080;
      display: block;
      width: 100vw;
      height: 4px;
    }
  }

  @function make-progress($color) {
    $val: 5px 0 0 -6px $color;

    @for $i from 6 through 2000 {
      $val: #{$val}, #{$i}px 0 0 -6px #{$color};
    }

    @return $val;
  }

  input[type="range"] {
    outline: 0;
    border: 0;
    max-width: 100%;
    transition: box-shadow 0.2s ease-in-out;
    display: block;
    width: 100%;



    &::-moz-focus-outer {
      border: 0;
    }

    & {
      overflow: hidden;
      height: 16px;
      -webkit-appearance: none;
      appearance: none
    }

    &::-webkit-slider-runnable-track {
      @include track;
    }

    &::-moz-range-track {
      @include track;
    }

    &::-webkit-slider-thumb {
      @include thumb;
    }

    &::-moz-range-thumb {
      height: 10px;
      width: 10px;
      -webkit-appearance: none;
      appearance: none;
      display: block;
      cursor: pointer;
      background: #fff;
      box-shadow: make-progress($border_light);
      border: 3px solid $primary_action;
      border-radius: 50%;
      position: relative;
      top: -6px;
      transition: box-shadow 0.2s ease-in-out;

    }

    &:active::-webkit-slider-thumb {
      box-shadow: make-progress($border_light), inset 0 0 0 3px $primary_action;
    }

    &:active::-moz-range-thumb {
      box-shadow: make-progress($border_light), inset 0 0 0 3px $primary_action;
    }
  }
}
