<span id='regular-tooltip-5'>I am a white tooltip.</span>

<%= pb_rails("tooltip", props: {
  trigger_element_id: "regular-tooltip-5",
  tooltip_id: "tooltip-5",
  position: 'top'
}) do %>
    Whoa. I'm a white tooltip.
<% end %>