.tooltip-text-truncation {
  display: inline-block !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tooltip-text-truncation.short {
  max-width: 65px;
}

.tooltip-text-truncation.long {
  max-width: 180px;
}
