// @import "base-variables/_spacing.sass";

.avatar {
  &-smaller {
    width: 90px;
    height: 90px;
    object-fit: cover;
    &-thumb {
      width: 30px;
      height: 30px;
      object-fit: cover;
    }
  }
  &-small {
    width: 140px;
    height: 140px;
    object-fit: cover;
    &-thumb {
      width: 60px;
      height: 60px;
      object-fit: cover;
    }
  }
  &-base {
    width: 200px;
    height: 200px;
    object-fit: cover;
    &-thumb {
      width: 90px;
      height: 90px;
      object-fit: cover;
    }
  }
  &-large {
    width: 270px;
    height: 270px;
    object-fit: cover;
    &-thumb {
      width: 115px;
      height: 115px;
      object-fit: cover;
    }
  }
  &-larger {
    width: 420px;
    height: 420px;
    object-fit: cover;
    &-thumb {
      width: 197px;
      height: 197px;
      object-fit: cover;
    }
  }
}