<%= content_tag(:div,
    aria: object.aria,
    class: object.classname,
    data: object.data,
    id: object.id) do %>
    <% object.users.take(object.display_count).each do |user| %>
      <%= pb_rails("avatar", props: user.merge({size: "xs", classname: "pb_multiple_users_item"}) ) %>
    <% end %>

    <% if object.more_than_four %>
      <div class="pb_multiple_users_item multiple_users_badge">
        <%= "+#{object.users.count - object.display_count}" %>
      </div>
    <% end %>
<% end %>
