<%= content_tag(:div,
    id: object.id,
    data: object.data,
    class: object.classname) do %>

    <% if object.more_than_four %>
      <% object.users.take(3).each do |user| %>
        <% user[:size]="xs" %>
        <%= pb_rails("avatar", props: user ) %>
      <% end %>
      <div class="multiple_users_badge">
        +<%= object.users.drop(3).count %>
      </div>
    <% else %>
      <% object.users.each do |user| %>
        <% user[:size]="xs" %>
        <%= pb_rails("avatar", props: user ) %>
      <% end %>
  <% end %>
<% end %>
