@import "../tokens/colors";
@import "../utilities/colors";
@import "../tokens/opacity";
@import "../pb_avatar/avatar";

$multiple-users-overlap: 30%;

[class^=pb_multiple_users_kit] {
  display: inline-flex;
  
  .multiple_users_badge {
    width: map-get($avatar-sizes, "xs");
    height: map-get($avatar-sizes, "xs");
    border-radius: 1000px;
    background: tint($primary, 90%);
    color: $primary;
    font-weight: bold;
    font-size: 12px !important;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid white;
    z-index: 5;
    transform: translateX(#{$multiple-users-overlap});
  }

  .pb_multiple_users_item {
    .avatar_wrapper {
      border: 1px solid white;
    }

    @each $item in [1, 2, 3, 4, 5] {
      &:nth-child(#{$item}) {
        transform: translateX(-#{$multiple-users-overlap * ($item - 1)});
        z-index: #{$item - 1};
      }
    }
  }

  &[class*=_reverse] {
    flex-direction: row-reverse;

    .pb_multiple_users_item {
      @each $item in [1, 2, 3, 4, 5] {
        &:nth-child(#{$item}) {
          transform: translateX(#{$multiple-users-overlap * ($item - 1)});
        }
      }
    }
  }
}
