<%= content_tag(:div,
    id: object.id,
    data: object.data,
    class: object.classname) do %>

    <% userCount = object.more_than_four ? 3 : object.users.count %>

    <% object.users.take(userCount).each do |user| %>
      <%
        user[:size]="xs"
        user[:classname]="pb_multiple_users_item"
      %>
      <%= pb_rails("avatar", props: user ) %>
    <% end %>

    <% if object.more_than_four %>
      <div class="pb_multiple_users_item multiple_users_badge">
        +<%= object.users.drop(userCount).count %>
      </div>
    <% end %>
<% end %>
