@import "../pb_title/title";
@import "../pb_caption/caption";
@import "../tokens/colors";


.pb_date_stacked_kit{
  &._center  {
    & > * .pb_title_kit,
    & > * .pb_caption_kit,
    & > .pb_date_stacked_year_kit {
      text-align: center;
    }
  }
  &._right  {
    & > * .pb_title_kit,
    & > * .pb_caption_kit,
    & > .pb_date_stacked_year {
      text-align: right;
    }
  }
  &._reverse {
    .pb_date_stacked_day_month {
      display: flex;
      flex-direction: column-reverse;
    }
  }
  &._dark {
    & > * .pb_title_kit {
      color: $text_dk_default;
    }
    & > * .pb_caption_kit {
      color: $text_dk_light;
    }
  }
}
