@import "../pb_title/title";
@import "../pb_caption/caption";
@import "../tokens/spacing";
@import "../pb_icon_circle/icon_circle";

.pb_icon_stat_value_kit_horizontal_sm_default,
.pb_icon_stat_value_kit_horizontal_sm_royal,
.pb_icon_stat_value_kit_horizontal_sm_blue,
.pb_icon_stat_value_kit_horizontal_sm_purple,
.pb_icon_stat_value_kit_horizontal_sm_teal,
.pb_icon_stat_value_kit_horizontal_sm_red,
.pb_icon_stat_value_kit_horizontal_sm_yellow,
.pb_icon_stat_value_kit_horizontal_sm_orange,
.pb_icon_stat_value_kit_horizontal_sm_green,
.pb_icon_stat_value_kit_horizontal_sm_lighter,
.pb_icon_stat_value_kit_horizontal_md_default,
.pb_icon_stat_value_kit_horizontal_md_royal,
.pb_icon_stat_value_kit_horizontal_md_blue,
.pb_icon_stat_value_kit_horizontal_md_purple,
.pb_icon_stat_value_kit_horizontal_md_teal,
.pb_icon_stat_value_kit_horizontal_md_red,
.pb_icon_stat_value_kit_horizontal_md_yellow,
.pb_icon_stat_value_kit_horizontal_md_orange,
.pb_icon_stat_value_kit_horizontal_md_green,
.pb_icon_stat_value_kit_horizontal_md_lighter,
.pb_icon_stat_value_kit_horizontal_lg_default,
.pb_icon_stat_value_kit_horizontal_lg_royal,
.pb_icon_stat_value_kit_horizontal_lg_blue,
.pb_icon_stat_value_kit_horizontal_lg_purple,
.pb_icon_stat_value_kit_horizontal_lg_teal,
.pb_icon_stat_value_kit_horizontal_lg_red,
.pb_icon_stat_value_kit_horizontal_lg_yellow,
.pb_icon_stat_value_kit_horizontal_lg_orange,
.pb_icon_stat_value_kit_horizontal_lg_green,
.pb_icon_stat_value_kit_horizontal_lg_lighter,
.pb_icon_stat_value_kit_vertical_sm_default,
.pb_icon_stat_value_kit_vertical_sm_royal,
.pb_icon_stat_value_kit_vertical_sm_blue,
.pb_icon_stat_value_kit_vertical_sm_purple,
.pb_icon_stat_value_kit_vertical_sm_teal,
.pb_icon_stat_value_kit_vertical_sm_red,
.pb_icon_stat_value_kit_vertical_sm_yellow,
.pb_icon_stat_value_kit_vertical_sm_orange,
.pb_icon_stat_value_kit_vertical_sm_green,
.pb_icon_stat_value_kit_vertical_sm_lighter,
.pb_icon_stat_value_kit_vertical_md_default,
.pb_icon_stat_value_kit_vertical_md_royal,
.pb_icon_stat_value_kit_vertical_md_blue,
.pb_icon_stat_value_kit_vertical_md_purple,
.pb_icon_stat_value_kit_vertical_md_teal,
.pb_icon_stat_value_kit_vertical_md_red,
.pb_icon_stat_value_kit_vertical_md_yellow,
.pb_icon_stat_value_kit_vertical_md_orange,
.pb_icon_stat_value_kit_vertical_md_green,
.pb_icon_stat_value_kit_vertical_md_lighter,
.pb_icon_stat_value_kit_vertical_lg_default,
.pb_icon_stat_value_kit_vertical_lg_royal,
.pb_icon_stat_value_kit_vertical_lg_blue,
.pb_icon_stat_value_kit_vertical_lg_purple,
.pb_icon_stat_value_kit_vertical_lg_teal,
.pb_icon_stat_value_kit_vertical_lg_red,
.pb_icon_stat_value_kit_vertical_lg_yellow,
.pb_icon_stat_value_kit_vertical_lg_orange,
.pb_icon_stat_value_kit_vertical_lg_green,
.pb_icon_stat_value_kit_vertical_lg_lighter {
  display: flex;
  align-items: baseline;

  &.pb_icon_stat_value_kit_vertical_sm_default,
  &.pb_icon_stat_value_kit_vertical_sm_royal,
  &.pb_icon_stat_value_kit_vertical_sm_blue,
  &.pb_icon_stat_value_kit_vertical_sm_purple,
  &.pb_icon_stat_value_kit_vertical_sm_teal,
  &.pb_icon_stat_value_kit_vertical_sm_red,
  &.pb_icon_stat_value_kit_vertical_sm_yellow,
  &.pb_icon_stat_value_kit_vertical_sm_orange,
  &.pb_icon_stat_value_kit_vertical_sm_green,
  &.pb_icon_stat_value_kit_vertical_sm_lighter,
  &.pb_icon_stat_value_kit_vertical_md_default,
  &.pb_icon_stat_value_kit_vertical_md_royal,
  &.pb_icon_stat_value_kit_vertical_md_blue,
  &.pb_icon_stat_value_kit_vertical_md_purple,
  &.pb_icon_stat_value_kit_vertical_md_teal,
  &.pb_icon_stat_value_kit_vertical_md_red,
  &.pb_icon_stat_value_kit_vertical_md_yellow,
  &.pb_icon_stat_value_kit_vertical_md_orange,
  &.pb_icon_stat_value_kit_vertical_md_green,
  &.pb_icon_stat_value_kit_vertical_md_lighter,
  &.pb_icon_stat_value_kit_vertical_lg_default,
  &.pb_icon_stat_value_kit_vertical_lg_royal,
  &.pb_icon_stat_value_kit_vertical_lg_blue,
  &.pb_icon_stat_value_kit_vertical_lg_purple,
  &.pb_icon_stat_value_kit_vertical_lg_teal,
  &.pb_icon_stat_value_kit_vertical_lg_red,
  &.pb_icon_stat_value_kit_vertical_lg_yellow,
  &.pb_icon_stat_value_kit_vertical_lg_orange,
  &.pb_icon_stat_value_kit_vertical_lg_green,
  &.pb_icon_stat_value_kit_vertical_lg_lighter {
    flex-direction: column;

    &.text_align_center {
      align-items: center;

      .pb_title_kit,
      .pb_body_kit,
      .pb_caption_kit_md {
        text-align: center;
      }
    }

    &.text_align_right {
      align-items: flex-end;

      .pb_title_kit,
      .pb_body_kit,
      .pb_caption_kit_md {
        text-align: right;
      }
    }
  }

  &.pb_icon_stat_value_kit_horizontal_sm_default,
  &.pb_icon_stat_value_kit_horizontal_sm_royal,
  &.pb_icon_stat_value_kit_horizontal_sm_blue,
  &.pb_icon_stat_value_kit_horizontal_sm_purple,
  &.pb_icon_stat_value_kit_horizontal_sm_teal,
  &.pb_icon_stat_value_kit_horizontal_sm_red,
  &.pb_icon_stat_value_kit_horizontal_sm_yellow,
  &.pb_icon_stat_value_kit_horizontal_sm_orange,
  &.pb_icon_stat_value_kit_horizontal_sm_green,
  &.pb_icon_stat_value_kit_horizontal_sm_lighter,
  &.pb_icon_stat_value_kit_horizontal_md_default,
  &.pb_icon_stat_value_kit_horizontal_md_royal,
  &.pb_icon_stat_value_kit_horizontal_md_blue,
  &.pb_icon_stat_value_kit_horizontal_md_purple,
  &.pb_icon_stat_value_kit_horizontal_md_teal,
  &.pb_icon_stat_value_kit_horizontal_md_red,
  &.pb_icon_stat_value_kit_horizontal_md_yellow,
  &.pb_icon_stat_value_kit_horizontal_md_orange,
  &.pb_icon_stat_value_kit_horizontal_md_green,
  &.pb_icon_stat_value_kit_horizontal_md_lighter,
  &.pb_icon_stat_value_kit_horizontal_lg_default,
  &.pb_icon_stat_value_kit_horizontal_lg_royal,
  &.pb_icon_stat_value_kit_horizontal_lg_blue,
  &.pb_icon_stat_value_kit_horizontal_lg_purple,
  &.pb_icon_stat_value_kit_horizontal_lg_teal,
  &.pb_icon_stat_value_kit_horizontal_lg_red,
  &.pb_icon_stat_value_kit_horizontal_lg_yellow,
  &.pb_icon_stat_value_kit_horizontal_lg_orange,
  &.pb_icon_stat_value_kit_horizontal_lg_green,
  &.pb_icon_stat_value_kit_horizontal_lg_lighter {
    align-items: center;

    &.text_align_center {
      justify-content: center;
    }

    &.text_align_right {
      justify-content: flex-end;
    }
  }
}