@import "../pb_title/title";
@import "../pb_caption/caption";
@import "../tokens/spacing";
@import "../pb_icon_circle/icon_circle";

.pb_icon_stat_value_kit_horizontal,
.pb_icon_stat_value_kit_vertical
 {
  display: flex;
  align-items: baseline;

  &.pb_icon_stat_value_kit_vertical {
    flex-direction: column;

    &.text_align_center {
      align-items: center;

      .pb_title_kit,
      .pb_body_kit,
      .pb_caption_kit_md {
        text-align: center;
      }
    }

    &.text_align_right {
      align-items: flex-end;

      .pb_title_kit,
      .pb_body_kit,
      .pb_caption_kit_md {
        text-align: right;
      }
    }
  }

  &.pb_icon_stat_value_kit_horizontal {
    align-items: center;

    &.text_align_center {
      justify-content: center;
    }

    &.text_align_right {
      justify-content: flex-end;
    }
  }
}