[class^=pb_flex_item_kit] {
  &[class*=_fixed_size] {
    flex-grow: 0;
    flex-shrink: 0;
  }

  &[class*=_grow] {
    flex-grow: 1;
  }

  &[class*=_shrink] {
    flex-shrink: 1;
  }

  &[class*=display_flex] {
    display: flex;
  }

  // Display Flex - React
  &[class*=displayFlex] {
    display: flex;
  }

  // Alignment: Align Self - Rails
  &[class*=align_self_start] {
    align-self: flex-start;
  }
  
  &[class*=align_self_end] {
    align-self: flex-end;
  }
  
  &[class*=align_self_center] {
    align-self: center;
  }
  
  &[class*=align_self_stretch] {
    align-self: stretch;
  }

  // Alignment: Align Self - React
  &[class*=alignSelf_start] {
    align-self: flex-start;
  }
  
  &[class*=alignSelf_end] {
    align-self: flex-end;
  }
  
  &[class*=alignSelf_center] {
    align-self: center;
  }
  
  &[class*=alignSelf_stretch] {
    align-self: stretch;
  }

  //Order Items
  @for $i from 0 through 12 {
    &[class*=order_#{$i}]{
      order: $i;
    }
  }
  &[class*=order_first]{
    order: -1;
  }

  $overflow_values: auto, hidden, inherit, initial, scroll, visible;

  @each $value in $overflow_values {
    &.overflow_#{$value} {
      overflow: #{$value}
    }
  }

  @for $i from 0 through 12 {
    &[class*=_flex_#{$i}]{
      flex: $i;
    }
  }
}
