.pb_flex_item_kit {
  &._fixed_size {
    flex-grow: 0;
    flex-shrink: 0;
  }

  &._grow {
    flex-grow: 1;
  }

  &._shrink {
    flex-shrink: 1;
  }

  // Display Flex - Rails & React
  &.display_flex {
    display: flex;
  }

  // Alignment: Align Self - Rails & React
  &.align_self_start {
    align-self: flex-start;
  }
  
  &.align_self_end {
    align-self: flex-end;
  }
  
  &.align_self_center {
    align-self: center;
  }
  
  &.align_self_stretch {
    align-self: stretch;
  }

  //Order Items
  @for $i from 0 through 12 {
    &[class*=order_#{$i}]{
      order: $i;
    }
  }
  &.order_first{
    order: -1;
  }

  @for $i from 0 through 12 {
    &[class*=_flex_#{$i}]{
      flex: $i;
    }
  }
}
