@import "../tokens/colors";
@import "../tokens/typography";
@import "../tokens/line_height";

.body {

  $selectors: (
    "&",
    "&_light",
    "&_lighter",
    "&_dark",
    "&_light_dark",
    "&_lighter_dark",
  );

  @each $selector in $selectors {
    #{$selector} {
      margin: 0;
      line-height: $lh_tight;
      @if $selector == "&_dark" {
        color: $text_dk_default;
      } @else if $selector == "&_light" {
        color: $text_lt_light;
      } @else if $selector == "&_lighter" {
        color: $text_lt_lighter;
      } @else if $selector == "&_light_dark" {
        color: $text_dk_light;
      } @else if $selector == "&_lighter_dark" {
        color: $text_dk_lighter;
      } @else {
        color: $text_lt_default;
      }

    }
  }

}
