// Border Radius

$border_rad_lightest:     1px
$border_rad_lighter:      2px
$border_rad_light:        4px
$border_rad_normal:       0
$border_rad_heavy:        5px
$border_rad_heavier:      6px
$border_rad_heaviest:     7px
$border_rad_mega:         1000px


// Bootstrap
$border_radius_base:      $border_rad_light
$border_radius_large:     $border_rad_heavy
$border_radius_small:     $border_rad_lighter
$border_radius:           $border_rad_light
$border_radius_lg:        $border_rad_heavy
$border_radius_sm:        $border_rad_lighter


$panel_border_radius:     $border_rad_light



// Change to borders
$border_color: $sky
