$lh_tightest: 1;
$lh_tighter:  1.2;
$lh_tight:    1.4;
$lh_normal:   1.5;
$lh_loose:    1.6;
$lh_looser:   1.8;
$lh_loosest:  2;
$line_height: (
  tightest: $lh_tightest,
  tighter: $lh_tighter,
  tight: $lh_tight,
  normal: $lh_normal,
  loose: $lh_loose,
  looser: $lh_looser,
  loosest: $lh_loosest
);
