$breakpoints: (
  xs: 575px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);


@function breakpoint($breakpoint_name) {
  @return map-get($breakpoints, $breakpoint_name);
}


@mixin break_at($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}
