.landing-page {
  .text-blob {
    height: 400px;
  }
  .hero {
    // background-color: $bg_dark;
    background-color: #0a0527;
    .pb_title_kit_2, .pb_body_kit {
      color: white;
    }
    // padding: $space_xl;
    padding: 40px;
  }
  .content{
    // background-color: $white;
    background-color: #FFFFFF;
    // padding: $space_xl;
    padding: 40px;
  }
  .code-snippets {
    // background-color: $bg_dark;
    background-color: #0a0527;
  }
}