@import "../../tokens/colors";
@import "../../tokens/spacing";

.landing-page {
  .text-blob {
    height: 400px;
  }
  .hero {
    background-color: $bg_dark;
    .pb_title_kit_2, .pb_body_kit {
      color: $white;
    }
    padding: $space_xl;
  }
  .content{
    background-color: $white;
    padding: $space_xl;
  }
  .code-snippets {
    background-color: $bg_dark;
  }
}