.sample-layout {
  overflow-y: hidden;
  .sample {
    padding-left: 50px;
    border-bottom: 0px;
  }
  .code-controls {
    .pb_nav_list_item_text {
      color: white !important;
    }
    .pb_nav_list_kit_item {
      .pb_nav_list_item_link {
        border-color: transparent !important;
      }
    }
  }
  
  .sample-nav {
    padding: 0 25px;
    background: #172257;
    display: flex;
    width: 100%;
    flex-basis: 200px;

  }
  
  .sample-actions {
    display: flex;
    align-items: center;
    justify-content: center;

    &-right {
      margin-left: auto;
      order: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      .items {
        padding: 5px;
      }
    }
  }
  .pb--doc {
    margin-bottom: 0px;
  }
  .pb--codeCopy {
    border: 0px;
    position: fixed;
    width: 100%;
    height: calc(50vh - 45px);
    bottom: 0;
    left: 0;
    transition: all .4s;
  }

  .pb--codeCopy.close {
    top: 100%;
    height: 0px;
    transition: all .4s;
  }
  .compress {
    position: absolute;
    top: 15px;
    right: 30px;
    display: none;
    z-index: 4;
  }
  .hiddenCodeforCopy {
    display: none;
  }
}