@import "../tokens/colors";
@import "../tokens/typography";
@import "../tokens/line_height";

@mixin heading-1 {
  font-size: $heading-1;
  letter-spacing: $lspace-tight;
  font-weight: $lighter;
  color: $ink;
  margin: 0;
  line-height: $lh-tighter;
}

@mixin heading-1-dark {
  @include heading-1;
  color: $white;
}

@mixin heading-2 {
  font-size: $heading-2;
  font-weight: $lighter;
  color: $ink;
  margin: 0;
  line-height: 0.96;
}

@mixin heading-2-dark {
  @include heading-2;
  color: $white;
}

@mixin heading-3 {
  font-size: $heading-3;
  font-weight: $lighter;
  color: $ink;
  margin: 0;
  line-height: $lh-tighter;
}

@mixin heading-3-dark {
  @include heading-3;
  color: $white;
}


@mixin heading-4 {
  font-size: $heading-4;
  font-weight: $bolder;
  color: $ink;
  margin: 0;
  line-height: $lh-tighter;
}

@mixin heading-4-dark {
  @include heading-4;
  color: $white;
}
