.pb_date_time {
  .pb_date_kit > div:last-child {
    margin-right: 0 !important;
  }
  &._center {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  &._right  {
    display: flex;
    justify-content: flex-end;
    text-align: right;
  }
  &.dark {
    .pb_title_kit {
        color: $text_dk_default !important;
    }
    & * {
      @include caption_dark;
    }
    .pb_time {
      color: $text_dk_default;
    }
  }
}
