.pb_date_time,
.pb_date_time_sm,
.pb_date_time_md {
  .pb_date_kit > div:last-child {
    margin-right: 0 !important;
  }

  &.dark {
    .pb_title_kit {
        color: $text_dk_default !important;
    }
    & * {
      @include caption_dark;
    }
    .pb_time {
      color: $text_dk_default;
    }
  }
}