@import "../tokens/colors";
@import "../pb_body/body";

@mixin pb_button($color: $primary) {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: $color;
}

@mixin indicator-colors($colors-list) {
  @each $name, $color in $colors-list {
    &[class*=#{$name}] {
      .pb_legend_indicator_circle {
        @include pb_button($color);
      }
    }
  }
}

.pb_legend_kit {
  @include indicator-colors($data_colors);
  @include indicator-colors($status_colors);
  @include indicator-colors($product_colors);
  @include indicator-colors($category_colors);

  .pb_legend_indicator_circle_custom {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  }
}
