= pb_react("body", props: { tag:"p",
      text: "This is my body paragraph" }, docs: true)

= pb_react("body", props: { tag:"p",
      text: "This is my body paragraph",
      color: "light" }, docs: true)

= pb_react("body", props: { tag:"p",
      text: "This is my body paragraph",
      color: "lighter" }, docs: true)

= pb_react("body", props: { tag:"p",
      text: "This is my body paragraph",
      dark: true}, docs: true)

= pb_react("body", props: { tag:"p",
      text: "This is my body paragraph",
      dark: true,
      color: "light" }, docs: true)

= pb_react("body", props: { tag:"p",
      text: "This is my body paragraph",
      dark: true,
      color: "lighter" }, docs: true)
