<%= pb_content_tag(:div) do %>
  <div class="tooltip_tooltip" id="<%= object.tooltip_id %>" role="tooltip">
    <%= content.presence %>
    <div class="arrow" id="<%= object.tooltip_id %>-arrow"></div>
  </div>
<% end %>
