.veteran {
    .veteran-st0{fill:#004876;}
	.veteran-st1{fill:#FFFFFF;}
	.veteran-st2{fill:#BB2432;}
}

.million-dollar {
    .st0{fill:url(#SVGID_1_);}
	.st1{fill:url(#SVGID_2_);}
	.st2{fill:url(#SVGID_3_);}
	.st3{fill:url(#SVGID_4_);}
	.st4{fill:url(#SVGID_5_);}
	.st5{fill:url(#SVGID_6_);}
}