[class^=pb_date_time] {
  &[class*=_center] {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  &[class*=_right]  {
    display: flex;
    justify-content: flex-end;
    text-align: right;
  }
}