@import "../tokens/colors";
@import "../tokens/opacity";
@import "../tokens/colors";

$pb_progress_simple_height: 4px;

.pb_progress_simple_wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &._center {
    justify-content: center;
  }

  &._right {
    justify-content: flex-end;
  }
}

.pb_progress_simple_kit {
  width: 100%;
  height: $pb_progress_simple_height;
  border-radius: $pb_progress_simple_height/2;
  background: rgba($primary, $opacity-1);
    &._positive {
      .progress_simple_value {
        background: $success;
      }
    }
    &._negative {
      .progress_simple_value {
        background: $error;
      }
    }
    &._warning {
      .progress_simple_value {
        background: $warning;
      }
    }

  .progress_simple_value {
    width: 0%;
    height: 100%;
    border-radius: $pb_progress_simple_height/2;
    background: $primary;
  }

  &._muted {
    background: rgba($slate, $opacity-2);

    .progress_simple_value {
      background: $slate;
    }
  }

  &._right {
    display: flex;
    align-self: flex-end;
  }
}
