@import "../pb_textarea/textarea_mixin";
@import "../pb_title/title_mixin";
@import "../tokens/colors";


[class^=pb_text_input_kit] {
  .pb_text_input_kit_label {
    margin-bottom: $space_xs;
    display: block;
  }

  .text_input_wrapper {
    margin-bottom: $space_sm;
    display: block;

    input::placeholder,
    .text_input .placeholder {
      @include pb_body_light;
    }

    input,
    .text_input {
      @include pb_textarea_light;
      @include pb_title_4;
      overflow: hidden;
    }

    input:focus,
    .text_input:focus,
    input:-webkit-autofill:focus,
    .text_input:-webkit-autofill:focus {
      @include pb_textarea_focus;
      -webkit-box-shadow: 0 0 0px 1000px $focus_input_light inset;
      transition: background-color 5000s ease-in-out 0s;
    }
  }

  &.dark {
    .text_input_wrapper {
      margin-bottom: 1rem;

      input::placeholder,
      .text_input .placeholder {
        @include pb_body_light_dark;
      }

      input, .text_input {
        @include pb_textarea_dark;
        @include pb_title_4;
        @include pb_title_dark;
        overflow: hidden;
      }

      input:focus,
      .text_input:focus,
      input:-webkit-autofill:focus,
      .text_input:-webkit-autofill:focus {
        @include pb_textarea_focus_dark;
        -webkit-box-shadow: 0 0 0px 1000px $focus_input_dark inset;
        transition: background-color 5000s ease-in-out 0s;
      }
    }

    &.error {
      .text_input_wrapper {
        input, .text_input {
          border-color: $error_dark;
        }
      }
    }
  }

  &.error {
    .text_input_wrapper {
      [class*=pb_body_kit] {
        margin-top: $space_xs / 2;
      }
      input, .text_input {
        border-color: $error;
      }
    }
  }
}
