@import "../pb_textarea/textarea_mixin";
@import "../pb_body/body_mixins";

[class^=pb_text_input_kit] {
  .pb_text_input_kit_label {
    margin-bottom: $space_xs;
    display: block;
  }

  .text_input_wrapper {
    margin-bottom: $space_sm;
    display: block;

    input::placeholder {
      @include pb_body_light;
    }

    > input:first-child {
      @include pb_textarea_light;
      overflow: hidden;
    }

    input:focus {
      @include pb_textarea_focus;
    }
  }

  &[class*=_dark] {
    .text_input_wrapper {
      margin-bottom: 1rem;

      input::placeholder {
        @include pb_body_light_dark;
      }

      > input:first-child {
        @include pb_textarea_dark;
        overflow: hidden;
      }

      input:focus {
        @include pb_textarea_focus_dark;
      }
    }
  }
}
