[class^=pb_date_time_stacked] {

  [class^=padding_month] {
    padding-bottom: 10px !important;
  }

  [class^=padding_day] {
    padding-bottom: 10px !important;
  }

}
.date-time-padding {
  padding-right: 3px;
  padding-left: 3px;
}