.pb_date_time_stacked {

  .padding_month {
    padding-bottom: $space_xs + 2px !important;
    }

  .padding_day {
    padding-bottom: $space_xs + 2px !important;
  }

  &._dark {
    & > * .pb_title_kit {
      color: $text_dk_default;
    }
    & > * .pb_caption_kit {
      color: $text_dk_light;
    }
  }

}
.date-time-padding {
  padding-right: $space_xs / 2;
  padding-left: $space_xs / 2;
}

