[class^=pb_date_time_stacked] {

  [class^=padding_month] {
    padding-bottom: calc($space_xs + 2px) !important;
    }

  [class^=padding_day] {
    padding-bottom: calc($space_xs + 2px) !important;
  }

  &[class*=_dark] {
    & > * [class^=pb_title_kit] {
      color: $text_dk_default;
    }
    & > * [class^=pb_caption_kit] {
      color: $text_dk_light;
    }
  }

}
.date-time-padding {
  padding-right: calc($space_xs / 2);
  padding-left: calc($space_xs / 2);
}

