@import "dashboard_value_mixins";
@import "../pb_stat_value/stat_value";
@import "../pb_stat_change/stat_change";
@import "../pb_body/body";

.pb_dashboard_value_kit,
.pb_dashboard_value_kit_left,
.pb_dashboard_value_kit_center,
.pb_dashboard_value_kit_right {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.pb_dashboard_value_kit_center {
  align-items: center;
}

.pb_dashboard_value_kit_right {
  align-items: flex-end;
}
