@import "dashboard_value_mixins";
@import "../pb_stat_value/stat_value";
@import "../pb_stat_change/stat_change";
@import "../pb_body/body";

.pb_dashboard_value_kit{
  @each $align_name, $align_value in $pb_dashboard_value_align {
    &[class*=_#{$align_name}]  {
      @include pb_dashboard_value($align_value);
    }
  }
}
