<div>
  <%= pb_rails("fixed_confirmation_toast", props: {
    text: "Error Message",
    status: "error",
    closeable: true
  })%>
</div>
<div>
  <%= pb_rails("fixed_confirmation_toast", props: {
    text: "Items Successfully Moved",
    status: "success"
  })%>
</div>
<div>
  <%= pb_rails("fixed_confirmation_toast", props: {
    text: "Scan to Assign Selected Items",
    status: "neutral"
  })%>
</div>
<div>
  <%= pb_rails("fixed_confirmation_toast", props: {
    text: "Primary Blue example",
    status: "tip"
  })%>
</div>
