<div>
  <%= pb_rails("fixed_confirmation_toast", props: {
    icon: "wrench",
    text: "Fix before proceeding",
    status: "error",
    closeable: true
  })%>
</div>
<div>
  <%= pb_rails("fixed_confirmation_toast", props: {
    icon: "star",
    text: "Thank you for completing the form!",
    status: "success"
  })%>
</div>
<div>
  <%= pb_rails("fixed_confirmation_toast", props: {
    icon: "file-pdf",
    text: "Saved as PDF",
    status: "neutral"
  })%>
</div>
<div>
  <%= pb_rails("fixed_confirmation_toast", props: {
    icon: "arrow-down",
    text: "New Messages",
    status: "tip"
  })%>
</div>
