@import "../tokens/positioning";
@import "../tokens/colors";
@import "../pb_card/card_mixin";
@import "../tokens/shadows";

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.pb_popover_tooltip {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  &.hide {
    animation-name: fadeOut;
    animation-duration: 150ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
  &.show {
    animation-name: fadeIn;
    animation-duration: 150ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    visibility: visible;
    pointer-events: initial;
    z-index: $z_9;
  }
}
.pb_popover_body {
  @include pb_card;
  background-color: $white;
  border: 0;
  box-shadow: $shadow_deeper;
}
.overflow_handling {
  overflow: auto;
}


.pb_popover_reference_wrapper {
  display: inline-block;
}

// Temporary code to replicate bug - DO NOT MERGE
@media (max-width: 619px) {
  :root {
    --is-pwa: 1;
  }
}
@media (min-width: 620px) {
  :root {
    --is-pwa: 0;
  }
}