@import "../tokens/colors";
@import "../tokens/transition";
@import "../tokens/positioning";
$transition: $transition_cubic;

[class^=pb_checkbox_kit] {
  cursor: pointer;
  display: inline-flex;
  vertical-align: middle;
  .pb_checkbox_label {
    cursor: pointer;
    font-size: $text_lt_default;
    padding-left: $space_xs;
    user-select: none;
  }

  .pb_checkbox_checkmark,
  .pb_checkbox_indeterminate {
    align-items: center;
    border: solid $border_light 2px;
    border-radius: $border_rad_light;
    height: 22px;
    position: relative;
    transition: background $transition_default ease, box-shadow $transition_default ease;
    width: 22px;
    .check_icon,
    .indeterminate_icon {
      color: $white;
      height: 16px;
      left: 1px;
      position: relative;
      display: flex;
      opacity: 0;
      width: 16px;
      &.hidden {
        display: none;
      }
    }
  }

  @media (hover:hover) {
    &:hover input ~ .pb_checkbox_checkmark {
      background-color: $bg_light;
    }
  }

  input {
    cursor: pointer;
    display: flex;
    height: 0;
    opacity: 0;
    position: relative;
    width: 0;
    left: $offscreen;

    &:focus ~ .pb_checkbox_checkmark {
        box-shadow: 0px 0px 0px 2px $white, 0px 0px 0px 4px $primary;
    }
    &:checked ~ .pb_checkbox_checkmark,
    & ~ .pb_checkbox_indeterminate {
      background-color: $primary_action;
      border-color: $primary_action;

      &:hover {
        background-color: $primary_action;
        border-color: $primary_action;
      }


      &:disabled 
      // ~ .pb_checkbox_checkmark,
      // & ~ .pb_checkbox_indeterminate 
      {
        cursor: not-allowed;
        // border: 2px solid $border-light;
        border: 2px solid red;
        background-color: $neutral; 
        & ~ .pb_checkbox_label{
          color: $text_lt_light;
        }
      }
    }
    &:checked ~ .pb_checkbox_checkmark,
    & ~ .pb_checkbox_indeterminate {
      display: inline-block;
      .check_icon,
      .indeterminate_icon {
        opacity: $opacity_10;
      }
    }
    &:disabled ~ .pb_checkbox_checkmark,
    & ~ .pb_checkbox_indeterminate {
      cursor: not-allowed;
      border: 2px solid $border-light;
      // border: 2px solid red;
      background-color: #f4f4f6; 
      & ~ .pb_checkbox_label {
        color: $text_lt_light;
        // color: red;
      }
      & ~ .pb_checkbox_label .pb_body_kit {
        color: $text_lt_light;
        // color: blue;
      }
    }
  }

  &.dark {
    input {
      &:focus ~ .pb_checkbox_checkmark {
        box-shadow: 0px 0px 0px 2px $bg_dark_card, 0px 0px 0px 4px $primary;      
      }
    }
    
    @media (hover:hover) {
      &:hover .pb_checkbox_checkmark {
        background-color: rgba($white,.05);
      }
    }

    &.pb_checkbox_kit_error {
      > .pb_checkbox_checkmark {
        border-color: $error_dark;
       }

       input {
        &:checked ~ .pb_checkbox_checkmark,
        & ~ .pb_checkbox_indeterminate {
          border-color: $primary;
          &:hover {
            border-color: $primary;
          }
        }
      }
    }
  }

  &.pb_checkbox_kit_error {
    > .pb_checkbox_checkmark {
      border-color: $error;
    }
  }
}
