@import "../tokens/colors";

.pb_item_kit {
  &:hover {
    background-color: $silver;
  }

}

[class^=pb_item_kit] {
  &:checked {
    background-color: blue;
  }
}

.checked {
  background-color: $slate !important;
}