@import "../tokens/spacing";
@import "../tokens/colors";
@import "../tokens/opacity";
@import "../pb_avatar/avatar";


$pb_form_pill_height: 37px;

[class^=pb_form_pill_kit] {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 $space-sm/3;
  height: $pb_form_pill_height;
  border-radius: $pb_form_pill_height/2;

  @each $color_name, $color_value in $status_color_text {
    &[class*=_#{$color_name}]  {
      background: rgba($color_value, $opacity-1);

      .pb_form_pill_text {
        color: $color_value !important;
        padding-left: $space-sm;
        padding-right: $space-sm/4;

      }
      .pb_form_pill_tag {
        color: $color_value !important;
        padding-left: $space-sm/2;
        padding-right: $space-sm/4;

      }
    }
  }
}
