[class^=pb_time_range_inline_kit] {
  .align-right {
    display: block;
    margin-left: auto;
    margin-right: 0;
    width: intrinsic;
  }
  .align-center {
    display: block;
    margin: auto;
    width: intrinsic;
  }
  .align-left {
    display: block;
    width: intrinsic;
  }
  .dash {
    margin-left: 4px;
    margin-right: 4px;
  }
  .space-left {
    margin-left: 4px;
  }
  .space-right {
    margin-right: 4px;
  }
}