@import "../tokens/colors";
@import "../tokens/typography";
@import "../tokens/border_radius";
@import "../tokens/shadows";

.pb_pagination {
  display: inline-block;
  border-radius: $border_rad_light;
  border: $border_rad_lightest solid $border_light;
  background-color: $white;
  transition: background $transition_default ease, color $transition_default ease;
  padding: $space_xxs 0px;
  li {
    display: inline;  
    > a, li > span {
    padding: 7px 13px 6px 13px;
    text-decoration: none;
  }}
  li:first-child > a, li:first-child > span  {
    padding: 7px 13px 6px 13px;
    border-right: $border_rad_lightest solid $border_light;
    z-index: 2;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  li:last-child > a, li:last-child > span {
    padding: 7px 13px 6px 13px;
    border-left: $border_rad_lightest solid $border_light;
    z-index: 2;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  a {
    color: $text_lt_default;
    font-size: $text_small;
    font-weight: $regular;
    border: none;
    transition: all $transition_default ease-out;

    &:hover {
      background-color: $active_light;
      color: $primary;
      border-radius: $border_rad_light;
    }

    &:focus-visible {
      outline: 1px solid $primary;
      border-color: transparent !important;
      border-radius: $border_rad_light !important;
      transition: none
    }
  }
  .active > span {
    background-color: $primary;
    border-radius: $border_rad_light;
    color: #fff;
    padding: 7px 13px 6px 13px;
    border: 0;
    text-decoration: none;
    font-weight: $bold;
    font-size: $text_small;
  }
  .disabled > span {
    padding: 7px 10px;
    font-size: $text_small;
  }
}