@import "tokens/colors";
@import "tokens/typography";
@import "tokens/border_radius";
@import "tokens/shadows";

.pb_pagination {
  li > a, li > span {
    border: 0 !important;
    margin-top: 1px;
    margin-bottom: 1px;
  }
  li:first-child > a, li:first-child > span  {
    border-right: 1px solid $border_light !important;
    z-index: 2;
  }
  li:last-child > a, li:last-child > span {
    border-left: 1px solid $border_light !important;
    z-index: 2;
  }
    border: 1px solid $border_light;
    background-color: $white;
  a {
    color: $text_lt_default !important;
    font-size: $text_small;
    font-weight: $bold;
    border: none;
    margin-left: 1px;
    margin-right: 1px;

    &:hover {
      background-color: $active_light;
      color: $primary !important;
      border-radius: $border_rad_light;
    }

    &:focus {
      outline: 1px solid $primary !important;
      border-radius: $border_rad_light;
      outline-offset: -1px;
    }
  }
  .active > span {
    background-color: $primary !important;
    border-radius: $border_rad_light;
    margin-left: 1px;
    margin-right: 1px;

    &:hover {
      box-shadow: $shadow_deeper;
    }
  }
}
