@import "../tokens/colors";
@import "../tokens/typography";
@import "../tokens/border_radius";
@import "../tokens/shadows";


$pagination_padding: 7px 13px 6px 13px;
$top_bottom_radius: 0px;

@mixin hover-state {
  background-color: $active_light !important;
  color: $primary;
  border-radius: $border_rad_light;
}

.pb_pagination {
  display: inline-block;
  border-radius: $border_rad_light;
  border: $border_rad_lightest solid $border_light;
  background-color: $white;
  padding: $space_xs 0px !important;
  li, .pagination-number {
    display: inline;
    > a, li > span, .pagination-number {
    padding: $pagination_padding;
    text-decoration: none;
  }}
  li:first-child > a, li:first-child > span, .pagination-number, .pagination-left {   
    background-color: $white;
    padding: $pagination_padding;
    border-right: $border_rad_lightest solid $border_light;
    z-index: 2;
    border-top-right-radius: $top_bottom_radius;
    border-bottom-right-radius: $top_bottom_radius;
    cursor: pointer;
    transition: background-color $transition_default ease-out, color $transition_default ease-out;
  }
  li:last-child > a, li:last-child > span, .pagination-number, .pagination-right {
    padding: $pagination_padding;
    border-left: $border_rad_lightest solid $border_light;
    z-index: 2;
    border-top-left-radius: $top_bottom_radius;
    border-bottom-left-radius: $top_bottom_radius;
    transition: background-color $transition_default ease-out, color $transition_default ease-out;
  }
  a, .pagination-number {
    color: $text_lt_default;
    font-size: $text_small;
    font-weight: $regular;
    border: none;
    transition: background-color $transition_default ease-out, color $transition_default ease-out, border-color $transition_default ease-out;

    &:hover {
      @include hover-state;
    }

    &:focus-visible {
      outline: 1px solid $primary;
      border-color: transparent !important;
      border-radius: $border_rad_light !important;
      transition: none;
    }
  }
  .active > span, .pagination-number.active {
    background-color: $primary !important;
    border-radius: $border_rad_light;
    color: #fff;
    padding: $pagination_padding;
    border: 0;
    text-decoration: none;
    font-weight: $bold;
    font-size: $text_small;
  }
  .disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;        
    color: #B0BDC7; // replace with $text_disabled once added to tokens

    & > span {
      padding: $pagination_padding;
      font-size: $text_small;
    }
  }

  .pagination-right, 
  .pagination-left {
    background-color: $white;
    border-top: none;
    border-bottom: none;
    cursor: pointer;
    padding: 7px 11px 6px;
    font-size: $text_small;
    
    &:hover {
      @include hover-state;
    }
  }
  .pagination-left {
    border-left: none;
    margin-right: $space_xxs;
  }

  .pagination-right {
    border-right: none;
    margin-left: $space_xxs;
  }
}

.pb_pagination_mobile {
 padding: $space_xxs 0px !important;
 position: relative;
 
 .pagination-right {
  border-left: none !important;
  padding: 6px 13px !important;
  flex-shrink: 0;

  @media (max-width: 435px) {
    padding: 6px 10px !important;
  }
 }
 .pagination-left {
  border-right: none !important;
  padding: 6px 13px !important;
  flex-shrink: 0;

  @media (max-width: 435px) {
    padding: 6px 10px !important;
  }
 }
  .pagination-dropdown {
    position: static;
    flex: 1;
    margin: 0 $space_xxs;
    min-width: 0;
    overflow: hidden;
  }

  .pagination-dropdown-trigger {
    padding: 6px 10px 6px 13px !important;
    background-color: $bg_light;
    border-radius: $border_rad_light;
    cursor: pointer;
    transition: all 0.2s ease;
    white-space: nowrap;
    overflow: hidden;

    &:hover {
      background-color: $active_light;
    }

    @media (max-width: 435px) {
      padding: 6px 8px 6px 10px !important;
    }
  }

  .pagination-dropdown-menu {
    position: absolute;
    left: 0;
    right: 0;
    background-color: $white;
    border: $border_rad_lightest solid $border_light;
    border-radius: $border_rad_light;
    box-shadow: $shadow_deep;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;

    &.below {
      top: 100%;
      margin-top: $space_xs;
    }

    &.above {
      bottom: 100%;
      margin-bottom: $space_xs;
    }
  }

  .pagination-dropdown-option {
    padding: $pagination_padding;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: $active_light;
    }

    &.active {
      background-color: $primary;
      .pb_body_kit {
        color: $white;
      }
    }

    &:first-child {
      border-top-left-radius: $border_rad_light;
      border-top-right-radius: $border_rad_light;
    }

    &:last-child {
      border-bottom-left-radius: $border_rad_light;
      border-bottom-right-radius: $border_rad_light;
    }
  }
}