.pb_treemap_chart {
  .highcharts-drillup-button {
    .highcharts-button-box {
      fill: $primary;
      &:hover {
        fill: #004ebb;
      }
    }
    text {
      transform: translateX(25px);
      fill: $white;
    }
  }
}
