.pb_treemap_chart {
  @import 'highcharts/css/highcharts.scss';
  
  .highcharts-drillup-button {
    text {
      transform: translateX(25px);
      fill: $white;
    }
  }

  .highcharts-tooltip-box {
    fill: $black;
  }
}