[class^=pb_gauge_kit] {

  .suffix {
    fill: $text_lt_light;
    font: $regular $font_larger $font_family_base;
  }
  .prefix {
    fill: $text_lt_light;
    font: $regular $font_base $font_family_base;
  }

  rect.highcharts-background {
    fill: #0000 !important;
  }

  .gauge-pane {
    stroke-linejoin: round;
  }
}