@import "../tokens/colors";

[class^=pb_gauge_kit] {

  .fix {
    fill: $text_lt_default;
    stroke: none;

    &[class*=dark] {
      fill: $text_dk_default;
    }
  }

  .suffix {
    fill: $text_lt_light;
    stroke: none;
    font: $regular $font_larger $font_family_base;

    &[class*=dark] {
      fill: $text_dk_light;
    }
  }
  .prefix {
    fill: $text_lt_light;
    stroke: none;
    font: $regular $font_base $font_family_base;

    &[class*=dark] {
      fill: $text_dk_light;
    }
  }

  rect.highcharts-background {
    fill: #0000 !important;
  }

  .gauge-pane {
    stroke-linejoin: round;
  }

  &[class*=dark] {
    color: $text_dk_default;

    .pb_title_kit_size_1,
    .pb_caption_kit_xs {
        color: $text_dk_light;
    }
  }
}
