<%= content_tag(:div,
    id: object.id,
    data: object.data,
    class: object.classname("pb_timeline_horizontal")) do %>
  <span>
    <div>
      <%= object.icon %>
      <div class="address_field">
        <strong><%= object.name %></strong>
        <%= object.address %>
      </div>
    </div>
  </span>
<% end %>
