// calendar icon styles
.cal_icon_wrapper {
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid $border_light;
  width: $space_xl + $space_xs;
  height: $space_xl + 4.2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: $space_sm - 1;
  color: $text_lt_light;
  @media (hover: hover) {
    &:hover {
      cursor: pointer;
    }
  }
}
.cal_icon {
  width: $space_sm;
}