// Day and Range Styles
.flatpickr-day {
  user-select: none;
  @media (hover: hover) {
    &:hover {
      transition-duration: $transition_short;
      transition-timing-function: $easeIn;    
      background-color: #F6FAFF;
      border: none;
      box-shadow: $shadow_deep;
    }
  }
}

.flatpickr-day.today {
  border: none;
  font-weight: $bold;
  color: $charcoal;
  &.selected {
    color: $text_dk_default;
  }
}
.flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange {
  border-radius: 50px;
  background-color: $primary;
  border-color: $primary;
  box-shadow: $shadow_deep;
  font-weight: $bold; 
}
.flatpickr-day.startRange {
  box-shadow: 17px 0 0 #F7FBFF
}
.flatpickr-day.endRange {
  box-shadow: -16px 0 0 #F7FBFF
}
// had to use flat hex colors without alpha channels
// the shadows were overlapping and opacities were adding together in spots
.flatpickr-day.inRange {
  background-color: #F7FBFF;
  border: 2px;
  box-shadow: -4px 0 0 #F7FBFF, 5px 0 0 #F7FBFF;
}