@import "../../tokens/colors";
@import "../../tokens/spacing";
@import "../../tokens/screen_sizes";
@import "../../tokens/border_radius";
@import "../../tokens/shadows";

.landing-page {
  .code-snippets {
    background-color: $bg_dark;
    border-radius: $border_rad_heaviest;
    box-shadow: $shadow_deepest;
    min-width: 733px;
  }
  .hero-text-width {
    max-width: 500px;
  }
  .kit-example {
    max-width: 800px;
    position: relative;
    padding-right: $space_xl;
  }
  .middle-white-background {
    display: flex;
    justify-content: center;
  }
  .pb-hero-image {
    padding-right: $space_lg;
  }
  .react-rails-text {
    max-width: 450px;
    margin-right: $space_xl;
  }
  .second-section-inner-wrapper {
    max-width: 1700px;
  }
  .user-card {
    width: 275px;
    position: absolute;
    left: 505px;
  }
  @include break_at(1319px){
    .kit-example {
      margin-top: $space_xl * 2;
    }
    .react-rails-text {
      max-width: 625px;
      margin-right: 0;
    }
  }
  // Mobile overrides
  @include break_at(breakpoint("lg")) {
    .hero-inner-wrapper {
      justify-content: center !important;
      img {
        max-width: 100%;
        padding-right: 0;
      }
    }
    .react-rails-text {
      max-width: 500px;
      margin-right: 0;
    }
  }
  // Hide Code/Kit Example
  @include break_at(866px) {
    .kit-example {
      display: none;
    }
  }
  // rearrange buttons on smaller screens
  // and realign text to center
  @include break_at(443px){
    text-align: center;
    .button-flexbox {
      flex-direction: column !important;
      align-content: center;
      [class^=pb_button_kit_secondary] {
        margin-left: 0 !important;
        margin-top: $space_md;
      }
    }
  }
}
