@import "../pb_icon/icon";
@import "../pb_title/title";

[class^=pb_date_kit] {  
    display: flex;
    flex-direction: row;
    align-items: center;
    > div {
        margin-right: 4px !important;
    }

    &[class*=_center] {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-right: 4px !important;
    }

    &[class*=_right] {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin-left: 4px !important;
    }
}