@import "../pb_title/title";
@import "../pb_body/body";

.pb_title_count_kit {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;

  & > .pb_title_count_text {
    padding-right: $space-xs;
  }

  &._center {
    justify-content: center;
  }

  &._right {
    justify-content: flex-end;
  }
}
