@import "../tokens/colors";
@import "../tokens/spacing";

.pb_selectable_list_kit {
  margin-bottom: 0px;
  
  .pb_item_kit,
  .pb_item_kit_checked_item {
    &:hover {
      background-color: $bg_light;
    }
  }
  
  .pb_item_kit_checked_item {
    background-color: $active_light;
  }
}