@import "../tokens/colors";
@import "../tokens/spacing";

.pb_selectable_list{
  margin-bottom: 0px;
  .pb_item_kit {
    &:hover {
      background-color: $bg_light;
    }
    &.checked_item {
      background-color: $active_light;
    }
  }
  .pb_radio_kit {
    margin-left: $space_xs;
  }
  .pb_checkbox_kit {
    margin-left: $space_xs;
  }
}
