@import "playbook-ui/dist/tokens/spacing";
@import "playbook-ui/dist/tokens/screen_sizes";

.visual_guidelines {
  .header-text {
    max-width: 600px;
    margin: auto;
  }
  // Background padding override
  .pb_background_kit {
    padding: $space_xl * 1.75 !important;
  }
  .token-wrapper {
    max-width: 1242px;
    margin: auto;
  }
  @include break_at(breakpoint("sm")){
    .pb_background_kit {
      padding: $space_xl !important;
    }
  }
}