<%= content_tag(:label,
    aria: object.aria,
    checked: object.checked,
    class: object.classname,
    data: object.data,
    id: object.id,
    value: object.value) do %>

    <% if object.children %>
      <%= capture(&object.children) %>
    <% else %>
      <%= radio_button_tag object.name, object.value, object.selected %>
    <% end %>

    <span class="pb_radio_button"></span>
    <%= pb_rails("body", props: { status: object.body_status, text: object.text }) %>
<% end %>
