<%= content_tag(:label,
    aria: object.aria,
    id: object.id,
    data: object.data,
    value: object.value,
    checked: object.checked,
    class: object.classname) do %>

    <% if object.children %>
      <%= capture(&object.children) %>
    <% else %>
      <%= radio_button_tag object.name, object.value, object.selected %>
    <% end %>

    <span class="pb_radio_button"></span>
    <%= pb_rails("body", props: { status: object.body_status, text: object.text, dark: object.dark}) %>
<% end %>
