@import "../tokens/spacing";
@import "../tokens/colors";
@import "../pb_body/body";

$pb_pill_height: 25px;


$confirmation_toast_colors: (
  neutral:        $neutral,
  success:        $success,
  error:          $error,
  tip:          transparent,
);

[class^=pb_fixed_confirmation_toast_kit] {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: $space_xs $space-md;
  border-radius: $border_rad_mega;
  box-shadow: $shadow_deeper;

  .fa-times {
    cursor: pointer;
    opacity: 0.5;
    position: relative;
    right: -8px;
  }
  &:hover .fa-times {
    opacity: 1;
  }

  &.positioned_toast {
    position: fixed;
    z-index: 900;
    display: flex;
    justify-content: space-around;

    &.hide {
      display: none;
    }

    &.top {
      top: $space_md;
    }

    &.bottom {
      bottom: $space_md;
    }

    &.left {
      left: $space_md;
      right: auto;
    }

    &.center {
      left: 50%;
      right: auto;
      transform: translateX(-50%);
    }

    &.right {
      left: auto;
      right: $space_md;
    }
  }

  @each $color_name, $color_value in $confirmation_toast_colors {
    &[class*=_#{$color_name}]  {
      background: $color_value;
      @if $color_name == "tip" {
        @include gradient;
      }

      .pb_fixed_confirmation_toast_text {
        color: $white;
        margin: 0 $space_md 0 $space_md;
        text-align: center;
        white-space: pre;
      }

      .pb_icon {
        color: $white;
      }

      &[class*=_multi_line] .pb_fixed_confirmation_toast_text {
        color: $white;
        margin: 0 $space_md 0 $space_md;
        max-width: 100%;
        white-space: break-spaces;
      }
    }
  }
}
