@import "../tokens/positioning";
@import "../tokens/spacing";
@import "../tokens/colors";
@import "../pb_body/body";

$pb_pill_height: 25px;


$confirmation_toast_colors: (
  neutral:        $text_lt_light,
  success:        $success,
  error:          $error,
  tip:          transparent,
);

.pb_fixed_confirmation_toast_kit_success,
.pb_fixed_confirmation_toast_kit_success_multi_line,
.pb_fixed_confirmation_toast_kit_error,
.pb_fixed_confirmation_toast_kit_error_multi_line,
.pb_fixed_confirmation_toast_kit_neutral,
.pb_fixed_confirmation_toast_kit_neutral_multi_line,
.pb_fixed_confirmation_toast_kit_tip,
.pb_fixed_confirmation_toast_kit_tip_multi_line {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: $space_xs $space-md;
  border-radius: $border_rad_mega;
  box-shadow: $shadow_deeper;

  .fa-times {
    cursor: pointer;
    opacity: 0.5;
    position: relative;
    right: -8px;
  }
  &:hover .fa-times {
    opacity: 1;
  }

  &.positioned_toast {
    position: fixed;
    z-index: $z_10 !important;
    display: flex;
    justify-content: space-around;
    max-width: max-content;
    width: 90%;

    &.top {
      top: $space_md;
    }

    &.bottom {
      bottom: $space_md;
    }

    &.left {
      left: $space_md;
      right: auto;
    }

    &.center {
      left: 50%;
      right: auto;
      transform: translateX(-50%);
    }

    &.right {
      left: auto;
      right: $space_md;
    }
  }
}

.pb_fixed_confirmation_toast_kit_neutral,
.pb_fixed_confirmation_toast_kit_neutral_multi_line {
  background: $text_lt_light;

  .pb_icon {
    color: $white !important;
  }
}

.pb_fixed_confirmation_toast_text {
    color: $white !important;
    margin: 0 $space_md 0 $space_md !important;
    text-align: center;
    white-space: pre;
  }

.pb_fixed_confirmation_toast_kit_success,
.pb_fixed_confirmation_toast_kit_success_multi_line {
  background: $success;
  .pb_icon {
    color: $white !important;
  }
}

.pb_fixed_confirmation_toast_kit_error,
.pb_fixed_confirmation_toast_kit_error_multi_line {
  background: $error;


  .pb_icon {
    color: $white !important;
  }
}

.pb_fixed_confirmation_toast_kit_tip,
.pb_fixed_confirmation_toast_kit_tip_multi_line {
  background: transparent;
    .pb_icon {
    color: $white !important;
  }
  @include gradient;
}

.pb_fixed_confirmation_toast_kit_success_multi_line,
.pb_fixed_confirmation_toast_kit_error_multi_line,
.pb_fixed_confirmation_toast_kit_neutral_multi_line,
.pb_fixed_confirmation_toast_kit_tip_multi_line {
  .pb_fixed_confirmation_toast_text {
    color: $white !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
    text-align: left;
  }
}