
  //animation scss
  @keyframes wave {
    0% {
      background-position: -468px 0;
    }
    100% {
      background-position: 468px 0;
    }
  }

.content-loading {
  pointer-events: none;
  p,
  .pb_body_kit_light,
  .loading-toggle-icon,
  .pb_caption_kit_md,
  h4,
  .loading-cell {
    position: relative;
    color: rgba($white, 0) !important;
    background: rgba($white, 0) !important;
    border: 0 !important;
    &::after {
      content: "";
      position: absolute;
      top: $space-xxs;
      left: 0;
      width: 100%;
      height: 100% - $space-xxs * 2;
      display: block;
      border-radius: $border-rad-light;
      animation-duration: 1.5s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: wave;
      animation-timing-function: linear;
      background: $silver;
      background-color: $silver;
      background-image: linear-gradient(
        to left,
        $silver 0%,
        lighten($silver, 1%) 50%,
        lighten($silver, 1%) 60%,
        $silver 80%,
        $silver 100%
      );
      background-repeat: no-repeat;
      background-size: 800px 104px;
    }
  }

  .loading-cell {
    height: $space_sm + 4;
  }

  .loading-toggle-icon {
    width: $space_sm - 3;
    height: $space_sm - 4;
    margin-right: $space_xxs;
    margin-bottom: $space_xxs + 2;
    &::after {
      height: $space_sm - 4;
      border-radius: $border_radius_rounded;
    }
  }

  svg,
  img {
    visibility: hidden;
  }
}
