@import "../tokens/colors";

$color_checkbox_success: $data_1;
$color_checkbox_default: $border_light;
$transition: .2s cubic-bezier(0.95, 0.05, 0.795, 0.035);

[class^=pb_toggle_kit] {
  position: relative;
  $width: 44px;
  $height: $width/2;
  $border_success: 3px solid $color_checkbox_success;
  $border_default: 3px solid $color_checkbox_default;


  .pb_toggle_wrapper {
    .pb_toggle_control {
      cursor: pointer;
      transition: $transition;
      width: $width;
      height: $height;
      display: block;
      border-radius: $height;
      border: $border_default;
      position: relative;
      box-sizing: content-box;
      &:after {
        transition: $transition;
        content: "";
        width: $width/2 - 4px;
        height: $height - 4px;
        background-color: $color_checkbox_default;
        border-radius: 50%;
        position: absolute;
        top: 2px;
        left: 2px;
      }
      &:hover {
        border: $border_success;
        &:after{
          background-color: $color_checkbox_success;
        }
      }
    }
    input {
      display: none;
      &:checked + .pb_toggle_control {
        border: $border_success;
        background-color: $color_checkbox_success;
        &:after{
          left: $width/2 + 2px;
          background-color: $white;
        }
      }
    }
  }
}
