@import "../tokens/opacity";
@import "../tokens/border_radius";
@import "../tokens/colors";

[class^=pb_home_address_street] {
  .home-tag {
    background: rgba(6, 77, 255, $opacity_1);
    border-radius: $border_rad_light;
    font-weight: bold;
    font-size: 10px;
    color: #064DFF;
    letter-spacing: 0;
    padding: 1px 3px 1px 5px;
    margin-right: 7px;
  }

  &[class$=_dark] .pb_home_address_street_address {
    color: $white;
  }
}
