@import "../tokens/border_radius";
@import "../tokens/colors";

$image-sizes: (
  "xs": 60px,
  "sm": 80px,
  "md": 100px,
  "lg": 120px,
  "xl": 140px,
);

.pb_image_kit,
.pb_image_kit_size_xs,
.pb_image_kit_size_sm,
.pb_image_kit_size_md,
.pb_image_kit_size_lg,
.pb_image_kit_size_xl {
  position: relative;
  object-fit: cover;

  &.rounded {
    border-radius: $border-rad-heaviest;
  }

  &.fade {
    animation: pb_image_fade 300ms ease-in forwards;
  }

  &.blur {
    animation: pb_image_blur 300ms ease-in forwards;
  }

  &.scale {
    animation: pb_image_scale 700ms ease-in forwards;
  }
}

@keyframes pb_image_fade {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes pb_image_blur {
  from { filter: blur(5px); }
  to { filter: blur(0); }
}

@keyframes pb_image_scale {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@each $name, $size in $image-sizes {
  .pb_image_kit_size_#{$name} {
    width: $size !important;
    height: $size !important;
    object-fit: cover;
    position: relative;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: $size;
  }
}