<%
  props ||= {}
  componentclass = props.fetch(:componentclass, "pb_#{name}")
  text = props.fetch(:text, "I am pb_#{name}")
%>

<span class="<%= componentclass %>">
    <span><%= text %></span>
</span>
