import React from 'react';
import PropTypes from "prop-types";

const propTypes = {
  className: PropTypes.string
};

class <%= js_titleize_file_name %> extends React.Component {
  render() {
    const {
      className
    } = this.props;

    return (
      <div className={className}>
        I am a react kit
      </div>
    )
  }
}

<%= js_titleize_file_name %>.propTypes = propTypes;

export default <%= js_titleize_file_name %>;
