import React from "react"
import {<%= @kit_name_pascal %>} from "../../"

function <%= @kit_name_pascal %>Default() {
  return (
    <div>
      <<%= @kit_name_pascal %> />
    </div>
  )
}

export default <%= @kit_name_pascal %>Default
