# frozen_string_literal: true

module Playbook
  module Pb<%= @kit_name_pascal %>
    class <%= @kit_name_pascal %>
      include Playbook::Props

      partial "<%= "pb_#{@kit_name_underscore}/#{@kit_name_underscore}" %>"
    end
  end
end
