import React from 'react'
import { <%= @kit_name_pascal %> } from '../../'

const <%= @kit_name_pascal %>Default = () => (
  <div>
    <<%= @kit_name_pascal %> />
  </div>
)

export default <%= @kit_name_pascal %>Default
