<div class="vertical_nav_list">
  <div class="vertical_nav_list_title">
    <a class="vertical_nav_list_item_link_text" href="<%= object.link %>">
      <%= pb_rails("caption", props: { text: object.title, tag: "p" }) %>
    </a>
  </div>
  <ul>
    <%= object.yield(context: self) %>
  </ul>
</div>
