<% data = [
  {
    name: 'Revenue',
    parent: "Business Units",
    value: 1770,
  }, {
    name: 'Project Services',
    parent: "Business Units",
    value: 359,
  }, {
    name: 'Contact Center',
    parent: "Business Units",
    value: 186,
  },{
    name: "Business Technology",
    parent: "Business Units",
    value: 161,
  }, {
    name: 'People',
    parent: "Business Units",
    value: 104,
  }, {
    name: "Installation Services",
    parent: "Business Units",
    value: 46,
  }, {
    name: "Business Units",
    id: "Business Units",
  },
] %>

<%= pb_rails("treemap_chart", props: {
    chart_data: data,
    id: "treemap-tooltip",
    title: "Business Unit Headcounts",
    tooltip_html: "<p>Custom tooltip for {point.name} <br/>with value: {point.value}</p>",
    use_html: true,
}) %>
