@import "../tokens/positioning";
@import "../tokens/colors";
@import "../pb_card/card_mixin";
@import "../tokens/shadows";
@import "../tokens/border_radius";
@import "../tokens/spacing";
@import "../tokens/animation-curves";
@import "../tokens/positioning";

$gutter: $space_lg;
$xsmall: 64px;
$small: 200px;
$medium: 250px;
$large: 300px;
$xlarge: 365px;
$animation-duration: 0.4s;
$z-index: $z_7;

// Drawer animations
@keyframes modalFadeInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes modalFadeOutLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes modalFadeInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes modalFadeOutRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes modalFadeIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes modalFadeOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

body.PBDrawer__Body--open {
  transition: margin-left $animation-duration ease-in, margin-right $animation-duration ease-in;
}

body.PBDrawer__Body--close {
  transition: margin-left $animation-duration ease-out, margin-right $animation-duration ease-out;
}

.pb_drawer_lg_left.pb_drawer {
  transform: translateX(-100%);
}

.pb_drawer_lg_right.pb_drawer {
  transform: translateX(100%);
}

.pb_drawer.pb_drawer_after_open {
  pointer-events: auto;
  transform: translate3d(0, 0, 0);
}

// Drawer Styles
.pb_drawer {
   will-change: transform;
   backface-visibility: hidden;
   padding: $space_sm;

  .drawer {
    position: sticky;
    will-change: transform;
    backface-visibility: hidden;
    top: 0;
    background-color: $white;
    z-index: $z_9;
  }

  // @include pb_card;
  background-color: $white;
  border: 0;
  box-shadow: $shadow_deepest; // border class here
  max-height: calc(100vh - #{$gutter * 2});
  max-width: calc(100vw - #{$gutter * 2});
  overflow: auto;
  animation-duration: $animation-duration;
  outline: none;

  // General _before_close styles
  &[class*="_before_close"] {
    animation-name: modalFadeOut;
    animation-duration: $animation-duration;
  }

  &[class*="_left"] {
    animation-name: modalFadeInLeft;
  }

  &[class*="_left"][class*="_before_close"] {
    animation-name: modalFadeOutLeft;
    animation-duration: $animation-duration;
  }

  &[class*="_right"] {
    animation-name: modalFadeInRight;
  }

  &[class*="_right"][class*="_before_close"] {
    animation-name: modalFadeOutRight;
    animation-duration: $animation-duration;
  }

  &[class*="_xs_"] {
    width: $xsmall;
    max-width: $xsmall;
  }

  &[class*="_sm_"] {
    width: $small;
    max-width: $small;
  }

  &[class*="_md_"] {
    width: $medium;
    max-width: $medium;
  }

  &[class*="_lg_"] {
    width: $large;
    max-width: $large; 
  }

  &[class*="_xl_"] {
    width: $xlarge;
    max-width: $xlarge; 
  }

  &_body_open {
    overflow: hidden;
  }

  &_after_open {
  }

  &.drawer_border_full {
    box-shadow: none;
    border: 2px solid #f3f7fb;
  }

  &.drawer_border_right {
    border-right: 2px solid #f3f7fb;
  }

  &.drawer_border_left {
    border-left: 2px solid #f3f7fb;
  }

  &.no-background {
    background-color: transparent; 
  }

  &_close_icon {
    cursor: pointer;
  }

  &_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($bg_dark, $opacity_4);
    z-index: $z-index;
    animation-name: overlayFade;
    animation-duration: $animation-duration;

    &_after_open {
    }
    &_before_close {
      animation-name: overlayFadeOut;
      animation-duration: $animation-duration;
    }
    &[class*="full_height"] {
      &[class*="_left"]{
        justify-content: flex-start;
      }

      &[class*="_center"]{
        justify-content: center;
      }

      &[class*="_right"]{
        justify-content: flex-end;
      }

      .pb_drawer {
        height: 100%;
        max-height: 100%;
        max-width: none;
        // This empty div only has height when drawer is full height
        // Fix for drawer body content disappearing behind sticky footer
        .drawer-pseudo-footer {
          height: $space_xl * 2;
        }
        .drawer_footer {
          position: fixed;
          bottom: 0;
          background-color: $white;
          max-width: 100%;
        }
        &[class*="_xs_"] {
          width: $xsmall;
          .dialog_footer {
            width: $xsmall;
          }
        }
        &[class*="_sm_"] {
          width: $small;
          .dialog_footer {
            width: $small;
          }
        }
        &[class*="_md_"] {
          width: $medium;
          .dialog_footer {
            width: $medium;
          }
        }
        &[class*="_lg_"] {
          width: $large;
          .dialog_footer {
            width: $large;
          }
        }
        &[class*="_xl_"] {
          width: $xlarge;
          .dialog_footer {
            width: $xlarge;
          }
        }
      }
    }
  }

  &_no_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: $z-index;
    animation-name: overlayFade;
    animation-duration: $animation-duration;
    overflow: none; /* Ensure body remains scrollable */
    pointer-events: none; /* Allow interaction inside the drawer itself */

    body.PBDrawer--open {
      overflow: none; /* Ensure body remains scrollable */
      pointer-events: none; /* Allow interaction inside the drawer itself */
    }

    &_after_open {
      overflow: none; /* Ensure body remains scrollable */
      pointer-events: none; /* Allow interaction inside the drawer itself */
    }
    &_before_close {
      animation-name: overlayFadeOut;
      animation-duration: $animation-duration;
    }
    &[class*="full_height"] {
      &[class*="_left"]{
        justify-content: flex-start;
      }

      &[class*="_center"]{
        justify-content: center;
      }

      &[class*="_right"]{
        justify-content: flex-end;
      }

      .pb_drawer {
        height: 100%;
        max-height: 100%;
        max-width: none;
        // This empty div only has height when drawer is full height
        // Fix for drawer body content disappearing behind sticky footer
        .drawer-pseudo-footer {
          height: $space_xl * 2;
        }
        .drawer_footer {
          position: fixed;
          bottom: 0;
          background-color: $white;
          max-width: 100%;
        }
        &[class*="_xs_"] {
          width: $xsmall;
          .dialog_footer {
            width: $xsmall;
          }
        }
        &[class*="_sm_"] {
          width: $small;
          .dialog_footer {
            width: $small;
          }
        }
        &[class*="_md_"] {
          width: $medium;
          .dialog_footer {
            width: $medium;
          }
        }
        &[class*="_lg_"] {
          width: $large;
          .dialog_footer {
            width: $large;
          }
        }
        &[class*="_xl_"] {
          width: $xlarge;
          .dialog_footer {
            width: $xlarge;
          }
        }
      }
    }
  }

  [class*="drawer_body"] {
    padding: $space_sm;
  }

  [class*="drawer_header"] {
    padding: $space_sm;
  }

  [class*="drawer_footer"] {
    padding: $space_sm;
  }
}
