<div class="pb_drawer_wrapper" style="display:none;" data-overlay-click= <%= object.overlay_close %> >
    <div class="<%= overlay_classes %>" style="display:none;"> 
        <%= pb_content_tag do %>
            <%= content %>
        <% end %>
    </div>
</div>
