<% data = [
        {
          name: "Waiting for Calls",
          y: 41,
        },
        {
          name: "On Call",
          y: 49,
        },
        {
          name: "After Call",
          y: 10,
        },
      ] %>

<% chart_options = {
    series: [{
      data: data,
      innerSize: '100%',
      borderWidth: '20',
    }],
  } %>

<div style="position: relative;">
  <%= pb_rails("pb_circle_chart", props: { options: chart_options }) %>

  <div class="pb-circle-chart-block"
       style="position: absolute; inset: 0; display: flex; justify-content: center; align-items: center; z-index: 1; text-align: center; pointer-events: none;">
    <%= pb_rails("title", props: { size: 1, tag: "div", text: "83" }) %>
  </div>
</div>
