@import "../pb_title/title";
@import "../pb_caption/caption";
@import "../tokens/colors";

.pb_time_stacked_kit {
 &._center  {
   text-align: center;
 }

 &._right  {
   text-align: right;
 }

}

.time-spacing {
  time {
    display: inline-grid;
    margin-bottom: $space_xs - 6px;
  }
}