<%= content_tag(:div,
    id: object.id,
    data: object.data,
    class: object.classname) do %>

    <div class="pb_time_stacked">
      <%= pb_rails(object.tag, props: { text: object.format_time_string, color: "light", classname: object.tag_classnames }) %>
      <%= pb_rails(object.tag, props: { text: object.format_timezone, color: "light" }) %>
    </div>

<% end %>
