@import "../pb_title/title";
@import "../pb_caption/caption";
@import "../tokens/colors";

[class^=pb_time_stacked_kit] {
 &[class*=_center]  {
   text-align: center;
 }

 &[class*=_right]  {
   text-align: right;
 }

}

.time-spacing {
  time {
    display: inline-grid;
    margin-bottom: $space_xs - 6px;
  }
}