.pb_empty_state_kit {
  max-width: 100%;

  .sm-state-vertical {
    width: 150px;
  }

  .md-state-vertical {
    width: 300px;
  }

  .lg-state-vertical {
    width: 450px;
  }

  .sm-state-horizontal {
    width: max-content;
    max-width: 400px;
    .pb_flex_item_kit {
      align-self: end;
    }
  }

  .md-state-horizontal {
    width: max-content;
    max-width: 600px;
    .pb_flex_item_kit {
      align-self: end;
    }
  }

  .lg-state-horizontal {
    width: max-content;
    .pb_flex_item_kit {
      align-self: end;
    }
  }

  &.dark {
    [class*="pb_title_kit"],
    [class*="pb_body_kit"],
    [class*="pb_detail_kit"],
    [class*="pb_button_kit_link"]:hover { color: $white; }
  }
}
