<div class="<%= cookies[:dark_mode] == "true" ? 'dark' : '' %>">
    <%= pb_rails("flex", props:{classname: "pb--page--mobileNav", shadow:"deep", align:"center", justify:"center"}) do %>
        <%= vite_image_tag("images/pb-logo-mobile.svg") %>
    <% end %>
</div>