@import "../tokens/shadows";
@import "../tokens/border_radius";
@import "../tokens/shadows";
@import "../tokens/colors";
@import "child_kits/card_body";

$pb_card_border_width: 1px;
$pb_card_border_radius: $border_rad_heavier;

[class^=pb_card_kit] {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $card_light;
  background-clip: border-box;
  border: $pb_card_border_width solid $border_light;
  border-radius: $pb_card_border_radius;
  transition: all 0.3s ease;

  &[class*=_selected] {
    border-color: $primary;
    border-width: $pb_card_border_width * 2;
  }

  @each $name, $shadow in $box_shadows {
    &[class*=_#{$name}] {
      box-shadow: $shadow;
    }
  }
}
