@import "../tokens/shadows";
@import "../tokens/border_radius";
@import "../tokens/shadows";
@import "../tokens/colors";
@import "child_kits/card_body";

$pb_card_border_width: 1px;
$pb_card_border_radius: $border_rad_heavier;

[class^=pb_card_kit] {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $card_light;
  background-clip: border-box;
  border: $pb_card_border_width solid $border_light;
  border-radius: $pb_card_border_radius;
  transition: all 0.3s ease;

  &[class*=_selected] {
    border-color: $primary;
    border-width: $pb_card_border_width * 2;
  }

  @each $name, $shadow in $box_shadows {
    &[class*=_#{$name}] {
      box-shadow: $shadow;
    }
  }

  $highlight_colors: map-merge($status_colors, $product_colors);

  @mixin pb_card_highlight($borderTop, $borderSide) {
    display: flex;
    height: 4px;
    content: '';
    border-top-left-radius: $border_rad_heavier;
    border-top-right-radius: $border_rad_heavier;
  }

    &[class*=_highlight_side] {
      @each $color_name, $color_value in $highlight_colors {
        &[class*=_highlight_#{$color_name}]:before  {
          @include pb_card_highlight(solid 1px $border_light, solid 4px $color_value);
        }
      }
    }

    &[class*=_highlight_top] {
    @each $color_name, $color_value in $highlight_colors {
      &[class*=_highlight_#{$color_name}]:before  {
        @include pb_card_highlight(solid 4px $color_value, solid 1px $border_light);
      }
    }
  }
}
