<%= pb_rails("table", props: { size: "sm" }) do %>
  <div class="thead">
    <div class="tr">
      <div class="th">Column 1</div>
      <div class="th">Column 2</div>
      <div class="th">Column 3</div>
      <div class="th">Column 4</div>
      <div class="th">Column 5</div>
    </div>
  </div>
  <div class="tbody">
    <div class="tr">
      <div class="td">Value 1</div>
      <div class="td">Value 2</div>
      <div class="td">Value 3</div>
      <div class="td">Value 4</div>
      <div class="td">Value 5</div>
    </div>
    <div class="tr">
      <div class="td">Value 1</div>
      <div class="td">Value 2</div>
      <div class="td">Value 3</div>
      <div class="td">Value 4</div>
      <div class="td">Value 5</div>
    </div>
    <div class="tr">
      <div class="td">Value 1</div>
      <div class="td">Value 2</div>
      <div class="td">Value 3</div>
      <div class="td">Value 4</div>
      <div class="td">Value 5</div>
    </div>
  </div>
<% end %>
