<%= pb_rails("table") do %>
  <thead>
    <tr>
      <th>Carrier</th>
      <th>&nbsp;</th>
      <th>Phones</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>AB&B</td>
      <td shift="down">Total</td>
      <td>
        35,035
        <br/>
        25,363
        <br/>
        55,398
      </td>
      <td shift="up">
        iPhone
        <br/>
        Android
      </td>
    </tr>
    <tr>
      <td>Horizon</td>
      <td shift="down">Total</td>
      <td>
        79,346
        <br/>
        93,859
        <br/>
        173,205
      </td>
      <td shift="up">
        iPhone
        <br/>
        Android
      </td>
    </tr>
    <tr>
      <td>Runs</td>
      <td shift="down">Total</td>
      <td>
        57,494
        <br/>
        46,251
        <br/>
        103,745
      </td>
      <td shift="up">
        iPhone
        <br/>
        Android
      </td>
    </tr>
  </tbody>
<% end %>
