<%= pb_rails("table", props: { size: "md" }) do %>
  <thead>
    <tr>
      <%= pb_rails("table/table_header", props: { colspan: 2, align: "center" }) do %>
        Column 1 & 2
      <% end %>
      <th>Column 3</th>
      <%= pb_rails("table/table_header", props: { colspan: 2, align: "center" }) do %>
        Column 4 & 5
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Value 1</td>
      <td>Value 2</td>
      <td>Value 3</td>
      <td>Value 4</td>
      <td>Value 5</td>
    </tr>
    <tr>
      <td>Value 1</td>
      <td>Value 2</td>
      <td>Value 3</td>
      <td>Value 4</td>
      <td>Value 5</td>
    </tr>
    <tr>
      <td>Value 1</td>
      <td>Value 2</td>
      <td>Value 3</td>
      <td>Value 4</td>
      <td>Value 5</td>
    </tr>
  </tbody>
<% end %>
