<%= pb_rails("table", props: { size: "sm", tag: "div" }) do %>
  <div class="pb_table_thead">
    <div class="pb_table_tr">
      <div class="pb_table_th">Column 1</div>
      <div class="pb_table_th">Column 2</div>
      <div class="pb_table_th">Column 3</div>
      <div class="pb_table_th">Column 4</div>
      <div class="pb_table_th">Column 5</div>
    </div>
  </div>
  <div class="pb_table_tbody">
    <div class="pb_table_tr">
      <div class="pb_table_td">Value 1</div>
      <div class="pb_table_td">Value 2</div>
      <div class="pb_table_td">Value 3</div>
      <div class="pb_table_td">Value 4</div>
      <div class="pb_table_td">Value 5</div>
    </div>
    <div class="pb_table_tr">
      <div class="pb_table_td">Value 1</div>
      <div class="pb_table_td">Value 2</div>
      <div class="pb_table_td">Value 3</div>
      <div class="pb_table_td">Value 4</div>
      <div class="pb_table_td">Value 5</div>
    </div>
    <div class="pb_table_tr">
      <div class="pb_table_td">Value 1</div>
      <div class="pb_table_td">Value 2</div>
      <div class="pb_table_td">Value 3</div>
      <div class="pb_table_td">Value 4</div>
      <div class="pb_table_td">Value 5</div>
    </div>
  </div>
<% end %>
