<%= content_tag(:div,
    aria: object.aria,
    class: object.classname,
    data: object.data,
    id: object.id) do %>
    <%= pb_rails("caption", props: { text: "Date Picker" }) %>
      <div class="input_wrapper">
        <input
            id="flatpickr"
        />
      </div>

      <%= javascript_tag do %>
      document.addEventListener("DOMContentLoaded", () => {
          let picker = flatpickr('#flatpickr', {
            dateFormat: 'm/d/Y',
            defaultDate: Date.now(),
            static: true,
          })
          window.addEventListener("scroll", () => {
            picker._positionCalendar();
            console.log("scroll scroll")
          })
      })
      <% end %>
<% end %>
