// @import "~flatpickr/dist/flatpickr.css";
@import "../pb_caption/caption_mixin";
@import "../pb_textarea/textarea_mixin";
@import "../tokens/colors";
@import "./sass_partials/flatpickr_styles";

[class^=pb_date_picker_kit] {
  // input styles
  [class^=pb_caption_kit] {
    margin-bottom: $space_xs;
    display: block;
  }
  .input_wrapper {
    margin-bottom: $space_sm;
    position: relative;
    @import "./sass_partials/calendar_input_icon";
    @import "./sass_partials/day_styles";
    @import "./sass_partials/header_styles";
    @import "./sass_partials/overrides";

    .flatpickr-wrapper {
      display: block;
      input {
        text-overflow: ellipsis;
        padding-right: 45px !important;
      }
      input::placeholder {
        @include pb_body_light;
      }
      
    
      > input:first-child {
        @include pb_textarea_light;
        @include pb_title_4;
        overflow: hidden;
      }
    
      input:focus, input:-webkit-autofill:focus {
        @include pb_textarea_focus;
        -webkit-box-shadow: 0 0 0px 1000px $focus_input_light inset;
        transition: background-color 5000s ease-in-out 0s;
      }
    }
    &.error {
      .error-body-kit {
        margin-top: $space_xs / 2;
      }
      .flatpickr-wrapper {
        > input:first-child {
          border-color: $error;
        }
      }
    }

    // Calendar Shadow and Border
    .flatpickr-calendar {
      box-shadow: $shadow_deeper;
      border: 1px solid $border_light;
    }
    // Weekday styling
    div.flatpickr-weekdays {
      margin-top: 8px;
    }
    span.flatpickr-weekday {
      @include caption;
      user-select: none;
    }
    
    // Hide Caret
    .flatpickr-calendar:before {
      background-color: transparent;
      border-color: transparent;
    }
  }
}

.pb_popover_body {
  overflow: visible !important;
}

