@import "playbook-tokens/colors";
@import "playbook-tokens/border_radius";
@import "playbook-tokens/spacing";

  .border_radius {
    @mixin border-example {
      border: $border_light 1px solid;
      height: 100px;
      width: 100px;
      margin: auto;
    }

    &_container {
      text-align: center;
      flex: 1;
      margin-bottom: $space_xs;

      .border_radius_rounded {
        @include border-example;
        border-radius: $border_radius_rounded;
      }
    }

    &_xl {
      @include border-example;
      border-radius: $border_radius_xl;
    }

    &_lg {
      @include border-example;
      border-radius: $border_radius_lg;
    }

    &_md {
      @include border-example;
      border-radius: $border_radius_md;
    }

    &_sm {
      @include border-example;
      border-radius: $border_radius_sm;
    }

    &_xs {
      @include border-example;
      border-radius: $border_radius_xs;
    }

    &_none {
      @include border-example;
      border-radius: $border_radius_none;
    }

    &_flat {
      border-radius: 0 0 6px 6px !important;
    }
  }
