@import "playbook-ui/dist/tokens/typography";


.ls_tightest {
  letter-spacing: $lspace_tightest !important;
}
.ls_tighter {
  letter-spacing: $lspace_tighter !important;
}
.ls_tight {
  letter-spacing: $lspace_tight !important;
}
.ls_normal {
  letter-spacing: $lspace_normal !important;
}
.ls_loose {
  letter-spacing: $lspace_loose !important;
}
.ls_looser {
  letter-spacing: $lspace_looser !important;
}
.ls_loosest {
  letter-spacing: $lspace_loosest !important;
}
.ls_super_loosest {
  letter-spacing: $lspace_super_loosest !important;
  text-align: center !important;
}
.text_jumbo {
  font-size: $text_jumbo;
}
.text_largest {
  font-size: $text_largest;
}
.text_larger {
  font-size: $text_larger;
}
.text_larger {
  font-size: $text_large;
}
.text_default {
  font-size: $font_base;
}
.text_small {
  font-size: $font_small;
}
.text_smaller {
  font-size: $font_smaller;
}
.text_smallest {
  font-size: $font_smallest;
}
.typography_section {
  padding-left: $space_md;
  padding-top: $space_md;
}
