$align_items_values: (
  flex_start: flex-start,
  flex_end: flex-end,
  start: start,
  center: center,
  end: end,
  baseline: baseline,
  stretch: stretch,
);

@include global_props_responsive_css($align_items_values, 'align_items', 'align-items');
