.align_self_start {
  display: flex;
  align-self: start;
}

.align_self_end {
  display: flex;
  align-self: end;
}

.align_self_auto {
  display: flex;
  align-self: auto;
}

.align_self_center {
  display: flex;
  align-self: center;
}

.align_self_stretch {
  display: flex;
  align-self: stretch;
}

.align_self_baseline {
  display: flex;
  align-self: baseline;
}