.align_items_start {
  align-items: start;
}

.align_items_end {
  align-items: end;
}

.align_items_center {
  align-items: center;
}

.align_items_baseline {
  align-items: baseline;
}

.align_items_stretch {
  align-items: stretch;
}