.align_items_flex_start {
  display: flex;
  align-items: flex-start !important;
}

.align_items_flex_end {
  display: flex;
  align-items: flex-end !important;
}

.align_items_start {
  display: flex;
  align-items: start !important;
}

.align_items_end {
  display: flex;
  align-items: end !important;
}


.align_items_center {
  display: flex;
  align-items: center !important;
}

.align_items_baseline {
  display: flex;
  align-items: baseline !important;
}

.align_items_stretch {
  display: flex;
  align-items: stretch !important;
}