$align_self_values: (
  auto: auto,
  start: start,
  center: center,
  end: end,
  baseline: baseline,
  stretch: stretch,
);

@include global_props_responsive_css($align_self_values, 'align_self', 'align-self');
