.cursor_default {
  cursor: default;
}

.cursor_context_menu {
  cursor: context-menu;
}

.cursor_help {
  cursor: help;
}

.cursor_pointer {
  cursor: pointer;
}

.cursor_progress {
  cursor: progress;
}

.cursor_wait {
  cursor: wait;
}

.cursor_cell {
  cursor: cell;
}

.cursor_crosshair {
  cursor: crosshair;
}

.cursor_text {
  cursor: text;
}

.cursor_vertical_text {
  cursor: vertical-text;
}

.cursor_alias {
  cursor: alias;
}

.cursor_copy {
  cursor: copy;
}

.cursor_move {
  cursor: move;
}

.cursor_no_drop {
  cursor: no-drop;
}

.cursor_not_allowed {
  cursor: not-allowed;
}

.cursor_all_scroll {
  cursor: all-scroll;
}

.cursor_col_resize {
  cursor: col-resize;
}

.cursor_row_resize {
  cursor: row-resize;
}

.cursor_n_resize {
  cursor: n-resize;
}

.cursor_e_resize {
  cursor: e-resize;
}

.cursor_s_resize {
  cursor: s-resize;
}

.cursor_w_resize {
  cursor: w-resize;
}

.cursor_ne_resize {
  cursor: ne-resize;
}

.cursor_nw_resize {
  cursor: nw-resize;
}

.cursor_se_resize {
  cursor: se-resize;
}

.cursor_sw_resize {
  cursor: sw-resize;
}

.cursor_ew_resize {
  cursor: ew-resize;
}

.cursor_ns_resize {
  cursor: ns-resize;
}

.cursor_nsew_resize {
  cursor: nsew-resize;
}

.cursor_nwes_resize {
  cursor: nwes-resize;
}

.cursor_zoom_in {
  cursor: zoom-in;
}

.cursor_zoom_out {
  cursor: zoom-out;
}

.cursor_grab {
  cursor: grab;
}

.cursor_grabbing {
  cursor: grabbing;
}

.cursor_none {
  cursor: none;
}

.cursor_auto {
  cursor: auto;
}
