.cursor_default {
  cursor: default !important;
}

.cursor_context_menu {
  cursor: context-menu !important;
}

.cursor_help {
  cursor: help !important;
}

.cursor_pointer {
  cursor: pointer !important;
}

.cursor_progress {
  cursor: progress !important;
}

.cursor_wait {
  cursor: wait !important;
}

.cursor_cell {
  cursor: cell !important;
}

.cursor_crosshair {
  cursor: crosshair !important;
}

.cursor_text {
  cursor: text !important;
}

.cursor_vertical_text {
  cursor: vertical-text !important;
}

.cursor_alias {
  cursor: alias !important;
}

.cursor_copy {
  cursor: copy !important;
}

.cursor_move {
  cursor: move !important;
}

.cursor_no_drop {
  cursor: no-drop !important;
}

.cursor_not_allowed {
  cursor: not-allowed !important;
}

.cursor_all_scroll {
  cursor: all-scroll !important;
}

.cursor_col_resize {
  cursor: col-resize !important;
}

.cursor_row_resize {
  cursor: row-resize !important;
}

.cursor_n_resize {
  cursor: n-resize !important;
}

.cursor_e_resize {
  cursor: e-resize !important;
}

.cursor_s_resize {
  cursor: s-resize !important;
}

.cursor_w_resize {
  cursor: w-resize !important;
}

.cursor_ne_resize {
  cursor: ne-resize !important;
}

.cursor_nw_resize {
  cursor: nw-resize !important;
}

.cursor_se_resize {
  cursor: se-resize !important;
}

.cursor_sw_resize {
  cursor: sw-resize !important;
}

.cursor_ew_resize {
  cursor: ew-resize !important;
}

.cursor_ns_resize {
  cursor: ns-resize !important;
}

.cursor_nsew_resize {
  cursor: nsew-resize !important;
}

.cursor_nwes_resize {
  cursor: nwes-resize !important;
}

.cursor_zoom_in {
  cursor: zoom-in !important;
}

.cursor_zoom_out {
  cursor: zoom-out !important;
}

.cursor_grab {
  cursor: grab !important;
}

.cursor_grabbing {
  cursor: grabbing !important;
}

.cursor_none {
  cursor: none !important;
}

.cursor_auto {
  cursor: auto !important;
}
