@import "../tokens/display";

.display_block {
    display: block;
}

.display_inline_block {
    display: inline-block;
}

.display_inline {
    display: inline;
}

.display_flex {
    display: flex;
}

.display_inline_flex {
    display: inline-flex;
}

.display_none {
    display: none;
}

.display_grid {
    display: grid;
}

$display_values: (
    none: $display_none,
    flex: $display_flex,
    inline: $display_inline,
    inline_block: $display_inline_block,
    inline_flex: $display_inline_flex,
    block: $display_block,
    grid: $display_grid
);

// using a grid here
@each $size, $size_value in $breakpoints_grid {
    @each $display, $display_value in $display_values {
        $min_size: map-get($size_value, "min");
        $max_size: map-get($size_value, "max");
        .display_#{$size}_#{$display} {
          @include break_on($min_size, $max_size) {
            display: #{$display_value} !important;
          }
        }
    }
}
