@import "../tokens/display";

.display_block {
    display: block;
}

.display_inline_block {
    display: inline-block;
}

.display_inline {
    display: inline;
}

.display_flex {
    display: flex;
}

.display_inline_flex {
    display: inline-flex;
}

.display_hidden {
    display: none;
}

$breakpoints: (
  xs: $screen-xs-min,
  sm: $screen-sm-min,
  md: $screen-md-min,
  lg: $screen-lg-min,
  xl: $screen-xl-min
);

$display_values: (
    hidden: $display_hidden,
    flex: $display_flex,
    inline: $display_inline,
    inline_block: $display_inline_block,
    block: $display_block
);

// display_$size_$value

@each $screen_size, $breakpoint in $breakpoints {
    @each $display, $display_value in $display_values {
        .display_#{$screen_size}_#{$display} {
            @include break_at(breakpoint($screen_size)) {
                display: #{$display_value} !important;
            }
        }
    }
}
