.flex_direction_row {
  display: flex;
  flex-direction: row !important;
}

.flex_direction_column {
  display: flex;
  flex-direction: column !important;
}

.flex_direction_row_reverse {
  display: flex;
  flex-direction: row-reverse !important;
}

.flex_direction_column_reverse {
  display: flex;
  flex-direction: column-reverse !important;
}

@include break_at( breakpoint("sm") ) {
  .sm\:flex-col {
    flex-direction: column;
  }
}

@include break_at( breakpoint("md") ) {
  .md\:flex-row {
    flex-direction: row;
  }
}

@include break_at( breakpoint("lg") ) {
  .lg\:flex-col {
    flex-direction: column;
  }
}

@include break_at( breakpoint("xl") ) {
  .xl\:flex-col {
    flex-direction: column;
  }
}

@include break_at( breakpoint("sm") ) {
  .sm\:flex-row {
    flex-direction: row;
  }
}

@include break_at( breakpoint("md") ) {
  .md\:flex-row {
    flex-direction: row;
  }
}

@include break_at( breakpoint("lg") ) {
  .lg\:flex-row {
    flex-direction: row;
  }
}

@include break_at( breakpoint("xl") ) {
  .xl\:flex-row {
    flex-direction: row;
  }
}