.flex_wrap_wrap {
  display: flex;
  flex-wrap: wrap !important;
}

.flex_wrap_nowrap {
  display: flex;
  flex-wrap: nowrap !important;
}

.flex_wrap_wrap_reverse {
  display: flex;
  flex-wrap: wrap-reverse !important;
}
