@import "spacing";

$gap_values: (
  none: 0,
  xxs: $space_xxs,
  xs: $space_xs,
  sm: $space_sm,
  md: $space_md,
  lg: $space_lg,
  xl: $space_xl,
);

@include global_props_responsive_css($gap_values, 'gap', 'gap');

@include global_props_responsive_css($gap_values, 'column_gap', 'column-gap');

@include global_props_responsive_css($gap_values, 'row_gap', 'row-gap');