@import "../tokens/exports/height.module";

@mixin export_height($height_list) {
  @each $name, $value in $height_list {
    .#{$name} {
      height: $value;
    }
  }
}

@mixin export_max_height($height_list) {
  @each $name, $value in $height_list {
    .max_#{$name} {
      max-height: $value;
    }
  }
}

@mixin export_min_height($height_list) {
  @each $name, $value in $height_list {
    .min_#{$name} {
      min-height: $value;
    }
  }
}

@include export_height($heights);
@include export_max_height($heights);
@include export_min_height($heights);

.height-resize {
  resize: vertical;
}
