@import "../tokens/exports/scale.module";

@mixin hover-color-classes($colors-list) {
    @each $name, $color in $colors-list {
      .hover_background-#{"" + $name}:hover {
        background-color: $color !important;
        transition: background-color $transition-speed ease;
      }
      .hover_color-#{"" + $name}:hover {
        color: $color !important;
        transition: color $transition-speed ease;
      }
    }
  }
  
  @mixin hover-shadow-classes($shadows-list) {
    @each $name, $shadow in $shadows-list {
      .hover_#{"" + $name}:hover {
        box-shadow: $shadow;
        transition: box-shadow $transition-speed ease;
      }
    }
  }
  
  @mixin hover-scale-classes($scales-list) {
    @each $name, $scale in $scales-list {
      .hover_#{"" + $name}:hover {
        transform: $scale;
        transition: transform $transition-speed ease;
      }
    }
  }
  
  
  @include hover-scale-classes($scales);
  @include hover-shadow-classes($box_shadows);
  @include hover-color-classes($product_colors);
  @include hover-color-classes($status_colors);
  @include hover-color-classes($data_colors);
  @include hover-color-classes($shadow_colors);
  @include hover-color-classes($colors);
  @include hover-color-classes($interface_colors);
  @include hover-color-classes($main_colors);
  @include hover-color-classes($background_colors);
  @include hover-color-classes($card_colors);
  @include hover-color-classes($active_colors);
  @include hover-color-classes($action_colors);
  @include hover-color-classes($hover_colors);
  @include hover-color-classes($border_colors);
  @include hover-color-classes($text_colors);
  @include hover-color-classes($category_colors);
