.justify_self_auto {
  justify-self: auto;
}

.justify_self_start {
  justify-self: start;
}

.justify_self_end {
  justify-self: end;
}

.justify_self_center {
  justify-self: center;
}

.justify_self_stretch {
  justify-self: stretch;
}
