.justify_content_start {
  justify-content: start;
}

.justify_content_end {
  justify-content: end;
}

.justify_content_center {
  justify-content: center;
}

.justify_content_space_between {
  justify-content: space-between;
}

.justify_content_space_around {
  justify-content: space-around;
}

.justify_content_space_evenly {
  justify-content: space-evenly;
}
