.justify_content_start {
  justify-content: start !important;
}

.justify_content_end {
  justify-content: end !important;
}

.justify_content_center {
  justify-content: center !important;
}

.justify_content_space_between {
  justify-content: space-between !important;
}

.justify_content_space_around {
  justify-content: space-around !important;
}

.justify_content_space_evenly {
  justify-content: space-evenly !important;
}
