.max_width_xs {
  max-width: 360px;
}
.max_width_0_percent {
  max-width: 0;
}
.max_width_none {
  max-width: none;
}

.max_width_sm {
  max-width: 540px;
}

.max_width_md {
  max-width: 720px;
}

.max_width_lg {
  max-width: 960px;
}

.max_width_xl {
  max-width: 1140px;
}

.max_width_xxl {
  max-width: 1320px;
}

.width-resize {
  resize: horizontal;
}
