@import "../tokens/container";

.min_width_0 {
  min-width: map-get($containers, 'none');
}

.min_width_0_percent {
  min-width: $container_0;
}

.min_width_xxs {
  min-width: $container_xxs;
}

.min_width_xs {
  min-width: $container_xs;
}

.min_width_sm {
  min-width: $container_sm;
}

.min_width_md {
  min-width: $container_md;
}

.min_width_lg {
  min-width: $container_lg;
}

.min_width_xl {
  min-width: $container_xl;
}

.min_width_xxl {
  min-width: $container_xxl;
}

.min_width_100_percent {
  min-width: $container_100;
}

.width-resize {
  resize: horizontal;
}
