@import "../tokens/spacing";

.min_width_xs {
  min-width: 360px;
}
.min_width_0 {
  min-width: map-get($spaces, 'none');
}
.min_with_0_percent {
  min-width: 0%;
}
.min_width_100_percent {
  min-width: $space_max;
}
.min_width_none {
  min-width: none;
}

.min_width_sm {
  min-width: 540px;
}

.min_width_md {
  min-width: 720px;
}

.min_width_lg {
  min-width: 960px;
}

.min_width_xl {
  min-width: 1140px;
}

.min_width_xxl {
  min-width: 1320px;
}
