.order_1 {
  order: 1;
}

.order_2 {
  order: 2;
}

.order_3 {
  order: 3;
}

.order_4 {
  order: 4;
}

.order_5 {
  order: 5;
}

.order_6 {
  order: 6;
}

.order_7 {
  order: 7;
}

.order_8 {
  order: 8;
}

.order_9 {
  order: 9;
}

.order_10 {
  order: 10;
}

.order_11 {
  order: 11;
}

.order_12 {
  order: 12;
}

.order_none {
  order: none;
}
