.order_1 {
  order: 1 !important;
}

.order_2 {
  order: 2 !important;
}

.order_3 {
  order: 3 !important;
}

.order_4 {
  order: 4 !important;
}

.order_5 {
  order: 5 !important;
}

.order_6 {
  order: 6 !important;
}

.order_7 {
  order: 7 !important;
}

.order_8 {
  order: 8 !important;
}

.order_9 {
  order: 9 !important;
}

.order_10 {
  order: 10 !important;
}

.order_11 {
  order: 11 !important;
}

.order_12 {
  order: 12 !important;
}

.order_none {
  order: none !important;
}

.order_first {
  order: -1 !important;
}