@import "../tokens/overflow";

$overflow_classes: (
  visible: $visible,
  hidden: $hidden,
  scroll: $scroll,
  auto: $auto,
);

$variants: (
  overflow_x: "overflow-x",
  overflow_y: "overflow-y",
  overflow: "overflow",
); 

@each $variant_name, $variant_property in $variants {
  @each $class_name, $overflow_value in $overflow_classes {
    .#{$variant_name}_#{$class_name} {
      #{$variant_property}: #{$overflow_value} !important;
    }
  }
}
