@import "../tokens/exports/shadows";

@mixin shadow-classes($shadows-list) {
  @each $name, $shadow in $shadows-list {
    .#{$name} {
      box-shadow: $shadow;
    }
  }
}
@include shadow-classes($box_shadows);
 