$truncate-styles: (
  truncate_1: 1,
  truncate_2: 2,
  truncate_3: 3,
  truncate_4: 4,
  truncate_5: 5
);

@mixin apply_truncate_styles($number) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $number;
  -webkit-box-orient: vertical;
  overflow-wrap: anywhere;
  word-break: break-all;
}

@each $class, $number in $truncate-styles {
  .#{$class} {
    @include apply_truncate_styles($number);
  }
}
