web: &web ["rails", "react"]
all: &all ["rails", "react", "swift"]
rails_swift: &rails_swift ["rails", "swift"]
react_swift: &react_swift ["swift", "react"]
rails_only: &rails_only ["rails"]
react_only: &react_only ["react"]
swift_only: &swift_only ["swift"]

kits:
  - name: alerts_and_dialogs
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
    components:
      - name: "dialog"
        platforms: *web
        description: 
      - name: "fixed_confirmation_toast"
        platforms: *web
        description: Fixed Confirmation Toast is used as an alert. Success is used when a user successfully completes an action. Error is used when there is an error and the user cannot proceed. Neutral is used to display information to a user to complete a task.
      - name: "popover"
        platforms: *web
        description: A popover is a way to toggle content on top of other content. It can be used for small texts, small forms, or even dropdowns. By default, popover will toggle open/closed by simply clicking the trigger element.
      - name: "tooltip"
        platforms: *web
        description:
  - name: buttons
    description: Buttons are used primarily for actions, such as “Save” and “Cancel”. Link Buttons are used for less important or less commonly used actions, such as “view shipping settings”.
    components:
      - name: "button"
        platforms: *web
        description: 
      - name: "button_toolbar"
        platforms: *web
        description: This kit should primarily hold the most commonly used buttons.
      - name: "circle_icon_button"
        platforms: *web
        description: When using Icon Circle Button, the icon must be clear a clear indication of what the button does because there is no text. 
  - name: data_visualization
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
    components:
      - name: "map"
        platforms: *react_only
        description: This kit provides a wrapping class to place around the MapLibre library.
      - name: "table"
        platforms: *web
        description: Tables display a collection of structured data and typically have the ability to sort, filter, and paginate data. 
      - name: "list"
        platforms: *web
        description: Lists display a vertical set of related content.
      - name: "filter"
        platforms: *web
        description: This kit can be implemented in a variety of ways. To see examples of how to implement this kit in production visit the /dev_docs/search page in production.
      - name: "distribution_bar"
        platforms: *web
        description: Can be used in the same way a pie chart can be used. By default, Distribution Bar comparatively represents data without numbers. 
      - name: "legend"
        platforms: *web
        description: A key used to compare the variables and their value in any given graph.
      - name: "gauge"
        platforms: *web
        description: 
      - name: "bar_graph"
        platforms: *web
        description: Bar graphs are used to compare data. Bar graphs are not typically used to show percentages.
      - name: "circle_chart"
        platforms: *web
        description: 
      - name: "line_graph"
        platforms: *web
        description: Line graphs are used to show changes in data over time.
      - name: "treemap_chart"
        platforms: *web
        description: Treemap charts are used to compare the relative size of groups of data. They can also use a nested data structure, allowing a user to drill down into a group to see its constituent data points.
  - name: date_and_time_text_patterns
    description: ""
    components:
      - name: "date"
        platforms: *web
        description: Use to display the date. Year will not display if it is the current year.
      - name: "date_range_inline"
        platforms: *web
        description: Use to display a date range. Year will not show if it is the current year.
      - name: "date_range_stacked"
        platforms: *web
        description: 
      - name: "date_stacked"
        platforms: *web
        description: Use to display the date, stacking month and day. Year will not show if it is the current year.
      - name: "date_time"
        platforms: *web
        description: Date Time is a composite kit that leverages the Date and Time kits. The Date Time kit is affected by time zones and defaults to "America/New_York".
      - name: "date_time_stacked"
        platforms: *web
        description: 
      - name: "date_year_stacked"
        platforms: *web
        description: This kit is a simple option for displaying dates in a month, day and the year format.
      - name: "time"
        platforms: *web
        description: This kit consist of large display and table display format. It includes and icon, and a time zone.
      - name: "time_range_inline"
        platforms: *web
        description: 
      - name: "time_stacked"
        platforms: *web
        description: 
      - name: "timestamp"
        platforms: *all
        description: This low profile kit displays time. Elapsed, current, future, or otherwise.
      - name: "weekday_stacked"
        platforms: *web
        description: 
  - name: form_and_dashboard_text_patterns
    description: ""
    components:
      - name: "contact"
        platforms: *web
        description: Use to display customer's or user's contact information.
      - name: "currency"
        platforms: *web
        description: Use to display monetary amounts, typically on dashboards or other layouts to show an overview or summary. User understanding increase when paired with labels.
      - name: "home_address_street"
        platforms: *web
        description: This kit can be used to display the address for a homeowner/project. It contains street address, APT format, City, state and zip. A Project hashtag can be used as a prop to link back to a project.
      - name: "label_pill"
        platforms: *web
        description: This kit combines the caption and pill kit with all its variants.
      - name: "label_value"
        platforms: *web
        description: This kit can be very versatile when used to display text data.
      - name: "person"
        platforms: *web
        description: This kit is broken down into a first name last name format with normal and bold weighted text.
      - name: "person_contact"
        platforms: *web
        description: This kit can be used to display a person contact information. 
      - name: "source"
        platforms: *web
        description: General use is to describe the discovery of businesses, customers, etc. This kit can also be used for other purposes as well.
      - name: "dashboard_value"
        platforms: *web
        description: Use in dashboards to give the viewer a quick overview of important metrics. If want to show currency, use Currency Kit.
      - name: "stat_change"
        platforms: *web
        description: Displays the increase, decrease, or neutral change in data.
      - name: "stat_value"
        platforms: *web
        description: This kit was cerated for the main use as a dashboard display for numbers. A large label is an optional part if it needs more clarity.
      - name: "title_count"
        platforms: *web
        description: This kits consists of title kit and body text. It is used to display a title and a count (numbers). It has a base size and a large formation for dashboard use.
      - name: "title_detail"
        platforms: *web
        description: This kit can be used in many versatile ways. It consist of a title 4 and light body text kit.
  - name: form_elements
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
    components:
      - name: "file_upload"
        platforms: *web
        description: 
      - name: "toggle"
        platforms: *web
        description: Physical switch that allows users to turn things on or off. Used for applying system states, presenting binary options and activating a state.
      - name: "form_pill"
        platforms: *web
        description: 
      - name: "form"
        platforms: *rails_only
        description: The form kit provides consumers with a convenient, consistently styled <form> wrapper.
      - name: "form_group"
        platforms: *web
        description: 
  - name: form_input
    description: ""
    components:
      - name: "passphrase"
        platforms: *web
        description: 
      - name: "phone_number_input"
        platforms: *web
        description: 
      - name: "text_input"
        platforms: *web
        description: Area where user can enter small amount of text. Commonly used in forms.
      - name: "rich_text_editor"
        platforms: *web
        description: 
      - name: "textarea"
        platforms: *web
        description: Area where user can enter larger amounts of text. Commonly used in forms.
      - name: "typeahead"
        platforms: *web
        description: Typeahead is auto suggestion or completion based on what the user is starting to type, gets refined as the user types more.
  - name: form_selection
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
    components:
      - name: "date_picker"
        platforms: *web
        description: Playbook's date picker is built using flatpickr, a vanilla js library. Common date picker use cases and features have been adapted into simple prop based configuration detailed in the docs below.
      - name: "multi_level_select"
        platforms: *web
        description: The MultiLevelSelect kit renders a multi leveled select dropdown based on data from the user. 
      - name: "select"
        platforms: *web
        description: Select displays multiple options for a user to pick from in a dropdown menu. User selects one option.
      - name: "selectable_card"
        platforms: *web
        description: Cards for information/content that can be selected. There is design for unselected and selected states. Typically used as a form element.
      - name: "selectable_card_icon"
        platforms: *web
        description: 
      - name: "selectable_icon"
        platforms: *web
        description: 
      - name: "radio"
        platforms: *all
        description: Radio is a control that allows the user to only choose one predefined option.
      - name: "checkbox"
        platforms: *web
        description: Checkbox is used for a list of selections that are meant to have one or more options checked.
      - name: "selectable_list"
        platforms: *web
        description: 
  - name: icons_and_images
    description: ""
    components:
      - name: "icon"
        platforms: *web
        description: An icon is a graphic symbol that represents an object (ie a file) or a function. They can be used to give the user feedback.
      - name: "icon_circle"
        platforms: *web
        description: Similar to Icon, Icon Circle is a graphical symbol within a circle used to visually indicate an object or function.
      - name: "icon_stat_value"
        platforms: *web
        description: 
      - name: "icon_value"
        platforms: *web
        description: Icon Value leverages our icon kit, to display a value of some sort in the interface. Typically, this includes a numerical value.
      - name: "user_badge"
        platforms: *web
        description: This kit was created to display employee icons related to a Nitro user. Currently there is the PVI logo and the Million Dollar Rep Icon.
      - name: "image"
        platforms: *web
        description: A responsive image component.
      - name: "lightbox"
        platforms: *react_only
        description: The Lightbox kit is a popup window overlay that will appear on top of your webpage and cover the entirety of the screen. 
      - name: "star_rating"
        platforms: *web
        description: A component to view other people’s opinions and experiences. Use when you want to show evaluation or a quick quantitative rating. Most effective when paired with reviews.
  - name: layout_and_structure
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
    components:
      - name: "flex"
        platforms: *web
        description: This kit is used to build most of the complex interfaces. The Flex Kit is used the same way flex box is used.
      - name: "layout"
        platforms: *web
        description: Layouts used for positioning content inside of pages, cards, or containers.
      - name: "card"
        platforms: *all
        description: 
      - name: "section_separator"
        platforms: *web
        description: Section separator is a divider line that compartmentalizes content, typically used on cards or white backgrounds.
      - name: "background"
        platforms: *web
        description: The background kit is used for adding a background to a page or to any container.
      - name: "collapsible"
        platforms: *web
        description: 
  - name: message_text_patters
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
    components:
      - name: "highlight"
        platforms: *web
        description: Highlight is used to pick out or emphasize content.
      - name: "message"
        platforms: *web
        description: This multi kit consist of a an avatar, a status, a caption, a body text, and a time stamp. All which can be optional.
  - name: navigation
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
    components:
      - name: "bread_crumbs"
        platforms: *web
        description: BreadCrumbs can be used for keeping a user aware of their route location.
      - name: "nav"
        platforms: *web
        description: The nav is a grouped set of links that take the user to another page, or tab through parts of a page. It comes in horizontal or vertical with several different variants.
      - name: "pagination"
        platforms: *rails_only
        description:
  - name: state_and_progress_indicators
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
    components:
      - name: "loading_inline"
        platforms: *web
        description: The loading kit is used to indicate to users that a page is still loading, or an action is still being processed.
      - name: "progress_pills"
        platforms: *web
        description: Progress pills indicate a specific point in time of a series of sequential steps. They are used to track progress of something over time.
      - name: "progress_simple"
        platforms: *web
        description: Displays the current progress of an operation flow. User understanding increases when paired with labels or numbers.
      - name: "progress_step"
        platforms: *web
        description: "Progress step kit is used to show the progress of a process. There are three types of steps in this kit: completed, active, and inactive."
      - name: "walkthrough"
        platforms: *web
        description:  
  - name: tags
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
    components:
      - name: "badge"
        platforms: *web
        description: Badges can be used for notification, tags, and status. They are used for count and numbers.
      - name: "pill"
        platforms: *all
        description: A pill uses both a keyword and a specific color to categorize an item. 
      - name: "hashtag"
        platforms: *web
        description: Hashtag is used to display home, project and other forms of IDs. They can be used as a link.
  - name: typography
    description: ""
    components:
      - name: "body"
        platforms: *web
        description: Default text style for paragraphs. Follow hiearchy when using "light" or "lighter" variants to deemphasize text — default style should be followed by "light" followed by "lighter".
      - name: "caption"
        platforms: *web
        description: Use to provide supplementary context. Default size is best when providing supplementary context to a small section (i.e. label for a text input, label for a paragraph). Use large caption when supplementary text covers more content.
      - name: "detail"
        platforms: *web
        description: Used for tables or designs with large amounts of data or text.
      - name: "title"
        platforms: *web
        description: Typically used as headers. Follow semantic hierarchy — Title 1s should be followed by Title 2s followed by Title 3s and so on, without skipping any levels.
  - name: user
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
    components:
      - name: "avatar"
        platforms: *all
        description: Avatar displays a user's picture. This helps aid easy recognition of the user. This kit is normally not used by itself, but rather used within other kits. The only time Avatar should be used instead of the User kit is when you are not going to display the user's name.
      - name: "avatar_action_button"
        platforms: *web
        description: 
      - name: "multiple_users"
        platforms: *web
        description: The multiple users kit is used to show that more than one user is associated to an action or item.
      - name: "multiple_users_stacked"
        platforms: *web
        description: Multiple users stacked is used in tight spaces, where we need to indicate that multiple users are associated to a specific action or item.
      - name: "user"
        platforms: *web
        description: This kit was created for having a systematic way of displaying users with avatar, titles, name and territory. This is a versatile kit with features than can be added to display more info.
  - name: "timeline"
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
    components:
      - name: "timeline"
        platforms: *web
        description: The timeline kit can use two different line styles in the same timeline - solid and dotted line styles.

