web: &web ["rails", "react"]
all: &all ["rails", "react", "swift"]
rails_swift: &rails_swift ["rails", "swift"]
react_swift: &react_swift ["swift", "react"]
rails_only: &rails_only ["rails"]
react_only: &react_only ["react"]
swift_only: &swift_only ["swift"]

kits:
  - name: "avatars"
    components:
      - name: "avatar"
        platforms: *all
      - name: "avatar_action_button"
        platforms: *web
      - name: "multiple_users"
        platforms: *web
      - name: "multiple_users_indicator"
        platforms: *swift_only
      - name: "multiple_users_stacked"
        platforms: *web
      - name: "user"
        platforms: *web
  - name: "background"
    components:
      - name: "background"
        platforms: *web
  - name: "bread_crumbs"
    components:
      - name: "bread_crumbs"
        platforms: *web
  - name: "buttons"
    components:
      - name: "button"
        platforms: *web
      - name: "button_toolbar"
        platforms: *web
      - name: "circle_icon_button"
        platforms: *web
  - name: "card"
    components:
      - name: "card"
        platforms: *all
  - name: "collapsible"
    components:
      - name: "collapsible"
        platforms: *web
  - name: "charts_and_graphs"
    components:
      - name: "bar_graph"
        platforms: *web
      - name: "circle_chart"
        platforms: *web
      - name: "distribution_bar"
        platforms: *web
      - name: "gauge"
        platforms: *web
      - name: "legend"
        platforms: *web
      - name: "line_graph"
        platforms: *web
      - name: "treemap_chart"
        platforms: *web
  - name: "dialog"
    components:
      - name: "dialog"
        platforms: *web
  - name: "filter"
    components:
      - name: "filter"
        platforms: *web
  - name: "fixed_confirmation_toast"
    components:
      - name: "fixed_confirmation_toast"
        platforms: *web
  - name: "forms"
    components:
      - name: "checkbox"
        platforms: *web
      - name: "date_picker"
        platforms: *web
      - name: "file_upload"
        platforms: *web
      - name: "form"
        platforms: *rails_only
      - name: "form_group"
        platforms: *web
      - name: "form_pill"
        platforms: *web
      - name: "multi_level_select"
        platforms: *web
      - name: "passphrase"
        platforms: *web
      - name: "phone_number_input"
        platforms: *web
      - name: "radio"
        platforms: *all
      - name: "rich_text_editor"
        platforms: *web
      - name: "select"
        platforms: *web
      - name: "selectable_card"
        platforms: *web
      - name: "selectable_card_icon"
        platforms: *web
      - name: "selectable_icon"
        platforms: *web
      - name: "selectable_list"
        platforms: *web
      - name: "text_input"
        platforms: *web
      - name: "textarea"
        platforms: *web
      - name: "toggle"
        platforms: *web
      - name: "typeahead"
        platforms: *web
  - name: "highlight"
    components:
      - name: "highlight"
        platforms: *web
  - name: "icon"
    components:
      - name: "icon"
        platforms: *web
  - name: "icon_circle"
    components:
      - name: "icon_circle"
        platforms: *web
  - name: "icon_stat_value"
    components:
      - name: "icon_stat_value"
        platforms: *web
  - name: "icon_value"
    components:
      - name: "icon_value"
        platforms: *web
  - name: "image"
    components:
      - name: "image"
        platforms: *web
  - name: "layouts"
    components:
      - name: "flex"
        platforms: *web
      - name: "layout"
        platforms: *web
  - name: "lightbox"
    components:
      - name: "lightbox"
        platforms: *react_only
  - name: "list"
    components:
      - name: "list"
        platforms: *web
  - name: "loading_inline"
    components:
      - name: "loading_inline"
        platforms: *web
  - name: "map"
    components:
      - name: "map"
        platforms: *react_only
  - name: "nav"
    components:
      - name: "nav"
        platforms: *web
  - name: "pagination"
    components:
      - name: "pagination"
        platforms: *rails_only
  - name: "popover"
    components:
      - name: "popover"
        platforms: *web
  - name: "progress"
    components:
      - name: "progress_pills"
        platforms: *web
      - name: "progress_simple"
        platforms: *web
      - name: "progress_step"
        platforms: *web
  - name: "section_separator"
    components:
      - name: "section_separator"
        platforms: *web
  - name: "star_rating"
    components:
      - name: "star_rating"
        platforms: *web
  - name: "table"
    components:
      - name: "table"
        platforms: *web
  - name: "tags"
    components:
      - name: "tags"
        platforms: *web
      - name: "badge"
        platforms: *web
      - name: "hashtag"
        platforms: *web
      - name: "pill"
        platforms: *all
  - name: "timeline"
    components:
      - name: "timeline"
        platforms: *web
  - name: "time_and_date"
    components:
      - name: "date"
        platforms: *web
      - name: "date_range_inline"
        platforms: *web
      - name: "date_range_stacked"
        platforms: *web
      - name: "date_stacked"
        platforms: *web
      - name: "date_time"
        platforms: *web
      - name: "date_time_stacked"
        platforms: *web
      - name: "date_year_stacked"
        platforms: *web
      - name: "time"
        platforms: *web
      - name: "time_range_inline"
        platforms: *web
      - name: "time_stacked"
        platforms: *web
      - name: "timestamp"
        platforms: *all
      - name: "weekday_stacked"
        platforms: *web
  - name: "tooltip"
    components:
      - name: "tooltip"
        platforms: *web
  - name: "typography"
    components:
      - name: "body"
        platforms: *web
      - name: "caption"
        platforms: *web
      - name: "detail"
        platforms: *web
      - name: "title"
        platforms: *web
  - name: "typography_patterns"
    components:
      - name: "contact"
        platforms: *web
      - name: "currency"
        platforms: *web
      - name: "dashboard_value"
        platforms: *web
      - name: "home_address_street"
        platforms: *web
      - name: "label_pill"
        platforms: *web
      - name: "label_value"
        platforms: *web
      - name: "message"
        platforms: *web
      - name: "person"
        platforms: *web
      - name: "person_contact"
        platforms: *web
      - name: "source"
        platforms: *web
      - name: "stat_change"
        platforms: *web
      - name: "stat_value"
        platforms: *web
      - name: "title_count"
        platforms: *web
      - name: "title_detail"
        platforms: *web
  - name: "user_badge"
    components:
      - name: "user_badge"
        platforms: *web
  - name: "walkthrough"
    components:
      - name: "walkthrough"
        platforms: *web
