@import "../tokens/colors";
@import "../tokens/border_radius";
@import "../tokens/spacing";
@import "../tokens/animation-curves";
@import "../pb_body/body_mixins";

@mixin pb_textarea($border_color, $background_color, $text_color, $disabled_border, $disabled_bg, $disabled_text) {
  @include pb_body_dark;
  border: 1px solid $border_color;
  border-radius: $border_rad_heavier;
  display: block;
  width: 100%;
  color: $text_color;
  background-color: $background_color;
  padding: ($space_xs + 4) $space_sm;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  transition: $easeIn;
  outline: none;
  overflow: auto;
  overflow-wrap: break-word;
  resize: none;
  transition-property: box-shadow, color, background-color;
  transition-duration: .3s;
  transition-timing-function: $bezier;
  &[type=number] {
    -moz-appearance:textfield;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  &:disabled, &:disabled:hover, &:disabled:focus, &:disabled:active {
    border-color: $disabled_border;
    background-color: $disabled_bg;
    color: $disabled_text;
    box-shadow: none;
    pointer-events: none;
    user-select: none;
  }
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-internal-autofill-selected {
    color: $text_color;
    background-color: $input_background_state;
    transition: background-color 0.3s ease-in-out 0s;
    font-family: $font_family_base;
  }
}

@mixin pb_textarea_focus($focus_color: $input_background_state) {
  background-color: $focus_color;
}

// Textarea ======================
@mixin pb_textarea_light {
  @include pb_textarea(
    $input_border_default,
    $input_background_default,
    $input_text_active,
    $input_border_disabled,
    $input_background_disabled,
    $input_text_disabled
  );
}

@mixin pb_textarea_dark {
  @include pb_textarea(
    $input_border_default_dark,
    $input_background_default_dark,
    $input_text_default_dark,
    $input_border_disabled_dark,
    $input_background_disabled_dark,
    $input_text_disabled_dark
  );
}

// Focus and Hovers ======================
@mixin pb_textarea_focus_light {
  border-color: $input_border_state;
  background-color: $input_background_state;
  color: $input_text_active;
}

@mixin pb_textarea_focus_dark {
  border-color: $input_border_state_dark;
  background-color: $input_background_state_dark;
  color: $input_text_state_active;
}

// Transitions ======================
@mixin transition_default{
  transition: background-color 0.3s ease-in-out 0s, border-color 0.3s ease-in-out 0s;
}
