@import "../pb_body/body_mixins";
@import "./textarea_mixin";
@import "../tokens/spacing";
@import "../tokens/titles";

.pb_textarea_kit {
  margin-bottom: $space_sm;

  .pb_caption_kit {
    margin-bottom: $space_xs;
    display: block;
  }
  textarea::placeholder,
  .pb_text_area_kit::placeholder {
    @include pb_body_light;
  }
  textarea,
  .pb_text_area_kit {
    @include pb_textarea_light;
  }
  textarea:focus,
  .pb_text_area_kit:focus {
    border-color: $primary;
    @include pb_textarea_focus_light;
    @include transition_default;
  }
  textarea:hover,
  .pb_text_area_kit:hover {
    background-color: rgba($focus_input_light,$opacity_5);
  }

  &.resize_both > textarea {
    resize: both;
    overflow: auto;
  }
  &.resize_horizontal > textarea {
    resize: horizontal;
    overflow: auto;
  }
  &.resize_vertical > textarea {
    resize: vertical;
    overflow: auto;
  }

  &.dark {
    textarea::placeholder {
      @include pb_body_light_dark;
    }
    textarea,
    .pb_text_area_kit {
      @include pb_body_dark;
      background-color: rgba($white, $opacity_1);
      border-color: rgba($white, 0.15);
    }
    textarea:focus, .pb_text_area_kit:focus {
      border-color: $active_dark;
      background-color: rgba($white, 0.025);
    }
  }

  &.error {
    .pb_body_kit {
      margin-top: $space_xs / 2;
    }
    textarea {
      border-color: $error;
    }
  }

  &.inline {
    textarea {
      &:not(:hover) {
        border-color: transparent;
      }
      &:focus {
        border-color: $primary;
      }
    }
  }

  .pb_caption_kit_xs {
    text-align: right;
  }
}
