@import "../pb_body/body_mixins";
@import "./textarea_mixin";
@import "../tokens/colors";
@import "../tokens/spacing";
@import "../tokens/titles";

.pb_textarea_kit {
  margin-bottom: $space_sm;

  .pb_caption_kit_md {
    margin-bottom: $space_xs !important;
    display: block;
  }
  textarea::placeholder,
  .pb_text_area_kit::placeholder {
    @include pb_body_light;
    color: $input_text_default;
  }
  textarea,
  .pb_text_area_kit {
    @include pb_textarea_light;
  }
  textarea:focus,
  .pb_text_area_kit:focus,
  textarea:active,
  .pb_text_area_kit:active {
    border-color: $primary;
    @include pb_textarea_focus_light;
    @include transition_default;
  }
  textarea:hover,
  .pb_text_area_kit:hover {
    background-color: $input_background_state;
  }
  textarea:disabled::placeholder,
  .pb_text_area_kit:disabled::placeholder {
    color: $input_text_disabled;
  }

  &.resize_both > textarea {
    resize: both;
    overflow: auto;
  }
  &.resize_horizontal > textarea {
    resize: horizontal;
    overflow: auto;
  }
  &.resize_vertical > textarea {
    resize: vertical;
    overflow: auto;
  }

  &.dark {
    textarea::placeholder,
    .pb_text_area_kit::placeholder {
      @include pb_body_light_dark;
      color: $input_text_default_dark;
    }
    textarea,
    .pb_text_area_kit {
      @include pb_textarea_dark;
    }
    textarea:hover,
    .pb_text_area_kit:hover {
      background-color: $input_background_state_dark;
    }
    textarea:focus,
    .pb_text_area_kit:focus,
    textarea:active,
    .pb_text_area_kit:active {
      @include pb_textarea_focus_dark;
      @include transition_default;
    }
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-internal-autofill-selected,
    .pb_text_area_kit:-webkit-autofill,
    .pb_text_area_kit:-webkit-autofill:hover,
    .pb_text_area_kit:-internal-autofill-selected {
      background-color: $input_background_state_dark;
      color: $input_text_default_dark;
    }
    textarea:disabled,
    .pb_text_area_kit:disabled {
      border-color: $input_border_disabled_dark;
      background-color: $input_background_disabled_dark;
      color: $input_text_disabled_dark;
    }
    textarea:disabled::placeholder,
    .pb_text_area_kit:disabled::placeholder {
      color: $input_text_disabled_dark;
    }
  }

  &.error {
    .pb_body_kit_negative {
      margin-top: $space_xs / 2 !important;
      color: $text_error;
    }
    textarea {
      border-color: $input_border_error;
    }
  }

  &.dark.error {
    .pb_body_kit_negative {
      color: $text_error_dark;
    }
    textarea {
      border-color: $input_border_error_dark;
    }
  }

  &.inline {
    textarea {
      &:not(:hover) {
        border-color: transparent;
      }
      &:focus {
        border-color: $primary;
      }
    }
  }

  .pb_caption_kit_xs {
    text-align: right;
  }
}