<% column_definitions = [
    {
      accessor: "year",
      label: "Year",
    },
    {
      accessor: "newEnrollments",
      label: "New Enrollments",
    },
    {
      accessor: "scheduledMeetings",
      label: "Scheduled Meetings",
    },
    {
      accessor: "attendanceRate",
      label: "Attendance Rate",
    },
    {
      accessor: "completedClasses",
      label: "Completed Classes",
    },
    {
      accessor: "classCompletionRate",
      label: "Class Completion Rate",
    },
    {
      accessor: "graduatedStudents",
      label: "Graduated Students",
    }
] %>

<% table_data = 15.times.map do |index|
  {
    year: (2020 + index).to_s,
    id: (2020 + index).to_s,
    newEnrollments: (20 + index).to_s,
    scheduledMeetings: (10 + index).to_s,
    attendanceRate: "#{50 + index}%",
    completedClasses: (3 + index).to_s,
    classCompletionRate: "#{30 + index}%",
    graduatedStudents: (19 + index).to_s,
  }
end %>

<div style="max-height: 320px; overflow-y: auto;">
  <%= pb_rails("advanced_table", props: { id: "sticky_header_table", table_data: table_data, column_definitions: column_definitions, responsive: "none", table_props: { sticky: true }}) %>
</div>
