@import "../tokens/spacing";
@import "../pb_phone/phone";
@import "../pb_owner/owner";

.pb_owner_phone_kit {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
