
[class^=pb_collapsible_kit] {

  .toggle-content {
    display: none;
    height: 0;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    overflow: hidden;
    transition: height 300ms, padding 300ms ease-in-out;
  }

  .toggle-content.is-visible {
    display: block;
    height: auto;
  }
}
