
[class^=pb_collapsible_kit] {

  .toggle-content {
    display: none;
    height: 0;
    overflow: hidden;
    transition: height 350ms ease-in-out;
  }

  .toggle-content.is-visible {
    display: block;
    height: auto;
  }
}
