@import "../tokens/spacing";

.pb_source_kit {
  .pb__source_layout {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .pb_icon_circle_kit_size_sm_default,
  .pb_avatar_kit_size_sm {
    margin-right: $space-sm;
  }

  .pb__source_content {
    display: block;
    flex-grow: 1;

    .pb__source_value {
      display: flex;
      justify-content: flex-start;
      align-items: baseline;

      .pb_body_kit {
        margin-right: $space-xs;
      }
    }
  }
}