@import "../tokens/spacing";
@import "../tokens/colors";
@import "../tokens/typography";
@import "../tokens/screen_sizes"; // $nspace-xs:  4px;

@mixin pb_list {
  ol,
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  ol {
    counter-reset: list-counter;

    li:before {
      content: counter(list-counter);
      counter-increment: list-counter;
      display: block;
      width: 20px;
      flex: 0 0 20px;
      text-align: left;
      color: $text_lighter;
      font-weight: $bold;
      margin-right: $space-sm;
    }
  }

  li {
    border-bottom: 1px solid $input_border_default;
    padding: $space-sm 0;
    display: flex;
    align-items: left;

    &:last-child {
      border-bottom: 0;
    }
  }
}
@mixin pb_list_layout_grid {
  display: grid;
  grid-template: auto / repeat(12,1fr);
  align-items: center;
}
@mixin pb_list_layout_left {
  @include pb_list_layout_grid;

  :nth-child(odd) {
    grid-column: 1 / 1;
  }

  :nth-child(even) {
    grid-column: 2 / -1;
    text-align: left;
  }
}
@mixin pb_list_layout_right {
  @include pb_list_layout_grid;

  :nth-child(odd) {
    grid-column: 1 / -2;
  }

  :nth-child(even) {
    grid-column: -1;
    text-align: right;
  }
}
@mixin pb_list_dark {
  color: $white;
  border-bottom: 1px solid $input_border_default_dark;

  &:last-child {
    border-bottom: 0;
  }

  &:before {
    color: $text_lighter_dark;
  }
}
@mixin pb_list_large {
  padding: $space-lg 0;
}
@mixin pb_list_x_padding {
  padding-left: $space-md;
  padding-right: $space-md;
}
@mixin pb_list_borderless {
  border-bottom: 0;
}
