@import "list_mixin";

[class*=pb_list_kit] {
  @include pb_list;
}

[class^=pb_list_kit] {
  &[class*=_dark] li {
    @include pb_list_dark;
  }

  &[class*=_large] li {
    @include pb_list_large;
  }

  &[class*=_xpadding] li {
    @include pb_list_x_padding;
  }

  &[class*=_borderless] li {
    @include pb_list_borderless;
  }

  &[class*=_layout_left] li {
    @include pb_list_layout_left;
  }

  &[class*=_layout_right] li {
    @include pb_list_layout_right;
  }
}