<div class="pb--doc-demo-row">

    <%= pb_rails("selectable_icon", props: {
        icon: "cassette-tape",
        input_id: 4,
        multi: false,
        name: "select",
        text: "Cassette"
    }) %>

    <%= pb_rails("selectable_icon", props: {
        icon: "compact-disc",
        input_id: 5,
        multi: false,
        name: "select",
        text: "CD"
    }) %>

    <%= pb_rails("selectable_icon", props: {
        icon: "album-collection",
        input_id: 6,
        multi: false,
        name: "select",
        text: "Vinyl"
    }) %>

</div>