<div class="pb--doc-demo-row">

    <%= pb_rails("selectable_icon", props: {icon: "cassette-tape", input_id: 4, multi: false, name: "select", text: "Title" }) %>
    <%= pb_rails("selectable_icon", props: {icon: "typewriter", input_id: 5, multi: false, name: "select", text: "Title" }) %>
    <%= pb_rails("selectable_icon", props: {icon: "archway", input_id: 6, multi: false, name: "select", text: "Title" }) %>

</div>