<div class="pb--doc-demo-row">

    <%= pb_rails("selectable_icon", props: {icon: "album-collection", input_id: 7, text: "Title", dark: true }) %>
    <%= pb_rails("selectable_icon", props: {icon: "waveform", input_id: 8, text: "Title", dark: true }) %>
    <%= pb_rails("selectable_icon", props: {icon: "amp-guitar", input_id: 9, text: "Title", dark: true }) %>

</div>