<div class="pb--doc-demo-row">

  <%= pb_rails("selectable_icon", props: {
    icon: "dollar-sign", 
    input_id: 1, 
    checked: true, 
    text: "US Dollar" 
  }) %>
  
  <%= pb_rails("selectable_icon", props: {
    icon: "euro-sign", 
    input_id: 2, 
    text: "Euro" 
  }) %>
  
  <%= pb_rails("selectable_icon", props: {
    icon: "yen-sign", 
    input_id: 3, 
    disabled: true, 
    text: "Yen" 
  }) %>

</div>
