 <div class="pb--doc-demo-row">

 <%= pb_rails("selectable_icon", props: {
    icon: "dollar-sign",
    input_id: "options-id",
    checked: true,
    text: "US Dollar",
    additional_input_options: {
      class: "input-class",
      name: "overwriting-name",
      value: "overwriting-value",
    }
  }) %>

</div>
