<div class="pb--doc-demo-row">

    <%= pb_rails("selectable_icon", props: {
        icon: "cog",
        dark: true,
        input_id: 7,
        checked: true,
        text: "Selected"
    }) %>

    <%= pb_rails("selectable_icon", props: {
        icon: "calendar",
        dark: true,
        input_id: 8,
        text: "Unselected"
    }) %>

    <%= pb_rails("selectable_icon", props: {
        icon: "inbox",
        dark: true,
        input_id: 9,
        disabled: true,
        text: "Disabled"
    }) %>

</div>