<div class="pb--doc-demo-row">

    <%= pb_rails("selectable_icon", props: {
        icon: "cog", 
        input_id: 1, 
        checked: true, 
        text: "Selected" 
    }) %>
    
    <%= pb_rails("selectable_icon", props: {
        icon: "calendar", 
        input_id: 2, 
        text: "Unselected" 
    }) %>
    
    <%= pb_rails("selectable_icon", props: {
        icon: "inbox", 
        input_id: 3, 
        disabled: true, 
        text: "Disabled" 
    }) %>

</div>
