<span id='regular-popover-1'>Click Me.</span>
<%= pb_rails("popover", props: {trigger_element_id: "regular-popover-1", tooltip_id: "tooltip-1", position: 'right', offset: false }) do %>
    Whoa. I'm a popover.
<% end %>




