<span id='regular-popover-1'>Click Me.</span>
<%= pb_rails("popover", props: {buttonId: "regular-popover-1", tooltipId: "tooltip-1", position: 'right', offset: false }) do %>
    Whoa. I'm a popover.
<% end %>




