<div class="changelog-container">
    <% @releases.each do |release| %>
        <%= render_markdown(release[:content]) %>
    <% end %>

    <%= pb_rails("pagination", props: { model: @releases, view: self, margin_top: "sm" }) %>
</div>
