<div class="kit-show-wrapper">
  <%= pb_rails("nav", props: { margin_bottom: "md", orientation: "horizontal" }) do %>
    <% @kits_array.each do |kit| %>
      <%= pb_rails("nav/item", props: { text: kit, link: "#", active: kit == @selected_kit }) %>
    <% end %>
  <% end %>
  <% if (@type == "rails") %>
    <%= pb_kit(kit: @selected_kit, dark_mode: dark_mode?) %>
  <% elsif (@type == "react") %>
    <%= pb_kit(kit: @selected_kit, type: "react", dark_mode: dark_mode?) %>
  <% end %>
</div>
