<div class="global_props_page">
  <%= react_component("IconsIndex", {
    bannerImageUrl: vite_asset_path("images/icon-banner.svg"),
    iconCategories: @icon_categories,
    iconKitUrl: "https://playbook.powerapp.cloud/kits/icon/react",
    iconsByCategory: @icons_by_category,
  }) %>
</div>
