<div class="visual_guidelines">

<%= turbo_frame_tag 'view_more' do %>
  <%= link_to "Click here for Turbo!", full_list_path %>
  <% end %>

  <%= react_component("VisualGuidelines", examples: @kit_examples_json) %>
</div>
