<div class="visual_guidelines">
  <%= pb_rails("background", props: { classname: "token-wrapper", background_color: "light", padding: "xl" }) do %>
    <%= react_component("VisualGuidelines", examples: @kit_examples_json) %>
  <% end %>
</div>
