// @import "../tokens/spacing";
// @import "../pb_caption/caption";
// @import "../pb_body/body";

// [class^=pb_label_value_kit] {
//   [class^=pb_caption_kit]  {
//     margin-bottom: $space-xs/1.5;
//   }
//   &[class*=_dark]  {
//     [class^=pb_caption_kit] {
//       color: $text_dk_light;
//     }
//     [class^=pb_body_kit] {
//       color: $text_dk_default;
//     }
//   }
// }
