import React from 'react'
import <%= @kit_name_pascal %> from '../../pb_<%= @kit_name_underscore %>/_<%= @kit_name_underscore %>'

const <%= @kit_name_pascal %>Default = (props) => (
  <div>
    <<%= @kit_name_pascal %>
        {...props}
    />
  </div>
)

export default <%= @kit_name_pascal %>Default
