<%%= content_tag(:div,
    aria: object.aria,
    class: object.classname,
    data: object.data,
    id: object.id,
    **combined_html_options) do %>
  <span><%= @kit_name_uppercase %> CONTENT</span>
<%% end %>