import React from 'react'
import <%= @kit_name_pascal %> from '../../pb_<%= @kit_name_underscore %>/_<%= @kit_name_underscore %>'

const <%= @kit_name_pascal %>Default = (props) => (
  <<%= @kit_name_pascal %>
      {...props}
  >
    <%= @kit_name_capitalize %> content
  </<%= @kit_name_pascal %>>
)

export default <%= @kit_name_pascal %>Default
