
<div>
  <%= pb_rails("bread_crumbs", props: { children: [
      { link: "/home", text: "Home", icon: "home" },
      { link: "/users", text: "Users", icon: "users" },
      { text: "User", icon: "user" }
      ]
  }) %>
</div>
