
<div>
  <%= pb_rails("bread_crumbs", props: { children: [
      { link: "/home", text: "Home", icon: "home"},
      { link: "/collections", text: "Collections", icon: "list" },
      { text: "Collection Items", icon: "list" }
      ]
  }) %>
</div>
