@import "../tokens/positioning";
@import "../tokens/colors";

[class^="pb_tooltip_kit"] {
  .tooltip_tooltip {
    display: none;
    opacity:0;
    filter:alpha(opacity=0);
    left: 0;

    &.flipped {
      margin-top: 15px;
      .arrow {
        top: -35%;
        border-color: transparent transparent white transparent;
      }
    }

    &.react {
      .arrow {
        top: 78%;
      }
      &.flipped {
        .arrow {
          top: -8%;
        }
      }
    }

    .arrow {
      content: " ";
      position: absolute;
      top: 100%;
      left: 50%;
      border-color: white transparent transparent transparent;
      border-style: solid;
      border-width: 10px;
      margin-bottom: 50px;
      margin-left: -10px;
    }
    &.show {
      opacity: 1;
      filter:alpha(opacity=1);
      display: block;
      z-index: $z_9;
      margin-bottom: $space_sm;
      background-color: white;
      padding: $space_sm;
      box-shadow: $shadow_deeper;
      border-radius: 3px;
    }
  }
  &[class*=_dark]{
    .tooltip_tooltip{
      $tooltip_dark_bg: lighten($bg_dark, 10%);

      &.show{
        opacity: 85%;
        background-color: $tooltip_dark_bg;
      }
      .arrow {
        border-color: $tooltip_dark_bg transparent transparent transparent;
      }
      &.flipped {
        .arrow {
          border-color: transparent transparent $tooltip_dark_bg transparent;
        }
      }
    }
  }

}

.tooltip_tooltip.top {
  padding: 5px 0;
}

// .pb_tooltip_reference_wrapper {
//   display: inline-block;

// }
