@import "../tokens/positioning";

[class^="pb_tooltip_kit"] {
  .tooltip_tooltip {
    display: none;
    opacity:0; 
    filter:alpha(opacity=0);
    
    .arrow {
      content: " ";
      position: absolute;
      top: 100%;
      left: 50%;
      border-color: white transparent transparent transparent;
      border-style: solid;
      border-width: 10px;
      margin-bottom: 50px;
      margin-left: -10px;
    }
    &.show {
      opacity: 1;
      filter:alpha(opacity=1);
      display: block;
      z-index: $z_9;
      margin-bottom: $space_sm;
      background-color: white;
      padding: $space_sm;
      box-shadow: $shadow_deeper;
      border-radius: 3px;
    }
  }
  &[class*=_dark]{
    .tooltip_tooltip{
      &::after{
        opacity: 85%;
        border-color: $bg_dark transparent transparent transparent;
      }
      &.show{
      opacity: 85%;
      background-color: $bg_dark;
      }
    }
  }

}



.tooltip_tooltip.top {
  padding: 5px 0;
}


.pb_tooltip_reference_wrapper {
  display: inline-block;

}
