// Sizes
= pb_rails("heading", props: { text: "Sizes", tag: "h3", size: "3" })
br
= pb_rails("heading", props: { text: "Small", tag: "h4", size: "4" })
= render partial: "playbook/pb_table/docs/examples/table_sm"

= pb_rails("heading", props: { text: "Medium", tag: "h4", size: "4" })
= render partial: "playbook/pb_table/docs/examples/table_md"

= pb_rails("heading", props: { text: "Large", tag: "h4", size: "4" })
= render partial: "playbook/pb_table/docs/examples/table_lg"
br
br

// Table Container
= pb_rails("heading", props: { text: "Table Container", tag: "h3", size: "3" })
= render partial: "playbook/pb_table/docs/examples/table_container"
br
br

// Disable Hover
= pb_rails("heading", props: { text: "Disable Hover", tag: "h3", size: "3" })
= render partial: "playbook/pb_table/docs/examples/table_disable_hover"
br
br

// Multiline
= pb_rails("heading", props: { text: "Multiline", tag: "h3", size: "3" })
= render partial: "playbook/pb_table/docs/examples/table_multiline"
br
br

// Force Single Line
= pb_rails("heading", props: { text: "Force Single Line", tag: "h3", size: "3" })
= render partial: "playbook/pb_table/docs/examples/table_single_line"
br
br

// Dark
= pb_rails("heading", props: { text: "Dark Table", tag: "h3", size: "3" })
= render partial: "playbook/pb_table/docs/examples/table_dark"
br
br

// Dark Table Container
= pb_rails("heading", props: { text: "Dark Table Container", tag: "h3", size: "3" })
= render partial: "playbook/pb_table/docs/examples/table_container_dark"
br
br
