<span id='regular-tooltip-2'>Hover over me.</span>

<%= pb_rails("tooltip", props: {
  trigger_element_id: "regular-tooltip-2",
  tooltip_id: "tooltip-2",
  position: 'top',
}) do %>
    Whoa. I'm a tooltip.
<% end %>
