// PULL BOOTSTRAP OVERRIDES
// ************************************************
// TALK ABOUT THESE
// ************************************************



// Should move closer to related SASS
// These are bootstrap!
// Update values to main

// Move
$header-color:                  $dark-blue;
$title-color:                   $dark-blue;

// Move to table
$table-bg-color:                $light-grey;
$table-bg-stripe-color:         $light-grey-alt;
$table-bg-active-color:         $medium-blue;
$table-bg-active-stripe-color:  $light-blue;
