// Do not use
$dark-grey:        $gray-7;
$dark-gray:        $dark-grey;
$power-grey:       $gray-2;
$power-gray:       $power-grey;
$power-black:      $black;
$ultralight-grey:  $gray-1;
$ultralight-gray:  $ultralight-grey;
$light-grey:       $gray-2;
$light-gray:       $light-grey;
$light-grey-alt:   $gray-3;
$light-gray-alt:   $light-grey-alt;
$medium-grey:      $gray-4;
$medium-gray:      $medium-grey;
$medium-dark-grey: $gray-5;
$medium-dark-gray: $medium-dark-grey;
$light-orange:     $light-yellow;
$dark-yellow:      $dark-orange;
$light-red:        $p-red-opacity-1;
$medium-red:       $power-red;
$dark-red:         $power-red;
$lavender:         $light-blue;
$dark-purple:      $medium-purple;
$light-teal:       $power-blue;
$dark-teal:        $medium-teal;
$dark-blue:        $power-royal;
