
$font-family-base: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif
$icon-font: 'FontAwesome'


// Font Sizes
$font-jumbo:        36px
$font-largest:      32px
$font-larger:       28px
$font-large:        20px
$font-base:         16px
$font-small:        14px
$font-smaller:      12px
$font-smallest:     11px




// Letter Spacing
$lspace-tightest:         -.1em
$lspace-tighter:          -.07em
$lspace-tight:            -.03em
$lspace-normal:           0
$lspace-loose:            .03em
$lspace-looser:           .07em
$lspace-loosest:          .1em
$lspace-super-loosest:    .2em





// Standard Font Weights
$bold:          600
$regular:       400

// Non-Standard Font Weights
$extrabold:     900
$boldest:       800
$bolder:        700
$light:         300
$lighter:       100




// -------------------------
// Bootstrap Type Settings
// -------------------------


// Typeface
$font-family-demo:          $font-family-base
$font-family-monospace:     Monaco, Menlo, Consolas, "Courier New", monospace


// Font sizes
$font-size-h1:              floor($font-base * 3.444)
$font-size-h2:              ceil($font-base * 2.889)
$font-size-h3:              ceil($font-base * 2.222)
$font-size-h4:              ceil($font-base * 1.611)
$font-size-h5:              floor($font-base * 1.556)
$font-size-h6:              ceil($font-base * 1.333)
$font-size-base:            $font-base
$font-size-large:           $font-large
$font-size-small:           $font-small
$component-font-size-base:  ceil($font-base * 0.833)


// Line Height
$line-height-base:          1.72222
$line-height-computed:      floor($font-base * $line-height-base)
$line-height-large:         1.72222
$line-height-small:         1.1

$headings-font-family:      inherit
$headings-font-weight:      $regular
$headings-line-height:      1.1
$headings-color:            inherit
