@import "../pb_textarea/textarea_mixin";
@import "../pb_title/title_mixin";
@import "../tokens/colors";


[class^=pb_text_input_kit] {
  .pb_text_input_kit_label {
    margin-bottom: $space_xs;
    display: block;
  }

  .text_input_wrapper {
    margin-bottom: $space_sm;
    display: block;

    input::placeholder,
    .text_input .placeholder {
      @include pb_body_light;
    }

    input,
    .text_input {
      @include pb_textarea_light;
      @include pb_title_4;
      overflow: hidden;
    }

    input:focus,
    .text_input:focus,
    input:-webkit-autofill:focus,
    .text_input:-webkit-autofill:focus {
      @include pb_textarea_focus;
      -webkit-box-shadow: 0 0 0px 1000px $focus_input_light inset;
      transition: background-color 5000s ease-in-out 0s;
    }
  }

  &.dark {
    .add_on_left{
      .text_input {
        border-left: 0;
      }
    }
    .add_on_right {
      .text_input {
        border-right: 0;
      }
    }
    .text_input_wrapper {
      margin-bottom: 1rem;

      input::placeholder,
      .text_input .placeholder {
        @include pb_body_light_dark;
      }

      input, .text_input {
        @include pb_textarea_dark;
        @include pb_title_4;
        @include pb_title_dark;
        overflow: hidden;
      }

      input:focus,
      .text_input:focus,
      input:-webkit-autofill:focus,
      .text_input:-webkit-autofill:focus {
        @include pb_textarea_focus_dark;
        -webkit-box-shadow: 0 0 0px 1000px $focus_input_dark inset;
        transition: background-color 5000s ease-in-out 0s;
      }
    }

    &.error {
      .text_input_wrapper {
        input, .text_input {
          border-color: $error_dark;
        }
      }
    }
  }

  &.error {
    .text_input_wrapper {
      [class*=pb_body_kit] {
        margin-top: $space_xs / 2;
      }
      input, .text_input {
        border-color: $error;
      }
    }
  }
}

.text_input_wrapper_add_on {
  & > [class^=pb_text_input_kit]:not(:last-child) {
    .text_input_wrapper_add_on input, [class^=pb_text_input_kit] .text_input_wrapper_add_on .text_input {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      border-right-width: 0;
    }
  }
  .section-separator span {
    padding: 0;
  }

  .add-on-card {
    height: 45px;
    margin: 0;
    padding: 0 !important;
    align-items: center;
    justify-content: center;
    width: 45px;

    .add-on-icon {
      color: $text_lt_lighter;
    }
  }

  .add-on-card-dark {
    background-color: $bg-dark;
  }
  .text_input :focus + .add-on-card-dark {
    background-color: $active_dark;
  }

  .add-on-left {
    .text_input {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
  }

  .add-on-right {
    .text_input{
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
  }
  .card-left-aligned {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  .card-right-aligned {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }

  .border_right_off {
    .card-left-aligned {
      border-right: 0;
    }
    .text_input {
      border-left: 0 !important;
      padding-left: 0 !important;
    }
  }

  .border_left_on {
    .card-right-aligned {
      border-left: 0;
    }
  }

  .border_right_on {
    .card-left-aligned {
      border-right: 0;
    }
  }

  .border_left_off {
    .card-right-aligned {
      border-left: 0;
    }
    .text_input {
      border-right: 0 !important;
      padding-right: 0 !important;
    }
  }
}
