@import "../pb_textarea/textarea_mixin";
@import "../tokens/titles";
@import "../tokens/colors";

.pb_text_input_kit {
  label {
    display: block !important;
  }
  .pb_text_input_kit_label {
    margin-bottom: $space_xs;
    display: block;
  }
  .text_input_wrapper {
    display: block;
    input::placeholder,
    .text_input .placeholder {
      @include pb_body_light;
      color: $input_text_default;
    }
    input,
    .text_input {
      max-height: 45px;
      @include pb_textarea_light;
      overflow: hidden;
    }
    input:hover,
    .text_input:hover {
      background-color: $input_background_state;
    }
    input:focus,
    .text_input:focus,
    input:active,
    .text_input:active,
    input:-webkit-autofill:focus,
    .text_input:-webkit-autofill:focus {
      @include pb_textarea_focus_light;
      @include transition_default;
    }
    input:disabled::placeholder,
    .text_input:disabled::placeholder {
      color: $input_text_disabled;
    }
  }
  &.dark {
    .add_on_left {
      .text_input {
        border-left: 0;
      }
    }
    .add_on_right {
      .text_input {
        border-right: 0;
      }
    }
    .add-on-icon {
      color: $input_text_default_dark;
    }
    .text_input_wrapper {
      input::placeholder,
      .text_input .placeholder {
        @include pb_body_light_dark;
        color: $input_text_default_dark;
      }
      input,
      .text_input {
        @include pb_textarea_dark;
        @include pb_body_dark;
        overflow: hidden;
      }
      input:hover,
      .text_input:hover {
        background-color: $input_background_state_dark;
      }
      input:focus,
      .text_input:focus,
      input:active,
      .text_input:active,
      input:-webkit-autofill:focus,
      .text_input:-webkit-autofill:focus {
        @include pb_textarea_focus_dark;
        @include transition_default;
      }
      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-internal-autofill-selected,
      .text_input:-webkit-autofill,
      .text_input:-webkit-autofill:hover,
      .text_input:-internal-autofill-selected {
        background-color: $input_background_state_dark;
        color: $input_text_default_dark;
      }
      input:disabled,
      .text_input:disabled {
        border-color: $input_border_disabled_dark;
        background-color: $input_background_disabled_dark;
        color: $input_text_disabled_dark;
      }
      input:disabled::placeholder,
      .text_input:disabled::placeholder {
        color: $input_text_disabled_dark;
      }
    }
    &.error {
      .text_input_wrapper {
        // The `:not` here prevents error styling from affecting the country search input in the Phone Number Input Kit.
        input:not(.iti__search-input),
        .text_input {
          border-color: $input_border_error_dark;
        }
        .pb_body_kit_negative {
          color: $text_error_dark;
        }
      }
      .text_input_wrapper_add_on {
        .add-on {
          &-right {
            .add-on-card {
              border: 1px solid $input_border_error_dark;
              border-left: 0;
            }
          }
          &-left {
            .add-on-card {
              border: 1px solid $input_border_error_dark;
              border-right: 0;
            }
          }
        }
      }
    }
  }
  &.error {
    .text_input_wrapper {
      .pb_body_kit_negative {
        margin-top: $space_xs / 2;
        color: $text_error;
      }
      // The `:not` here prevents error styling from affecting the country search input in the Phone Number Input Kit.
      input:not(.iti__search-input),
      .text_input {
        border-color: $input_border_error;
      }
    }
    .text_input_wrapper_add_on {
      .add-on {
        &-right {
          .add-on-card {
            border: 1px solid $input_border_error;
            border-left: 0;
          }
        }
        &-left {
          .add-on-card {
            border: 1px solid $input_border_error;
            border-right: 0;
          }
        }
      }
      .border {
        &_left {
          &_on {
            .card-right-aligned {
              border-left: 0;
            }
          }
          &_off {
            .card-right-aligned {
              border-left: 0;
            }
            .text_input {
              border-right: 0;
              padding-right: 0;
            }
          }
        }
        &_right {
          &_on {
            .card-left-aligned {
              border-right: 0;
            }
          }
          &_off {
            .card-left-aligned {
              border-right: 0;
            }
            .text_input {
              border-left: 0;
              padding-left: 0;
            }
          }
        }
      }
    }
  }
  &.inline {
    .text_input_wrapper input::placeholder,
    .text_input_wrapper .text_input .placeholder {
      opacity: 1;
    }
    &:not(:hover) {
      .text_input_wrapper input:not(:focus) {
        background-color: transparent;
        border-color: transparent;
      }
    }
  }

  .text_input_wrapper_add_on {
    & > .pb_text_input_kit:not(:last-child) {
      .text_input_wrapper_add_on input,
      .pb_text_input_kit .text_input_wrapper_add_on .text_input {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-right-width: 0;
      }
    }
    .section-separator span {
      padding: 0;
    }

    .add-on {
      &-card {
        height: 45px;
        margin: 0;
        padding: 0 !important;
        align-items: center;
        justify-content: center;
        width: 45px;
        border: 1px solid $input_border_default;
        background-color: $input_background_default;
      }
      &-icon {
        color: $input_text_default;
      }
      &-card-dark {
        background-color: $input_background_default_dark;
        border-color: $input_border_default_dark;
      }
      &-left {
        .text_input {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }

      &-right {
        .text_input {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }
    .text_input:focus ~ .add-on-card-dark {
      background-color: $input_background_state_dark;
      border-width: 0px;
    }
    .card-left-aligned {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .card-right-aligned {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .border {
      &_right_off {
        .card-left-aligned {
          border-right: 0;
        }
        .text_input {
          border-left: 0;
          padding-left: 16px;
        }
      }
      &_left_on {
        .card-right-aligned {
          border-left: 0;
        }
      }
      &_right_on {
        .card-left-aligned {
          border-right: 0;
        }
      }
      &_left_off {
        .card-right-aligned {
          border-left: 0;
        }
        .text_input {
          border-right: 0;
          padding-right: 0;
        }
      }
    }
  }
}
