<%= pb_rails("select", props: { label: "Favorite Holiday" }) do %>
  <select name="holiday" id="holiday">
    <option value="1">Christmas</option>
    <option value="2">Thanksgiving</option>
    <option value="3">Halloween</option>
    <option value="4">Fourth of July</option>
  </select>
<% end %>
