@import "../tokens/colors";

$additional_colors: (
  "gradient": linear-gradient(135deg, $gradient_start 0%, $gradient_end 100%),
  "dark": $bg_dark,
  "light": $bg_light,
  "white": $white,
  "primary": $primary_action,
  "shadow": $shadow,
);

$merge_kits1: map-merge($status_colors, $category_colors);
$merge_kits2: map-merge($merge_kits1, $product_colors);
$merge_kits3: map-merge($merge_kits2, $text_colors);
$merge_kits4: map-merge($merge_kits3, $card_colors);
$merge_kits5: map-merge($merge_kits4, $status_colors);
$merge_kits6: map-merge($merge_kits5, $data_colors);
$merge_kits7: map-merge($merge_kits6, $border_colors);
$background_colors: map-merge($additional_colors, $merge_kits7);

.pb_background_kit {
  max-width: 100%;
  max-height: 100%;
  background-size: cover;

  @each $name, $color in $background_colors {
    &.pb_background_color_#{$name} {
      background: $color;
    }
  }

  &.fade {
    opacity: 0;
    &.lazyloaded {
      opacity: 1;
      transition: opacity 400ms ease-in;
    }
  }

  &.blur {
    filter: blur(5px);
    &.lazyloaded {
      -webkit-filter: blur(0);
      filter: blur(0);
      transition: filter 400ms ease-in;
    }
  }

  &.scale {
    opacity: 0;
    transform: scale(0.9);
    &.lazyloaded {
      opacity: 1;
      transform: scale(1);
      transition: 700ms ease-in;
    }
  }

  &.imageoverlay {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background-color: inherit;
    }

    * {
      position: relative;
      z-index: 2;
    }
  }

  @each $key, $value in $opacity {
    &.imageoverlay_#{$key}::before {
      opacity: $value;
    }
  }
}
