@import "../tokens/spacing";
@import "../tokens/colors";
@import "../tokens/typography";
@import "../tokens/opacity";

$pb_pill_height: 22px;

[class^=pb_pill] {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 $space-sm/1.8;
  height: $pb_pill_height;
  border-radius: $pb_pill_height/2;

  [class^=pb_title] {
    &[class*=_4] {
      font-size: $text-small !important;
    }
  }

  @each $color_name, $color_value in $status_color_text {
    &[class*=_#{$color_name}]  {
      background: rgba($color_value, $opacity-1);

      [class^=pb_title] {
        &[class*=_4] {
          color: $color_value !important;
        }
      }
    }
  }
}
