@import "../tokens/colors";
@import "../tokens/border_radius";
@import "../tokens/spacing";
@import "../tokens/shadows";

[class^=pb_typeahead_kit] {
  .pb_typeahead_wrapper {
    position: relative;

    .pb_typeahead_loading_indicator {
      position: absolute;
      width: min-content;
      bottom: 0.6em;
      right: 1em;
      opacity: 0;
      color: $text_lt_light;
      transition: opacity .15s ease-in-out;
    }
  }

  [class^=pb_text_input_kit] {
    .text_input_wrapper {
      & > input:first-child {
        padding-right: $space_xl;
      }
    }
  }

  [class^="pb_text_input_kit"] .text_input_wrapper .text_input {
    padding: 0;
  }

  .pb_item_kit {
    padding: ($space_xs + 2) 0;

    @media (hover:hover) {
      &:hover {
        background-color: $bg_light;
      }
    }
  }

  [class^=pb_list_kit] {
    max-height: 18em;
    overflow-y: auto;
    overscroll-behavior: contain;
    position: absolute;
    left: 0;
    right: 0;
    background: white;
    box-shadow: $shadow_deep;
    z-index: 100;
    border-radius: $border_rad_heavier;
    transition: opacity .25s ease-in-out;
  }

  &:focus-within [class^=pb_list_kit] {
    display: block;
    opacity: 1;
  }

  &:not(:focus-within) [class^=pb_list_kit] {
    display: none;
    opacity: 0;
  }

  [class^=pb_list_kit] {
    margin-top: -$space-sm;
    li {
      transition: background-color .25s ease-in-out;
    }
    & > [data-pb-typeahead-kit-results] > li {
      &:focus-within {
        background-color: $active_light;
      }

      > button {
        background: none;
        color: $text_lt_default;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        width: 100%;
        height: 100%;
        text-align: left;
      }
    }
  }

  &[class*=dark] {
    .pb_typeahead_wrapper .pb_typeahead_loading_indicator {
      color: $text_dk_light;
    }
    [class^=pb_text_input_kit].dark .text_input_wrapper .text_input {
      display: inherit !important;
    }
    .css-26l3qy-menu {
      background-color: $bg_dark;
      color: $white;
    }
    .css-b8ldur-Input {
      color: white;
    }
    .css-1uccc91-singleValue{
      color: white;
    }
    .css-1n7v3ny-option {
      background-color: tint($focus_input_dark, 5%);
    }
    [class^=pb_list_kit] {
      background-color: $bg_dark;
    }
    .pb_item_kit {
      button {
        color: white !important;
      }
      @media (hover:hover) {
        &:hover {
          background-color: tint($focus_input_dark, 5%);
        }
      }
    }
  }

  &.react-select, &.react-select .dark {
    .text_input {
      display: inherit;
      &_indicators {
        max-width: 70px;
      }
      &_value_container {
        flex-grow: 1;
        position: relative;
        padding: 4px;
      }
    }
    .placeholder {
      position: absolute;
      margin-right: 2px;
      margin-left: 2px;
      top: 50%;
      transform: translateY(-50%);
      box-sizing: border-box;
    }
  }
}
