@import "../tokens/colors";
@import "../tokens/border_radius";
@import "../tokens/spacing";
@import "../tokens/shadows";

[class^=pb_typeahead_kit] {
  .typeahead-kit-select__option {
    cursor: pointer;
  }
  .pb_typeahead_wrapper {
    position: relative;

    .text_input_value_container{
      cursor: text;
    }
    .text_input_indicators,
    .pb_list_kit {
      cursor: pointer;
    }
    .pb_typeahead_loading_indicator {
      position: absolute;
      width: min-content;
      bottom: 0.6em;
      right: 1em;
      opacity: 0;
      color: $text_lt_light;
      transition: opacity .15s ease-in-out;
    }
  }
  [class^=pb_text_input_kit] {
    .text_input_wrapper {
      .text_input {
        max-height: none;
      }
      & > input:first-child {
        padding-right: $space_xl;
      }
    }
  }
  .pb_item_kit {
    padding: ($space_xs + 2) 0;

    @media (hover:hover) {
      &:hover {
        background-color: $bg_light;
      }
    }
  }
  [class^=pb_list_kit] {
    max-height: 18em;
    overflow-y: auto;
    overscroll-behavior: contain;
    position: absolute;
    left: 0;
    right: 0;
    background: white;
    box-shadow: $shadow_deep;
    z-index: 100;
    border-radius: $border_rad_heavier;
    transition: opacity .25s ease-in-out;
  }
  &:focus-within [class^=pb_list_kit] {
    display: block;
    opacity: 1;
  }
  &:not(:focus-within) [class^=pb_list_kit] {
    display: none;
    opacity: 0;
  }
  [class^=pb_list_kit] {
    margin-top: -$space-sm;
    li {
      transition: background-color .25s ease-in-out;
    }
    & > [data-pb-typeahead-kit-results] > li {
      &:focus-within {
        background-color: $active_light;
      }
      > button {
        background: none;
        color: $text_lt_default;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        width: 100%;
        height: 100%;
        text-align: left;
      }
    }
  }
  &[class*=dark] {
    .pb_typeahead_wrapper .pb_typeahead_loading_indicator {
      color: $text_dk_light;
    }
    [class^=pb_text_input_kit].dark .text_input_wrapper .text_input {
      display: inherit !important;
    }
    .typeahead-kit-select__menu {
      background-color: $bg_dark;
      color: $white;
    }
    .typeahead-kit-select__option:hover {
      background-color: $active_dark;
    }
    .typeahead-kit-select__indicator:hover {
      color: $white;
    }
    .typeahead-kit-select__input {
      color: white;
      input:focus {
        box-shadow: none;
      }
    }
    .typeahead-kit-select__single-value {
      color: white;
    }
    .typeahead-kit-select__option--is-focused {
      background-color: $active_dark;
    }
    [class^=pb_list_kit] {
      background-color: $bg_dark;
    }
    .pb_item_kit {
      button {
        color: white !important;
      }
      @media (hover:hover) {
        &:hover {
          background-color: rgba($white,.1);
        }
      }
    }
  }
  &.react-select, &.react-select .dark {
    .text_input {
      display: inherit;
      padding: 3px 4px;
      &_indicators {
        max-width: 70px;
      }
      &_value_container {
        flex-grow: 1;
        position: relative;
      }
    }
    .placeholder {
      position: absolute;
      margin-right: 2px;
      margin-left: 2px;
      top: 50%;
      transform: translateY(-50%);
      box-sizing: border-box;
    }
  }
}
