@import "../tokens/colors";
@import "../tokens/border_radius";
@import "../tokens/spacing";
@import "../tokens/shadows";
@import "../tokens/positioning";

.pb_typeahead_kit {
  .typeahead-kit-select__option {
    cursor: pointer;
  }
  .pb_typeahead_wrapper {
    position: relative;

    .text_input_value_container{
      cursor: text;
    }
    .text_input_indicators,
    .pb_list_kit {
      cursor: pointer;
    }

    .pb_typeahead_loading_indicator {
      position: absolute;
      width: min-content;
      bottom: 0.6em;
      right: 1em;
      opacity: 0;
      color: $text_default_color;
      transition: opacity .15s ease-in-out;
    }
  }
  .pb_text_input_kit {
    .text_input_wrapper {
      .clear_indicator,
      .typeahead-kit-select__indicator {
        color: $input_text_default;
        &:hover {
          color: $input_text_active;
        }
      }
      &:focus-within {
        .clear_indicator,
        .typeahead-kit-select__indicator {
          color: $input_text_active;
        }
      }
      .text_input {
        max-height: none;
      }
      & > input:first-child {
        padding-right: $space_xl;
      }
    }
  }
  .pb_item_kit {
    padding: ($space_xs + 2) 0;

    @media (hover:hover) {
      &:hover {
        background-color: $input_background_state;
      }
    }
  }
  .pb_list_kit_xpadding_borderless_ {
    max-height: 18em;
    overflow-y: auto;
    overscroll-behavior: contain;
    position: absolute;
    left: 0;
    right: 0;
    background: $input_background_default;
    box-shadow: $shadow_deep;
    z-index: 100;
    border-radius: $border_rad_heavier;
    transition: opacity .25s ease-in-out;
  }
  &:focus-within .pb_list_kit_xpadding_borderless_ {
    display: block;
    opacity: 1;
  }
  &:not(:focus-within) .pb_list_kit_xpadding_borderless_ {
    display: none;
    opacity: 0;
  }
  .pb_list_kit_xpadding_borderless_ {
    li {
      transition: background-color .25s ease-in-out;
    }
    & > [data-pb-typeahead-kit-results] > li {
      &:focus-within {
        background-color: $input_background_state;
      }
      > button {
        background: none;
        color: $text_default_color;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        width: 100%;
        height: 100%;
        text-align: left;
      }
    }
  }

  &.react-select, &.react-select .dark {
    .text_input {
      display: inherit;
      padding: 3px 4px;
      &_indicators {
        max-width: 70px;
      }
      &_value_container {
        flex-grow: 1;
        position: relative;
      }
    }
    .placeholder {
      position: absolute;
      margin-right: 2px;
      margin-left: 10px;
      top: 50%;
      transform: translateY(-50%);
      box-sizing: border-box;
    }
  }
  .placeholder+.input-wrapper .typeahead-plus-icon {
    display: none;
  }
  .text_input {
    .typeahead-kit-select {
      &__single-value{
        color: $input_text_active;
      }
    }
    &.typeahead-kit-select {
      &__single-value{
        color: $input_text_active;
      }
      &__control {
        &--is-disabled {
          background-color: $input_background_disabled;
        }
        &--is-focused {
          @include pb_textarea_focus;
          @include transition_default;
          border-color: $input_border_state;
          background-color: $input_background_state;
          box-shadow: none;
          .typeahead-plus-icon {
            display: none;
          }
        }
      }
    }
  }

  .typeahead-kit-select__menu {
    z-index: $z_1;
    .typeahead-kit-select__menu-list {
      padding: 0;
    }

    .typeahead-kit-select__option {
      &.typeahead-kit-select__option--is-focused {
        background-color: $hover_light;
      }
      &.typeahead-kit-select__option--is-selected {
        background-color: $primary;
      }
    }
  }
  .typeahead-plus-icon {
    color: $input_text_default;
  }
  .pb_badge_kit_primary {
    margin-bottom: 2px;
    margin-top: 2px;
  }
  .pb_badge_kit_primary span {
    line-height: 16.5px;
    letter-spacing: normal;
  }

  // Add focus indicator for multi-value pills
  .pb_form_pill_or_badge_focused {
    outline: $input_border_state solid 2px;
    outline-offset: -1px;
  }

  &.inline {
    &:not(:hover) {
      .text_input {
        border-color: transparent;
      }
      .text_input_indicators .css-tlfecz-indicatorContainer {
        color: transparent;
      }
    }
  }

  &.dark {
    .pb_typeahead_wrapper .pb_typeahead_loading_indicator {
      color: $input_text_default_dark;
    }
    .pb_text_input_kit.dark .text_input_wrapper .text_input {
      display: inherit !important;
    }
    .typeahead-kit-select__menu {
      background-color: $bg_dark;
      color: $white;
      z-index: $z_1;
      .typeahead-kit-select__menu-list {
        padding: 0;
      }
      .typeahead-kit-select__single-value {
        color: white;
      }

      .typeahead-kit-select__option {
        &.typeahead-kit-select__option--is-focused {
          background-color: $hover_dark;
        }
        &.typeahead-kit-select__option--is-selected {
          background-color: $active_dark;
        }
      }
    }
    .text_input_wrapper{
      color: $text_dk_default;
    }
    .typeahead-kit-select__option:hover {
      background-color: $active_dark;
    }
    .typeahead-kit-select__indicator {
      color: $text_dk_default;
    }
    .typeahead-kit-select__indicator:hover {
      color: $text_dk_lighter;
    }
    .typeahead-kit-select__input {
      color: white;
      input:focus {
        box-shadow: none;
      }
    }
    .typeahead-kit-select__option--is-focused {
      background-color: $active_dark;
    }
    .pb_list_kit_xpadding_borderless_ {
      background-color: $bg_dark;
    }
    .pb_item_kit {
      button {
        color: white !important;
      }
      @media (hover:hover) {
        &:hover {
          background-color: $hover_dark;
        }
      }
    }

    .text_input {
      .typeahead-kit-select__input-container{
        color: $input_text_state_active;
      }
      .typeahead-kit-select {
        &__single-value{
          color: $input_text_state_active;
        }
      }
      &.typeahead-kit-select {
        &__single-value{
          color: $input_text_state_active;
        }
        &__control {
        
          &--is-focused {
            @include pb_textarea_focus;
            @include transition_default;
            border-color: $input_border_state_dark;
            background-color: $input_background_state_dark;
            box-shadow: none;
            .typeahead-plus-icon {
              display: none;
            }
          }
        }
      }
    }

    &.inline {
      &:not(:hover) {
        .text_input {
          background-color: transparent;
          border-color: transparent;
        }
        .typeahead-kit-select__indicator {
          color: transparent;
        }
      }

      &:hover {
        .text_input {
          background-color: $input_background_state_dark;
        }
      }
    }

    .pb_text_input_kit {
      .text_input_wrapper {
        .clear_indicator,
        .typeahead-kit-select__indicator {
          color: $input_text_default_dark;
          &:hover {
            color: $input_text_state_active;
          }
        }
        &:focus-within {
          .clear_indicator,
          .typeahead-kit-select__indicator {
            color: $input_text_state_active;
          }
        }
      }
    }
    &:has(.typeahead-kit-select__control--is-disabled) {
      .text_input_wrapper {
        .text_input {
          background-color: $input_background_disabled_dark;
          border-color: $input_border_disabled_dark;
          .placeholder {
            color: $input_text_disabled_dark;
          }
        }
        .clear_indicator,
        .typeahead-kit-select__indicator {
          color: $input_text_disabled_dark;
        }
      }
    }
  }
}
