// THIN 100;
// LIGHT 300;
// REGULAR 400;
// SEMIBOLD 600;
// BOLD 700;
// EXTRABOLD 800;
// BLACK 900;


@font-face {
  src: url('fonts/PowerCentra-Light.woff') format('woff');
  font-family: 'Power Centra';
  font-style: normal;
  font-weight: 300;
}

@font-face {
  src: url('fonts/PowerCentra-Book.woff') format('woff');
  font-family: 'Power Centra';
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url('fonts/PowerCentra-BookItalic.woff') format('woff');
  font-family: 'Power Centra';
  font-style: italic;
  font-weight: 400;
}

@font-face {
  src: url('fonts/PowerCentra-Bold.woff') format('woff');
  font-family: 'Power Centra';
  font-style: normal;
  font-weight: 700;
}

@font-face {
  src: url('fonts/PowerCentra-BoldItalic.woff') format('woff');
  font-family: 'Power Centra';
  font-style: italic;
  font-weight: 700;
}
