<div>
  <%= pb_rails("badge", props: {
    text: "+1",
    variant: "primary"
  }) %>

  <%= pb_rails("badge", props: {
    text: "+4",
    variant: "primary"
  }) %>

  <%= pb_rails("badge", props: {
    text: "+1000",
    variant: "primary"
  }) %>
</div>
