@import "../pb_icon/icon";
@import "../pb_title/title";

.pb_date_kit,
.pb_date_kit_left,
.pb_date_kit_center,
.pb_date_kit_right {
    display: flex;
    flex-direction: row;
    align-items: center;
    > div, .pb_icon_kit_container {
        margin-right: 4px !important;
    }

    &.dark {
        .pb_title_kit {
            color: $text_dk_default !important;
        }
        .pb_body_kit, .pb_caption_kit {
            color: $text_dk_light !important;
        }
    }
}

.pb_date_kit_center {
    justify-content: center;
    margin-right: 4px !important;
}

.pb_date_kit_right {
    justify-content: flex-end;
    margin-left: 4px !important;
}