@import "base-mixins/_all.scss";
@import "base-variables/_all.scss";

.flip-container {
  perspective: 1000px;
  height: 100%;
}

.flip {
  @include rotateY(180deg);
  @include transition(0.6s);
  transform-style: preserve-3d;

  position: relative;
}

.flap {
  @include rotateY(0deg);
  @include transition(0.6s);
  transform-style: preserve-3d;

  position: relative;
  height: 100%;
}

.front, .back {
  @include backface-visibility(hidden);
  height: 100%;
}

.front {
  z-index: 2;
  @include rotateY(0deg);
}

.back {
  @include rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
}
