.icon-toggle input[type=checkbox]{

      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

}
  /* Toggle */


  input[type=checkbox]:checked ~ span{

    &[title="icon-1"]{
      svg{
        color:none !important;
      }
    }

    &[title="icon-2"]{
      svg{
        color:$power-green !important;
      }
    }
  }

  input[type=checkbox]:not(:checked) ~ span{
    &[title="icon-1"]{
      svg{
        color:$power-red !important;
      }
    }
    &[title="icon-2"]{
      svg{
        color:none !important;
      }
    }
  }
