.nitro-notify {
  $notifyHeight: 64px;
  position: fixed;
  left: 0;
  top: -$notifyHeight;
  right: 0;
  z-index: 1000;
  text-align: center;
  height: $notifyHeight;
  padding: $space-base * 1.5 $space-base * 2;
  color: white;
  font-size: $font-large;
  @include transition-property(top);
  @include transition-duration(.5s);
  @include transition-timing-function(ease);

  @include tablet-and-below {
    font-size: $font-base;
    padding: $space-base * 2;
    .close {
      font-size: $font-small;
    }
  }

  a {
    color: #fff;
    text-decoration: underline;
  }

  .close {
    color: #fff;
    opacity: 1;
    font-size: $font-largest;
    font-weight: 300;
  }

  &.show {
    top: 0px;
  }
  &.hide {
    top: -$notifyHeight;
  }

  &-info {
    background: $power-blue;
  }
  &-success {
    background: $power-green;
  }
  &-warning {
    background: $dark-orange;
  }
  &-error {
    background: $power-red;
  }
}