/* Responsive Table -------------------------------------- */
.table {
  color: $ink;
  font-size: 13px;
  background-color: #fff;
  width: 100%;

  tr {
    &.ghost {
      background-color: #ecf3ec;
      color: $medium-dark-grey;
    }

    &.shadow {
      td {
        background-color: $lavender;
        color: $medium-dark-grey;
      }
    }

    &.add, &.update {
      border-right: solid 3px $dark-orange;
      border-left: solid 3px $dark-orange;
      td {
        background-color: $light-orange;
        color: $medium-dark-grey;
      }
      .text-muted {
        color: $medium-dark-grey;
      }
    }

    &.void {
      td {
        color: $medium-dark-grey;
        a {
          color: $medium-dark-grey;
          text-decoration: line-through;
        }
      }
    }
  }

  th {
    color: $ink-lighter;
    background-color: tint($sky, 20%);
    &.sort {
      background-color: $table-bg-stripe-color;
    }
    a {
      color: $header-color;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }

  td {
    vertical-align: top;
    &.sort { background-color: shade($sky-lighter, 3%) }
  }
}

/* let table-responsive parent elements show dropdowns */
/* outside of their dimensions */
.table-responsive-with-dropdowns {
  overflow-x: visible;
}

.table-striped {
  tbody > tr:nth-child(odd) > td.sort { background-color: shade($sky-lighter, 5%) }

  tbody > tr.ghost:nth-child(odd) > th,
  tbody > tr.ghost:nth-child(odd) > td { background-color: #ecf3ec; }

  tbody > tr.add:nth-child(odd) > th,
  tbody > tr.add:nth-child(odd) > td,
  tbody > tr.update:nth-child(odd) > th,
  tbody > tr.update:nth-child(odd) > td { background-color: $light-orange; }
}

/* Use bootstrap responsive tables by default, have this */
/* alternative method if it's more desireable. */
/* You can add the .hide-labels class to prevent the left labels */
.collapse-and-rotate {

  @media only screen and (max-width: 600px) {

    table, table.table-condensed {
      /* show all columns - assumes we're rotating the table view to a column. */
      tr {
        border-bottom: solid 1px $medium-grey;
        td, th {
          display: block;
          visibility: visible;
        }
      }

      /* twist table view into a column view */
      thead {
        tr {
          left: -9999px;
          position: absolute;
          top: -9999px;
        }
      }
      tbody {
        td {
          /* Behave  like a "row" */
          border: none;
          border-bottom: 1px solid $light-grey;
          min-height: 2.2em;
          padding-left: 34%;
          position: relative;
          text-align:left;
          white-space: normal;
        }
        td:before {
          content: attr(data-title);
          /* Top/left values mimic padding */
          color: $dark-blue;
          font-weight: bold;
          left: 16px;
          padding-right: 10px;
          position: absolute; /* Now like a table header */
          text-align:left;
          top: 6px;
          width: 25%;
          white-space: nowrap;
        }
      }
    }
  }

  &.hide-labels {
    @media only screen and (max-width: 600px) {
      table, table.table-condensed {
        tbody {
          td {
            padding-left: 5px;
          }
          td:before {
            left: 0;
            padding-right: 0;
            position: relative;
            width: 0;
          }
          td:before { content: ''; }
        }
      }
    }
  }
}


/* iPad Responsive Table -------------------------------------- */
/* This is a copy of the normal table-responsive bootstrap code
   only applied to iPad sized devices.
*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }

  .table-responsive > .table {
    margin-bottom: 0;
  }

  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }

  .table-responsive > .table-bordered {
    border: 0;
  }

  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-right: 0;
  }

  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-left: 0;
  }

  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}

/* tablesorter headers should have a pointer since they are clickable. */
.tablesorter-bootstrap {
  .tablesorter-header { cursor: pointer; }
}




// TODO: Should import these pixel sizes from Bootstrap

.columns-responsive-narrow {
  column-count: 2;
  -moz-column-count: 2;
  -webkit-column-count: 2;
}

@media (min-width: 768px) {
  .columns-responsive-narrow {
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
  }
}

@media (min-width: 992px) {
  .columns-responsive-narrow {
    column-count: 5;
    -moz-column-count: 5;
    -webkit-column-count: 5;
  }
}

@media (min-width: 1200px) {
  .columns-responsive-narrow {
    column-count: 6;
    -moz-column-count: 6;
    -webkit-column-count: 6;
  }
}
