@mixin bold {
  @include subtle;

  .pb_nav_list_kit_item.pb_nav_list_item{
    &._link {
      &._active {
        background-color: $primary;
        color: $white;
        box-shadow: $shadow_deep;
        @media (hover:hover) {
          &:hover {
            background-color: darken($primary, 4%);
            ._text,._icon {
              color: $white;
            }
          }
        }
        ._text,._icon {
          font-weight: $bolder;
        }
      }
    }
  }

  .dark & {
    .pb_nav_list_kit_item.pb_nav_list_item {
      &._link {
        &._active {
          box-shadow: 0 2px 10px 0 $shadow_dark;
        }
      }
    }
  }
}
