@import "../tokens/spacing";

@mixin collapsible_trail_class {
  .pb_collapsible_content_kit {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: $space_xxs;
      bottom: $space_xxs;
      left: $space_xxs + 1;
      width: $space_xxs - 3;
      background-color: $border_light;
    }
  }
}
