@import "../tokens/spacing";
@import "../tokens/colors";
@import "../tokens/border_radius";
@import "../tokens/titles";
@import "../tokens/typography";
@import "./mixins";

[class^="pb_nav_list"] {
  .font_size_small {
    .pb_nav_list_item_text,
    .pb_nav_list_item_text_collapsible {
      font-size: $font_small !important;
    }
  }

  .font_bolder {
    .pb_nav_list_item_text {
      @include pb_title_4;
    }
    .pb_collapsible_main_kit {
      .pb_nav_list_item_text_collapsible {
        @include pb_title_4;
        font-weight: $bolder !important;
      }
    }
  }

  .font_bold {
    .pb_nav_list_item_text {
      font-weight: $bold;
    }
    .pb_collapsible_main_kit {
      .pb_nav_list_item_text_collapsible {
        font-weight: $bold !important;
      }
    }
  }

  .font_regular {
    .pb_nav_list_item_text {
      font-weight: $regular;
    }
    .pb_collapsible_main_kit {
      .pb_nav_list_item_text_collapsible {
        font-weight: $regular !important;
      }
    }
  }

  //styling for default variant with collapsible
  &[class*="_normal"] {
    [class*="pb_collapsible_nav_item"] {
      &[class*="_collapsible_trail"] {
        .pb_collapsible_content_kit {
          &::after {
            left: 0px !important;
          }
        }
      }
      .pb_collapsible_content_kit {
        margin-left: $space_lg + 3;
      }
      .pb_collapsible_main_kit {
        border-radius: unset;
      }
      &[class*="_active"] {
        .pb_collapsible_main_kit {
          background-color: $active_light;
        }
        .pb_nav_list_item_link {
          border-color: transparent !important;
          .pb_nav_list_item_text {
            color: unset !important;
            font-weight: $regular !important;
          }
        }
      }

      &.dark {
        border-color: $border_dark;
        .pb_collapsible_main_kit:hover {
          .pb_nav_list_item_text_collapsible {
            color: $white !important;
          }
        }
        &[class*="_active"] {
          .pb_collapsible_main_kit {
            background-color: mix($white, $card_dark, 20%);
            .pb_nav_list_item_text_collapsible,
            svg {
              color: $white !important;
            }
          }
        }
      }
    }
  }

  //styling bold variant to work with collapsible
  &[class*="_bold"] {
    [class*="pb_collapsible_nav_item"] {
      &[class*="_active"] {
        .pb_collapsible_main_kit {
          background-color: $primary !important;
          border-radius: $border_rad_heavier;
          .pb_nav_list_item_text_collapsible,
          .pb_nav_list_item_icon_collapsible,
          .icon_wrapper,
          .pb_icon_kit {
            color: $white !important;
          }
        }
        .pb_nav_list_item_link {
          background-color: unset !important;
          box-shadow: unset !important;
          &:hover {
            background-color: rgba($primary, 0.03) !important;
            .pb_nav_list_item_text {
              color: $primary !important;
            }
          }
          .pb_nav_list_item_text {
            font-weight: $regular !important;
          }
        }
        .icon_wrapper:hover {
          background-color: mix($primary, $card_light, 40%);
        }
      }
    }
  }

  //styling for subtle variant with collapsible
  &[class*="_subtle"] {
    [class*="pb_collapsible_nav_item"] {
      &[class*="_active"] {
        .pb_collapsible_main_kit {
          background-color: $active_light;
          border-radius: $border_rad_heavier;
          .pb_nav_list_item_text_collapsible,
          .pb_nav_list_item_icon_collapsible {
            color: $primary;
          }
        }
        &:hover {
          background-color: unset;
        }
      }
      &.dark {
        &[class*="_active"] {
          .pb_collapsible_main_kit {
            background-color: mix($white, $card_dark, 20%);
            .pb_nav_list_item_text_collapsible,
            svg {
              color: $white !important;
            }
          }
        }
      }
    }
  }

  [class*="pb_collapsible_nav_item"] {
    .pb_nav_list_kit_item {
      margin-right: 0px !important;
    }

    &[class*="_active"] {
      background-color: unset !important;
      .pb_nav_list_item_link {
        color: unset !important;
      }
    }

    .pb_nav_list_item_link_collapsible {
      &:focus-visible {
        outline: none;
      }
    }

    .pb_collapsible_main_kit {
      &:focus-visible {
        box-shadow: 0px 0px 0px 2px $primary_action;
        border-radius: $border_rad_heavier;
      }
    }

    //Make sure link is entire width of navitem when in collapsible
    .pb_collapsible_main_kit {
      .pb_flex_item_kit:first-child {
        width: 100%;
      }
    }

    &:hover {
      .pb_nav_list_item_link_collapsible {
        background-color: unset !important;
      }
    }

    // vertical line on left of collapsible content
    .pb_collapsible_content_kit {
      margin-left: $space_sm + 2;
    }

    .pb_collapsible_main_kit {
      transition-property: color, border-color, background-color;
      transition-duration: 0.15s;
      transition-timing-function: $bezier;
      border-radius: $border_rad_heavier;
      &:hover {
        background-color: mix($primary, $card_light, 10%);
        .pb_nav_list_item_text_collapsible,
        svg {
          color: $primary !important;
        }
      }
    }

    .pb_collapsible_main_kit,
    .pb_collapsible_content_kit,
    .pb_collapsible_kit {
      padding: 0 !important;
    }

    &[class*="_collapsible_trail"] {
      @include collapsible_trail_class;
    }

    .icon_wrapper {
      border-radius: $border_radius_rounded;
      width: $space_sm + 3;
      height: $space_sm + 3;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: $space_xs;
      &:hover {
        background-color: mix($primary, $card_light, 40%);
      }
    }

    &.dark {
      .pb_nav_list_kit_item {
        border-color: $border_dark;
        .pb_nav_list_item_text {
          color: $text_dk_light !important;
        }
      }
      &[class*="pb_nav_list_kit_item"] [class*="_link"]:hover {
        .pb_nav_list_item_text {
          color: $white !important;
        }
      }

      .pb_nav_list_item_text_collapsible {
        color: $white !important;
      }
      .pb_nav_list_item_text {
        color: $text_dk_light;
      }
      .pb_nav_list_kit_item:hover {
        background-color: #ffffff33;
        color: $white;
      }
      .pb_icon_kit {
        color: $text_dk_light;
      }

      .pb_collapsible_main_kit:hover {
        background-color: mix($white, $card_dark, 20%);
        .pb_nav_list_item_text_collapsible,
        svg {
          color: $white !important;
        }
      }
      .icon_wrapper:hover {
        background-color: mix($white, $card_dark, 40%);
      }

      &[class*="pb_collapsible_nav_item"][class*="_collapsible_trail"] {
        .pb_collapsible_content_kit {
          &::after {
            background-color: $border_dark;
          }
        }
      }
    }
  }
}
