@mixin collapsible_trail_class {
    .pb_collapsible_content_kit {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 4px;
        bottom: 4px;
        left: 5px;
        width: 1px; 
        background-color: $border_light;
      }
    }
  }