@import "../tokens/typography";
@import "../tokens/animation-curves";
@import "../tokens/spacing";
@import "../tokens/colors";
@import "./vertical_nav";
@import "./horizontal_nav";
@import "./collapsible_nav";

[class^="pb_nav_list"] {
  //classes for fontSize and fontWeight props
  .font_size_small {
    .pb_nav_list_item_text,
    .pb_nav_list_item_text_collapsible {
      font-size: $font_small;
    }
  }

  .font_size_normal {
    .pb_nav_list_item_text,
    .pb_nav_list_item_text_collapsible {
      font-size: $font_normal;
    }
  }

  .font_bolder {
    .pb_nav_list_item_text,
    .pb_nav_list_item_text_collapsible {
      font-weight: $bolder !important;
    }
  }

  .font_bold {
    .pb_nav_list_item_text,
    .pb_nav_list_item_text_collapsible {
      font-weight: $bold !important;
    }
  }

  .font_regular {
    .pb_nav_list_item_text,
    .pb_nav_list_item_text_collapsible {
      font-weight: $regular;
    }
  }

  [class*="pb_nav_list_kit_item"],
  [class*="pb_nav_list_item"] {
    &:hover { cursor: pointer; }
  }
}

.pb_nav_extended_underline {
  position: relative;
  
  // Add full-width border using pseudo-element so as not to break the active item border
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background-color: $border_light;
    z-index: 1;
  }

  .pb_nav_list_kit_item_active.pb_nav_list_item_link {
      position: relative;
      z-index: 2;
  }

  &.dark {
    &::after {
      background-color: rgba($white, $opacity_3);
    }
  }
}
