@import "../tokens/typography";
@import "../tokens/animation-curves";
@import "../tokens/spacing";
@import "../tokens/colors";
@import "./vertical_nav";
@import "./horizontal_nav";
@import "./collapsible_nav";

[class^="pb_nav_list"] {

  //classes for fontSize and fontWeight props
  .font_size_small {

    .pb_nav_list_item_text,
    .pb_nav_list_item_text_collapsible {
      font-size: $font_small;
    }
  }

  .font_size_normal {

    .pb_nav_list_item_text,
    .pb_nav_list_item_text_collapsible {
      font-size: $font_normal;
    }
  }

  .font_bolder {

    .pb_nav_list_item_text,
    .pb_nav_list_item_text_collapsible {
      font-weight: $bolder !important;
    }
  }

  .font_bold {

    .pb_nav_list_item_text,
    .pb_nav_list_item_text_collapsible {
      font-weight: $bold !important;
    }
  }

  .font_regular {

    .pb_nav_list_item_text,
    .pb_nav_list_item_text_collapsible {
      font-weight: $regular;
    }
  }

  [class*="pb_nav_list_kit_item"],
  [class*="pb_nav_list_item"] {
    &:hover {
      cursor: pointer;
    }
  }
}

.pb_nav_extended_underline {
  position: relative;

  // Add full-width border using pseudo-element so as not to break the active item border
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background-color: $border_light;
    z-index: 1;
  }

  .pb_nav_list_kit_item_active.pb_nav_list_item_link {
    position: relative;
    z-index: 2;
  }

  &.dark {
    &::after {
      background-color: rgba($white, $opacity_3);
    }
  }
}

// Disabled scss
.pb_nav_item_disabled{
  cursor: not-allowed !important;

  .pb_nav_list_item_text,
  .pb_nav_list_item_icon_left,
  .pb_nav_list_item_icon_right,
  .pb_nav_list_item_icon_section {
    color: $text_lt_lighter !important;
    cursor: not-allowed !important;
  }

  @media (hover: hover) {
    &:hover {
      background-color: $white !important;
      color: $text_lt_lighter !important;

      .pb_nav_list_item_text,
      .pb_nav_list_item_icon_left,
      .pb_nav_list_item_icon_right {
        color: $text_lt_lighter !important;
      }
    }
  }
}

  .pb_nav_item_disabled {
    cursor: not-allowed !important;

    .pb_nav_list_item_text,
    .pb_nav_list_item_text_collapsible,
    .pb_nav_list_item_icon_left,
    .pb_nav_list_item_icon_right,
    .pb_nav_list_item_icon_section,
    .pb_nav_list_item_link,
    .pb_nav_list_item_link_collapsible,
    .cursor_pointer {
      color: $text_lt_lighter !important;
      cursor: not-allowed !important;
    }

    .pb_collapsible_main_kit {
      background-color: $white !important;
    }

    .icon_wrapper,
    svg {
      color: $text_lt_lighter !important;
      cursor: not-allowed !important;
    }

    @media (hover: hover) {
      &:hover {
        background-color: $white !important;

        .pb_collapsible_main_kit,
        .pb_nav_list_item_link,
        .icon_wrapper {
          background-color: $white !important;
        }

        .pb_nav_list_item_icon_section_collapsible path,
        .pb_nav_list_item_link_collapsible path {
          color: $text_lt_lighter !important;
        }
      }
    }
  }

  .collapsible_nav_wrapper_pb_nav_item_disabled {
    .pb_collapsible_main_kit {
      background-color: $white !important;
    }

    .pb_nav_list_item_link,
    .pb_nav_list_item_text,
    .pb_nav_list_item_icon_left,
    .pb_nav_list_item_icon_right,
    .icon_wrapper,
    .pb_nav_list_item_icon_section {
      color: $text_lt_lighter !important;
      cursor: not-allowed !important;
    }

    .icon_wrapper svg {
      color: $text_lt_lighter !important;
    }

    &:hover {
      .icon_wrapper,
      .pb_nav_list_item_link {
        background-color: $white !important;
      }
    }
  }
