@import "../tokens/colors";
@import "../tokens/line_height";
@import "../tokens/typography";

$pb_detail_colors: (
  light:          $text_lt_light,
  default:        $text_lt_default,
  lighter:        $text_lt_lighter,
  link:           $primary,
  error:          $error,
  success:        $text_lt_success_sm,
);

$pb_dark_detail_colors: (
  light:          $text_dk_light,
  default:        $text_dk_default,
  lighter:        $text_dk_lighter,
  link:           $active_dark,
  error:          $error_dark,
  success:        $text_dk_success_sm,
);

@mixin pb_detail($color: $text_lt_light) {
  line-height: $lh_tight;
  color: $color;
  font-size: $text_small;
  font-weight: $regular;
  font-family: $font-family-base;
  text-transform: none;
}
