@import "../tokens/colors";
@import "../tokens/line_height";
@import "../tokens/typography";

$pb_detail_colors: (
  light:          $text_light,
  default:        $text_default_color,
  lighter:        $text_lighter,
  link:           $primary,
  error:          $text_error,
  success:        $text_success,
);

$pb_dark_detail_colors: (
  light:          $text_light_dark,
  default:        $text_default_dark,
  lighter:        $text_lighter_dark,
  link:           $text_link_dark,
  error:          $text_error_dark,
  success:        $text_success_dark,
);

@mixin pb_detail($color: $text_light) {
  line-height: $lh_tight;
  color: $color;
  font-size: $text_small;
  font-weight: $regular;
  font-family: $font-family-base;
}
