@import "./detail_mixins";
@import "../tokens/titles";
@import "../tokens/typography";

.pb_detail_kit,
.pb_detail_kit_color_light,
.pb_detail_kit_color_default,
.pb_detail_kit_color_lighter,
.pb_detail_kit_color_link,
.pb_detail_kit_color_error,
.pb_detail_kit_color_success {
  @include pb_detail;

  // Base styles
  a {
    color: $primary;
    &:hover {
      cursor: pointer;
      color: $text_default_color;
    }
  }

  em {
    font-weight: $bold;
  }

  small {
    font-size: $font_smaller;
    letter-spacing: $lspace_loose;
  }
}

// Color variations - Light Mode
.pb_detail_kit_color_light {
  @include pb_detail($text_light);
}

.pb_detail_kit_color_default {
  @include pb_detail($text_default_color);
}

.pb_detail_kit_color_lighter {
  @include pb_detail($text_lighter);
}

.pb_detail_kit_color_link {
  @include pb_detail($primary);
}

.pb_detail_kit_color_error {
  @include pb_detail($text_error);
}

.pb_detail_kit_color_success {
  @include pb_detail($text_success);
}

// Color variations - Dark Mode
.pb_detail_kit.dark.pb_detail_kit_color_light,
.pb_detail_kit_color_light.dark {
  @include pb_detail($text_light_dark);
}

.pb_detail_kit.dark.pb_detail_kit_color_default,
.pb_detail_kit_color_default.dark {
  @include pb_detail($text_default_dark);
}

.pb_detail_kit.dark.pb_detail_kit_color_lighter,
.pb_detail_kit_color_lighter.dark {
  @include pb_detail($text_lighter_dark);
}

.pb_detail_kit.dark.pb_detail_kit_color_link,
.pb_detail_kit_color_link.dark {
  @include pb_detail($text_link_dark);
}

.pb_detail_kit.dark.pb_detail_kit_color_error,
.pb_detail_kit_color_error.dark {
  @include pb_detail($text_error_dark);
}

.pb_detail_kit.dark.pb_detail_kit_color_success,
.pb_detail_kit_color_success.dark {
  @include pb_detail($text_success_dark);
}

// Bold styles
.pb_detail_kit.bold,
.pb_detail_kit_color_light.bold,
.pb_detail_kit_color_default.bold,
.pb_detail_kit_color_lighter.bold,
.pb_detail_kit_color_link.bold,
.pb_detail_kit_color_error.bold,
.pb_detail_kit_color_success.bold,
.pb_detail_kit.bold.dark,
.pb_detail_kit_color_light.bold.dark,
.pb_detail_kit_color_default.bold.dark,
.pb_detail_kit_color_lighter.bold.dark,
.pb_detail_kit_color_link.bold.dark,
.pb_detail_kit_color_error.bold.dark,
.pb_detail_kit_color_success.bold.dark {
  font-weight: $bold;
  
  b, strong {
    font-weight: $bold;
  }
}