//=== Inverted navbar
// Reset inverted navbar basics
$navbar-light-color:                      $power-blue;
$navbar-light-bg:                         #222 !default;
$navbar-light-border:                     darken($navbar-light-bg, 10%) !default;

// Inverted navbar links
$navbar-light-link-color:                 lighten($gray-light, 15%) !default;
$navbar-light-link-hover-color:           #fff !default;
$navbar-light-link-hover-bg:              transparent !default;
$navbar-light-link-active-color:          $navbar-light-link-hover-color !default;
$navbar-light-link-active-bg:             darken($navbar-light-bg, 10%) !default;
$navbar-light-link-disabled-color:        #444 !default;
$navbar-light-link-disabled-bg:           transparent !default;

// Inverted navbar brand label
$navbar-light-brand-color:                $navbar-light-link-color !default;
$navbar-light-brand-hover-color:          #fff !default;
$navbar-light-brand-hover-bg:             transparent !default;

// Inverted navbar toggle
$navbar-light-toggle-hover-bg:            #333 !default;
$navbar-light-toggle-icon-bar-bg:         #fff !default;
$navbar-light-toggle-border-color:        #333 !default;




// Inverse navbar

// $blue-navbar-gradient: @include gradient-vertical($start-color: $btn-color, $end-color: darken($btn-color, 12%));
// background:         linear-gradient(to bottom, #333 0%,#EEE 100%);
.navbar-blue {
  @include navbar-color($power-blue, $white-opacity-1, $ink);
  background: linear-gradient(to bottom, $power-blue 20%, mix($power-royal, $power-blue, 50%) 100%);
}
