$navbar-height:                     64px;
$navbar-margin-bottom:              $line-height-computed;
$navbar-border-radius:              $border-radius-base;
$navbar-padding-horizontal:         floor(($grid-gutter-width / 2));
$navbar-padding-vertical:           (($navbar-height - $line-height-computed) / 2);
$navbar-collapse-max-height:        340px;
$zindex-navbar:                     999;
$zindex-navbar-fixed:               1030;
