= pb_rails("title", props: { margin_top: "xl", text: "Line Height", tag: "h1", size: 1 })
 

= pb_rails("title", props: { text: "Line Height Options", tag: "h4", size: 4, padding_top: "sm" })

br

= pb_rails("card", props: { classname: "line height example", max_width: "sm" }) do

    
    
