<%= pb_rails("background", props: {
  id: "code-wrapper",
  classname: "border-bottom",
  background_color: "dark",
  padding: "none"
}) do %>
  <%= pb_rails("caption", props: {
    classname: "dark",
    margin_x: "xl",
    padding_top: "lg",
    text: "EXAMPLE IN USE"
  }) %>
  <div class="pb--codeCopy">
    <pre class="highlight pt_sm" style="margin: 0px"><%= raw rouge(Rails.root.join(example).read, "react") %></pre>
  </div>
<% end %>
