@import "../tokens/colors";
@import "../tokens/line_height";
@import "../tokens/typography";
@import "../tokens/border_radius";

$pb_link_colors: (
  default:        $primary_action,
  body:           $text_lt_default,
  muted:          $text_lt_light,
  destructive:    $error,
);

// Match regular colors. Need to Update.
$pb_dark_link_colors: (
  default:        $primary_action,
  body:           $text_lt_default,
  muted:          $text_lt_light,
  destructive:    $error,
);

$pb_link_hover_colors: (
  default:        $text_lt_default,
  body:           $primary_action,
  muted:          $text_lt_default,
  destructive:    $text_lt_default,
);

@mixin pb_link($color: $primary_action) {
  line-height: $lh_tight;
  color: $color;
  font-size: $text_default;
  font-weight: $regular;
  font-family: $font-family-base;
}

[class^=pb_link_kit]{
  @include pb_link($primary);
  &:hover {
    color: $text_lt_default;
  }
  &:focus {
    outline: none;
  }
  &:focus-visible {
    border-radius: $border_rad_light;
    outline: 1px solid $primary;
    outline-offset: 2px;
  }
  &:visited {
    color: $data_3;
  }
  @each $color_name, $color_value in $pb_link_colors {
    &[class*=_#{"" + $color_name}] {
      @include pb_link($color_value);

      &:hover {
        color: map-get($pb_link_hover_colors, $color_name);
      }

      &:visited {
        color: $data_3;
      }
    }
  }

  @each $dark_color_name, $dark_color_value in $pb_dark_link_colors{
    &[class*=_#{$dark_color_name}][class*=dark]{
      @include pb_link($dark_color_value);
      
      &:hover {
        color: map-get($pb_link_hover_colors, $dark_color_name);
      }

      &:visited {
        color: $data_3;
      }
    }
  }

  b, strong {
    font-weight: $bold;
  }

  a {
    color: $primary;
    &:hover {
      color: green;
    }
  }

  em, i {
    font-style: italic;
  }

  small {
    font-size: $font_smaller;
    letter-spacing: $lspace_loose;
  }

  &[class*=dark] {
    a {
      color: $active_dark;
    }
    @include pb_body_dark();
    @each $dark_color_name, $dark_color_value in $pb_dark_link_colors{
      &[class*=_#{$dark_color_name}][class*=dark]{
        @include pb_link($dark_color_value);
      }
    }
  }

  &[class*=_underlined] {
    text-decoration: underline;
  }

  &[class*=_disabled] {
    pointer-events: none;
    cursor: default;
    color: $text_lt_lighter;
  }

}
