@import "../tokens/colors";
@import "../tokens/spacing";

@mixin section_separator_vertical($dark: false) {
    @if $dark == false {
        background: $border_light;
    } @else {
        background: $border_dark;
    }
    content: "";
    height: 100%;
    width: 1.9px;
    position: initial;
    z-index: 0;
}

@mixin section_separator_horizontal($dark: false) {
    @if $dark == false {
        background: $border_light;
    } @else {
        background: $border_dark;
    }
}
