@import "../tokens/colors";
@import "../tokens/spacing";
@import "../tokens/opacity";
@import "./section_separator_mixin";

$section_colors_light: (
  background:   $bg_light,
  card:         $card_light,
);

$section_colors_dark: (
  background:   $bg_dark,
  card:         tint($bg_dark,10),
);

[class^=pb_section_separator_kit] {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  span {
    padding: 0 $space_xs;
    display: flex;
  }
  &::before {
    content: "";
    height: 1px;
    flex: 1;
    @include section_separator_horizontal;
  }
  &::after {
    content: "";
    height: 1px;
    flex: 1;
    @include section_separator_horizontal;
  }
  &[class*=_horizontal] {
    justify-content: center;
  }
  &[class*=_vertical] {
    margin-left: $space_xs;
    margin-right: $space_xs;
    &::after {
      @include section_separator_vertical(false);
    }
  }

  &[class*=_dashed] {
    &::before, &::after {
      @include section_separator_dashed(false);
    }
  }

  // Dark =========================

  &.dark {
    &::before {
      @include section_separator_horizontal(true);
    }
    &::after {
      @include section_separator_horizontal(true);
    }
    &[class*=_vertical] {
      &::after {
        @include section_separator_vertical(true);
      }
    }
    &[class*=_dashed] {
      &::before, &::after {
        @include section_separator_dashed(true);
      }
    }
  }
}
