<%= content_tag(:div,
    aria: object.aria,
    id: object.id,
    data: object.data,
    class: object.classname,
    **combined_html_options) do %>
    <% if object.orientation === 'horizontal' %>
        <% if content %>
            <%= content %>
        <% elsif object.text %>
            <span><%= pb_rails("caption", props: { text: object.text }) %></span>
        <% end %>
    <% end %>
    <% if object.orientation === 'vertical' %>
        <%= pb_rails("flex", props: { orientation: "column"}) do %>
        <% end %>
    <%end%>
<% end %>
