$header-height: 60px;

.uix-header {
  .navbar-brand {
    margin-top: 2px;
  }
  li.on-hover {
    display: none;
  }
  &:hover li.on-hover {
    display: block;
  }

}


.nitro-notify {
  top: 0;
  z-index: 1001;
  opacity: 0.9;
  padding: $space-largest;
  height: auto;
  font-weight: $bold;
  letter-spacing: $lspace-loose;
  font-size: $font-large;
}
