$header-height: 60px;

.uix-header {
  .navbar-brand {
    margin-top: 2px;
  }
  li {
    position: relative;
  }
  div.on-hover {
    color: $power-blue;
    position: absolute;
    @include middle;
    left: 0;
  }
  li.on-hover, div.on-hover {
    opacity: 0;
    animation-fill-mode: both;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-property: opacity;
  }
  li:hover div.on-hover {
    opacity: 1;
    animation-fill-mode: both;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-property: opacity;
  }
  &:hover li.on-hover {
    opacity: 1;
    animation-fill-mode: both;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-property: opacity;
  }

}


.nitro-notify {
  top: 0;
  z-index: 1001;
  opacity: 0.9;
  padding: $space-largest;
  height: auto;
  font-weight: $bold;
  letter-spacing: $lspace-loose;
  font-size: $font-large;
}
