.login-container {
  // background-image: image-url('play1c.svg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: calc(100vh - 68px);
  padding: $space-largest*3.5 0;
  background-color: $power-blue;

  &-form-wrapper {
    background: $white;
    border: 1px solid $sky;
    border-radius: $border-rad-light;
    position: relative;
    box-shadow: 0 6px 10px 0 rgba($ink-lighter, 0.2);
    padding: $space-largest;

    .form-group {
      input[type="text"],
      input[type="email"],
      input[type="password"] {
        width: 100%;
        display: block;
        clear: both;
        float: none;
        display: block;
        height: 37px;
        padding: 4px 15.33333px;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.72222;
        color: #333333;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #DFE3E9;
        border-radius: 4px;
        box-shadow: none;
        transition-property: border-color, box-shadow, color, background-color;
        transition-duration: .24s;
        transition-timing-function: cubic-bezier(0.64, 0, 0.35, 1);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;

        &:focus {
          // border: 1px solid $power-blue;
        }
      }

      &.checkbox-input {
        label {
          margin-left: 10px;
        }
      }
    }
  }
}
