$tag-color: $app-color;

.uix-tag {
  padding: $space-smallest $space-base 0;
  text-align: center;
  display: inline-block;
  border-radius: $border-rad-heaviest*2;
  margin: $space-large $space-smallest;
  font-size: $font-smallest;
  line-height: $font-smaller+6;
  text-transform: uppercase;
  vertical-align: middle;
  background: $app-color;
  border: 1px solid $app-color;
  color: $white;

  &.no-tags {
    background: transparent;
    color: $ink-lightest;
    font-style: italic;
    border-color: rgba($ink-light, 0);
  }

  i, svg {
    margin-right: 6px;
    display: inline-block;
  }
}
