/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


// Playbook App Configuration for Font Family
$font_family_base: 'Montserrat';

// Enabled Weights in Montserat
$lighter:       200;
$light:         200;
$regular:       500;
$bold:          700;
$bolder:        700;
$boldest:       700;
$extrabold:     700;


@import "reset";
@import "playbook";

// To use Playbook tokens, you must import the relevant files as shown below
// To view all available tokens, visit https://github.com/powerhome/playbook/tree/master/playbook/app/pb_kits/playbook/tokens
// To see the tokens visually, see our docs here: https://playbook.powerapp.cloud/tokens
@import "tokens/spacing";