/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "reset";
@import "playbook";

@font-face {
    src: font-url('PowerCentra-Light.woff') format('woff');
    font-family: 'Power Centra';
    font-style: normal;
    font-weight: 300;
  }
  
  @font-face {
    src: font-url('PowerCentra-Book.woff') format('woff');
    font-family: 'Power Centra';
    font-style: normal;
    font-weight: 400;
  }
  
  @font-face {
    src: font-url('PowerCentra-BookItalic.woff') format('woff');
    font-family: 'Power Centra';
    font-style: italic;
    font-weight: 400;
  }
  
  @font-face {
    src: font-url('PowerCentra-Bold.woff') format('woff');
    font-family: 'Power Centra';
    font-style: normal;
    font-weight: 700;
  }
  
  @font-face {
    src: font-url('PowerCentra-BoldItalic.woff') format('woff');
    font-family: 'Power Centra';
    font-style: italic;
    font-weight: 700;
  }

// To use Playbook tokens, import the tokens file in this syntax: 
// To view all available tokens, visit https://github.com/powerhome/playbook/tree/master/playbook/app/pb_kits/playbook/tokens
// To see the tokens visually, see our docs here: https://playbook.powerapp.cloud/visual_guidelines
@import "tokens/spacing";
