@import "../tokens/border_radius";
@import "../tokens/spacing";
@import "../tokens/shadows";

[class^=pb_pagination_kit] {
  width: fit-content;
  .line {
    height: 40px;
    width:1px;
    border-right: 1px solid $border_light;
  }
  .paginate-forward,.paginate-backward {
    color: $neutral;
    cursor: pointer;
    &:hover{
      color: $primary;
    }
  }


.paginate-body {
  margin: 0 8px;
  .range {
    display: flex;
    align-items: center;

    .range-item {
      min-width: 32px;
      border-radius: $border_rad_heavy;
      text-align: center;
      
    }
    .range-item.active {
      background-color: $royal;
      color: $white;
    }
  }
}

  &[class*=_basic]  {
    /* Variant specific CSS goes here */
  }

  &[class*=_collapsed]  {
    /* Variant specific CSS goes here */
    .paginate-body {
      margin: 0 16px;
    }
  }

  &[class*=_expanded]  {
    /* Variant specific CSS goes here */
  }

  &[class*=_scroll]  {
    /* Variant specific CSS goes here */
  }
}
