@import "../tokens/border_radius";
@import "../tokens/spacing";
@import "../tokens/shadows";

[class^=pb_pagination_kit] {
  width: -moz-fit-content;
  border: $border_rad_lightest solid $neutral;
  border-radius: $border_rad_heavier;
  padding: 6px;
  box-shadow: $shadow_deep;
  width: fit-content;

  .paginate-forward {
    padding: 0px 10px;
    font-size: 12px;
    font-weight: bolder;
    color: $neutral;
    cursor: pointer;
  }

  .paginate-backward:before {
    content: "\25C0";
  }

  .paginate-forward:before {
    content: "\25B6";
  }

  &[class*=_basic]  {
    /* Variant specific CSS goes here */
    .vertical-separator {
      border-right: 1px solid $neutral;
    }
  }

  &[class*=_collapsed]  {
    /* Variant specific CSS goes here */
  }

  &[class*=_expanded]  {
    /* Variant specific CSS goes here */
  }

  &[class*=_scroll]  {
    /* Variant specific CSS goes here */
  }
}

.paginate-backward {
  padding: 0px 10px;
  font-size: 12px;
  font-weight: bolder;
  color: $neutral;
  cursor: pointer;
  .paginate-backward:before {
    content: "\25C0";
  }
}

.paginate-body {
  padding: 0px 10px;
  border-right: 1px solid $neutral;
  border-left: 1px solid $neutral;
  .range {
    .range-item {
      padding: 5px 10px;
      border-radius: $border_rad_heavy;
    }
    .range-item.active {
      background-color: $royal;
      color: $white;
    }
  }
}

.paginate-up:before {
  content: "\25C0";
  font-size: 8px;
  color: $neutral;
  cursor: pointer;
}

.paginate-down:before {
  content: "\25B6";
  font-size: 8px;
  color: $neutral;
  cursor: pointer;
}
