<%= content_tag(:div,
    aria: object.aria,
    class: object.classname,
    data: object.data,
    id: object.id) do %>
    <span class="paginate-left">&#x25C0;</span>
      <span class="paginate-body">2 of 10</span>
    <span class="paginate-right">&#x25BA;</span>
<% end %>
