@import "../../tokens/colors";
// Calendar Icon Styles
.cal_icon_wrapper {
  pointer-events: none;
  position: absolute;
  top: $space_md + 2;
  right: 0;
  border-left: 1px solid $input_border_default;
  width: $space_xl + $space_xs;
  height: $space_xl + 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: $space_sm - 1;
  color: $text_lt_light;
  @media (hover: hover) {
    &:hover{
      background-color: rgba($input_background_state,$opacity_5);
    }
  }
  &.dark {
    color: $text_lt_light;
    border-color: $input_border_default_dark;
  }
  &.no_label_shift {
    top: 0;
  }
  &.error {
    border-left-color: $error;
  }
}
.cal_icon {
  width: $space_sm;
}
