  /*
    === Date Picker States ===
    Default - No value in date picker - display grey Plus icon
    Hover - No value in date picker - display blue Plus icon
   - After Value in Date Picker -
      Default - display grey caret icon
      Hover - display blue caret icon
  */
.pb_date_picker_kit {
  /*Default - No value in date picker*/
  &.inline-date-picker {
    .pb_text_input_kit .text_input_wrapper .flatpickr-wrapper input::placeholder,
    .pb_text_input_kit .text_input_wrapper .flatpickr-wrapper .text_input .placeholder {
      opacity: 1;
    }
    &:not(:hover) {
      .date-picker-inline-angle-down.cal_icon_wrapper {
        svg {
          display: none;
        }
      }
      .date-picker-inline-icon-plus.cal_icon_wrapper {
        svg {
          color: $slate;
          display: inline-block;
        }
      }
    }
    &:hover {
      .pb_text_input_kit .text_input_wrapper input,
      .pb_text_input_kit .text_input_wrapper .text_input,
      .pb_text_input_kit .text_input_wrapper .flatpickr-wrapper input::placeholder,
      .pb_text_input_kit .text_input_wrapper .flatpickr-wrapper .text_input .placeholder {
        color: $primary;
      }
      .date-picker-inline-angle-down.cal_icon_wrapper {
        svg {
          display: none;
        }
      }
      .date-picker-inline-icon-plus.cal_icon_wrapper {
        svg {
          display: inline-block;
          color: $primary;
        }
      }
    }
    &.show-angle-down-icon {
      &:not(:hover) {
        .date-picker-inline-angle-down.cal_icon_wrapper {
          svg {
            display: inline-block;
            color: $text_lt_light;
          }
        }
        .date-picker-inline-icon-plus.cal_icon_wrapper {
          svg {
            display: none;
          }
        }
      }
      .date-picker-inline-icon-plus.cal_icon_wrapper {
        svg {
          display: none;
        }
      }
      .date-picker-inline-angle-down.cal_icon_wrapper {
        svg {
          display: inline-block;
          color: $primary;
        }
      }
    }
    .date_picker_input.flatpickr-input,
    .date_picker_input.flatpickr-input .active,
    .text_input.flatpickr-input,
    .text_input.flatpickr-input .active      {
      border: none;
      padding: 5px 5px 5px 10px;
      background-color: #FFF;
      &:hover {
        background: rgba(0,130,255,0.1);
        transition: background-color 0.2s ease;
        box-shadow: none;
      }
    }
    .date-picker-inline-angle-down.cal_icon_wrapper,
    .date-picker-inline-icon-plus.cal_icon_wrapper {
      height: 33px;
      border: none;
    }
  }
}

/*
  DARK MODE
*/
.pb_date_picker_kit.dark {
  &.inline-date-picker {
    &:not(:hover) {
      .date-picker-inline-angle-down.cal_icon_wrapper {
        svg {
          display: none;
        }
      }
      .date-picker-inline-icon-plus.cal_icon_wrapper {
        svg {
          display: inline-block;
          color: $white;
        }
      }
    }
    &:hover {
      .pb_text_input_kit .text_input_wrapper input,
      .pb_text_input_kit .text_input_wrapper .text_input,
      .pb_text_input_kit .text_input_wrapper .flatpickr-wrapper input::placeholder,
      .pb_text_input_kit .text_input_wrapper .flatpickr-wrapper .text_input .placeholder {
        color: $white;
      }
      .date-picker-inline-angle-down.cal_icon_wrapper {
        svg {
          display: none;
        }
      }
      .date-picker-inline-icon-plus.cal_icon_wrapper {
        svg {
          display: inline-block;
          color: $white;
        }
      }
    }
    &.show-angle-down-icon {
      &:not(:hover) {
        .date-picker-inline-angle-down.cal_icon_wrapper {
          svg {
            display: inline-block;
            color: $white;
          }
        }
        .date-picker-inline-icon-plus.cal_icon_wrapper {
          svg {
            display: none;
          }
        }
      }
      .date-picker-inline-icon-plus.cal_icon_wrapper {
        svg {
          display: none;
        }
      }
      .date-picker-inline-angle-down.cal_icon_wrapper {
        svg {
          display: inline-block;
          color: $white;
        }
      }
    }
    .date_picker_input.flatpickr-input,
    .date_picker_input.flatpickr-input .active,
    .text_input.flatpickr-input,
    .text_input.flatpickr-input .active {
      background-color: rgba($white,.10);
      border: none;
      padding: 5px 5px 5px 10px;
      &:hover {
        background: rgba(0,130,255,0.1);
        transition: background-color 0.2s ease;
        box-shadow: none;
      }
    }
    .date-picker-inline-angle-down.cal_icon_wrapper,
    .date-picker-inline-icon-plus.cal_icon_wrapper {
      height: 33px;
      border: none;
    }
  }
}
