@import "../../pb_textarea/textarea_mixin";

.pb_date_picker_kit {

  .pb_date_picker_kit_label {
    margin-bottom: $space_xs;
    display: block;
  }

  .date_picker_input_wrapper {
    display: block;

    input::placeholder,
    .date_picker_input .placeholder {
      @include pb_body_light;
    }

    input,
    .date_picker_input {
      max-height: 45px;
      @include pb_textarea_light;
      overflow: hidden;
    }

    input:hover,
    .date_picker_input:hover {
      background-color: rgba($focus_input_light, $opacity_5);
    }

    input:focus,
    .date_picker_input:focus,
    input:-webkit-autofill:focus,
    .date_picker_input:-webkit-autofill:focus {
      @include pb_textarea_focus;
      @include transition_default;
      border-color: $primary;
      background-color: rgba($focus_input_light, $opacity_5);
    }
  }

  &.error {
    .date_picker_input_wrapper {
      .pb_body_kit {
        margin-top: $space_xs / 2;
      }

      input,
      .date_picker_input {
        border-color: $error;
      }
    }
  }

  &.inline {
    .date_picker_input_wrapper input::placeholder,
    .date_picker_input_wrapper .date_picker_input .placeholder {
      opacity: 1;
    }

    &:not(:hover) {
      .date_picker_input_wrapper input:not(:focus) {
        background-color: transparent;
        border-color: transparent;
      }
    }
  }
}
