@import "../../pb_textarea/textarea_mixin";
@import "../../tokens/colors";

.pb_date_picker_kit {

  .pb_date_picker_kit_label {
    margin-bottom: $space_xs;
    display: block;
  }

  .date_picker_input_wrapper {
    display: block;

    input::placeholder,
    .date_picker_input .placeholder {
      @include pb_body_light;
      color: $input_text_default;
    }

    input,
    .date_picker_input {
      max-height: 45px;
      @include pb_textarea_light;
      overflow: hidden;
    }

    input:hover,
    .date_picker_input:hover {
      background-color: $input_background_state;
    }

    input:focus,
    .date_picker_input:focus,
    input:-webkit-autofill:focus,
    .date_picker_input:-webkit-autofill:focus {
      @include pb_textarea_focus_light;
      @include transition_default;
      border-color: $primary;
    }

    input:disabled,
    .date_picker_input:disabled {
      border-color: $input_border_disabled;
      background-color: $input_background_disabled;
      color: $input_text_disabled;
    }

    input:disabled::placeholder,
    .date_picker_input:disabled::placeholder {
      color: $input_text_disabled;
    }
  }

  &.dark {
    .date_picker_input_wrapper {
      input::placeholder,
      .date_picker_input .placeholder {
        @include pb_body_light_dark;
        color: $input_text_default_dark;
      }

      input,
      .date_picker_input {
        @include pb_textarea_dark;
        @include pb_body_dark;
        overflow: hidden;
      }

      input:hover,
      .date_picker_input:hover {
        background-color: $input_background_state_dark;
      }

      input:focus,
      .date_picker_input:focus,
      input:active,
      .date_picker_input:active,
      input:-webkit-autofill:focus,
      .date_picker_input:-webkit-autofill:focus {
        @include pb_textarea_focus_dark;
        @include transition_default;
      }

      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-internal-autofill-selected,
      .date_picker_input:-webkit-autofill,
      .date_picker_input:-webkit-autofill:hover,
      .date_picker_input:-internal-autofill-selected {
        background-color: $input_background_state_dark;
        color: $input_text_default_dark;
      }

      input:disabled,
      .date_picker_input:disabled {
        border-color: $input_border_disabled_dark;
        background-color: $input_background_disabled_dark;
        color: $input_text_disabled_dark;
      }

      input:disabled::placeholder,
      .date_picker_input:disabled::placeholder {
        color: $input_text_disabled_dark;
      }
    }

    &.error {
      .date_picker_input_wrapper {
        input,
        .date_picker_input {
          border-color: $input_border_error_dark;
        }
      }
    }
  }

  &.error {
    .date_picker_input_wrapper {
      .pb_body_kit {
        margin-top: $space_xs / 2;
      }

      input,
      .date_picker_input {
        border-color: $input_border_error;
      }
    }
  }

  &.inline {
    .date_picker_input_wrapper input::placeholder,
    .date_picker_input_wrapper .date_picker_input .placeholder {
      opacity: 1;
    }

    &:not(:hover) {
      .date_picker_input_wrapper input:not(:focus) {
        background-color: transparent;
        border-color: transparent;
      }
    }
  }
}
