@import "../../tokens/animation-curves";
@import "../../tokens/colors";
@import "../../tokens/typography";
@import "../../tokens/titles";
@import "../../tokens/spacing";

$pb_card_border_width: 1px;
$pb_card_border_radius: $border_rad_heavier;

// used to display dropdown on the left of the calender
.quick-pick-drop-down {
  width: 100%;
}

.quick-pick-ul {
  margin: 0;
  list-style: none;
}

.nav-item {
  list-style: none;
}

.nav-item-link {
  text-decoration: none;
  padding: $space_xs 14px;
  transition-property: color, background-color;
  transition-duration: 0.15s;
  transition-timing-function: $bezier;
  line-height: 1.4;
  color: $charcoal;
  font-size: $font_default;
  font-weight: $regular;
  text-align: left;
  border-bottom: 1px solid $border_light;
  &.active {
    color: $white;
    background-color: $primary;
    &:hover {
      background-color: $product_1_background;
      color: $white;
    }
  }
  @media (hover:hover) {
    &:hover {
      cursor: pointer;
      background-color: $bg_light;
      color: $primary;
    }
  }
}

// Hide the calendar
.quick-pick-drop-down > .flatpickr-months, .quick-pick-drop-down > .flatpickr-innerContainer {
  display: none;
}
