@import "../../tokens/animation-curves";
@import "../../tokens/colors";
@import "../../tokens/typography";
@import "../../tokens/titles";
@import "../../tokens/spacing";

$pb_card_border_width: 1px;
$pb_card_border_radius: $border_rad_heavier;

// used to display dropdown on the left of the calender
.quick-pick-drop-down {
  width: auto;
  display: grid;
}

.quick-pick-ul {
  padding: $space_xs 0px;
  margin: 0;
  list-style: none;
}

.nav-item {
  list-style: none;
  border-radius: 6px;
  border-bottom: 0;
  margin: $space_xs $space_sm;
}

.nav-item-link {
  text-decoration: none;
  border-width: $pb_card_border_width;
  border-style: solid;
  border-color: $border_light;
  border-radius: $pb_card_border_radius;
  padding: $space_xs 14px;
  transition-property: color, background-color;
  transition-duration: 0.15s;
  transition-timing-function: $bezier;
  line-height: 1.4;
  color: $charcoal;
  font-size: $font_default;
  font-weight: $regular;
  &.active {
    border-width: 2px;
    border-color: $primary;
  }
  @media (hover:hover) {
    &:hover {
      cursor: pointer;
      box-shadow: $shadow-deep;
      border-color: $slate;
    }
  }
}

// Hide the calendar
.quick-pick-drop-down > .flatpickr-months, .quick-pick-drop-down > .flatpickr-innerContainer {
  display: none;
}

@media only screen and (max-width: 767px) {
  .quick-pick-ul {
    padding: $space_xs $space_xs;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .nav-item {
    margin: $space_xs $space_xs;
  }

  .nav-item-link {
    padding: $space_xs $space_xxs;
  }
}