@import "../../tokens/typography";
@import "../../tokens/spacing";
@import "../../tokens/colors";

.pb_date_picker_kit {
  .pb_time_selection {
    color: $input_text_default;
    background-color: $input_background_default;
    text-align: left;
    margin-left: $space_sm;

    .numInputWrapper {
      width: auto;
      input.numInput {
        background-color: $input_background_default;
        color: $input_text_default;
        border: 1px solid $border_light !important;
        border-radius: 5px;
        text-align: center;
        width: 60px;
        margin-left: 0;
        padding: 0;
        &:focus {
          border-color: $primary_action !important;
        }
      }
      span {
        &.arrowUp, &.arrowDown {
          display: none;
        }
      }
    }
    .pb_caption_kit_md, .pb_caption_kit_xs {
      line-height: $text_larger;
    }
    .pb_caption_kit_xs {
      clear: both;
      display: block;
    }
    .flatpickr {
      &-time-separator {
        margin: 0 $space_xs;
        text-align: center;
      }
    }
    .meridiem {
      &.dark {
        background-color: $input_background_default;
      }
      .pb_form_group_kit {
        margin-left: $space_sm;
      }

      .datePicker-AMPM {
        display: none;
      }
      &:focus, &:hover {
        background: transparent;
      }

      .pb_selectable_card_kit_enabled > label,
      .pb_selectable_card_kit_checked_enabled > label {
        padding: 0;
        margin: 0;
        width: 60px;
        height: 40px;
        text-align: center;
      }
    }
  }
}
