@import "../tokens/colors";

[class^=pb_selectable_card_icon_kit] {

    // .checked {
    //     color: $primary;
    // }
    // .unchecked {
    //     color: gray;
    // }

    input[type="checkbox"]:checked ~ label {
        color: $primary;
    }

    input[type="checkbox"] ~ label {
        color: lightgray;
    }

    label {
        display: flex !important;
        flex-direction: column !important;
        align-content: center;
    }
}

// [class^=pb_selectable_card_kit] input[type="checkbox"]:checked ~ label, [class^=pb_selectable_card_kit] input[type="radio"]:checked ~ label {
//         color: $primary;
// }