@import "../tokens/colors";

[class^=pb_selectable_card_icon_kit] {

	text-align: center;
	user-select: none;

	input[type="checkbox"],
	input[type="radio"] {
    
    transition-duration: $transition_short;
    transition-timing-function: $easeIn;

		&:checked ~ label {
			color: $primary;
		
				h4 {
					color: $primary;
				}
			}
        
    &:not(:checked) ~ label {
        color: $slate;
      }
    }

    &[class*=_disabled] {
      opacity: $opacity_6;
      cursor: not-allowed;
      
      * {
          cursor: not-allowed;
      }
    }

  &[class*=_dark] {

    input[type="checkbox"],
    input[type="radio"] {       
      
      transition-duration: $transition_short;
      transition-timing-function: $easeIn;

      &:checked ~ label {

        svg {
          color: $active_dark;
        }

        h4 {
          color: $active_dark !important;
        }

      }

      &:not(:checked) ~ label {
        
        svg {
          color: $slate;
        }

        h4 {
          color: $text_dk_default !important;
        }
      }
    }
  }

  [class^=pb_selectable_icon_kit] {
    margin-bottom: 0px;
  }

  [class^=pb_body_kit_light] {
    margin-top: $space_xs;
  }

  [class^=pb_selectable_card_kit] {
    margin-bottom: 0px !important;
  }
}
