@import "../tokens/typography";
@import "../tokens/spacing";
@import "../tokens/colors";
@import "../tokens/border_radius";
@import "../tokens/shadows";
@import "../tokens/positioning";

.pb_time_picker {
  > label {
    cursor: pointer;
    display: block;
  }

  .time_picker_wrapper {
    position: relative;
  }

  .text_input_wrapper_add_on .add-on-card {
    transition: background-color 0.3s ease-in-out 0s;
    border-color: $border_light;
  }

  .text_input_wrapper_add_on:focus-within .add-on-card {
    transition: background-color 0.3s ease-in-out 0s, border-color 0.15s ease-in-out 0s;
    border-color: $primary;
  }

  @media (hover: hover) {
    &:hover {
      .text_input_wrapper_add_on .add-on-card {
        cursor: pointer;
        background-color: rgba($focus_input_light, $opacity_5);
      }
    }
  }

  .text_input_wrapper_add_on .add-on-right .text_input {
    cursor: pointer;
  }

  &.error {
    .text_input_wrapper_add_on .add-on-card {
      border-color: $error;
    }
    
    .text_input_wrapper_add_on:focus-within .add-on-card {
      transition: background-color 0.3s ease-in-out 0s, border-color 0.15s ease-in-out 0s;
      border-color: $error;
    }
  }

  &.disabled {
    > label {
      cursor: not-allowed;
    }

    .text_input_wrapper_add_on .add-on-card {
      background-color: $bg_light;
      cursor: not-allowed;
    }

    .text_input_wrapper_add_on .add-on-right .text_input {
      cursor: not-allowed;
    }

    @media (hover: hover) {
      &:hover {
        .text_input_wrapper_add_on .add-on-card {
          cursor: not-allowed;
          background-color: $bg_light;
        }
      }
    }
  }

  .pb_time_picker_container {
    position: absolute;
    background-color: $white;
    overflow: hidden;
    box-shadow: $shadow_deep;
    border-radius: $border_rad_heavier;
    border: 1px solid $border_light;
    z-index: $z_1;
    width: 307.875px;

    &.pb_time_picker_container_24hour {
      width: 280px;
    }

    .pb_time_selection {
      color: inherit;
      text-align: left;
      margin-left: $space_sm;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: $space_xs;

      .pb_caption_kit_md {
        width: 100%;
        flex-basis: 100%;
        margin-bottom: 0;
      }

      .numInputWrapper {
        width: auto;
        display: inline-flex;
        align-items: center;
        margin-bottom: $space_xs;
        input.numInput {
          border: 1px solid $border_light !important;
          border-radius: 5px;
          text-align: center;
          width: 60px;
          margin-left: 0;
          padding: $space_xs;
          height: 40px;
          font-size: 14px;
          font-weight: $bolder;
          transition: border-color 0.2s ease, background-color 0.2s ease;
          &:focus {
            border-color: $primary_action !important;
            outline: none;
          }
          &.invalid {
            border-color: $error !important;
            background-color: rgba($error, 0.05);
          }
        }
        span {
          &.arrowUp, &.arrowDown {
            display: none;
          }
        }
        &.disabled {
          input.numInput {
            color: $text_lt_lighter;
            cursor: not-allowed;
          }
        }
      }

      .time_range_error {
        width: 100%;
        flex-basis: 100%;
        .time_range_error_text {
          color: $error;
        }
      }
      .pb_caption_kit_md, .pb_caption_kit_xs {
        line-height: $text_larger;
      }
      .pb_caption_kit_xs {
        clear: both;
        display: block;
        width: 100%;
        flex-basis: 100%;
      }
      .time-separator {
        margin: 0;
        text-align: center;
        font-size: 14px;
        line-height: 40px;
        font-weight: $bolder;
      }
      .meridiem {
        margin-bottom: $space_xs;
        .pb_form_group_kit {
          margin-left: $space_xs;
          display: flex;
          gap: 0;
        }

        .datePicker-AMPM {
          display: none;
        }
        &:focus, &:hover {
          background: transparent;
        }

        // Override SelectableCard's display:none to make radio inputs keyboard accessible using visually-hidden pattern to keep inputs focusable but not visible
        .pb_selectable_card_kit_enabled,
        .pb_selectable_card_kit_checked_enabled,
        .pb_selectable_card_kit_disabled,
        .pb_selectable_card_kit_checked_disabled {
          > input[type="radio"] {
            display: block;
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            white-space: nowrap;
            border: 0;
          }

          > input[type="radio"]:focus + label {
            border-color: $primary;
          }
        }

        .pb_selectable_card_kit_enabled > label,
        .pb_selectable_card_kit_checked_enabled > label,
        .pb_selectable_card_kit_disabled > label,
        .pb_selectable_card_kit_checked_disabled > label {
          padding: 0;
          margin: 0;
          width: 60px;
          height: 40px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: $bolder;
        }

        .disabled_meridiem > label,
        .pb_selectable_card_kit_disabled > label,
        .pb_selectable_card_kit_checked_disabled > label {
          opacity: 0.5;
          cursor: not-allowed;
          background-color: $bg_light;
          &:hover {
            background-color: $bg_light;
          }
        }
      }
    }
  }
}
