.pb_currency_kit {
  &._center  {
    & > .pb_caption,
    & > .pb_title,
    & > .pb_body {
      text-align: center;
    }
    & > .pb_currency_wrapper {
      justify-content: center;
    }
  }

  &._right {
    & > .pb_caption,
    & > .pb_title,
    & > .pb_body {
      text-align: right;
    }
    & > .pb_currency_wrapper {
      justify-content: flex-end;
    }
  }

  .pb_currency_wrapper {
    display: flex;
    align-items: baseline;

    &._deemphasized {
      .pb_body_kit, .pb_body_kit {
        &:not(.dark) {
          color: $text_lt_default;
        }
      }

      .pb_body_kit._light {
        font-weight: $regular;
      }

      .pb_title_kit {
        font-weight: $lighter;
      }
    }

    &._light {
      .pb_body_kit, .pb_title_kit {
        color: $text_lt_light;
        font-weight: $regular;
      }

      .pb_title_kit.dark {
        color: $text_dk_light;
      }
    }

    &._bold {
      .pb_body_kit, ._light{
        color: $text_lt_default;
        font-weight: $bolder;
      }
    }

    & > .dollar_sign {
      display: flex;
      align-self: flex-start;
    }
    & > .unit {
      display: flex;
      align-items: flex-end;
    }
  }

  &._sm {
    .pb_currency_wrapper._deemphasized {
      .pb_title_kit {
        font-weight: $regular;
      }
    }
  }

  &._lg .pb_currency_wrapper .pb_currency_value {
    line-height: .9;
    padding-left: $space_xs - 7px;
    padding-right: $space_xs - 7px;
  }

  &._md .pb_currency_wrapper .pb_currency_value {
    line-height: 1.2;
    padding-left: $space_xs - 7px;
    padding-right: $space_xs - 7px;
  }

  &._sm .pb_currency_wrapper .pb_currency_value {
    line-height: 1.4;
    padding-left: $space_xs - 7px;
    padding-right: $space_xs - 7px;
  }
}
