@use "sass:math";

@import "../pb_button/button";
@import "../pb_button/button_mixins";

$pb_button_styles: (
  "primary",
  "secondary",
  "link",
);

@mixin pb_circle_icon_button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
  width: $pb_button_size;
  height: $pb_button_size;
  border-radius: math.div($pb_button_size, 2);
  line-height: $pb_button_size;
  flex-basis: $pb_button_size;
  min-width: $pb_button_size;
  padding: 0;
}

@mixin pb_circle_icon_button_active {
  &:active {
    transition: none;
    @include pb_button_variant($secondary_action, $primary_action);
  }
}

@mixin pb_circle_icon_button_active_dark {
  &:active {
    transition: none;
    @include pb_button_variant(rgba($white, $opacity_2), $white);
  }
}

[class^=pb_circle_icon_button_kit] {
  @each $style in $pb_button_styles {
    [class^=pb_button_kit][class*=_#{$style}] {
      @include pb_circle_icon_button;
    }
  }
  :first-child {
    &[class*=_link]  {
      @include pb_circle_icon_button_active;
    }
    &.dark  {
      &[class*=_link]  {
        @include pb_circle_icon_button_active_dark;
      }
    }
  }
}
