@import "../pb_button/button";
@import "../pb_button/button_mixins";

$pb_button_styles: (
  "primary",
  "secondary",
  "link",
);

@mixin pb_circle_icon_button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
  width: $pb_button_size;
  height: $pb_button_size;
  border-radius: $pb_button_size / 2;
  line-height: $pb_button_size;
  flex-basis: $pb_button_size;
  min-width: $pb_button_size;
  padding: 0;
}

@mixin pb_circle_icon_button_active {
  &:active {
    transition: none;
    @include pb_button_variant($secondary_action, $primary_action);
  }
}

@mixin pb_circle_icon_button_active_dark {
  &:active {
    transition: none;
    @include pb_button_variant(rgba($white, $opacity_2), $white);
  }
}

.pb_circle_icon_button_kit {
  @each $style in $pb_button_styles {
    .pb_button_kit.pb_button_#{$style} {
      @include pb_circle_icon_button;
    }
  }
  :first-child {
    &.pb_button_kit.pb_button_link {
      @include pb_circle_icon_button_active;
    }
    &.dark {
      &.pb_button_kit.pb_button_link {
        @include pb_circle_icon_button_active_dark;
      }
    }
  }
  &.size_small {
    @each $style in $pb_button_styles {
      .pb_button_kit.pb_button_#{$style} {
        width: 20px;
        height: 20px;
        min-height: 20px;
        border-radius: 10px;
        line-height: 20px;
        flex-basis: 20px;
        min-width: 20px;
        padding: 0;
      }
    }
    // centering small icon svg
    .pb_button_content {
      display: flex;
      align-items: center;
      justify-content: center;
      // rails
      svg.pb_custom_icon {
        height: 14px;
        width: 14px;
        vertical-align: middle;
      }
      // react (nested within an additional span)
      > span {
        display: flex;
        align-items: center;
        justify-content: center;
        > svg.pb_custom_icon {
          height: 14px;
          width: 14px;
          vertical-align: middle;
          display: inline-block;
        }
      }
    }
  }
}