<div>
  <%= pb_rails("form_group") do %>
    <%= pb_rails("text_input", props: { label: "Text", placeholder: "Enter Text" }) %>
    <%= pb_rails("date_picker", props: { picker_id: "date-picker-default" }) %>
  <% end %>
</div>
