<div>
  <%= pb_rails("form_group") do %>
    <%= pb_rails("text_input", props: { label: "Text", placeholder: "Enter Text" }) %>
    <%= pb_rails("button", props: { text: "Submit", variant: "secondary" }) %>
  <% end %>
</div>
