<%if !@kit_examples[:examples].nil? %>
  <% @kit_examples[:examples].each do |kit_example| %>
    <% kit_example.each do |key, item| %>
      <div class="pb--doc <%= @dark == "true" ? 'dark_ui' : 'light_ui'%>">
        <%= render partial: "config/kit_ui", locals: { key: key, type: @type, item: item, show_code: @show_code } %>
      </div>
    <% end %>
  <% end %>
<% end %>
