<div class="pb--codeControls">
  <ul>
    <li><a href="#" data-toggle="code_example">Code Example</a></li>
    <li><a href="#" data-toggle="prop_example">Props</a></li>
  </ul>
</div>
<div data-action="toggle" data-togglable="code_example" class="pb--codeCopy">
  <a class="pb--close-toggle" href="#" data-toggle="false">Close</a>
  <%= object.snippet %>
</div>
<% if defined?(object.available_props) && object.available_props.present? %>
  <div data-action="toggle" data-togglable="prop_example" class="pb--propsTable">
    <a class="pb--close-toggle" href="#" data-toggle="false">Close</a>
    <table class="pb--propsTable--table">
      <thead>
        <tr>
          <th>Prop</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <% if object.available_props.present? %>
          <% object.available_props.each_with_index do |(key,value),index| %>
            <tr>
              <td><%= key %></td>
              <% if value.present? %>
                <td><%= value %></td>
              <% else %>
                <td><span class="pb--propsTable--table--notset"></span></td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
