<div class="pb--codeControls">
  <ul>
    <li><a href="#" data-toggle="code_example">Code Example</a></li>
  </ul>
</div>
<div data-action="toggle" data-togglable="code_example" class="pb--codeCopy">
  <a class="pb--close-toggle" href="#" data-toggle="false">Close</a>
  <%= object.snippet %>
</div>
