@import "../tokens/colors";
@import "../tokens/spacing";
@import "../tokens/positioning";
@import "../pb_body/body";
@import "../tokens/transition";

[class^=pb_radio_kit] {
  display: inline-flex;
  cursor: pointer;

  .pb_radio_button {
    width: 22px;
    min-width: 22px;
    height: 22px;
    box-sizing: border-box;
    border-radius: 1000px;
    border: 2px solid $border_light;
    margin-right: $space_xs;
    transition-property: border-color, border;
    transition-duration: $transition_short;
    transition-timing-function: $easeIn;
  }

  @media (hover:hover) {
    &:hover, &:focus {
      .pb_radio_button {
        border-color: $primary_action;
      }
    }
  }

  input {
    position: relative;
    width: 0;
    left: $offscreen;
    &:checked, &:focus {
      & ~ .pb_radio_button {
        border: 6px solid $primary;
      }
    }
  }

  &[class*=vertical] {
    flex-direction: column;
    align-items: center;
    .pb_radio_button {
      margin-right: 0px;
      margin-bottom: $space_xs;
    }
  }

  &.dark {
    .pb_radio_button {
      border-color: $border_dark;
    }
    input {
      &:checked, &:focus {
        & ~ .pb_radio_button {
          border: 6px solid $primary;
        }
      }
    }

    @media (hover:hover) {
      &:hover, &:focus {
        .pb_radio_button {
          border-color: $primary_action;
        }
      }
    }
    &.error {
      > .pb_radio_button {
        border-color: $error_dark;
      }
    }
  }
  &.error {
    > .pb_radio_button {
      border-color: $error;
    }
  }
}
