<%= pb_rails("link", props: {
  text: "h1 link example",
  href: "https://www.google.com/",
  tag: "h1",
}) %>

<%= pb_rails("link", props: {
  text: "h6 link example",
  href: "https://www.google.com/",
  tag: "h6",
}) %>

<%= pb_rails("link", props: {
  text: "p link example",
  href: "https://www.google.com/",
  tag: "p",
}) %>

<div>
  This is a <%= pb_rails("link", props: {
    text: "span link example",
    href: "https://www.google.com/",
    tag: "span",
  }) %>
</div>