<div>
  <%= pb_rails("link", props: {
    href: "http://google.com",
    new_window: true,
    text: "Open In New Window"
  }) %>
</div>

<div>
  <%= pb_rails("link", props: {
    href: "https://playbook.powerapp.cloud/",
    target: "child",
    text: "Open In Child Tab",
  }) %>
</div>