<div>
  <%= pb_rails("link", props: {
    text: "link example",
    href: "https://www.google.com/search?q=playbook+design+system",
  }) %>
</div>

<div>
  <%= pb_rails("link", props: {
    text: "link example",
    href: "https://www.youtube.com/@PowerHRG",
    color: "body",
  }) %>
</div>

<div>
  <%= pb_rails("link", props: {
    text: "link example",
    href: "https://github.com/powerhome/.github/blob/main/profile/README.md",
    color: "muted",
  }) %>
</div>

<div>
  <%= pb_rails("link", props: {
    text: "link example",
    href: "https://rubygems.org/gems/playbook_ui/",
    color: "destructive",
  }) %>
</div>
