<div>
  <%= pb_rails("link", props: {
    text: "link example",
    href: "https://www.google.com/",
  }) %>
</div>

<div>
  <%= pb_rails("link", props: {
    text: "link example",
    href: "https://www.youtube.com/",
    color: "body",
  }) %>
</div>

<div>
  <%= pb_rails("link", props: {
    text: "link example",
    href: "https://www.facebook.com/",
    color: "muted",
  }) %>
</div>

<div>
  <%= pb_rails("link", props: {
    text: "link example",
    href: "https://www.instagram.com/",
    color: "destructive",
  }) %>
</div>
