<div>
  <%= pb_rails("link", props: {
    text: "link example",
    href: "#icon",
    icon: "arrow-up-right-from-square",
  }) %>
</div>

<div>
  <%= pb_rails("link", props: {
    text: "link example",
    href: "#icon2",
    icon_right: "chevron-right",
  }) %>
</div>