@import "../tokens/titles";

$pb_title_colors: (
  default: $text_lt_default,
  light: $text_lt_light,
  lighter: $text_lt_lighter,
  success: $success,
  error: $error,
  link: $primary
);

$pb_dark_title_colors: (
  default: $text_dk_default,
  light: $text_dk_light,
  lighter: $text_dk_lighter,
  success: $success,
  error: $error_dark,
  link: $active_dark
);

@mixin title_colors {
  @each $name, $color in $pb_title_colors {
    &.pb_title_#{$name} {
      color: $color
    }
  }
}

@mixin title_dark {
  color: $text_dk_default;
}