@import "../tokens/titles";
@import "../tokens/colors";

[class^=pb_title_kit]{
  &[class*=_1] {
    @include pb_title_1;
  }

  &[class*=_2] {
    @include pb_title_2;
  }

  &[class*=_3] {
    @include pb_title_3;
  }

  &[class*=_4] {
    @include pb_title_4;

    &[class*="link"] {
      color: $primary;
    }

    &[class*="default"] {
      color: $text_lt_default;
    }

    &[class*="light"] {
      color: $text_lt_light;
    }

    &[class*="lighter"] {
      color: $text_lt_lighter;
    }

    &[class*="success"] {
      color: $green;
    }
  
    &[class*="error"] {
      color: $red;
    }

  }

  &.dark {
    @include pb_title_dark;
  }
}
