@import "../tokens/titles";

$pb_title_colors: (
  default:  $text_default_color,
  light:    $text_light,
  lighter:  $text_lighter,
  success:  $text_success,
  error:    $text_error,
  link:     $primary,
);

$pb_dark_title_colors: (
  default:  $text_default_dark,
  light:    $text_light_dark,
  lighter:  $text_lighter_dark,
  success:  $text_success_dark,
  error:    $text_error_dark,
  link:     $text_link_dark,
);

@mixin title_colors {
  @each $name, $color in $pb_title_colors {
    &.pb_title_#{$name} {
      color: $color
    }
  }
}

@mixin title_dark {
  color: $text_default_dark;
}