@import "../tokens/titles";
@import "../tokens/colors";
@import "../tokens/screen_sizes";
@import './title_mixin';

[class^=pb_title_kit] {
  &[class*=_1] {
    @include pb_title_1;
    @include title_colors;
    @include pb_title_bold;
  }

  &[class*=_2] {
    @include pb_title_2;
    @include title_colors;
    @include pb_title_bold;
  }

  &[class*=_3] {
    @include pb_title_3;
    @include title_colors;
    @include pb_title_bold;
  }

  &[class*=_4] {
    @include pb_title_4;
    @include title_colors;
  }

  &[class*=_thin] {
    @include pb_title_thin;
  }

  &[class*=_display] {
    @include pb_title_display;
  }

  @each $size, $size_value in $breakpoints_grid {
    @for $title_size_value from 1 through 4 {
      $min_size: map-get($size_value, "min");
      $max_size: map-get($size_value, "max");
      &[class*=_#{$size}_#{$title_size_value}] {
        @include break_on($min_size, $max_size) {
          @if $title_size_value == 1 { @include pb_title_1; }
          @else if $title_size_value == 2 { @include pb_title_2; }
          @else if $title_size_value == 3 { @include pb_title_3; }
          @else if $title_size_value == 4 { @include pb_title_4; }
          @include title_colors;
          @if $title_size_value != 4 { @include pb_title_bold; }
        }
      }
    }
  }

  &.dark {
    @include title_dark;
    @each $name, $color in $pb_dark_title_colors {
      &[class*="_#{$name}"] {
        color: $color;
      }
    }
  }
}
