@import "../tokens/titles";

$pb_title_colors: (
  default: $text_lt_default,
  light: $text_lt_light,
  lighter: $text_lt_lighter,
  success: $success,
  error: $error,
  link: $primary
);

@mixin title_colors {
  @each $name, $color in $pb_title_colors {
    &[class*=_#{$name}] {
      color: $color
    }
  }
}

$pb_title_truncate: (
  truncate_1: 1,
  truncate_2: 2,
  truncate_3: 3,
  truncate_4: 4,
  truncate_5: 5
);

@mixin title_truncate {
  @each $name, $number in $pb_title_truncate {
    
    &[class*=_#{$name}] {

      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: $number;
      -webkit-box-orient: vertical; 
    }
  }
}