=text-color($base_color, $shadow: false, $more_contrast: false)
  @if lightness($base_color) > 75%
    @if $more_contrast
      color: shade($base_color, 80%)
    @else
      color: shade($base_color, 60%)
    @if $shadow
      text-shadow: rgba(white, 0.2 + lightness($base_color) * 0.8 / 100%) 0 1px 0
  @else
    @if $more_contrast
      color: tint($base_color, 100%)
    @else
      color: tint($base_color, 95%)
    @if $shadow
      text-shadow: rgba(black, 0.4) 0 -1px 1px

// Can use Tint & Shade easily for colors
@function shade($color, $percent)
  @return mix(#000, $color, $percent)

@function tint($color, $percent)
  @return mix(#fff, $color, $percent)
