@import "../pb_body/body";
@import "../pb_icon/icon";

.pb_loading_inline_kit {
  display: flex;
  align-items: baseline;

  &._center {
    justify-content: center;
  }

  &._left {
    justify-content: flex-start;
  }

  &._right {
    justify-content: flex-end;
  }
}
