@import "../pb_body/body";
@import "../pb_icon/icon";

.pb_loading_inline_kit_left,
.pb_loading_inline_kit_center,
.pb_loading_inline_kit_right {
  display: flex;
  align-items: baseline;
}

.pb_loading_inline_kit_center {
  justify-content: center;
}

.pb_loading_inline_kit_left {
  justify-content: flex-start;
}

.pb_loading_inline_kit_right {
  justify-content: flex-end;
}