@import "../tokens/colors";
@import "../tokens/opacity";

.pb_draggable_container {
  .is_dragging {
    opacity: $opacity_4;
  }
  .pb_draggable_item:hover {
    cursor: grab;
  }
}

.pb_draggable_placeholder {
  background-color: rgba($neutral, $opacity_5);
}
