<%= pb_content_tag do %>
  <div class="pb_draggable_container">
    <% object.initial_items.each do |item| %>
      <div
        class="pb_draggable_item"
        id="item_<%= item[:id] %>"
        draggable="true"
      >
        <%= pb_rails("card") do %>
          <%= item[:name] %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
