<%= pb_content_tag do %>
  <div class="draggable-container" ondragover="handleDragOver(event)" ondrop="handleDrop(event)">
    <% object.initial_items.each do |item| %>
      <div
        class="draggable-item"
        id="item_<%= item[:id] %>"
        draggable="true"
        ondragstart="handleDragStart(event)"
        ondragend="handleDragEnd(event)"
      >
        <%= item[:name] %>
      </div>
    <% end %>
  </div>
<% end %>
