[class^=pb_table] {
  &.table-sm,
  &.table-md,
  &.table-lg {
    thead {
      tr {
        th {
          color: $text_lt_lighter;
          font-size: $default-header-size;
          font-weight: $regular;
          text-transform: uppercase;
          border-bottom: 1px solid $border_light;
        }
      }
    }
  }
}
