<div>
  <%= pb_rails("form_group") do %>
    <%= pb_rails("select", props: {
        margin_bottom: "none",
        blank_selection: "Phone",
        options: [
          { value: "Cell" },
          { value: "Work" },
          { value: "Work" },
        ]
      }) %>
      <%= pb_rails("phone_number_input", props: {
        id: "phone"
    }) %>
  <% end %>
</div>
