<div>
  <%= pb_rails("form_group") do %>
    <%= pb_rails("selectable_card", props: {
        input_id: "cat1",
        name: "animal",
        value: "cat",
        multi: false
      }) do %>
        Cat
      <% end %>

    <%= pb_rails("selectable_card", props: {
      input_id: "dog1",
      name: "animal",
      value: "dog",
      multi: false
    }) do %>
      Dog
    <% end %>
  <% end %>
</div>
