@mixin text-color-classes($colors-list) {
  @each $name, $color in $colors-list {
    @include text-emphasis-variant(".text-#{$name}", $color);
  }
}

@include text-color-classes($power-colors);
@include text-color-classes($gray-colors);
@include text-color-classes($opacity-colors);
@include text-color-classes($interface-colors);

// TEXT COLOR IN COLORS
@include text-emphasis-variant('.text-muted', $gray-6);
@include text-emphasis-variant('.text-primary', $brand-primary);
@include text-emphasis-variant('.text-success', $brand-success);
@include text-emphasis-variant('.text-info', $brand-info);
@include text-emphasis-variant('.text-warning', $power-gold);
@include text-emphasis-variant('.text-danger', $brand-danger);
@include text-emphasis-variant('.text-gray-dark', $gray-8);


// Text Size
.text-jumbo { font-size: $font-jumbo }
.text-largest { font-size: $font-largest }
.text-larger { font-size: $font-larger }
.text-large { font-size: $font-large }
.text-normal {font-size: $font-base }
.text-small { font-size: $font-small }
.text-smaller { font-size: $font-smaller }
.text-smallest { font-size: $font-smallest }

// text decoration
.font-weight-normal { font-weight: $regular; }
.font-weight-bold   { font-weight: $bold; }
.font-italic        { font-style: italic; }
