@import "../../tokens/spacing";
@import "../../tokens/colors";
@import "../../tokens/border_radius";

$pb_card_header_padding:(
  none: 0,
  xs: $space_xs,
  sm: $space_sm,
  md: $space_md,
  lg: $space_lg,
  xl: $space_xl,
);

$royal:               #0056CF;
$purple:              #9E64E9;
$teal:                #00C4D7;
$red:                 #FF2229;
$yellow:              #F9BB00;
$green:               #00CA74;
$orange:              #FD804C;
$pb_card_header_colors: (
    royal:              $royal,
    purple:             $purple,
    teal:               $teal,
    red:                $red,
    yellow:             $yellow,
    green:              $green,
    orange:             $orange
);



@mixin card_header_props($background) {
    background: $background;
}

$pb_card_border_radius: $border_rad_heavier;

[class^=pb_card_header_kit] {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  min-height: 1px;
  border: 0;
  border-radius: $pb_card_border_radius $pb_card_border_radius 0px 0px;
  @each $color_name, $color_value in $pb_card_header_colors {
      &[class*=_#{$color_name}] {
          @include card_header_props($color_value);
      }
  }
  @each $padding_name, $padding_size in $pb_card_header_padding {
    &[class*=_#{$padding_name}] {
        padding: $padding_size;
    }
  }
}

