@import "playbook-tokens/colors";
@import "playbook-tokens/spacing";
@import "playbook-tokens/shadows";
@import url("https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.css");
@import url("https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.3.0/mapbox-gl-draw.css");

.pb_map {
  height: 600px;
  position: relative;
  [class^="pb_title_kit"][class*="_4"] {
    color: $text_lt_default
  }

  .dark & {
    [class^="pb_title_kit"][class*="_4"] {
      color: $text_dk_default;
    }
  }
}