@import "playbook-ui/dist/tokens/colors";
@import "playbook-ui/dist/tokens/spacing";
@import "playbook-ui/dist/tokens/shadows";
@import url("https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.css");
@import url("https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.3.0/mapbox-gl-draw.css");


.pb_map {
  height: 400px;

  .map-zoom-button {
    position: absolute;
    right: 10px;
    top: 145px;
    margin: 0px auto;
    width: 20px;
    height: 15px;
    padding: 15px;
    border: none;
    border-radius: 3px;
    text-align: center;
    background: $white;
    color: black;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .map_popup {
    .maplibregl-popup-content {
      padding: $space_sm;
      border-radius: $space_sm;
      .maplibregl-popup-close-button {
        top: $space_xxs;
        right: $space_xxs;
      }
      .maplibregl-popup-close-button:focus {
        outline: none;
      }
    }
  }


.map-custom-buttons-example {

  .maplibregl-ctrl-group button {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      box-shadow: $shadow-deep;
      border-color: $slate;
    }
  }

  .map-custom-icon {
    color: $slate;
  }
}

}