@import "../tokens/spacing";

[class^=pb_source] {
  [class^=pb__source_layout] {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  [class^=pb_icon_circle],
  [class^=pb_avatar] {
    margin-right: $space-sm;
  }

  [class^=pb__source_content] {
    display: inline-block;
    flex-grow: 1;

    [class^=pb__source_value] {
      display: flex;
      justify-content: flex-start;
      align-items: baseline;

      [class^=pb_body] {
        margin-right: $space-xs;
      }
    }
  }
}
