@import "../tokens/colors";
@import "../tokens/opacity";
@import "../tokens/typography";
@import "../tokens/shadows";

$pb_button-size: 40px;
$pb_button-side-padding: 34px;

@mixin pb_button(){
  display: inline-block;
  font-size: $font_small;
  font-weight: $regular;
  text-align: center;
  text-transform: none;
  border-width: 0;
  border-color: transparent;
  border-style: solid;
  border-radius: 4px;
  height: $pb_button-size;
  line-height: $pb_button-size;
  padding: 0 $pb_button-side-padding;
  cursor: pointer;
  opacity: 1;
  box-shadow: 0 0 0 transparent;
  transition: all 0.3s ease;
};

@mixin pb_button_primary(){
  @include pb_button;
  background-color: $primary_action;
  color: $text_dk_default;

  &:hover {
    background-color: darken($primary_action, 4%);
  }
}

@mixin pb_button_secondary(){
  @include pb_button;
  background-color: rgba($secondary_action, $opacity_1);
  color: $secondary_action;

  &:hover {
    background-color: rgba($secondary_action, $opacity_2);
  }
}

@mixin pb_button_link(){
  @include pb_button;
  background-color: transparent;
  color: $secondary_action;
  padding: 0 $pb_button-side-padding/2;

  &:hover {
    background-color: $silver;
  }
}

@mixin pb_button_disabled(){
  @include pb_button;
  cursor: not-allowed;
  pointer-events: none;
  background-color: $silver;
  color: rgba($charcoal, $opacity_4);

  &:hover {
    background-color: rgba($slate, $opacity_3);
  }
}

@mixin pb_button_block(){
  @include pb_button;
  display: block;
  width: 100%;
}
