<%
  # Buttons should not have link options: href, target
  options = {
    id: object.id,
    data: object.data,
    class: object.classname(object.kit_class),
    disabled: object.disabled,
    aria: object.aria,
    type: object.type,
    value: object.value
  }.compact

  link_options = {
    href: object.link,
    target: object.new_window
  }
%>

<%= content_tag(object.tag,
    object.tag == "button" ? options : options.merge(link_options)) do %>
    <%= object.loading_icon %>
    <span class="pb_button_content"><%= object.yield(context: self) %></span>
<% end %>
