@import "../tokens/border_radius";
@import "../tokens/colors";
@import "../tokens/opacity";
@import "../tokens/shadows";
@import "../tokens/spacing";
@import "../tokens/transition";
@import "../tokens/typography";

$pb_button_size: 40px;
$pb_button_v_padding: 7px;
$pb_button_h_padding: 34px;
$pb_button_hover_darken: 4%;
$pb_button_border_width: 1px;

@mixin pb_button($bg: $primary_action, $color: $text_dk_default) {
  text-rendering: optimizeLegibility;
  font-size: $font_small;
  font-weight: $regular;
  text-align: center;
  vertical-align: middle;
  text-transform: none;
  border-width: $pb_button_border_width;
  border-color: transparent;
  border-style: solid;
  border-radius: $border_rad_light;
  min-height: $pb_button_size;
  line-height: 1.5;
  padding: $pb_button_v_padding $pb_button_h_padding;
  cursor: pointer;
  background-color: $bg;
  color: $color;
  outline: none;
  transition: background $transition_default ease, color $transition_default ease;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-basis: auto;
  width: fit-content;

  &:hover {
    outline: none;
  }

  &:active,
  &:focus {
    outline: none;
    border-width: $pb_button_border_width;
    border-color: darken($bg, $pb_button_hover_darken);
  }
};

@mixin pb_button_hover($bg: darken($primary_action, $pb_button_hover_darken)){
  background-color: $bg;
}

// Primary ======================
@mixin pb_button_primary {
  @include pb_button;

  &:hover {
    @include pb_button_hover;
  }
}

// Secondary ====================
@mixin pb_button_secondary {
  $secondary_bg: rgba($secondary_action, $opacity_2);
  @include pb_button($secondary_bg, $secondary_action);

  &:hover {
    @include pb_button_hover(rgba($secondary_action, $opacity_3));
  }
}

// Link =========================
@mixin pb_button_link {
  @include pb_button($transparent, $secondary_action);

  &:hover {
    @include pb_button_hover($transparent);
  }
}

// Disabled ====================
@mixin pb_button_disabled {
  $disabled_color: rgba($charcoal, $opacity_5);
  @include pb_button(rgba($slate, $opacity_4), $disabled_color);
  pointer-events: none;
}

// Block =======================
@mixin pb_button_block {
  display: flex;
  flex-basis: 100%;
  width: 100%;
}
