$grid_auto_rows_values: (
    auto: auto,
    max_content: max-content,
    min_content: min-content
);

@include global_props_responsive_css($grid_auto_rows_values, 'grid_auto_rows', 'grid-auto-rows');
