$display_inline: inline !default;
$display_block: block !default;
$display_inline_block: inline-block !default;
$display_flex: flex !default;
$display_none: none !default;
$display_inline_flex: inline-flex !default;
$displays: (
  display_none:   $display_none,
  display_flex: $display_flex,
  display_inline: $display_inline,
  display_inline_block: $display_inline_block,
  display_block: $display_block
);
