@font-face {
  src: url('./fonts/ProximaNova-Regular.woff2') format('woff2'), 
    url('./fonts/ProximaNova-Regular.woff') format('woff');
    font-family: 'Proxima Nova Rg';
    font-style: normal;
    font-weight: normal;
}
