$lh_tightest: 1 !default;
$lh_tighter:  1.2 !default;
$lh_tight:    1.4 !default;
$lh_normal:   1.5 !default;
$lh_loose:    1.6 !default;
$lh_looser:   1.8 !default;
$lh_loosest:  2 !default;
$line_height: (
  tightest: $lh_tightest,
  tighter: $lh_tighter,
  tight: $lh_tight,
  normal: $lh_normal,
  loose: $lh_loose,
  looser: $lh_looser,
  loosest: $lh_loosest
);
