$opacity_1: 0.1 !default;
$opacity_2: 0.2 !default;
$opacity_3: 0.3 !default;
$opacity_4: 0.4 !default;
$opacity_5: 0.5 !default;
$opacity_6: 0.6 !default;
$opacity_7: 0.7 !default;
$opacity_8: 0.8 !default;
$opacity_9: 0.9 !default;
$opacity_10: 1 !default;
$opacity: (
  opacity_1: $opacity_1,
  opacity_2: $opacity_2,
  opacity_3: $opacity_3,
  opacity_4: $opacity_4,
  opacity_5: $opacity_5,
  opacity_6: $opacity_6,
  opacity_7: $opacity_7,
  opacity_8: $opacity_8,
  opacity_9: $opacity_9,
);
