$relative: relative !default;
$absolute: absolute !default;
$fixed: fixed !default;
$sticky: sticky !default;
$static: static !default;
$position: (
  relative: $relative,
  absolute: $absolute,
  fixed: $fixed,
  sticky: $sticky,
  static: $static
);

// z_index variables
$z_1: 100 !default;
$z_2: 200 !default;
$z_3: 300 !default;
$z_4: 400 !default;
$z_5: 500 !default;
$z_6: 600 !default;
$z_7: 700 !default;
$z_8: 800 !default;
$z_9: 900 !default;
$z_10: 1000 !default;
$z_index: (
  zindex_1: $z_1,
  zindex_2: $z_1,
  zindex_3: $z_1,
  zindex_4: $z_1,
  zindex_5: $z_1,
  zindex_6: $z_1,
  zindex_7: $z_1,
  zindex_8: $z_1,
  zindex_9: $z_1,
);

$z_layers: (
  "header": $z_10,
  "default": 0
);

$offscreen: -9999px !default;

@function z_index_for($layer) {
  @if not map-has-key($z_layers, $layer) {
    @error "No layer found for `#{$layer}` in $z_layers map.";
  }
  @return map-get($z_layers, $layer);
}
