$screen-xs-min: 575px !default;
$screen-xs-max: $screen-xs-min - 1 !default;
$screen-sm-min: 576px !default;
$screen-sm-max: $screen-sm-min - 1 !default;
$screen-md-min: 768px !default;
$screen-md-max: $screen-md-min - 1 !default;
$screen-lg-min: 992px !default;
$screen-lg-max: $screen-lg-min - 1 !default;
$screen-xl-min: 1200px !default;
$screen-xl-max: $screen-xl-min - 1 !default;

$breakpoints: (
  xs: $screen-xs-min,
  sm: $screen-sm-min,
  md: $screen-md-min,
  lg: $screen-lg-min,
  xl: $screen-xl-min
);

$breakpoints_grid: (
    xs: (
        max: $screen-xs-min
    ),
    sm: (
        min: $screen-sm-min,
        max: $screen-md-max
    ),
    md: (
        min: $screen-md-min,
        max: $screen-lg-max
    ),
    lg: (
        min: $screen-lg-min,
        max: $screen-xl-max
    ),
    xl: (
        min: $screen-xl-min,
    )
);

$breakpoints_max_only: (
    xl: (
        max: $screen-xl-max
    ),
    lg: (
        max: $screen-lg-max
    ),
    md: (
        max: $screen-md-max
    ),
    sm: (
        max: $screen-sm-max
    ),
    xs: (
        max: $screen-xs-max,
    )
);

// Code for floor-based breakpoint system (min-width only, inherits upward)
$breakpoints_floor: (
    xs: (
        max: $screen-xs-min  // Special case: keep as max-width for mobile-only
    ),
    sm: (
        min: $screen-sm-min  // Floor: applies from 576px upward
    ),
    md: (
        min: $screen-md-min   // Floor: applies from 768px upward
    ),
    lg: (
        min: $screen-lg-min   // Floor: applies from 992px upward
    ),
    xl: (
        min: $screen-xl-min   // Floor: applies from 1200px upward
    )
);

@function breakpoint($breakpoint_name) {
  @return map-get($breakpoints, $breakpoint_name);
}

// Alias for this floor-based system while set up side by side with break_at and break_on
@mixin break_at_min($min_size) {
  @media screen and (min-width: $min_size) {
    @content;
  }
}

@mixin break_at($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

@mixin break_on($min: null, $max: null) {
  @if not $max {
    @media screen and (min-width: $min) {
      @content;
    }
  } @else if not $min {
    @media screen and (max-width: $max) {
      @content;
    }
  } @else {
    @media screen and (min-width: $min) and (max-width: $max) {
      @content;
    }
  }
}
