$screen-xs-min: 575px;
$screen-xs-max: $screen-xs-min - 1;
$screen-sm-min: 576px;
$screen-sm-max: $screen-sm-min - 1;
$screen-md-min: 768px;
$screen-md-max: $screen-md-min - 1;
$screen-lg-min: 992px;
$screen-lg-max: $screen-lg-min - 1;
$screen-xl-min: 1200px;
$screen-xl-max: $screen-xl-min - 1;

$breakpoints: (
  xs: $screen-xs-min,
  sm: $screen-sm-min,
  md: $screen-md-min,
  lg: $screen-lg-min,
  xl: $screen-xl-min
);

$breakpoints_grid: (
    xs: (
        max: $screen-xs-min
    ),
    sm: (
        min: $screen-sm-min,
        max: $screen-md-max
    ),
    md: (
        min: $screen-md-min,
        max: $screen-lg-max
    ),
    lg: (
        min: $screen-lg-min,
        max: $screen-xl-max
    ),
    xl: (
        min: $screen-xl-min,
    )
);

@function breakpoint($breakpoint_name) {
  @return map-get($breakpoints, $breakpoint_name);
}


@mixin break_at($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

@mixin break_on($min: null, $max: null) {
  @if not $max {
    @media screen and (min-width: $min) {
      @content;
    }
  } @else if not $min {
    @media screen and (max-width: $max) {
      @content;
    }
  } @else {
    @media screen and (min-width: $min) and (max-width: $max) {
      @content;
    }
  }
}
