$space_xxs:   4px !default;
$space_xs:    8px !default;
$space_sm:    16px !default;
$space_md:    24px !default;
$space_lg:    32px !default;
$space_xl:    40px !default;
$spaces: (
  space_xxs:  $space_xxs,
  space_xs:   $space_xs,
  space_sm:   $space_sm,
  space_md:   $space_md,
  space_lg:   $space_lg,
  space_xl:   $space_xl,
  none: 0
);
