$text_align_start:          start !default;
$text_align_end:            end !default;
$text_align_left:           left !default;
$text_align_right:          right !default;
$text_align_center:         center !default;
$text_align_justify:        justify !default;
$text_align_justify_all:    justify-all !default;
$text_align_match_parent:   match-parent !default;
$text_align: (
  start:         $text_align_start,
  end:           $text_align_end,
  left:          $text_align_left,
  right:         $text_align_right,
  center:        $text_align_center,
  justify:       $text_align_justify,
  justify_all:   $text_align_justify_all,
  match_parent:  $text_align_match_parent
);
