@import "./colors";
@import "./typography";
@import "./line_height";

@mixin pb_title(
    $fontSize: $heading_1,
    $fontWeight: $lighter,
    $lineHeight: $lh_tighter,
    $letterSpacing: $lspace_tight
){
  font-size: $fontSize;
  letter-spacing: $letterSpacing;
  font-weight: $fontWeight;
  color: $text_default_color;
  margin: 0;
  line-height: $lineHeight;
  font-family: $font_family_base;
}

@mixin pb_title_1 {
  @include pb_title($heading_1);
}

@mixin pb_title_2 {
  @include pb_title($heading_2, $lighter, 0.96);
}

@mixin pb_title_3 {
  @include pb_title($heading_3);
}

@mixin pb_title_4 {
  @include pb_title($heading_4, $bolder, $letterSpacing: $lspace_normal);
}

@mixin pb_title_bold {
  font-weight: $bolder;
}

@mixin pb_title_thin {
  font-weight: $lighter;
  letter-spacing: $lspace_tight;
}
