$font_family_base: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans_serif !default;

/* CLEAN UP AND REMOVE */
$font_jumbo:        36px !default;
$font_largest:      32px !default;
$font_larger:       28px !default;
$font_large:        20px !default;
$font_base:         16px !default;
$font_default:      $font_base !default;
$font_normal:       $font_base !default;
$font_medium:       $font_base !default;
$font_small:        14px !default;
$font_smaller:      12px !default;
$font_smallest:     11px !default;

$text_jumbo:        $font_jumbo !default;
$text_largest:      $font_largest !default;
$text_larger:       $font_larger !default;
$text_large:        $font_large !default;
$text_base:         $font_base !default;
$text_default:      $font_base !default;
$text_normal:       $font_base !default;
$text_medium:       $font_base !default;
$text_small:        $font_small !default;
$text_smaller:      $font_smaller !default;
$text_smallest:     $font_smallest !default;

/* Headings */
$heading_1: 46px !default;
$heading_2: 34px !default;
$heading_3: $font_larger !default;
$heading_4: $font_base !default;

// Letter Spacing
$lspace_tightest:         -.1em !default;
$lspace_tighter:          -.07em !default;
$lspace_tight:            -.01em !default;
$lspace_normal:           0 !default;
$lspace_loose:            .03em !default;
$lspace_looser:           .07em !default;
$lspace_loosest:          .1em !default;
$lspace_super_loosest:    .2em !default;

/* Standard Font Weights */
$bold:          600 !default;
$regular:       400 !default;

/* Non_Standard Font Weights */
$extrabold:     900 !default;
$boldest:       800 !default;
$bolder:        700 !default;
$light:         300 !default;
$lighter:       100 !default;
