@import "../tokens/colors";
@import "../tokens/border_radius";
@import "../tokens/spacing";
@import "../tokens/animation-curves";
@import "../pb_body/body_mixins";

@mixin pb_textarea($border_color, $background_color, $text_color) {
  @include pb_body_dark;
  border: 1px solid $border_color;
  border-radius: $border_rad_heavier;
  display: block;
  width: 100%;
  color: $text_color;
  background-color: $background_color;
  padding: ($space_xs + 4) $space_sm;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  transition: $easeIn;
  outline: none;
  overflow: auto;
  overflow-wrap: break-word;
  resize: none;
  transition-property: box-shadow, color, background-color;
  transition-duration: .24s;
  transition-timing-function: $bezier;
  &[type=number] {
    -moz-appearance:textfield;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  &:disabled, &:disabled:hover, &:disabled:focus, &:disabled:active {
    background-color: shade($background_color, 5%);
    box-shadow: none;
    opacity: 0.5;
  }
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-internal-autofill-selected {
    -webkit-text-fill-color: $text_color;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
    font-family: $font_family_base;
  }
}

@mixin pb_textarea_focus($focus_color: $focus_input_light) {
  background-color: $focus_color !important;
}

// Textarea ======================
@mixin pb_textarea_light {
  @include pb_textarea($border_light, $white, $text_lt_default);
}

@mixin pb_textarea_dark {
  @include pb_textarea($border_dark, $bg_dark, $text_dk_default);
}

// Hovers ======================
@mixin pb_textarea_focus_light {
  @include pb_textarea_focus($focus_input_light);
}

@mixin pb_textarea_focus_dark {
  @include pb_textarea_focus($focus_input_dark);
}
