@import "../tokens/colors";
@import "../tokens/border_radius";
@import "../tokens/spacing";

@mixin pb_textarea($border_color, $background_color, $text_color){
    @include pb_title_4;
    border: 1px solid $border_color;
    border-radius: $border_rad_light;
    display: block;
    width: 100%;
    color: $text_color;
    background: $background_color;
    padding: $space_xs $space_sm;
    transition: 0.2s all;
    outline: none;
    margin-top: $space_xs;
    margin-bottom: $space_sm;
    overflow: auto;
    overflow-wrap: break-word;
    resize: none;
}

@mixin pb_textarea_focus($focus_color: $focus_input_light) {
    background: $focus_color;
}

// Textarea ======================
@mixin pb_textarea_light {
    @include pb_textarea($border_light, $white, $text_lt_default);
}

@mixin pb_textarea_dark {
    @include pb_textarea($border_dark, $bg_dark, $text_dk_default);
}

// Hovers ======================
@mixin pb_textarea_focus_light {
    @include pb_textarea_focus($focus_input_light);
}

@mixin pb_textarea_focus_dark {
    @include pb_textarea_focus($focus_input_dark);
}



