@import "../pb_body/body_mixins";
@import "./textarea_mixin";
@import "../pb_title/title_mixin";

[class^=pb_textarea_kit] {
  margin-bottom: $space_sm;
  .pb_textarea_kit_label {
    margin-bottom: $space_xs;
    display: block;
  }
  textarea::placeholder {
    @include pb_body_light;
  }
  > textarea {
    @include pb_textarea_light;
  }
  textarea:focus {
    @include pb_textarea_focus_light;
  }

  &.error {
    [class*=pb_body_kit] {
      margin-top: $space_xs / 2;
    }
    > textarea {
      border-color: $error;
    }
  }
  &.resize_both > textarea {
    resize: both;
    overflow: auto;
  }
  &.resize_horizontal > textarea {
    resize: horizontal;
    overflow: auto;
  }
  &.resize_vertical > textarea {
    resize: vertical;
    overflow: auto;
  }



  &[class*=_dark] {
    textarea::placeholder {
      @include pb_body_light_dark;
    }
    > textarea {
      @include pb_textarea_dark;
    }
    textarea:focus {
      @include pb_textarea_focus_dark;
    }
    &.error {
      > textarea {
        border-color: $error_dark;
      }
    }
  }
}
