@import "base-variables/_spacing.sass";
@import "base-variables/_colors.scss";
@import "base-variables/_typography.sass";

.overlay {
  background: transparent;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  & > div {
    & > span {
      background: transparent;
    }
  }
}

.survey {
  position: relative;
  padding: $space-larger;
  background: transparent;
  &-question {
    list-style: none;
    counter-increment: step-counter;
    display: flex;
    flex: 5;
    & > div {
      flex: 20;
    }
    &::before {
      content: counter(step-counter);
      font-size: $font-largest;
      flex: 1;
      margin-top: $space-base;
    }
    &-answer {
      list-style-type: none;
      border-bottom: 1px solid $gray-2;
      padding: $space-smaller $space-large 0 $space-large;
      &:last-child {
        border: none;
      }
      &-list {
        margin: 0;
        padding: 0;
      }
      label {
        cursor: pointer;
      }
      input[type='radio'] {
        & + span {
          font-weight: $regular;
          color: $ink-lightest;
        }
        &:checked {
          & + span {
            color: $ink;
            font-weight: $bold;
          }
        }
        margin-right: $space-base;
      }
    }
    &-list {
      margin: 0;
      padding: 0;
    }
  }
}

.submit {
  margin-left: 5%;
}