@import "../tokens/colors";
@import "../tokens/typography";
@import "../pb_icon/icon";
@import "../pb_body/body";
@import "../pb_caption/caption";

.pb_time_kit {
  &._center  {
    text-align: center;
  }

  &._right  {
    text-align: right;
  }

  .pb_time_timezone {
    color: $text_lt_light;
    font-weight: $bold;

    &::before {
      content: " ";
    }
  }

  &.dark {
    & * {
      @include caption_dark;
    }
    .pb_time {
      color: $text_dk_default;
    }
  }
}
