<div class="pb--doc-demo-row">    
  
  <%= pb_rails("selectable_card_icon", props: {
    icon: "hat-cowboy", 
    title_text: "Cowboy", 
    body_text: "Howdy partner.",
    input_id: 4,
    checked: true,
    checkmark: true
  }) %>

  <%= pb_rails("selectable_card_icon", props: {
    icon: "hat-wizard", 
    title_text: "Wizard", 
    body_text: "Poof, you're a sandwich.",
    input_id: 5,
    checkmark: true
  }) %>

  <%= pb_rails("selectable_card_icon", props: {
    icon: "hat-chef", 
    title_text: "Chef", 
    body_text: "Where is the lamb sauce?",
    input_id: 6,
    disabled: true,
    checkmark: true
  }) %>

</div>