<div class="pb--doc-demo-row">
  <% svg_url = "https://upload.wikimedia.org/wikipedia/commons/3/3b/Wrench_font_awesome.svg" %>

  <%= pb_rails("selectable_card_icon", props: {
    custom_icon: svg_url,
    title_text: "Customization", 
    body_text: "Personalize everything",
    input_id: 1,
    checked: true,
  }) %>
</div>