@import "../tokens/spacing";

@mixin pb_message {
  display: flex;
  justify-content: flex-start;

  .content_wrapper {
    width: 100%;
    font-size: $font_base - 1;

    .pull-left {
      margin-left: $space-xs;
    }

    .pb_flex_ {
      width: 100%;
    }

    .message_text {
      margin: 0 0 $space-xs/2;
    }

    .message_title {
      font-size: $font_small;
    }
  }

  &._avatar {
    .content_wrapper {
      margin-left: $space-xs;
    }
  }

  .pb_message_body {
    font-size: 15px;
  }

  .message_timestamp {
    display: none;
  }

  &:hover {
    .message_timestamp {
      display: block;
    }

    .message_humanized_time {
      display: none;
    }
  }
}
