@import "message_mixins";
@import "../pb_avatar/avatar";
@import "../pb_body/body";
@import "../pb_caption/caption";
@import "../pb_timestamp/timestamp";

$mention_bg_color_yellow: rgba(249, 187, 0, 0.2);
$mention_bg_color_blue: #e5eefa;

[class^=pb_message_kit] {
  @include pb_message;

  [class^=pb_message_mention] {
    border-radius: $space_xxs;
    color: $primary;
    display: inline;
    padding: $space_xxs;
    font-size: $font_base - 1;
    
    &[class*=_user] {
      background-color: $mention_bg_color_blue;
    }
    
    &[class*=_self] {
      background-color: $mention_bg_color_yellow;
    }
  }
}
