@import "../tokens/colors";
@import "../tokens/typography";

$pb_caption_colors: (
  default:        $text_default_color,
  light:          $text_light,
  link:           $text_link,
  lighter:        $text_lighter,
  success:        $text_success,
  error:          $text_error,
);

$pb_dark_caption_colors: (
  default:        $text_default_dark,
  light:          $text_light_dark,
  lighter:        $text_lighter_dark,
  link:           $text_link_dark,
  success:        $text_success_dark,
  error:          $text_error_dark,
);


@mixin caption($font_size: $font_smaller, $font_weight: $bold) {
  font-weight: $font_weight;
  color: $text_light;
  text-transform: uppercase;
  font-size: $font_size;
  letter-spacing: $lspace_loosest;
}

@mixin caption_color($color: $text_light) {
  color: $color;
}

@mixin caption_lg {
  @include caption($font_large, $regular);
}

@mixin caption_xs {
  @include caption($font_smaller, $regular);
  text-transform: none;
  letter-spacing: unset;
}

@mixin caption_dark {
  color: $text_light_dark;
}