@import "../tokens/colors";
@import "../tokens/typography";

$pb_caption_colors: (
  default:        $text_lt_default,
  light:          $text_lt_light,
  link:           $primary,
  lighter:        $text_lt_lighter,
  success:        $text_lt_success_sm,
  error:          $error,
);

$pb_dark_caption_colors: (
  default:        $text_dk_default,
  light:          $text_dk_light,
  lighter:        $text_dk_lighter,
  link:           $active_dark,
  success:        $text_dk_success_sm,
  error:          $error_dark,
);


@mixin caption($font_size: $font_smaller, $font_weight: $bold) {
  font-weight: $font_weight;
  color: $text_lt_light;
  text-transform: uppercase;
  font-size: $font_size;
  letter-spacing: $lspace_loosest;
}

@mixin caption_color($color: $text_lt_light) {
  color: $color;
}

@mixin caption_lg {
  @include caption($font_large, $regular);
}

@mixin caption_xs {
  @include caption($font_smaller, $regular);
  text-transform: none;
  letter-spacing: unset;
}

@mixin caption_dark {
  color: $text_dk_light;
}