@import "../tokens/colors";
@import "caption_mixin";

// Base caption classes - all size combinations
.pb_caption_kit,
.pb_caption_kit_xs,
.pb_caption_kit_md,
.pb_caption_kit_lg {
  @include caption;
}

// Apply caption mixin to all size+color combinations too
@each $color_name, $color_value in $pb_caption_colors {
  .pb_caption_kit_xs_#{$color_name},
  .pb_caption_kit_md_#{$color_name},
  .pb_caption_kit_lg_#{$color_name} {
    @include caption;
  }
}

// Apply caption mixin to link variants too
.pb_caption_kit_xs_link,
.pb_caption_kit_md_link,
.pb_caption_kit_lg_link{
  @include caption;
}

// Size-specific styles
.pb_caption_kit_lg,
.pb_caption_kit_lg_default,
.pb_caption_kit_lg_light,
.pb_caption_kit_lg_lighter,
.pb_caption_kit_lg_success,
.pb_caption_kit_lg_error,
.pb_caption_kit_lg_link {
  @include caption_lg;
}

// Apply lg mixin to all lg color combinations
@each $color_name, $color_value in $pb_caption_colors {
  .pb_caption_kit_lg_#{$color_name} {
    @include caption_lg;
  }
}

.pb_caption_kit_xs,
.pb_caption_kit_xs_default,
.pb_caption_kit_xs_light,
.pb_caption_kit_xs_lighter,
.pb_caption_kit_xs_success,
.pb_caption_kit_xs_error,
.pb_caption_kit_xs_link {
  @include caption_xs;
}

// Apply xs mixin to all xs color combinations
@each $color_name, $color_value in $pb_caption_colors {
  .pb_caption_kit_xs_#{$color_name} {
    @include caption_xs;
  }
}

// Color variants - generate all size/color combinations
@each $color_name, $color_value in $pb_caption_colors {
  .pb_caption_kit_xs_#{$color_name},
  .pb_caption_kit_md_#{$color_name},
  .pb_caption_kit_lg_#{$color_name} {
    color: $color_value;
  }
}

// Link variant (deprecated but still supported)
.pb_caption_kit_xs_link,
.pb_caption_kit_md_link,
.pb_caption_kit_lg_link {
  color: $primary;
}

// Dark theme variants
.pb_caption_kit.dark,
.pb_caption_kit_xs.dark,
.pb_caption_kit_md.dark,
.pb_caption_kit_lg.dark {
  @include caption_dark;
}

// Dark theme color variants
@each $color_name, $color_value in $pb_dark_caption_colors {
  .pb_caption_kit_xs_#{$color_name}.dark,
  .pb_caption_kit_md_#{$color_name}.dark,
  .pb_caption_kit_lg_#{$color_name}.dark {
    color: $color_value;
  }
}
