@import "../tokens/colors";
@import "caption_mixin";

.pb_caption_kit{
  @include caption;
  &[class*="_link"] {
    color: $primary;
  }

  &[class^="pb_caption_kit_lg"] {
    @include caption_lg;
  }

  &[class^="pb_caption_kit_xs"] {
    @include caption_xs;
  }
  
  &[class*="link"] {
    color: $primary;
  }

  @include pb_caption_kit_colors;

  &.dark {
    @include caption_dark;
    @each $name, $color in $pb_dark_caption_colors {
      &[class*="_#{$name}"] {
        color: $color;
      }
    }
  }
}
