@import "../tokens/spacing";
@import "../tokens/colors";
[class^=pb_filter_kit] {
  [class^=pb_circle_icon_button_kit]{
    padding-left: $space_sm !important;
    padding-top: $space_sm !important;
    padding-bottom: $space_sm !important;
  }
  #sort-button{
    padding: 0 !important;
    margin-left: $space_sm !important;
  }
  .filter-bottom{
    padding-left: $space_sm !important;
    padding-right: $space_sm !important;
  }
  .maskContainer{
      display: flex;
      overflow-x: hidden;
      align-items: center;
      flex-grow: 1;
  }
  .filters {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-right: 80px;
    padding-top: $space_sm;
    padding-bottom: $space_sm;

   &::-webkit-scrollbar{
       display: none;
   }
    .filter {
      flex: 0 0 auto;
      padding-left: $space_xs;
      padding-right: $space_xs;
      border-right: 1px solid $border_light !important;
    }

}

.maskContainer::after {
    content: " ";
    background-image: linear-gradient(to right, rgba($card_light,.3) , rgba($card_light,1));
    height: 48px;
    padding-left: $space_lg;
    margin-left: -$space_lg;
    z-index: 1;
}
.maskContainer::before {
    content: " ";
    background-image: linear-gradient(to left, rgba($card_light,.3) , rgba($card_light,1));
    height: 48px;
    padding-right: $space_sm;
    margin-right: -$space_xs;
    z-index: 1;
}

}
