@import "../tokens/spacing";
@import "../tokens/colors";
@import "../tokens/border_radius";

@mixin pb_progress_pill {
  width: 100%;
  max-width: 45px;
  height: 4px;
  border-radius: $border_rad_light;
  margin-right: $space_xs;
}

.pb_progress_pills_kit {
  .progress_pills {
    display: flex;
  }

  .progress_pills_status {
    display: flex;
    align-items: center;
    margin-bottom: $space_xs;

    .title {
      margin-right: $space_xs;
    }
  }

  .pb_progress_pill {
    @include pb_progress_pill;

    &.full_width_pill {
      max-width: none;
    }

    &._inactive {
      background-color: $border_light;
      &.dark {
      background-color: $border_dark;
      }
    }

    &._active {
      background-color: $primary_action;
    }
  }
}
