<div class="pb--doc-demo-row">
  
  <%= pb_rails("avatar_action_button", props: {
      name: "Sophia Carden",
      link_url: "http://www.google.com",
      image_url: "https://randomuser.me/api/portraits/women/8.jpg",
      tooltip_text: "Tooltip Text",
      tooltip_id: "avatar_1",
  }) %>

</div>