@import "playbook-tokens/colors";
@import "playbook-tokens/typography";
@import "playbook-tokens/spacing";


// Rails & REACT
.pb--codeCopy {
  font-size: ($text_small - 1px);
  .highlight {
    margin: 20px 0;
  }
  pre.highlight {
    padding: 44px 24px;
    margin: 0;
  }
  .highlight .hll {
    background-color: #404040
  }
  .highlight {
    background: #193f5d;
    color: #d0d0d0
  }
  .highlight .c {
    color: #999999;
    font-style: italic
  }
  /* Comment */
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2
  }
  /* Error */
  .highlight .esc {
    color: #d0d0d0
  }
  /* Escape */
  .highlight .g {
    color: #d0d0d0
  }
  /* Generic */
  .highlight .k {
    color: #6ab825;
    font-weight: $bolder;
  }
  /* Keyword */
  .highlight .l {
    color: #d0d0d0
  }
  /* Literal */
  .highlight .n {
    color: #d0d0d0
  }
  /* Name */
  .highlight .o {
    color: #d0d0d0
  }
  /* Operator */
  .highlight .x {
    color: #d0d0d0
  }
  /* Other */
  .highlight .p {
    color: #d0d0d0
  }
  /* Punctuation */
  .highlight .ch {
    color: #999999;
    font-style: italic
  }
  /* Comment.Hashbang */
  .highlight .cm {
    color: #999999;
    font-style: italic
  }
  /* Comment.Multiline */
  .highlight .cp {
    color: #5bb3ff;
    font-weight: $bolder;
  }
  /* Comment.Preproc */
  .highlight .cpf {
    color: #999999;
    font-style: italic
  }
  /* Comment.PreprocFile */
  .highlight .c1 {
    color: #999999;
    font-style: italic
  }
  /* Comment.Single */
  .highlight .cs {
    color: #e50808;
    font-weight: $bolder;
    background-color: #520000
  }
  /* Comment.Special */
  .highlight .gd {
    color: #d22323
  }
  /* Generic.Deleted */
  .highlight .ge {
    color: #d0d0d0;
    font-style: italic
  }
  /* Generic.Emph */
  .highlight .gr {
    color: #d22323
  }
  /* Generic.Error */
  .highlight .gh {
    color: #ffffff;
    font-weight: $bolder;
  }
  /* Generic.Heading */
  .highlight .gi {
    color: #589819
  }
  /* Generic.Inserted */
  .highlight .go {
    color: #cccccc
  }
  /* Generic.Output */
  .highlight .gp {
    color: #aaaaaa
  }
  /* Generic.Prompt */
  .highlight .gs {
    color: #d0d0d0;
    font-weight: $bolder;
  }
  /* Generic.Strong */
  .highlight .gu {
    color: #ffffff;
    text-decoration: underline
  }
  /* Generic.Subheading */
  .highlight .gt {
    color: #d22323
  }
  /* Generic.Traceback */
  .highlight .kc {
    color: #6ab825;
    font-weight: $bolder;
  }
  /* Keyword.Constant */
  .highlight .kd {
    color: #6ab825;
    font-weight: $bolder;
  }
  /* Keyword.Declaration */
  .highlight .kn {
    color: #6ab825;
    font-weight: $bolder;
  }
  /* Keyword.Namespace */
  .highlight .kp {
    color: #6ab825
  }
  /* Keyword.Pseudo */
  .highlight .kr {
    color: #6ab825;
    font-weight: $bolder;
  }
  /* Keyword.Reserved */
  .highlight .kt {
    color: #6ab825;
    font-weight: $bolder;
  }
  /* Keyword.Type */
  .highlight .ld {
    color: #d0d0d0
  }
  /* Literal.Date */
  .highlight .m {
    color: #3677a9
  }
  /* Literal.Number */
  .highlight .s {
    color: #f5cf49
  }
  /* Literal.String */
  .highlight .na {
    color: #bbbbbb
  }
  /* Name.Attribute */
  .highlight .nb {
    color: #24909d
  }
  /* Name.Builtin */
  .highlight .nc {
    color: #64a3f7;
    text-decoration: underline
  }
  /* Name.Class */
  .highlight .no {
    color: #40ffff
  }
  /* Name.Constant */
  .highlight .nd {
    color: #ffa500
  }
  /* Name.Decorator */
  .highlight .ni {
    color: #d0d0d0
  }
  /* Name.Entity */
  .highlight .ne {
    color: #bbbbbb
  }
  /* Name.Exception */
  .highlight .nf {
    color: #64a3f7
  }
  /* Name.Function */
  .highlight .nl {
    color: #d0d0d0
  }
  /* Name.Label */
  .highlight .nn {
    color: #64a3f7;
    text-decoration: underline
  }
  /* Name.Namespace */
  .highlight .nx {
    color: #d0d0d0
  }
  /* Name.Other */
  .highlight .py {
    color: #d0d0d0
  }
  /* Name.Property */
  .highlight .nt {
    color: #6ab825;
    font-weight: $bolder;
  }
  /* Name.Tag */
  .highlight .nv {
    color: #40ffff
  }
  /* Name.Variable */
  .highlight .ow {
    color: #6ab825;
    font-weight: $bolder;
  }
  /* Operator.Word */
  .highlight .w {
    color: #666666
  }
  /* Text.Whitespace */
  .highlight .mb {
    color: #3677a9
  }
  /* Literal.Number.Bin */
  .highlight .mf {
    color: #3677a9
  }
  /* Literal.Number.Float */
  .highlight .mh {
    color: #3677a9
  }
  /* Literal.Number.Hex */
  .highlight .mi {
    color: #3677a9
  }
  /* Literal.Number.Integer */
  .highlight .mo {
    color: #3677a9
  }
  /* Literal.Number.Oct */
  .highlight .sa {
    color: #f5cf49
  }
  /* Literal.String.Affix */
  .highlight .sb {
    color: #f5cf49
  }
  /* Literal.String.Backtick */
  .highlight .sc {
    color: #f5cf49
  }
  /* Literal.String.Char */
  .highlight .dl {
    color: #f5cf49
  }
  /* Literal.String.Delimiter */
  .highlight .sd {
    color: #f5cf49
  }
  /* Literal.String.Doc */
  .highlight .s2 {
    color: #f5cf49
  }
  /* Literal.String.Double */
  .highlight .se {
    color: #f5cf49
  }
  /* Literal.String.Escape */
  .highlight .sh {
    color: #f5cf49
  }
  /* Literal.String.Heredoc */
  .highlight .si {
    color: #f5cf49
  }
  /* Literal.String.Interpol */
  .highlight .sx {
    color: #ffa500
  }
  /* Literal.String.Other */
  .highlight .sr {
    color: #f5cf49
  }
  /* Literal.String.Regex */
  .highlight .s1 {
    color: #f5cf49
  }
  /* Literal.String.Single */
  .highlight .ss {
    color: #f5cf49
  }
  /* Literal.String.Symbol */
  .highlight .bp {
    color: #24909d
  }
  /* Name.Builtin.Pseudo */
  .highlight .fm {
    color: #64a3f7
  }
  /* Name.Function.Magic */
  .highlight .vc {
    color: #40ffff
  }
  /* Name.Variable.Class */
  .highlight .vg {
    color: #40ffff
  }
  /* Name.Variable.Global */
  .highlight .vi {
    color: #40ffff
  }
  /* Name.Variable.Instance */
  .highlight .vm {
    color: #40ffff
  }
  /* Name.Variable.Magic */
  .highlight .il {
    color: #3677a9
  }
  /* Literal.Number.Integer.Long */
  .highlight table pre {
    margin: 0;
  }
  .highlight {
    color: #faf6e4;
    background-color: transparent; /*charcoal*/
  }
  .highlight .gl {
    color: #dee5e7;
    background-color: #4e5d62;
  }
  .highlight .c,
  .highlight .cd,
  .highlight .cm,
  .highlight .c1,
  .highlight .cs {
    color: #6c8b9f;
    font-style: italic;
  }
  .highlight .cp {
    color: #b2fd6d;
    font-weight: $bolder;
    font-style: italic;
  }
  .highlight .err {
    color: #fefeec;
    background-color: #cc0000;
  }
  .highlight .gr {
    color: #fefeec;
    background-color: #cc0000;
  }
  .highlight .k,
  .highlight .kd,
  .highlight .kv {
    color: #f6dd62;
    font-weight: $bolder;
  }
  .highlight .o,
  .highlight .ow {
    color: #4df4ff;
  }
  .highlight .p,
  .highlight .pi {
    color: #4df4ff;
  }
  .highlight .gd {
    color: #cc0000;
  }
  .highlight .gi {
    color: #b2fd6d;
  }
  .highlight .ge {
    font-style: italic;
  }
  .highlight .gs {
    font-weight: $bolder;
  }
  .highlight .gt {
    color: #dee5e7;
    background-color: #4e5d62;
  }
  .highlight .kc {
    color: #f696db;
    font-weight: $bolder;
  }
  .highlight .kn {
    color: #ffb000;
    font-weight: $bolder;
  }
  .highlight .kp {
    color: #ffb000;
    font-weight: $bolder;
  }
  .highlight .kr {
    color: #ffb000;
    font-weight: $bolder;
  }
  .highlight .gh {
    color: #ffb000;
    font-weight: $bolder;
  }
  .highlight .gu {
    color: #ffb000;
    font-weight: $bolder;
  }
  .highlight .kt {
    color: #b2fd6d;
    font-weight: $bolder;
  }
  .highlight .no {
    color: #b2fd6d;
    font-weight: $bolder;
  }
  .highlight .nc {
    color: #b2fd6d;
    font-weight: $bolder;
  }
  .highlight .nd {
    color: #b2fd6d;
    font-weight: $bolder;
  }
  .highlight .nn {
    color: #b2fd6d;
    font-weight: $bolder;
  }
  .highlight .bp {
    color: #b2fd6d;
    font-weight: $bolder;
  }
  .highlight .ne {
    color: #b2fd6d;
    font-weight: $bolder;
  }
  .highlight .nl {
    color: #ffb000;
    font-weight: $bolder;
  }
  .highlight .nt {
    color: #ffb000;
    font-weight: $bolder;
  }
  .highlight .m,
  .highlight .mf,
  .highlight .mh,
  .highlight .mi,
  .highlight .il,
  .highlight .mo,
  .highlight .mb,
  .highlight .mx {
    color: #f696db;
    font-weight: $bolder;
  }
  .highlight .ld {
    color: #f696db;
    font-weight: $bolder;
  }
  .highlight .ss {
    color: #f696db;
    font-weight: $bolder;
  }
  .highlight .s,
  .highlight .sb,
  .highlight .sd,
  .highlight .s2,
  .highlight .sh,
  .highlight .sx,
  .highlight .sr,
  .highlight .s1 {
    color: #fff0a6;
    font-weight: $bolder;
  }
  .highlight .se {
    color: #4df4ff;
    font-weight: $bolder;
  }
  .highlight .sc {
    color: #4df4ff;
    font-weight: $bolder;
  }
  .highlight .si {
    color: #4df4ff;
    font-weight: $bolder;
  }
  .highlight .nb {
    font-weight: $bolder;
  }
  .highlight .ni {
    color: #999999;
    font-weight: $bolder;
  }
  .highlight .w {
    color: #BBBBBB;
  }
  .highlight .nf {
    color: #a8e1fe;
  }
  .highlight .py {
    color: #a8e1fe;
  }
  .highlight .na {
    color: #a8e1fe;
  }
  .highlight .nv,
  .highlight .vc,
  .highlight .vg,
  .highlight .vi {
    color: #a8e1fe;
    font-weight: $bolder;
  }
  .codeSnippetGuidelines {
    overflow-x: auto;
  }
}
