@import "playbook-tokens/colors";


[class^=flex-doc-example] {
  overflow: auto;
  [class^=pb_flex_kit]{
    background-color: $bg_light;
  }
  [class^=pb_flex_item_kit]{
    background-color: rgba($bg_dark,.5);
    color: $white;
    min-width: 40px;
    min-height: 40px;
    border: 1px solid $border_light;

  }
  &.tall{
    [class^=pb_flex_kit]{
      height: 250px;
    }
  }
}
