@import "playbook-ui/dist/tokens/colors";

.pb--kits {
  .pb--docItem {
    margin: 0 0 40px 0;

    .pb--docItem-ui {
      .pb--doc {
        box-shadow: 0 0 0 transparent;
        padding: 0;
        margin: 10px 0;
      }
    }
  }
}

.popover-copy {
  background-color: $bg_dark;
  color: $white;

  .copy-popover-arrow {
    border-color: transparent transparent $black transparent !important;
    transform: rotate(180deg);
    content: " ";
    position: absolute;
    top: 100%;
    left: calc(50% - 10px);
    border-color: $white transparent transparent transparent;
    border-style: solid;
    border-width: 10px;
    margin-bottom: 50px;
  }
}
