@import "playbook-tokens/colors";
@import "playbook-tokens/border_radius";
@import "playbook-tokens/shadows";

.pb--kits {
  .pb--docItem {
    margin: 0 0 40px 0;

    .pb--docItem-ui {
      .pb--doc {
        box-shadow: 0 0 0 transparent;
        padding: 0;
        margin: 10px 0;
      }
    }
  }
}

.popover-copy {
  background-color: $bg_dark;
  color: $white;
}

.kit_show_swift {
  p {
    a {
      background-color: $bg_light;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: $border_radius_lg;
      box-shadow: inset $shadow_deep;
      img {
        max-width: 250px;
        height: auto;
        position: relative;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
  .kit-show-description {
    p {
      a {
        background-color: initial;
        display: initial;
        border-radius: initial;
        box-shadow: initial;
      }
    }
  }
}
