@import "playbook-tokens/spacing";

.anchorjs-link {
  font-size: 2em !important;
  position: relative;
  top: $space_xxs;
}
.anchorjs-link.props-table-anchor {
  position: relative;
  top: $space_xxs;
  font-size: 1.3em !important;
}