@import "playbook-ui/dist/tokens/titles";
@import "playbook-ui/dist/tokens/typography";
@import "playbook-ui/dist/tokens/spacing";
@import "playbook-ui/dist/tokens/colors";

.markdown_title {
  @include pb_title_1;
  font-weight: $bolder;
  margin: 1rem 0;
}

.markdown {
  h1 {
    font-size: $text_largest;
    font-weight: $bolder;
    margin: 1rem 0 0.5rem 0;
  }

  h2 {
    font-size: $text_larger;
    font-weight: $bolder;
    margin: 1rem 0 0.5rem 0;
  }

  h3 {
    font-size: $text_large;
    font-weight: $bolder;
    margin: 1rem 0 0.5rem 0;
  }
  h4 {
    font-size:  $text_base;
    font-weight: $bolder;
    margin: 1rem 0 0.5rem 0;
  }
  h5 {
    margin: 1rem 0 0.5rem 0;
  }
  h6 {
    margin: 1rem 0 0.5rem 0;
  }

  hr {
    margin: 2rem 0;
    box-sizing: content-box;
    overflow: hidden;
    background: transparent;
    border-bottom: 1px solid $transparent;
    height: 1px;
    padding: 0;
    background-color: $border_light;
    border: 0;
  }
  p {
    margin: 1.5rem 0 0.5rem 0;
    line-height: $lh_loose;
  }
  code {
    font-family: monospace;
    background: $bg_light;
    padding: 0.1rem 0.3rem;
    margin: 0 5px;
    box-shadow: 0 2px 10px $shadow;
    border-radius: 0.25rem;
    overflow: hidden;
    font-size: ($text_small - 1px);
  }
  pre {
    background: $bg_dark;
    padding: $space_sm;
    border-radius: $border_rad_heavy;
    code {
      background: transparent;
      box-shadow: none;
      color: #faf6e4;
    }
  }

  body {
    font-size: 1rem;
  }

  ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  ol {
    counter-reset: list-counter;
    li:before {
      content: counter(list-counter);
      counter-increment: list-counter;
      display: block;
      width: 20px;
      flex: 0 0 20px;
      text-align: left;
      color: $text_lt_default;
      font-weight: $bold;
      margin-right: $space-sm;
    }
  }
  li {
    border-bottom: 1px solid $border_light;
    padding: $space-sm 0;
    display: flex;
    align-items: left;
    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }
  &.dark {
    color: $text_dk_light ;
    h1,h2,h3,h4,h5,h6 {
     color: $text_dk_light;
    }
  }
  // Pull more styles here: https://github.com/sindresorhus/github-markdown-css/blob/main/github-markdown-light.css
}
