@import "playbook-tokens/titles";
@import "playbook-tokens/typography";
@import "playbook-tokens/spacing";
@import "playbook-tokens/colors";
@import "playbook-tokens/screen_sizes";
@import "playbook-tokens/border_radius";
@import "playbook-kits/pb_caption/_caption_mixin.scss";

.markdown_title {
  @include pb_title_1;
  line-height: $heading_1;
  font-weight: $bolder;
  margin: 1rem 0;
}

.markdown {
  line-height: $lh_loose;
  h4,
  h5,
  h6,
  ul,
  ol,
  blockquote,
  p {
    margin: 1rem 0 0 0;
  }
  h1 {
    font-size: $text_larger;
    line-height: $text_larger;
    font-weight: $bolder;
    letter-spacing: $lspace_tight;
    margin: 2.1rem 0 0 0;
  }
  h2 {
    font-size: $text_larger;
    line-height: $text_larger;
    font-weight: $bolder;
    letter-spacing: $lspace_tight;
    margin: 1.9rem 0 0 0;
  }
  h3 {
    font-size: $text_large;
    line-height: $text_large;
    font-weight: $bolder;
    letter-spacing: $lspace_tight;
    margin: 1.7rem 0 0 0;
  }
  h5 {
    @include caption;
  }
  h4,
  h6 {
    font-size: $text_base;
    line-height: $text_base;
    letter-spacing: $lspace_tight;
    font-weight: $bolder;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    .markdown-header-anchor {
      opacity: 0;
      transition: 0.2s all ease-in-out;
      &-icon:hover {
        color: $text_lt_default;
      }
    }
    &:hover .markdown-header-anchor {
      opacity: 1;
      transition: 0.1s all ease-in-out;
    }
  }
  hr {
    margin: 2.2rem 0;
    box-sizing: content-box;
    overflow: hidden;
    background: transparent;
    border-bottom: 1px solid $transparent;
    height: 1px;
    padding: 0;
    background-color: $border_light;
    border: 0;
  }
  p {
    // margin: 1rem 0 0 0;
  }
  code {
    font-family: monospace;
    background: $bg_light;
    padding: 0rem 0rem;
    margin: 0;
    border: 1px solid $border_light;
    border-radius: 0.25rem;
    overflow: hidden;
    font-size: ($text_small - 1px);
  }
  pre {
    background: $bg_dark;
    padding: $space_sm;
    border-radius: $border_rad_heaviest;
    margin: 1.5rem 0 2rem 0;
    code {
      background: transparent;
      box-shadow: none;
      border: 0;
      color: #faf6e4;
    }
  }
  ul,
  ol {
    margin: 1rem 0 0 0;
    padding: 0;
  }
  ol {
    counter-reset: list-counter;
    list-style: none;
    li:before {
      content: counter(list-counter);
      counter-increment: list-counter;
      display: inline-flex;
      width: 20px;
      text-align: right;
      color: $text_lt_default;
      margin-right: $space-sm;
      font-feature-settings: "tnum";
      font-variant-numeric: tabular-nums;
      flex-direction: row-reverse;
    }
  }
  ul {
    list-style-position: inside;
  }
  blockquote {
    font-size: $font_larger;
    font-style: italic;
    padding: $space_sm $space_md;
  }
  img {
    max-width: 100%;
    margin: 1.5rem 0 0.2rem 0;
  }
  table {
    margin: 1.5rem 0 2rem 0;
  }

  // Decorators
  u {
    text-decoration-color: $text_lt_light;
    text-decoration-thickness: 1px;
  }
  del {
    color: $text_lt_light;
  }
  &.dark {
    color: $text_dk_default;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $text_dk_default;
    }
    a {
      color: $active_dark;
    }
    code {
      background: $bg_dark;
      border-color: $bg_dark;
      color: $text_dk_default;
    }
    pre code {
      color: #faf6e4;
    }
  }

  .color-guidelines {
    display: flex;
    align-items: center;
    column-gap: $space_xl;

    @media screen and (max-width: $screen-md-min) {
      display: block;
    }
  }

  .typography-principle {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    column-gap: $space_xl;

    ul {
      list-style-position: outside;
      margin: $space-sm;
    }

    div:first-child {
      flex:2;
      min-width: 250px;
    }

    img {
      width: 340px;
      margin: 0 auto;
      flex:1;
    }

    @media screen and (max-width: $screen-md-min) {
      flex-wrap: wrap;

      img{
      max-width: 340px;
      }
    }
  }
}

.typography-weight-100 {
font-weight: $lighter;
}

.typography-weight-600 {
font-weight: $bold;
}

.typography-list {
  ul {
    margin-left: $space-sm;
    list-style-position: outside;
    ul {
      margin-top: 0px;
    }
  }
}
