<div class="<%= object.class_name %>" id="mychart"></div>
<% content_for :pb_js do %>
  <%= javascript_tag do %>
    new PBChart('.selector', {
      data: <%= object.data %>
    });
  <% end %>
<% end %>
