@import "../tokens/colors";
@import "../utilities/colors";
@import "../tokens/spacing";
@import "../tokens/opacity";
@import "../tokens/typography";



.pb_progress_step_kit{
    list-style:none;
    display: flex;
  .pb_progress_step_item {
    display:flex;
    flex-direction:column;
    position: relative;
    flex-basis: 100%;

    .circle {
        height:14px;
        width:14px;
        border-radius:100%;  
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 3;
        box-shadow: 0 0 0 2px $white;

        svg {
            width:10px;
            height:10px;
            opacity: 0;
            color: $white;
        }
    }

    &::before{
        content: '';
        height: 4px;
        position: absolute;
        top: 5px;
        width:100%;
        background-color:$border_light;
    }

    &:last-child::after, &:first-child::before {
        display:none;
    }

    &._inactive{
        .circle{
            background-color: $border_light;
            color: $border_light;
        }
    }
    &._active{
        .circle{
            background-color: $white;
            border: solid 2px $primary;
            color: rgba( $primary, 0)
        }
        &::before{
            background-color: $primary;
        }
    }
    &._complete{
        .circle{
            background-color: $primary;
            color:$white;
        }
        &::before{
            background-color: $primary;
        }
    }
  }
// Start of Horizontal
  &.horizontal{
    flex-direction: row;
    .pb_progress_step_item{
        align-items: flex-end;
        &::before{
            width: calc(100% + .04em);
        }
        .box{
           display: flex;
           flex-direction: column;
           align-items: center;
           .content{
               top: 16px;
               position: absolute;
               width: fit-content;
               min-width: max-content;
           }
        }
        &:first-child {
            position: relative;
            align-items: flex-start;
            flex-basis: 0;
            .box{
                align-items: flex-start;
            }
        }
        &:last-child{
            .box{
                align-items: flex-end;
            }
    
        }
    }
    // Start of Tracker
    &.tracker {
        background-color: $border_light;
        border-radius: 1rem;
        height:24px;
        align-items: center;
        .box{
            .circle{
                box-shadow: none;
                height: 24px;
                width: 24px;
                border: $primary solid 4px;
            }
            .content{
                top:-24px;
                position: absolute;  
            }
        }
        li.pb_progress_step_item{
            &::before{
                background-color: $border_light;
                height: 24px;
                border-radius: 1rem;
                top: 0;
                width: calc(100% + 1.5em);
            }
            .box{
                align-items: center;
            }
            &:first-child{
                position: relative;
                .box{
                    align-items: flex-start;
                }
            }
            &:last-child{
                .box{
                    align-items: flex-end;
                }
            }
        }
        li._active{
            .circle{
                height: 24px;
                width: 24px;
                border: $primary solid $border_rad_light;
                background-color: rgba($white, $opacity_8);
                svg {
                    color: darken($primary,25%);
                }
            }
            &::before {
                background-color: $primary;
            }
        }
        li._inactive{
            &::before {
                display: none;
                background-color: $border_light;
            }
            .circle{
                background-color: darken($border_light,10%);
                border: $border_light solid 6px;
            }
            
        }
        li._complete{
            &::before {
                background-color: $primary;
            }
            .circle{
                background-color: darken($primary,25%);
            }
        }
        li._hidden{
            &::before, .circle {
                display: none;
            }
        }
        li._hidden ~ li._active,
        li._hidden ~ li._complete {
            &::before {
                width: calc(200% + 1.5em);
            }
        }
        &.dark{
            background-color: tint($bg_dark,20%);
            ._inactive{
                .circle{
                    border-color: tint($bg_dark,20%);
                }
            }
        }
        &.info{
            li.inactive .circle{
                border-color: $border_light;
            }
            .box .circle , li._active .circle{
                border-color: $teal;
            }
            li._complete,li._active{
                &::before {
                    background-color: $teal;
                }
            }
            li._complete .circle{
                background-color: darken($teal,25%);
            }
        }
    }
    //End of Tracker

  }
// End of Horizontal

// Start of Vertical
  &.vertical{
    flex-direction: column; 
    .pb_progress_step_item{
        .box{
        display:flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 8px;
        }
        &::before {
            display: flex;
            flex-direction: column;
            content: '';
            height: 100%;
            position: absolute;
            top:14px;
            left: 21px;
            width:4px;
            background-color:$border_light;
        }
        &:last-child::before{
            display:none;
        }
        .circle{
            margin: 0 8px;
        }
    }
  }
//End of Vertical
  &.icon{
    .progress_step_item._complete,
    .progress_step_item._active {
        .box .circle svg {
            opacity: 1;
            
        }
    }
    }


  &.dark {
    .progress_step_item{
        &::before{
            background-color: tint($bg_dark,20%);
        }
    }
    .circle{
        box-shadow: 0 0 0 2px tint($bg_dark,10%);
    }
    .active{
        .circle{
            background-color: tint($bg_dark,10%);
        }
        &::before{
            background-color: $primary;
        }
    }
    .inactive{
        .circle, &::before{
           background-color: tint($bg_dark,20%);
        }
    }
    .complete{
        .circle, &::before{
           background-color: $primary;
        }
    }
  }

}
