<%= content_tag(:div,
    id: object.id,
    data: object.data,
    class: object.classname("pb_progress_pills_kit")) do %>
  <% 1.upto(object.steps) do |step| %>
    <span class=<%= step <= object.active ? "active" : "inactive" %>></span>
  <% end %>
<% end %>
