@import "../tokens/colors";

// All the merges below create $icon_colors, a map of all color tokens in colors.scss
$merge_kits1: map-merge($status_colors, $category_colors);
$merge_kits2: map-merge($merge_kits1, $product_colors);
$merge_kits3: map-merge($merge_kits2, $text_colors);
$merge_kits4: map-merge($merge_kits3, $card_colors);
$merge_kits5: map-merge($merge_kits4, $action_colors);
$merge_kits6: map-merge($merge_kits5, $data_colors);
$merge_kits7: map-merge($merge_kits6, $border_colors);
$merge_kits8: map-merge($merge_kits7, $interface_colors);
$merge_kits9: map-merge($merge_kits8, $main_colors);
$merge_kits10: map-merge($merge_kits9, $shadow_colors);
$merge_kits11: map-merge($merge_kits10, $text_colors);
$merge_kits12: map-merge($merge_kits11, $status_color_text);
$merge_kits13: map-merge($merge_kits12, $status_color_text_dark);
$icon_colors: map-merge($merge_kits13, $colors);

.pb_custom_icon, .pb_icon_kit {
  @each $color_name, $color_value in $icon_colors {
    &[class*="#{$color_name}"] {
      color: $color_value;
    }
  }
}

// Rails custom icon styles
svg.pb_custom_icon {
  width: 1em;
  fill: currentColor;
  path {
    fill: currentColor;
  }
}

.pb_icon_kit_emoji {
  font-family: monospace;
}
