// Rails custom icon styles
svg.pb_custom_icon {
  width: 1em;
  fill: currentColor;
  path {
    fill: currentColor;
  }
}

.pb_icon_kit_emoji {
  font-family: monospace;
}

svg {
  &.pb_icon_kit,
  &.pb_custom_icon {
    // Rotate Classes
    &.rotate_90 {
      transform: rotate(90deg);
    }
  }
}
