<% if object.is_svg? %>
  <%= object.render_svg %>
<% elsif object.valid_emoji? %>
  <span class="pb_icon_kit_emoji">
    <%= object.icon.html_safe %>
  </span>
<% else %>
  <%= pb_content_tag(:i) do %>
  <% end %>
  <%= content_tag(:span, nil,
      aria: { label: "#{object.icon} icon" }.merge(object.aria),
      hidden: true
  ) %>
<% end %>
