<% if object.is_svg? %>
  <%= object.render_svg %>
<% elsif object.valid_emoji? %>
  <span class="pb_icon_kit_emoji">
    <%= object.icon.html_safe %>
  </span>
<% else %>
  <%= content_tag(:i, nil,
      id: object.id,
      data: object.data,
      class: object.classname,
      **combined_html_options
  ) %>
  <%= content_tag(:span, nil,
      aria: { label: "#{object.icon} icon" }.merge(object.aria),
      hidden: true
  ) %>
<% end %>
