@import "base-variables/_colors.scss";
@import "base-variables/_spacing.sass";
@import "base-variables/_typography.sass";

.grade {
  display: flex;
  flex-direction: row;

  .star {
    font-size: $font-largest;
    line-height: 36px;
    margin-right: $space-base;
    color: $ink-lighter;
  }

  div {
    display: flex;
    flex-direction: column;
    
    p {
      font-size: $font-large;
      color: $ink-light;
      font-weight: $bold;
      margin: 0;
      padding: 0;
      line-height: $font-large + 2;
      text-align: center;
    }
    label {
      margin: 0;
      padding: 0;
      color: $ink-lightest;
      text-transform: uppercase;
      font-weight: $regular;
      font-size: $font-smaller;
      line-height: $font-smaller + 2;
    }
  }
}
