@import "./milestones_variables";

.milestones {
  ul {
    list-style: none;
    position: relative;
    padding: $space-small 0 0;
    margin: $space-small 0 0;
    text-align: center;

    &::after {
      content: '';
      clear: both;
      float: none;
      display: block;
      width: 100%;
    }
  }
}
