@import "prism.css";
@import "nui";
@import "lazy-load";

// Views
@import "views/views";

.turbolinks-progress-bar {
  height: 4px;
  background-color: $power-blue;
}

.modal-backdrop {
  opacity: 0.6;
}

.d-block {
  display: block !important;
}
