[class^=pb_table] {
  .div-table {
    display: table;
    width: 100%;
  }

  .thead {
    display: table-header-group;
  }

  .tbody {
    display: table-row-group;
  }

  .tr {
    display: table-row;
  }

  .th, .td {
    display: table-cell;
  }
}
