[class^=pb_table] {
  &.table-sm,
  &.table-md,
  &.table-lg {
    border-collapse: collapse;
    background-color: unset;
    background: unset;

    thead, .pb_table_thead {
      tr, .pb_table_tr {
        th, .pb_table_th {
          text-align: left;
        }
      }
    }
  }
}
