@import "../../tokens/screen_sizes";

.table-responsive-scroll {
    display: block;
    overflow-x: scroll;

    // Responsive Styles
    @media (max-width: 1600px) {
        &[class*="table-responsive-scroll"] {
            box-shadow: 1px 0 0 0px $border_light,
                        -1px 0 0 0px $border_light;
        }
    }
}
