@import "../../tokens/colors";

$pb_table_row_kit_side_highlight_colors: map-merge(map-merge($status_colors, $product_colors), $category_colors);

@mixin pb_table_row_kit_side_highlight($background) {
  box-shadow: inset 4px 0 0 0 $background;
  border-top: 0px;
}

.pb_table {
  tbody, .pb_table_tbody {
    .pb_table_row_kit {
      @each $color_name, $color_value in $pb_table_row_kit_side_highlight_colors {
        &[class*=_side_highlight_#{$color_name}] {
          td, .pb_table_td {
            &:first-child {
              @include pb_table_row_kit_side_highlight($color_value);
            }
          }
        }
      }
    }
  }
}