[class^=pb_table] {
  &.single-line {
    width: 100%;
    max-width: 100vw;
    table-layout: fixed;

    tbody, .pb_table_tbody {
      tr, .pb_table_tr {
        td, .pb_table_td {
          white-space: nowrap;
          text-overflow: ellipsis;

          & > * {
            &:not(.btn, br) {
              display: inline-block !important;
            }
          }

          .btn {
            display: block !important;
          }

          br, .pb_table_br {
            content:' ' !important;

            &::after {
              content:' ';
            }
          }
        }
      }
    }
  }
}
