@import "../../tokens/colors";

[class^="pb_table"] {
    .sticky {
        position: sticky !important;
        z-index: 1;
        background-color: white;
    }

    // For use with sticky left columns
    .sticky-left-shadow {
        box-shadow: 4px 0 10px rgba(60, 106, 172, 0.16) !important;
    }

    .with-border-right {
        border-right: 1px solid $border_light !important;
    }

    // For use with sticky right columns
    .sticky-right-shadow {
        box-shadow: -4px 0 10px rgba(60, 106, 172, 0.16) !important;
    }

    .with-border-left {
        border-left: 1px solid $border_light !important;
    }
}
