@import "../../tokens/colors";

[class^="pb_table"] {
  &.sticky-header {
    thead {
      background: $white;
      position: sticky;
      top: -40px;
      z-index: 10;
    }
  }

  &.dark {
    &.sticky-header {
      thead {
        background: $bg_dark;
        position: sticky;
        top: -40px;
        z-index: 10;
      }
    }
  }
}
