[class^=pb_table] {
  &.striped {
    tbody, .tbody {
      tr:nth-child(odd), .tr:nth-child(odd) {
        background-color: $bg_light;
      }
    }
  }

  &.dark {
    &.striped {
      tbody, .tbody {
        tr:nth-child(odd), .tr:nth-child(odd) {
          background-color: $bg_dark;
        }
      }
    }
  }
}
