@import "../../tokens/colors";

[class^=pb_table] {
  display: table;

  @each $name, $value in $cell-pad-list {
    &.#{$name} {
      width: 100%;
      thead, .pb_table_thead {
        display: table-header-group;

        tr, .pb_table_tr {
          display: table-row;

          th, .pb_table_th {
            display: table-cell;
            padding: $cell-pad-md $cell-gutter;

            &:first-child {
              padding-left: $cell-pad-endcap;
            }
            &:last-child {
              padding-right: $cell-pad-endcap;
            }
          }
        }
      }
      tbody, .pb_table_tbody {
        display: table-row-group;

        tr, .pb_table_tr {
          display: table-row;

          td, .pb_table_td {
            display: table-cell;
            border-color: $border_light;
            border-style: solid;
            border-width: 0 0 1px;
            padding: $value $cell-gutter;

            &:first-child {
              padding-left: $cell-pad-endcap;
            }
            &:last-child {
              padding-right: $cell-pad-endcap;
            }
          }
        }
      }
      &.data_table {
        thead tr th,
        .pb_table_thead .pb_table_tr .pb_table_th {
          padding-top: $cell-pad-sm;
          padding-bottom: $cell-pad-sm;
          &:first-child {
            padding-left: $cell-pad-sm;
          }
          &:last-child {
            padding-right: $cell-pad-sm;
          }
        }
        tbody tr td,
        .pb_table_tbody .pb_table_tr .pb_table_td  {
          padding-top: $cell-pad-sm;
          padding-bottom: $cell-pad-sm;
          &:first-child {
            padding-left: $cell-pad-sm;
          }
          &:last-child {
            padding-right: $cell-pad-sm;
          }
        }
      }
    }
  }
}
