$text_align_values: (
  start: start,
  end: end,
  left: left,
  right: right,
  center: center,
  justify: justify,
  justify-all: justify-all,
  match-parent: match-parent,
);

[class^=pb_table] {
  thead, .pb_table_thead {
    [class^=pb_table_header_kit] {
      @each $align_name, $align_value in $text_align_values {
        &[class*=_align_#{$align_name}] {
          text-align: $align_value;
        }
      }
    }
  }
}

.pb_th_link:hover {
  background-color: rgba($primary, 0.03);
  color: $primary !important;
  border-radius: $border_radius_md;
}

.pb_th_link, .pb_th_nolink{
  padding: $space_xxs;
}

[class^=pb_table] {
  thead, .pb_table_thead {
    [class^=pb_th_active] {
      color: $primary !important;
    }
  }
}

.header_last_item {
  border-bottom-left-radius: $border_radius_md;
  border-bottom-right-radius: $border_radius_md;
}

.header_first_item {
  border-top-left-radius: $border_radius_md;
  border-top-right-radius: $border_radius_md;
}
