[class^=pb_table] {
  &.table-sm,
  &.table-md,
  &.table-lg {
    &.table-card {
      border-collapse: separate;
      border-spacing: 0;
      background: $white;

      thead, .pb_table_thead {
        tr, .pb_table_tr {
          th, .pb_table_th {
            border-color: $border_light;
            border-style: solid;
            border-width: 1px 0 1px 0;

            &:first-child {
              border-radius: 4px 0 0 0;
              border-width: 1px 0 1px 1px;
            }
            &:last-child {
              border-radius: 0 4px 0 0;
              border-width: 1px 1px 1px 0;
            }
            &:only-child {
              border-radius: 4px 4px 0 0;
              border-width: 1px 1px 1px 1px;
            }
          }
        }
      }

      tbody, .pb_table_tbody {
        tr, .pb_table_tr {
          td, .pb_table_td {
            border-color: $border_light;
            border-style: solid;
            border-width: 0 0 1px 0;

            &:first-child {
              border-width: 0 0 1px 1px;
            }
            &:last-child {
              border-width: 0 1px 1px 0;
            }
            &:only-child {
              border-width: 0 1px 1px 1px;
            }
          }

          &:last-child {
            td, .pb_table_td {
              border-width: 0 0 1px 0;

              &:first-child {
                border-radius: 0 0 0 4px;
                border-width: 0 0 1px 1px;
              }
              &:last-child {
                border-radius: 0 0 4px 0;
                border-width: 0 1px 1px 0;
              }
              &:only-child {
                border-radius: 0 0 4px 4px;
                border-width: 0 1px 1px 1px;
              }
            }
          }
        }
      }
    }
  }
}
