// remove all outward facing borders from header
.header-borderless > thead,
.header-borderless > thead > tr,
.header-borderless > thead > tr > th,
.header-borderless > .pb_table_thead,
.header-borderless > .pb_table_thead > .pb_table_tr,
.header-borderless > .pb_table_thead .pb_table_th {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

// remove bottom border (internal to table) on header cells - only light mode needs this redundancy handled likely due to a difference in the base scss and table-dark.scss
.header-borderless:not(.table-dark) > thead > tr:last-child > th,
.header-borderless:not(.table-dark) > .pb_table_thead > .pb_table_tr:last-child > .pb_table_th {
  border-bottom: none !important;
}

// preserves top rounded corners to header at top of table-card for unnested card
.header-borderless > thead > tr:first-child > th:first-child,
.header-borderless > .pb_table_thead > .pb_table_tr:first-child > .pb_table_th:first-child {
  border-top-left-radius: $border_radius_md !important;
}

.header-borderless > thead > tr:first-child > th:last-child,
.header-borderless > .pb_table_thead > .pb_table_tr:first-child > .pb_table_th:last-child {
  border-top-right-radius: $border_radius_md !important;
}

// ensures top border is from first row of body to prevent double borders
.header-borderless > tbody > tr:first-child > td,
.header-borderless > .pb_table_tbody > .pb_table_tr:first-child > .pb_table_td {
  border-top: 1px solid $border_light !important;
}

// borderless-nested code - this carries over everything for header-borderless
.header-borderless-nested > thead,
.header-borderless-nested > thead > tr,
.header-borderless-nested > thead > tr > th,
.header-borderless-nested > .pb_table_thead,
.header-borderless-nested > .pb_table_thead > .pb_table_tr,
.header-borderless-nested > .pb_table_thead .pb_table_th {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.header-borderless-nested:not(.table-dark) > thead > tr:last-child > th,
.header-borderless-nested:not(.table-dark) > .pb_table_thead > .pb_table_tr:last-child > .pb_table_th {
  border-bottom: none !important;
}

.header-borderless-nested > thead > tr:first-child > th:first-child,
.header-borderless-nested > .pb_table_thead > .pb_table_tr:first-child > .pb_table_th:first-child {
  border-top-left-radius: $border_radius_md !important;
}

.header-borderless-nested > thead > tr:first-child > th:last-child,
.header-borderless-nested > .pb_table_thead > .pb_table_tr:first-child > .pb_table_th:last-child {
  border-top-right-radius: $border_radius_md !important;
}

.header-borderless-nested > tbody > tr:first-child > td,
.header-borderless-nested > .pb_table_tbody > .pb_table_tr:first-child > .pb_table_td {
  border-top: 1px solid $border_light !important;
}