@import "../../tokens/screen_sizes";

$table-dark-card-bg: $card_dark;

.pb_table {
  &.table-sm,
  &.table-md,
  &.table-lg {
    &.table-dark {
      thead, .pb_table_thead {
        tr, .pb_table_tr {
          border-color: $border_dark !important;

          th, .pb_table_th {
            border-color: $border_dark !important;
            color: $text_dk_light;
          }
        }
      }
      tbody, .pb_table_tbody {
        tr, .pb_table_tr {
          border-color: $border_dark;
          transition: none !important;

          td, .pb_table_td {
            border-color: $border_dark !important;
            color: $white;

            &:before {
              color: $text_lt_light !important;
            }
          }
          &:first-child {
            td, .pb_table_td {
              border-top-width: 0 !important;
            }
          }
        }
      }

      &.table-card {
        background: $table-dark-card-bg !important;
      }
    }
  }
}

@media only screen and (max-width: $screen-xs-max) {
  .pb_table {
    &.table-sm,
    &.table-md,
    &.table-lg {
      &.table-card {
        &.table-dark {
          background: none !important;

          tbody, .pb_table_tbody {
            tr, .pb_table_tr {
              td, .pb_table_td {
                background: $table-dark-card-bg !important;
              }
            }
          }
        }
      }
      &.table-dark {
        tbody, .pb_table_tbody {
          tr, .pb_table_tr {
            td, .pb_table_td {
              &:first-child {
                border-top-color: $border_dark !important;
              }
            }
            &:first-child {
              td, .pb_table_td {
                border-top-width: 1px !important;
              }
            }
          }
        }
      }
    }
  }
}
