[class^=pb_table] {
  &.table-sm,
  &.table-md,
  &.table-lg {
    &.table-card {
      border-collapse: separate;
      border-spacing: 0;
      background: $white;

      thead {
        tr {
          th {
            border-color: $border_light;
            border-style: solid;
            border-width: 1px 0 1px 0;

            &:first-child {
              border-radius: 4px 0 0 0;
              border-width: 1px 0 1px 1px;
            }
            &:last-child {
              border-radius: 0 4px 0 0;
              border-width: 1px 1px 1px 0;
            }
          }
        }
      }

      tbody {
        tr {
          td {
            border-color: $border_light;
            border-style: solid;
            border-width: 0 0 1px 0;

            &:first-child {
              border-width: 0 0 1px 1px;
            }
            &:last-child {
              border-width: 0 1px 1px 0;
            }
          }

          &:last-child {
            td {
              border-width: 0 0 1px 0;

              &:first-child {
                border-radius: 0 0 0 4px;
                border-width: 0 0 1px 1px;
              }
              &:last-child {
                border-radius: 0 0 4px 0;
                border-width: 0 1px 1px 0;
              }
            }
          }
        }
      }

      &.as-cards {
        border: 1px solid $border_light;
        border-radius: 4px;

        thead {
          tr {
            margin: $space-xs 0 0;
            padding: 0 $space-xs;
            border-bottom: 1px solid $border_light;

            th {
              border-width: 0;
            }
          }
        }
        tbody {
          tr {
            margin: $space-xs;
            width: calc(100% - #{$space-xs}*2);

            td {
              border-top-width: 1px;
            }
          }
        }
      }
    }
  }
}
