[class^=pb_table] {
  &.vertical-border {
    td, th, .pb_table_td, .pb_table_th {
      border-right: 1px solid $border_light !important;
    }

    thead tr:not(:first-child) th {
      border-right: 1px solid $border_light !important;
    }
    
    @media screen and (min-width: $screen-xs-min) {
      tr:hover, .pb_table_tr:hover {
        td:last-child, .pb_table_td:last-child {
          border-right-color: darken($border_light, 10%) !important;
        }
      }
    }
  }
}