[class^="pb_table"] {
  &.vertical-border {
    td,
    th {
      border-right: 1px solid $border_light !important;
    }

    @media screen and (min-width: $screen-xs-min) {
      tr:hover {
        td:last-child {
          border-right-color: darken($border_light, 10%) !important;
        }
      }
    }
  }
}
