@import "../tokens/spacing";
@import "../tokens/line_height";

[class^=pb_icon_body_title_kit] {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-direction: row;

  .pb_icon_body_title_kit_title, .pb_icon_body_title_kit_body, .pb_icon_body_title_kit_icon {
    line-height: $lh_normal;
  }

  .pb_icon_body_title_kit_title, .pb_icon_body_title_kit_body {
    margin-left: $space-xs;
  }
}
