[class^=pb_avatar_action_button_kit] {

  $icon_size: 0px;
  $border_size: 0px;

  $action-colors: (
    "add": $primary,
    "remove": $error,
  );

  @each $key, $value in $action-colors {
    &[class*=_#{$key}] a {
      color: $value;
    }
  }
  
  @mixin icon-base {
    width: $icon_size;
    height: $icon_size;
    position: absolute;
    background-color: $white;
    border-radius: $icon_size;
    font-size: ($icon_size - $border_size * 2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  @each $name, $size in $avatar-sizes {
    
    &[class*=_#{$name}] {
      
      $avatar_size: map-get($avatar-sizes, $name);
      $icon_size: $avatar_size / 2;
      $border_size: $icon_size / 10;

      position: relative;
      width: $avatar_size * 1.25;
      height: $avatar_size * 1.1;
      display: flex;
    
      [class^=pb_tooltip_kit] {
        justify-self: center;
      }
    
      &[class*=_bottom] .icon {
        @include icon-base;
        top: $icon_size * 1.27;
      }
      &[class*=_top] .icon {
        @include icon-base;
        bottom: $icon_size * 1.27;
      }
      &[class*=_right] .icon {
        left: $icon_size * 1.5;
      }
      &[class*=_left] [class^=pb_avatar_kit] {
        padding-left: $icon_size / 2;
      }
    }
  }
}