[class^=pb_avatar_action_button_kit] {
  
  $icon_size: 30px;
  $border_size: 2.5px;
  position: relative;

  @mixin icon-base {
    width: $icon_size;
    height: $icon_size;
    position: absolute;
    background-color: $white;
    color: $primary;
    border-radius: $icon_size;
    font-size: ($icon_size - $border_size * 2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  .bottom_left {
    // avatar padding
    [class^=pb_avatar_kit] {
      padding-left: ($icon_size / 2);
    }

    .icon {
      // icon mixin
      @include icon-base;
      // placement specific
      bottom: -$icon_size * 0.27;
    }
  }

  .bottom_right {
    avatar padding
    [class^=pb_avatar_kit] {
      margin-right: ($icon_size / 2);
    }
    
    .icon {
      // icon mixin
      @include icon-base;
      // placement specific
      bottom: -$icon_size * 0.27;
      left: $icon_size * 1.5;
    }
  }

  .top_left {
    // avatar padding
    [class^=pb_avatar_kit] {
      padding-left: ($icon_size / 2);
    }
    
    .icon {
      // icon mixin
      @include icon-base;
      // placement specific
      bottom: $icon_size * 1.27;
    }
  }

  .top_right {
    // avatar padding
    [class^=pb_avatar_kit] {
     margin-right: ($icon_size / 2);
    }
    
    .icon {
      // icon mixin
      @include icon-base;
      // placement specific
      bottom: $icon_size * 1.27;
      left: $icon_size * 1.5;
    }
  }
}