[class^=pb_avatar_action_button_kit] {

  .icon-circle {
    background-color: white;
    color: $primary;
    // border: 1px solid $primary;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 25px;
    right: 10px;
    z-index: 2;
  }
}
