.pb_status_kit {
  .status_wrapper {
    .status_item {
      width: 6px;
      height: 6px;
      border-radius: 3px;
      background: grey;

      &.active {
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: $active_dark;
      }

      &:first-child {
        background: blue;
      }

      &:last-child {
        background: green;
      }
    }
  }
}
