@import "../tokens/colors";
@import "../tokens/spacing";
@import "../tokens/opacity";
@import "../tokens/typography";

$pb_timeline_connector_width: 2px;
$icon_margin: $space_xs/2;
$pb_timeline_icon_height: 28px;
$pb_timeline_connector_height_from_top: $pb_timeline_icon_height/2 - $pb_timeline_connector_width/2;
$pb_timeline_connector_height_from_left: 7px;

@mixin pb_timeline_line_solid($width, $height, $margin) {
    width: $width;
    height: $height;
    background-color: $border_light;
    margin: $margin;
    flex-grow: 1;
}

@mixin pb_timeline_line_dotted($width, $height, $margin) {
    width: $width;
    height: $height;
    background: repeating-linear-gradient(to right, $border_light 2px ,$border_light 2px, transparent 2px, transparent 10px);
    margin: $margin;
    flex-grow: 1;
}

@mixin pb_timeline_line_dotted_horizontal($width, $height, $margin) {
    width: $width;
    height: $height;
    background: repeating-linear-gradient(to right, $border_light 0px ,$border_light 2px, transparent 3px, transparent 10px);
    margin: $margin;
    flex-grow: 1;
}

@mixin pb_timeline_line_dotted_vertical($width, $height, $margin) {
    width: $width;
    height: $height;
    background: repeating-linear-gradient(0deg, $border_light 0px ,$border_light 2px, transparent 3px, transparent 10px);
    margin: $margin;
    flex-grow: 1;
}

@mixin pb_timeline_item_wrapper_horizontal {
    display: flex;
    flex-direction: row;
    width: 100%;
}

@mixin pb_timeline_item_wrapper_flex($flex_direction, $align_items, $align_self) {
    display: flex;
    flex-direction: $flex_direction;
    align-items: $align_items;
    align-self: $align_self;
}

[class^=pb_timeline_kit] {
    &[class*=_horizontal] {
        @include pb_timeline_item_wrapper_horizontal;
        >div {
            &:last-child {
                [class=pb_timeline_item_step] {
                    [class=pb_timeline_item_connector] {
                        opacity: 0;
                    }
                }
            }
        }
        [class*=pb_timeline_item_kit] {
            &[class*=_solid] {
                flex-basis: 100%;
                [class=pb_timeline_item_step] {
                    display: flex;
                    flex-direction: row;
                    margin-top: $space_xs;
                    margin-bottom: $space_xs;
                    [class=pb_timeline_item_connector] {
                        @include pb_timeline_line_solid($pb_timeline_connector_width, $pb_timeline_connector_width, $pb_timeline_connector_height_from_top $icon_margin 0 $icon_margin );
                    }
                }
            }
            &[class*=_dotted] {
                flex-basis: 100%;
                [class=pb_timeline_item_step] {
                    display: flex;
                    flex-direction: row;
                    margin-top: $space_xs;
                    margin-bottom: $space_xs;
                    [class=pb_timeline_item_connector] {
                        @include pb_timeline_line_dotted_horizontal($pb_timeline_connector_width, $pb_timeline_connector_width, $pb_timeline_connector_height_from_top $icon_margin 0 $icon_margin );
                    }
                }
            }
        }
        &[class*=_dark] {
            [class*=pb_timeline_item_kit] {
                &[class*=_dotted] {
                    [class^=pb_timeline_item] {
                        &[class*=_connector_first] {
                            @include pb_timeline_line_dotted($space_sm, $pb_timeline_connector_width, $pb_timeline_connector_height_from_top 0 0 0);
                        }
                        &[class*=_connector_second] {
                            @include pb_timeline_line_dotted($space_sm, $pb_timeline_connector_width, $pb_timeline_connector_height_from_top 0 0 0);
                        }
                    }
                    [class=pb_timeline_item_step_wrapper] {
                        [class=pb_timeline_item_step] {
                            [class^=pb_timeline_item] {
                                &[class*=_step_connector_first] {
                                    @include pb_timeline_line_dotted($space_sm, $pb_timeline_connector_width, $pb_timeline_connector_height_from_top 0 0 0);
                                }
                                &[class*=_step_connector_second] {
                                    @include pb_timeline_line_dotted($space_sm, $pb_timeline_connector_width, $pb_timeline_connector_height_from_top 0 0 0);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &[class*=_vertical] {
        @include pb_timeline_item_wrapper_flex(column, flex-start, auto);
        >div:last-child {
            [class=pb_timeline_item_step] {
                [class=pb_timeline_item_connector] {
                    opacity: 0;
                }
            }
        }
        [class*=pb_timeline_item_kit] {
            display: flex;
            flex-direction: row;
            &[class*=_solid] {
                flex-basis: 100%;
                [class=pb_timeline_item_step] {
                    display: flex;
                    flex-direction: column;
                    margin-right: $space_sm;
                    margin-left: $space_sm;
                    [class=pb_timeline_item_connector] {
                        @include pb_timeline_line_solid($pb_timeline_connector_width, $pb_timeline_connector_width, $icon_margin 0 $icon_margin $pb_timeline_connector_height_from_top);
                    }
                }
                [class=pb_timeline_item_left_block] {
                    margin-bottom: $space_md;
                }
                [class=pb_timeline_item_right_block] {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: $space_md;
                }
            }
            &[class*=_dotted] {
                flex-basis: 100%;
                [class=pb_timeline_item_step] {
                    display: flex;
                    flex-direction: column;
                    margin-right: $space_sm;
                    margin-left: $space_sm;
                    [class=pb_timeline_item_connector] {
                        @include pb_timeline_line_dotted_vertical($pb_timeline_connector_width, $pb_timeline_connector_width, $icon_margin 0 $icon_margin $pb_timeline_connector_height_from_top);
                    }
                }
                [class=pb_timeline_item_left_block] {
                    margin-bottom: $space_md;
                }
                [class=pb_timeline_item_right_block] {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: $space_md;
                }
            }
        }
    }
}
