= pb_rails("title", props: { margin_top: "xl", text: "Positioning", tag: "h1", size: 1 })

br
= render :partial => "playbook/pages/visual_guidelines_partials/pb_doc_positioning",
    locals:{ title: "Positioning Options",
    usage: "Used for building Kits: Use the z-index prop when you want to stack elements.",
    sizes:[{name:"One",variable:"z_index_1"},
      {name:"Two",variable:"z_index_2"},
      {name:"Three",variable:"z_index_3"},
      {name:"Four",variable:"z_index_4"},
      {name:"Five",variable:"z_index_5"},
      {name:"Six",variable:"z_index_6"},
      {name:"Seven",variable:"z_index_7"},
      {name:"Eight",variable:"z_index_8"},
      {name:"Nine",variable:"z_index_9"},
      {name:"Ten",variable:"z_index_10"},]}
