@import "../tokens/border_radius";
@import "../tokens/colors";
@import "../tokens/spacing";
@import "../tokens/typography";


// Tiptap mixins section (React Advanced Editor)
@mixin preview_tiptap_first_child {
    :first-child {
        margin-top: 0;
    }
}

@mixin preview_tiptap_p {
    margin: 1rem 0 0 0;
    min-height: 1rem;
}

@mixin preview_tiptap_code {
    font-family: monospace;
    background: $bg_light;
    padding: 0.1rem 0.3rem;
    box-shadow: 0 2px 10px $shadow;
    border-radius: 0.25rem;
    overflow: hidden;
}

@mixin preview_tiptap_pre_codeblock {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    font-family: monospace;
    font-size: 0.9em;
    padding: 0.5em;
    overflow-x: auto;
    background: $bg_dark;
    padding: $space_sm;
    border-radius: $border_rad_heaviest;
    margin: 1.5rem 0 2rem 0;

    code {
        background: transparent !important;
        box-shadow: none;
        border: 0;
        color: #faf6e4;
    }
}

@mixin preview_tiptap_a {
    color: $primary;
    border-bottom: 1px solid $primary;
    &:hover {
      color: $text_default_color;
      border-bottom: 1px solid $text_default_color;
    }
}

@mixin preview_tiptap_blockquote {
    font-size: $font_larger;
    padding: $space_sm $space_md;
    font-style: italic;
    margin: 1rem 0 0 0;
    p {
        margin: 0;
    }
}

@mixin preview_tiptap_h1 {
    font-size: $text_largest;
    line-height: $text_larger;
    font-weight: $bolder;
    letter-spacing: $lspace_tight;
    margin: 2.1rem 0 0 0;
}

@mixin preview_tiptap_h2 {
    font-size: $text_larger;
    line-height: $text_larger;
    font-weight: $bolder;
    letter-spacing: $lspace_tight;
    margin: 1.9rem 0 0 0;
}

@mixin preview_tiptap_h3 {
    font-size: $text_large;
    line-height: $text_large;
    font-weight: $bolder;
    letter-spacing: $lspace_tight;
    margin: 1.7rem 0 0 0;
}

@mixin preview_tiptap_smaller_headings {
    font-size: $text_base;
    line-height: $text_base;
    letter-spacing: $lspace_tight;
    font-weight: $bolder;
    margin: 1rem 0 0 0;
}

@mixin preview_tiptap_hr {
    margin: 2.2rem 0;
    box-sizing: content-box;
    overflow: hidden;
    background: transparent;
    border-bottom: 1px solid $transparent;
    height: 1px;
    padding: 0;
    background-color: $input_border_default;
    border: 0;
}

@mixin preview_tiptap_ol {
    margin: 1rem 0 0 0;
    padding-left: $space_md;
    list-style: decimal;
    li {
      margin: 2px 0;
      p {
        margin: 0;
      }
    }
}

@mixin preview_tiptap_ul {
    list-style-position: disc;
    margin: 1rem 0 0 0;
    padding-left: $space_md;
    li {
      margin: 2px 0;
      p {
        margin: 0;
      }
    }
}

// Trix mixins section (Rails and React default editor)
@mixin preview_trix_div {
    line-height: 1.4;
}

@mixin preview_trix_h1 {
    font-size: 2em;
    line-height: 1.4; 
}
@mixin preview_trix_blockquote {
    border: 0 solid #ccc;
    border-left-width: 0.3em;
    margin-left: 0.3em;
    padding-left: 0.6em; 
    line-height: 1.4;
}

@mixin preview_trix_li {
    line-height: 1.4;
    margin-left: $space_sm;
}

@mixin preview_trix_pre {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    font-family: monospace;
    font-size: 0.9em;
    padding: 0.5em;
    white-space: pre;
    background-color: #eee;
    overflow-x: auto; 
}