@import "tokens/border_radius";
@import "tokens/colors";
@import "tokens/spacing";
@import "tokens/titles";
@import "tokens/line_height";
@import "tokens/typography";
@import "tokens/shadows";

[class^="pb_rich_text_editor_kit"] {
  .toolbar_button {
    display: flex;
    align-items: center;
    background: $transparent;
    border: none;
    border-radius: $border_rad_heaviest;
    color: $text_lt_light;
    cursor: pointer;
    &_icon {
      width: $space_xl + 2;
      height: $space_xl + 2;
    }
    &.open {
      color: $primary;
    }
    &.active,
    &:active {
      color: $primary;
      background-color: $bg_light;
    }
    &:hover:not([disabled]) {
      background-color: $neutral_subtle;
    }
    &:disabled {
      .pb_icon_kit {
        color: $border_light;
      }
    }
    &:focus-visible {
      outline: none !important;
    }
  }

  .toolbar {
    border-radius: $border_rad_heaviest $border_rad_heaviest 0 0;
    &_block {
      gap: $space_xs;
    }
    .editor-dropdown-button {
      background: transparent;
      border: none;
      color: $text_lt_light;
      cursor: pointer;
      font-weight: $light;
      padding: ($space_xs - 1) 0px;
      width: $space_xl * 3;
    }
  }

  .ProseMirror {
    background: $white;
    border-bottom-right-radius: $border_rad_heaviest;
    border-bottom-left-radius: $border_rad_heaviest;
    height: 100%;
    padding: 1.5rem;
    > * + * {
      margin-top: 0.75em;
    }

    code {
      background-color: rgba(#616161, 0.1);
      color: #616161;
    }

    pre {
      background: #2f2746;
      box-shadow: $shadow_deep;
      color: #fff;
      font-family: "JetBrainsMono", monospace;
      padding: 0.75rem 1rem;
      border-radius: $border_rad_heavier;

      code {
        color: inherit;
        padding: 0;
        background: none;
        font-size: 0.8rem;
      }
    }
    a {
      color: $primary;
      border-bottom: 1px solid $primary;
      &:hover {
        color: $text_lt_default;
        border-bottom: 1px solid $text_lt_default;
      }
    }
    blockquote {
      font-size: $font_larger;
      padding: $space_md;
      font-style: italic;
      color: $text_lt_default;
    }
    &:focus-visible {
      outline: unset;
    }
    p {
      line-height: $lh_loose;
      &.is-editor-empty {
        &:first-child {
          &::before {
            color: $text_lt_light;
            content: attr(data-placeholder);
            float: left;
            height: 0;
            pointer-events: none;
          }
        }
      }
    }
    h1 {
      font-size: $font_largest;
      font-weight: $bold;
    }
    h2 {
      font-size: $font_larger;
      font-weight: $bold;
    }
    h3 {
      font-size: $font_large;
      font-weight: $bold;
    }
    ol {
      padding-left: ($space_xs - 2px);
      padding-left: $space_lg;
      margin: $space_xs 0 $space_sm;
      li {
        margin: 2px 0;
      }
    }
    ul {
      list-style: disc;
      ::marker {
        color: shade($slate, 20%);
      }
    }
    ol {
      list-style: decimal;
    }
  }
}
