@import "tokens/border_radius";
@import "tokens/colors";
@import "tokens/spacing";

[class^="pb_rich_text_editor_kit"] {
  .toolbar_button {
    display: flex;
    align-items: center;
    background: $transparent;
    border: none;
    border-radius: $border_rad_heaviest;
    color: $text_lt_light;
    cursor: pointer;
    &_icon {
      width: $space_xl + 2;
      height: $space_xl + 2;
    }
    &.open {
      color: $primary;
    }
    &.active,
    &:active {
      color: $primary;
      background-color: $bg_light;
    }
    &:hover:not([disabled]) {
      background-color: $neutral_subtle;
    }
    &:disabled {
      .pb_icon_kit {
        color: $border_light;
      }
    }
    &:focus-visible {
      outline: none !important;
    }
  }

  .toolbar {
    border-radius: $border_rad_heaviest $border_rad_heaviest 0 0;
    &_block {
      gap: $space_xs;
    }
    .editor-dropdown-button {
      background: transparent;
      border: none;
      color: $text_lt_light;
      cursor: pointer;
      font-weight: $light;
      padding: ($space_xs - 1) 0px;
      width: $space_xl * 3;
    }
  }

  .ProseMirror {
    background: $white;
    border-bottom-right-radius: $border_rad_heaviest;
    border-bottom-left-radius: $border_rad_heaviest;
    height: 100%;
    padding: 1.5rem;
    line-height: 169.8%;
    > * + * {
      margin-top: 0.75em;
    }

    code {
      background-color: rgba(#616161, 0.1);
      color: #616161;
    }

    pre {
      background: #0d0d0d;
      color: #fff;
      font-family: "JetBrainsMono", monospace;
      padding: 0.75rem 1rem;
      border-radius: 0.5rem;

      code {
        color: inherit;
        padding: 0;
        background: none;
        font-size: 0.8rem;
      }
    }

    blockquote {
      padding-left: 2rem;
      margin-left: 1rem;
      border-left: ($space_xxs - 2) solid rgba(#0d0d0d, 0.1);
    }
    &:focus-visible {
      outline: unset;
    }
    p {
      &.is-editor-empty {
        &:first-child {
          &::before {
            color: $text_lt_light;
            content: attr(data-placeholder);
            float: left;
            height: 0;
            pointer-events: none;
          }
        }
      }
    }
    h1,
    h2 {
      @include pb_title_2;
      margin-top: $space_lg;
    }
    h3,
    h4 {
      @include pb_title_3;
      margin-top: $space_md;
      margin-bottom: $space_xs;
    }

    p {
      margin: $space_sm 0;
    }
    img {
      max-width: 100%;
    }

    ul,
    ol {
      padding-left: ($space_xs - 2px);
      padding-left: $space_lg;
      margin: $space_xs 0 $space_sm;
      li {
        margin: 2px 0;
      }
    }
    ul {
      list-style: disc;
      ::marker {
        color: shade($slate, 20%);
      }
    }
    ol {
      list-style: decimal;
    }
  }
}
