@import "tokens/border_radius";
@import "tokens/colors";
@import "tokens/spacing";
@import "tokens/titles";
@import "tokens/line_height";
@import "tokens/typography";
@import "tokens/shadows";

[class^="pb_rich_text_editor_kit"] {
  .toolbar_button {
    display: flex;
    align-items: center;
    background: $transparent;
    border: none;
    border-radius: $border_rad_heaviest;
    color: $text_lt_light;
    cursor: pointer;
    &_icon {
      width: $space_xl + 2;
      height: $space_xl + 2;
    }
    &.open {
      color: $primary;
    }
    &.active,
    &:active {
      color: $primary;
      background-color: $bg_light;
    }
    &:hover:not([disabled]) {
      background-color: $neutral_subtle;
    }
    &:disabled {
      .pb_icon_kit {
        color: $border_light;
      }
    }
    &:focus-visible {
      outline: none !important;
    }
  }

  .toolbar {
    border-radius: $border_rad_heaviest $border_rad_heaviest 0 0;
    &_block {
      gap: $space_xs;
    }
    .editor-dropdown-button {
      background: transparent;
      border: none;
      color: $text_lt_light;
      cursor: pointer;
      font-weight: $light;
      padding: ($space_xs - 1) 0px;
      width: $space_xl * 3;
    }
  }

  .ProseMirror {
    background: $white;
    border-bottom-right-radius: $border_rad_heaviest;
    border-bottom-left-radius: $border_rad_heaviest;
    height: 100%;
    padding: 1.5rem;
    > * + * {
      margin-top: 0.75em;
    }

    code {
      font-family: monospace;
      background: $bg_light;
      padding: 0.1rem 0.3rem;
      margin: 0 5px;
      box-shadow: 0 2px 10px $shadow;
      border-radius: 0.25rem;
      overflow: hidden;
      font-size: ($text_small - 1px);
    }

    pre {
      background: #2f2746;
      padding: $space_sm;
      border-radius: $border_rad_heavy;
      code {
        background: transparent;
        box-shadow: none;
        color: #faf6e4;
      }
    }
    a {
      color: $primary;
      border-bottom: 1px solid $primary;
      &:hover {
        color: $text_lt_default;
        border-bottom: 1px solid $text_lt_default;
      }
    }
    blockquote {
      font-size: $font_larger;
      padding: $space_md;
      font-style: italic;
      color: $text_lt_default;
    }
    &:focus-visible {
      outline: unset;
    }
    p {
      line-height: $lh_loose;
      margin: 1.5rem 0 0.5rem 0;
      &.is-editor-empty {
        &:first-child {
          &::before {
            color: $text_lt_light;
            content: attr(data-placeholder);
            float: left;
            height: 0;
            pointer-events: none;
          }
        }
      }
    }
    h1 {
      font-size: $font_largest;
      font-weight: $bolder;
      margin: 1rem 0 0.5rem 0;
    }
    h2 {
      font-size: $font_larger;
      font-weight: $bolder;
      margin: 1rem 0 0.5rem 0;
    }
    h3 {
      font-size: $font_large;
      font-weight: $bolder;
      margin: 1rem 0 0.5rem 0;
    }
    h4 {
      font-size: $text_base;
      font-weight: $bolder;
      margin: 1rem 0 0.5rem 0;
    }
    h5 {
      margin: 1rem 0 0.5rem 0;
    }
    h6 {
      margin: 1rem 0 0.5rem 0;
    }
    hr {
      margin: 2rem 0;
      box-sizing: content-box;
      overflow: hidden;
      background: transparent;
      border-bottom: 1px solid $transparent;
      height: 1px;
      padding: 0;
      background-color: $border_light;
      border: 0;
    }
    ol {
      padding-left: $space_md;
      margin: $space_xs 0 $space_sm;
      list-style: decimal;
      li {
        margin: 2px 0;
        p {
          margin: 0;
        }
      }
    }
    ul {
      list-style: disc;
      padding-left: $space_md;
      li {
        margin: 2px 0;
        p {
          margin: 0;
        }
      }
    }
  }
}
