// Move to border classes
//
// Border
//
.border-0 {
  border: 0 !important;
}
.border-top, .border-t {
  border-left-width: 1px;
  border-style: solid;
  &-0 {
    border-top: 0 !important;
  }
}

.border-right-0, .border-r-0 {
  border-right: 0 !important;
}
.border-bottom-0, .border-b-0 {
  border-bottom: 0 !important;
}
.border-left-0, .border-l-0 {
  border-left: 0 !important;
}

//
// Border-radius
//

.rounded{
  @include border-radius($border-radius);
}
.rounded-top{
  @include border-top-radius($border-radius);
}
.rounded-right{
  @include border-right-radius($border-radius);
}
.rounded-bottom{
  @include border-bottom-radius($border-radius);
}
.rounded-left{
  @include border-left-radius($border-radius);
}

.rounded-circle{
  border-radius: 50%;
}

.rounded-0{
  border-radius: 0;
}
