<div class="pb--doc-demo-row">
  <div>
    <%= pb_rails("user", props: {
      name: "Anna Black",
      title: "Remodeling Consultant",
      orientation: "vertical",
      align: "center",
      size: "lg",
      avatar: {
        image: { url: "https://randomuser.me/api/portraits/women/44.jpg"} }
      }) %>
  </div>
  <div>
    <%= pb_rails("user", props: {
      name: "Anna Black",
      title: "Remodeling Consultant",
      orientation: "horizontal",
      align: "left",
      avatar: {
        image: { url: "https://randomuser.me/api/portraits/women/44.jpg"} }
      }) %>
  </div>
  <div>
    <%= pb_rails("user", props: {
      name: "Anna Black",
      orientation: "horizontal",
      align: "left",
      avatar: {
        image: { url: "https://randomuser.me/api/portraits/women/44.jpg"} }
      }) %>

     <br>

     <%= pb_rails("user", props: {
       name: "Anna Black",
       orientation: "horizontal",
       align: "left",
       avatar: true
     }) %>
  </div>
</div>
