<div class="pb--doc-demo-row">
  <div>
    <%= pb_rails("user", props: {
                         name: "Anna Black",
                         title: "Remodeling Consultant",
                         orientation: "horizontal",
                         align: "left",
                         size: "sm",
                         avatar: {
                           image: { url: "https://randomuser.me/api/portraits/women/44.jpg"} }
                         }) %>
  </div>
  <div>
    <%= pb_rails("user", props: {
                         name: "Anna Black",
                         title: "Remodeling Consultant",
                         orientation: "horizontal",
                         align: "left",
                         size: "md",
                         avatar: {
                           image: { url: "https://randomuser.me/api/portraits/women/44.jpg"} }
                         }) %>
  </div>
  <div>
    <%= pb_rails("user", props: {
                         name: "Anna Black",
                         title: "Remodeling Consultant",
                         orientation: "horizontal",
                         align: "left",
                         size: "lg",
                         avatar: {
                           image: { url: "https://randomuser.me/api/portraits/women/44.jpg"} }
                         }) %>
  </div>
</div>
