//-------------------------------------------------
// Color Classes for Text, Backgrounds, & Borders
=color-classes($colors-list)
  @each $name, $color in $colors-list
    // background
    .bg-#{$name}
      background-color: $color !important

    // borders
    .border-#{$name}
      border-color: $color !important

    // Text
    @include text-emphasis-variant(".text-#{$name}", $color)

+color-classes($power-colors)
+color-classes($gray-colors)
+color-classes($opacity-colors)
+color-classes($interface-colors)



//------------------------
// Backgrounds Extended
=bg-variant($parent, $color)
  #{$parent}
    background-color: $color

  a#{$parent}:hover,
  a#{$parent}:focus
    background-color: darken($color, 10%)

.bg-none
  background-color: none !important

.bg-primary
  color: $white

@include bg-variant('.bg-primary', $brand-primary)

@include bg-variant('.bg-success', $state-success-bg)

@include bg-variant('.bg-info', $state-info-bg)

@include bg-variant('.bg-warning', $state-warning-bg)

@include bg-variant('.bg-danger', $state-danger-bg)





//-------------------------
// Additional Text Colors
@include text-emphasis-variant('.text-muted', $gray-6)
@include text-emphasis-variant('.text-primary', $brand-primary)
@include text-emphasis-variant('.text-success', $brand-success)
@include text-emphasis-variant('.text-info', $brand-info)
@include text-emphasis-variant('.text-warning', $power-gold)
@include text-emphasis-variant('.text-danger', $brand-danger)
@include text-emphasis-variant('.text-gray-dark', $gray-8)
