.lh-tightest {
  line-height: 1 !important;
}
.lh-tighter {
  line-height: 1.2 !important;
}
.lh-tight {
  line-height: 1.4 !important;
}
.lh-normal {
  line-height: 1.5 !important;
}
.lh-loose {
  line-height: 1.6 !important;
}
.lh-looser {
  line-height: 1.8 !important;
}
.lh-loosest {
  line-height: 2 !important;
}
