//
// Border-radius
//

.rounded {
  @include border-radius($border-radius);
}
.rounded-top {
  @include border-top-radius($border-radius);
}
.rounded-right {
  @include border-right-radius($border-radius);
}
.rounded-bottom {
  @include border-bottom-radius($border-radius);
}
.rounded-left {
  @include border-left-radius($border-radius);
}

.rounded-circle {
  border-radius: 50%;
}

.rounded-0{
  border-radius: 0;
}


//
// Shadows
//

.shadow-shallow {
  box-shadow: $shadow-shallow;
}

.shadow-default {
  box-shadow: $shadow-default;
}
.shadow-deep {
  box-shadow: $shadow-deep;
}
.shadow-deeper {
  box-shadow: $shadow-deeper;
}
.shadow-deepest {
  box-shadow: $shadow-deepest;
}
