@import "playbook-tokens/colors";
@import "playbook-tokens/typography";
@import "playbook-tokens/line_height";
@import "playbook-tokens/screen_sizes";
@import "playbook-tokens/spacing";
@import "playbook-tokens/border_radius";

.sandbox-layout {
  padding: $space_md;
  width: 100%;
  background-color: transparent !important;
  display: block !important;
}

.sandbox-preview {
  border: 1px solid $border_light;

  .sandbox-button-toolbar {
    background: $white;
    width: 100%;
    bottom: 0 !important;
    justify-content: end;
    position: unset;

    .rounded {
      padding: $space_xs;
      min-height: unset;
      background-color: transparent;
      border-radius: $border_radius_lg;

      &:hover {
        color: $primary;
        background-color: $secondary_action;

        [class^=pb_detail_kit][class*=color_default] {
          color: $primary;
        }

        &:active {
          color: $text_lt_default;
        }
      }
    }

  }

  &.expanded .sandbox-button-toolbar {
    background: $bg_light;
    position: unset;
  }

  .sp-preview-container {
    background: transparent;
    display: block;
  }

  .sp-loading:before {
    color: $text_lt_default;
    line-height: $lh_tight;
    font-size: $text_default;
    font-weight: $regular;
    font-family: $font-family-base;
    content: "Loading...";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}