@import "../tokens/colors";
@import "../utilities/colors";
@import "../tokens/opacity";

$pb_multiple_users_stacked_overlap: -15px;
$pb_multiple_users_stacked_border_size: 1px;
$pb_multiple_users_stacked_size: 18px;

[class^=pb_multiple_users_stacked_kit] {
  display: inline-flex;

  .multiple_users_stacked_badge {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $pb_multiple_users_stacked_size;
    height: $pb_multiple_users_stacked_size;
    border-radius: ($pb_multiple_users_stacked_size/2) + 2;
    background: tint($primary, 90%);
    border: $pb_multiple_users_stacked_border_size solid $white;
    color: $primary;
    font-weight: $bold;
    font-size: $font_smallest - 1;
    margin-top: 10px;
  }

  .second_displayed{
    margin-top: 10px;
    margin-left: -20px;
    .avatar_wrapper {
      border: $pb_multiple_users_stacked_border_size solid $white;
      margin-left: 5px;
      height: $pb_multiple_users_stacked_size;
      width: $pb_multiple_users_stacked_size;

    }
  }

  .pb_multiple_users_stacked_item {
    margin-left: $pb_multiple_users_stacked_overlap;

    .avatar_wrapper {
      border: $pb_multiple_users_stacked_border_size solid $white;
      margin-left: 5px;
      height: $pb_multiple_users_stacked_size;
      width: $pb_multiple_users_stacked_size;

    }

    @each $item in [1, 2] {
      &:nth-child(#{$item}) {
        z-index: #{$item - 1};
      }
    }
  }
}
