<%= content_tag(:div,
    id: object.id,
    data: object.data,
    class: object.classname("pb_distribution_bar_#{object.size}")) do %>
  <% object.values.each do |value| %>
    <div class="pb_distribution_value" style="width:<%=value%>%">
    </div>
  <% end %>
<% end %>
