<%= content_tag(:figure,
    id: object.id,
    data: object.data,
    class: object.classname) do %>
  <% object.widths_to_percentages.each do |percentage| %>
    <div class="pb_distribution_width" style="width:<%= percentage %>%"></div>
  <% end %>
<% end %>
