<!-- Go to pb_content_tag definition in kit_base.rb for usage information. Commented out options are default (showing the default shape), and each can be deleted if not customizing that param. -->
<!-- If using nonstandard params please un-comment out and replace with your custom params. -->
<%= pb_content_tag(
    # :div,
    # aria: object.aria,
    # class: object.classname,
    # data: object.data,
    # id: object.id,
    # **combined_html_options
) do %>
  <span>FULL_SCREEN_VIEW CONTENT</span>
<% end %>