@import "../../../tokens/colors";
@import "../../../tokens/spacing";
.pb--doc {
  margin-bottom: 20px;
  border-radius: 6px;
  box-shadow: 0 4px 10px $shadow;
  background: $white;

  &-demo-row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
    flex-wrap: wrap;

    & > div {
      margin: 20px 0;
    }
  }

  .pb--close-toggle {
    position: absolute;
    right: 10px;
    top: 10px;
    background: rgba($white, 0.8);
    padding: 0 10px;
    border-radius: 2px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    z-index: 100;
  }

  .pb--kit-example, .pb--kit-example-markdown {
    &.dark{
      color: $text_dk_light;
      a{
        color: $teal;
      }
    }
    padding: calc(2rem + 4px) 2rem 1rem;
  }

  .pb--kit-example {
    position: relative;
  }

  .pb--codeControls {
    ul {
      height: 45px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0 20px;

      li {
        font-size: 12px;
        margin: 0;
        padding: 0;
        position: relative;

        a {
          color: $primary_action;
          padding: 0 10px;
          line-height: 45px;
          display: inline-block;
        }

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          opacity: 0.9;
          background-color: transparent;
        }

        &.active {
          font-weight: 600;

          &::after {
            background-color: $primary_action;
            opacity: 0.2;
          }
        }
      }
    }
  }

  .pb--codeCopy {
    background: none;
    position: relative;
    display: none;
    overflow-x: auto;
    border-radius: 0 0 6px 6px;
  }

  &.dark_ui {
    background: none;

    .pb--kit-example {

      &::after {
        background: $border-dark;
      }
    }
    .pb--codeCopy {
      border-color: $border-dark;
    }
    .pb--codeControls {
      ul {
        li {
          a {
            color: $primary_action;
          }
        }
      }
    }
  }
}

pre.highlight {
  padding: $space_xl;
}
