@import "../../../tokens/colors";
@import "../../../tokens/spacing";

ul {
  &.pb--tokens-spacing {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 0 20px 0;
    background: white;
    border-radius: 4px;
    border: 1px solid $border-light;
    padding: 10px;

    li {
      border-radius: 4px;
      margin: 10px 5px;
      position: relative;

      & > div {
        width: 80px;
        height: 80px;
        margin: 20px 15px 45px;
        position: relative;
        border: 1px solid;

        border-color: $royal;
        align-content: center;
      }
      &::before {
        content: attr(data-name);
        width: 100%;
        position: absolute;
        top: 105px;
        left: 0;
        text-align: center;
        font-size: 14px;
        font-weight: 600;

      }
      &::after {
        content: attr(data-variable);
        width: 100%;
        position: absolute;
        top: 124px;
        left: 0;
        text-align: center;
        font-size: 12px;
        opacity: 0.7;

      }

      &.dark {
        background: $bg_dark;
        color: $white;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

@each $name, $value in $spaces{
  div.pb--spacing_#{$name}{
    width: #{$value};
    height: 78px;
    background: $shadow_light;
  }
}
