@import "base-variables/_colors.scss";
@import "base-variables/_spacing.sass";
@import "base-variables/_typography.sass";

@mixin tab($orient: "horizontal") {
  color: $gray-4;
  cursor: pointer;
  display: inline-block;
  font-weight: $bold;
  padding: $space-base $space-larger;
  &-active {
    border-bottom: 6px solid $power-royal;
    color: $ink-dark;
  }
  &:link, &:visited {
    color: $gray-4;
  }
  &:hover {
    color: $ink-dark;
  }
}

.tab {
  @include tab;
}