

.navbar {
  &-flush-top {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin-top: 0;
  }
  &-flush-bottom {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: 0;
  }
}



// // Static top (unfixed, but 100% wide) navbar
// .navbar-static-top {
//   z-index: $zindex-navbar;
//   border-width: 0 0 1px;
//
//   @media (min-width: $grid-float-breakpoint) {
//     border-radius: 0;
//   }
// }
//
// // Fix the top/bottom navbars when screen real estate supports it
// .navbar-fixed-top,
// .navbar-fixed-bottom {
//   position: fixed;
//   right: 0;
//   left: 0;
//   z-index: $zindex-navbar-fixed;
//
//   // Undo the rounded corners
//   @media (min-width: $grid-float-breakpoint) {
//     border-radius: 0;
//   }
// }
// .navbar-fixed-top {
//   top: 0;
//   border-width: 0 0 1px;
// }
// .navbar-fixed-bottom {
//   bottom: 0;
//   margin-bottom: 0; // override .navbar defaults
//   border-width: 1px 0 0;
// }
