<%= pb_rails("passphrase", props: { classname: "pass_input_1" }) %>

<%= pb_rails("passphrase", props: { confirmation: true, classname: "pass_input_2"}) %>

<div id="match"> </div>

<script>
    window.addEventListener("load", () => {   

      const useState = (defaultValue) => {
          let value = defaultValue;
          const getValue = () => value
          const setValue = (newValue) => {
              return value = newValue
          }
          return [getValue, setValue];
      }

      const [input, setInput] = useState('')
      const [confirmationInput, setConfirmationInput] = useState('')

      const match = document.querySelector("#match")

      const input1 = document.querySelector(".pass_input_1").querySelector("input")
      const input2 = document.querySelector(".pass_input_2").querySelector("input")

      input1.addEventListener('input', (e) => {
          setInput(e.target.value)
          setMatchText()
      });

      input2.addEventListener('input', (e) => {
          setConfirmationInput(e.target.value)
          setMatchText()
      });

      const setMatchText = () => {

        if (input() && confirmationInput()) {
          if (input() === confirmationInput()) {
              match.textContent = "They match!"
          } else {
              match.textContent = "They don't match!"
          }
        } else {
          match.textContent = ""
        }

      }
    })
</script>