@import "../tokens/colors";

.pb_passphrase {
  .text-input-wrapper {
    position: relative;
    .password-text-input input{
      padding-right: 42px;
    }

    .show-password-icon {
      position: absolute;
      right: 11px;
      top: 11px;

      .hide-icon {
        display: none;
      }
    }
  }
}

.passphrase-popover-dark .pb_popover_body {
  background: $bg_dark;
}
