@import "../tokens/colors";
@import "../tokens/spacing";

.pb_passphrase {
  margin-bottom: $space_sm;

  a.dark {
    color: $white;
  }

  .passphrase-label{
    margin-right: 4px;
  }

  .text-input-wrapper {
    position: relative;

    .pb_text_input_kit_label {
      margin-bottom: 4px;
    }

    .password-text-input input{
      padding-right: 42px;
    }

    .text_input_wrapper {
      margin-bottom: $space_xs;
    }

    .show-password-icon {
      position: absolute;
      right: 11px;
      top: 11px;

      .hide-icon {
        display: none;
      }
    }

    + .pb_progress_simple_wrapper {
      margin-bottom: 4px;
    }
  }
}
