@import "timestamp-mixins";
@import "../tokens/colors";

.pb_timestamp_kit{
  @include pb_timestamp;

  &._center  {
    text-align: center;
  }
  &._right  {
    text-align: right;
  }
  &._dark {
    color: $text_dk_default;
  }
}
