@import "timestamp-mixins";
@import "../tokens/colors";

.pb_timestamp_kit_left,
.pb_timestamp_kit_center,
.pb_timestamp_kit_right {
  @include pb_timestamp;
}

.pb_timestamp_kit_center {
  text-align: center;
}

.pb_timestamp_kit_right {
  text-align: right;
}

.pb_timestamp_kit_left.dark,
.pb_timestamp_kit_center.dark,
.pb_timestamp_kit_right.dark {
  color: $text_dk_default;
}
