<%= pb_content_tag(:div, **combined_html_options) do %>

  <% if object.unstyled %>
    <div><%= object.timestamp_text %></div>
  <% else %>
    <%= pb_rails("caption", props: { text: object.timestamp_text, size: 'xs', dark: object.dark }) %>
  <% end %>
<% end %>
