<% checkboxes = [
  { name: 'Coffee', id: 'coffee', checked: false },
  { name: 'Ice Cream', id: 'ice-cream', checked: false },
  { name: 'Chocolate', id: 'chocolate', checked: true }
] %>

<%= pb_rails("table", props: { container: false, size: "md" }) do %>
  <thead>
    <tr>
      <th>
        <%= pb_rails("checkbox", props: {
          checked: true,
          text: "Uncheck All",
          value: "checkbox-value",
          name: "main-checkbox",
          indeterminate: true,
          indeterminate_main: true,
          id: "indeterminate-checkbox"
        }) %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% checkboxes.each do |checkbox| %>
      <tr>
        <td>
          <%= pb_rails("checkbox", props: {
            checked: checkbox[:checked],
            text: checkbox[:name],
            value: checkbox[:id],
            name: "#{checkbox[:id]}-indeterminate-checkbox",
            id: "#{checkbox[:id]}-indeterminate-checkbox",
            indeterminate_parent: "indeterminate-checkbox",
          }) %>
        </td>
      </tr>
    <% end %>
  </tbody>
<% end %>
