[class^=pb_selectable_icon] {

    text-align: center;
    cursor: pointer;

    :hover * {
        filter: drop-shadow(0 0 8px rgba($shadow, 0.25))
    }

    * {
        cursor: pointer;
    }

    h4 {
        margin-top: $space_xs !important;
        user-select: none;
    }

    &[class*=_disabled] {
        opacity: 0.5;
        cursor: not-allowed;
        * {
            cursor: not-allowed;
        }
    }
      
    input[type="checkbox"],
    input[type="radio"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        display: none;
        appearance: none;

        &:checked ~ label * {
            color: $primary;
            transition-duration: $transition_short;
            transition-timing-function: $easeIn;
        }
        
        &:not(:checked) ~ label {
            color: $slate;
            transition-duration: $transition_short;
            transition-timing-function: $easeOut;
        }
    }


    &[class*=_dark] {

        input[type="checkbox"],
        input[type="radio"] {
            -webkit-appearance: none;
            -moz-appearance: none;
            display: none;
            appearance: none;
            
            &:not(:checked) ~ label {
                
                color: $text_dk_default;
                transition-duration: $transition_short;
                transition-timing-function: $easeOut;

                h4 {
                    color: $text_dk_default !important;
                    transition-duration: $transition_short;
                    transition-timing-function: $easeOut;
                }
            }
        }
    }
}
