[class^=pb_selectable_icon] {

  text-align: center;
  cursor: pointer;

  :hover * {
		filter: drop-shadow(0 0 8px rgba($shadow, 0.25));
		transition-duration: $transition_short;
		transition-timing-function: $easeIn;
  }

  * {
    cursor: pointer;
  }

  h4 {
    margin-top: $space_xs !important;
    user-select: none;
  }

  &[class*=_disabled] {
		opacity: $opacity_6;
		cursor: not-allowed;

		* {
				cursor: not-allowed;
		}
	}
	
  input[type="checkbox"],
  input[type="radio"] {
		-webkit-appearance: none;
		-moz-appearance: none;
		display: none;
		appearance: none;

		transition-property: color;
		transition-duration: $transition_short;

		&:checked ~ label * {
			transition-timing-function: $easeIn;
			color: $primary;
		}
		
		&:not(:checked) ~ label {
			transition-timing-function: $easeOut;
			color: $slate;

			h4 {
				transition-delay: .15s;
			}
		}
	}


  &.dark {

		input[type="checkbox"],
		input[type="radio"] {
			-webkit-appearance: none;
			-moz-appearance: none;
			display: none;
			appearance: none;

			transition-property: color;
			transition-duration: $transition_short;


			&:checked ~ label * {
				transition-timing-function: $easeIn;
				color: $active_dark !important;
			}
				
			&:not(:checked) ~ label {
				transition-timing-function: $easeOut;
				color: $text_dk_lighter;

				h4 {
					transition-delay: .15s;
					color: $text_dk_default;
				}
			}
		}
 	}
}
