@import "../tokens/spacing";

.gap_none {
  gap: none;
}

.gap_0 {
  gap: $space_none;
}

.gap_xxs {
  gap: $space_xxs;
}

.gap_xs {
  gap: $space_xs;
}

.gap_sm {
  gap: $space_sm;
}

.gap_md {
  gap: $space_md;
}

.gap_lg {
  gap: $space_lg;
}

.gap_xl {
  gap: $space_xl;
}

.gap-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
