$justify_content_values: (
  start: start,
  center: center,
  end: end,
  space_around: space-around,
  space_between: space-between,
  space_evenly: space-evenly,
);

@include global_props_responsive_css($justify_content_values, 'justify_content', 'justify-content');
