@mixin focus {
  &:focus-visible {
    outline: none;
    box-shadow: 0px 0px 0 2px white, 0px 0px 0 4px $primary_action;
  }
}
@mixin focus-dark {
  &:focus-visible {
    outline: none;
    box-shadow: 0px 0px 0 2px $bg_dark_card, 0px 0px 0 4px $primary_action;
  }
}