@import "../tokens/colors";
@import "../tokens/spacing";
@import "../tokens/opacity";
@import "../tokens/typography";

$connector_width: 2px;
$icon_margin: $space_xs/2;
$icon_height: 28px;
$height_from_top: $icon_height/2 - $connector_width/2;

// Add gap variables
$gap_xs: $height_from_top + $space_xs;
$gap_sm: $height_from_top + $space_sm;
$gap_md: $height_from_top + $space_md;
$gap_lg: $height_from_top + $space_lg;

@mixin pb_timeline_line_solid($width, $height, $margin) {
    width: $width;
    height: $height;
    background-color: $border_light;
    margin: $margin;
    flex-grow: 1;
}

@mixin pb_timeline_line_dotted_horizontal($width, $height, $margin) {
    width: $width;
    height: $height;
    background: repeating-linear-gradient(to right, $border_light 0px ,$border_light 2px, transparent 3px, transparent 10px);
    margin: $margin;
    flex-grow: 1;
}

@mixin pb_timeline_line_dotted_vertical($width, $height, $margin) {
    width: $width;
    height: $height;
    background: repeating-linear-gradient(0deg, $border_light 0px ,$border_light 2px, transparent 3px, transparent 10px);
    margin: $margin;
    flex-grow: 1;
}

@mixin flex_wrapper($flex_direction) {
    display: flex;
    flex-direction: $flex_direction;
}

.pb_timeline_kit_horizontal,
.pb_timeline_kit_horizontal_with_date {
    @include flex_wrapper(row);
    width: 100%;

    >div {
        &:last-child {
            flex-basis: auto !important;

            .pb_timeline_item_step {
                .pb_timeline_item_connector {
                    opacity: 0;
                }
            }

            .pb_timeline_item_right_block {
                display: block;
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }

    .pb_timeline_item_kit_solid {
        flex-basis: 100%;

        .pb_timeline_item_step {
            @include flex_wrapper(row);
            align-items: center;
            margin-top: $space_xs;
            margin-bottom: $space_xs;

            .pb_timeline_item_connector {
                @include pb_timeline_line_solid($connector_width,
                    $connector_width,
                    0 $icon_margin 0 $icon_margin );
            }
        }
    }

    .pb_timeline_item_kit_dotted {
        flex-basis: 100%;

        .pb_timeline_item_step {
            @include flex_wrapper(row);
            align-items: center;
            margin-top: $space_xs;
            margin-bottom: $space_xs;

            .pb_timeline_item_connector {
                @include pb_timeline_line_dotted_horizontal($connector_width,
                    $connector_width,
                    0 $icon_margin 0 $icon_margin );
            }
        }
    }
}

.pb_timeline_kit_horizontal_with_date {
    .pb_timeline_item_kit_solid {
        .pb_timeline_item_left_block {
            display: flex;
            height: 55px;

            .pb_date_stacked_kit_center_sm {
                .pb_date_stacked_day_month {
                    .pb_caption_kit_md {
                        text-align: left;
                    }
                }
            }
        }
    }

    .pb_timeline_item_kit_dotted {
        .pb_timeline_item_left_block {
            height: 55px;

            .pb_date_stacked_kit_center_sm {
                .pb_date_stacked_day_month {
                    .pb_caption_kit_md {
                        text-align: left;
                    }
                }
            }
        }

        .pb_timeline_item_step {
            @include flex_wrapper(row);
            margin-top: $space_xs;
            margin-bottom: $space_xs;

            .pb_timeline_item_connector {
                @include pb_timeline_line_dotted_horizontal($connector_width,
                    $connector_width,
                    0 $icon_margin 0 $icon_margin );
            }
        }
    }
}

.pb_timeline_kit_vertical,
.pb_timeline_kit_vertical_with_date,
.pb_timeline_kit_vertical_gap_xs,
.pb_timeline_kit_vertical_gap_sm,
.pb_timeline_kit_vertical_gap_md,
.pb_timeline_kit_vertical_gap_lg,
.pb_timeline_kit_vertical_with_date_gap_xs,
.pb_timeline_kit_vertical_with_date_gap_sm,
.pb_timeline_kit_vertical_with_date_gap_md,
.pb_timeline_kit_vertical_with_date_gap_lg {
    @include flex_wrapper(column);
    align-items: flex-start;
    align-self: auto;

    >div:last-child {
        .pb_timeline_item_step {
            .pb_timeline_item_connector {
                opacity: 0;
            }
        }
    }


    .pb_timeline_item_kit_solid {
        @include flex_wrapper(row);
        flex-basis: 100%;

        .pb_timeline_item_step {
            @include flex_wrapper(column);
            align-items: center;
            align-content: flex-start;
            margin-right: $space_sm;
            margin-left: $space_sm;

            .pb_timeline_item_connector {
                @include pb_timeline_line_solid($connector_width,
                    $connector_width,
                    $icon_margin 0 $icon_margin 0);
            }
        }

        .pb_timeline_item_left_block {
            margin-bottom: $space_lg;
            width: 0px;
        }

        .pb_timeline_item_right_block {
            @include flex_wrapper(column);
            margin-bottom: $space_lg;
        }
    }


    .pb_timeline_item_kit_dotted {
        @include flex_wrapper(row);
        flex-basis: 100%;

        .pb_timeline_item_step {
            @include flex_wrapper(column);
            align-items: center;
            margin-right: $space_sm;
            margin-left: $space_sm;

            .pb_timeline_item_connector {
                @include pb_timeline_line_dotted_vertical($connector_width,
                    $connector_width,
                    $icon_margin 0 $icon_margin 0);
            }
        }

        .pb_timeline_item_left_block {
            margin-bottom: $space_lg;
            width: 0px;
        }

        .pb_timeline_item_right_block {
            @include flex_wrapper(column);
            margin-bottom: $space_lg;
        }
    }

    &.pb_timeline_kit_vertical_with_date,
    &.pb_timeline_kit_vertical_with_date_gap_xs,
    &.pb_timeline_kit_vertical_with_date_gap_sm,
    &.pb_timeline_kit_vertical_with_date_gap_md,
    &.pb_timeline_kit_vertical_with_date_gap_lg {
        @include flex_wrapper(column);
        align-items: flex-start;
        align-self: auto;

        >div:last-child {
            .pb_timeline_item_step {
                .pb_timeline_item_connector {
                    opacity: 0;
                }
            }
        }

        .pb_timeline_item_kit_solid {
            @include flex_wrapper(row);

            flex-basis: 100%;

            .pb_timeline_item_step {
                @include flex_wrapper(column);
                align-items: center;
                align-content: flex-start;
                margin-right: $space_sm;
                margin-left: $space_sm;

                .pb_timeline_item_connector {
                    @include pb_timeline_line_solid($connector_width,
                        $connector_width,
                        $icon_margin 0 $icon_margin 0);
                }
            }

            .pb_timeline_item_left_block {
                margin-bottom: $space_lg;
                min-width: $space_lg;
            }

            .pb_timeline_item_right_block {
                @include flex_wrapper(column);
                margin-bottom: $space_lg;
            }
        }

        .pb_timeline_item_kit_dotted {
            flex-basis: 100%;

            .pb_timeline_item_step {
                @include flex_wrapper(column);
                align-items: center;
                margin-right: $space_sm;
                margin-left: $space_sm;

                .pb_timeline_item_connector {
                    @include pb_timeline_line_dotted_vertical($connector_width,
                        $connector_width,
                        $icon_margin 0 $icon_margin 0);
                }
            }

            .pb_timeline_item_left_block {
                margin-bottom: $space_lg;
                min-width: $space_lg;
            }

            .pb_timeline_item_right_block {
                @include flex_wrapper(column);
                margin-bottom: $space_lg;
            }
        }
    }
}



.pb_timeline_kit_vertical_gap_xs,
.pb_timeline_kit_vertical_with_date_gap_xs {

    .pb_timeline_item_kit_solid,
    .pb_timeline_item_kit_dotted {
        .pb_timeline_item_step {
            .pb_timeline_item_connector {
                height: $gap_xs !important;
            }
        }
    }
}

.pb_timeline_kit_vertical_gap_sm,
.pb_timeline_kit_vertical__with_date_gap_sm {

    .pb_timeline_item_kit_solid,
    .pb_timeline_item_kit_dotted {
        .pb_timeline_item_step {
            .pb_timeline_item_connector {
                height: $gap_sm !important;
            }
        }
    }
}

.pb_timeline_kit_vertical_gap_md,
.pb_timeline_kit_vertical_with_date_gap_md {

    .pb_timeline_item_kit_solid,
    .pb_timeline_item_kit_dotted {
        .pb_timeline_item_step {
            .pb_timeline_item_connector {
                height: $gap_md !important;
            }
        }
    }
}

.pb_timeline_kit_vertical_gap_lg,
.pb_timeline_kit_vertical_with_date_gap_lg {

    .pb_timeline_item_kit_solid,
    .pb_timeline_item_kit_dotted {
        .pb_timeline_item_step {
            .pb_timeline_item_connector {
                height: $gap_lg !important;
            }
        }
    }
}