<li class="vertical_nav_list_border_item<%= object.active %>">
  <a href=<%= object.link %> class="vertical_nav_list_item_link">
    <span class="vertical_nav_list_item_link_text"><%= object.text %></span>
  </a>
</li>
