<%= content_tag(:li,
    id: object.id,
    data: object.data,
    class: object.classname) do %>
    <a href=<%= object.link %> class="vertical_nav_list_item_link">
     <span class="vertical_nav_list_item_link_text"><%= object.text %><%= !object.children.nil? ? capture(&object.children) : "" %></span>
   </a>
<% end %>
