// Form control focus state
@mixin form-control-focus($color: $input-border-focus) {
  $color-rgba: rgba(red($color), green($color), blue($color), .6);
  &:focus {
    outline: 0;
    border-color: $power-navy;
    box-shadow: inset 0 0 0 0.1rem $power-navy, inset 0 0.1rem 0.2rem 0 rgba($power-navy, $opacity-2);
  }
}

@mixin style-placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
}


// select image settings
@mixin select-arrow-image-settings {
  background-position: 98% 50%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: 20px, auto;
}

// Custom Select
@mixin select($select-color: (linear-gradient(to bottom, $white 10%, $gray-1 100%)), $arrow-color: $gray-5) {
	background: $select-color;
  background-image: image-url('pb-caret.svg'); /* fallback */
  background-image: image-url('pb-caret.svg'), $select-color; /* W3C */
  @include select-arrow-image-settings;
	padding-right: 3em;
}
