@import "../tokens/spacing";
@import "../tokens/colors";

// TBD
// list-xs-
// list-size-border-style


  $nspace-xs:  4px;
  $nspace-sm:  8px;
  $nspace-md:  16px;
  $nspace-lg:  24px;
  $nspace-xl:  32px;

$list-sizes: (
  "base":   nspace-small,
  "big":    nspace-large,

);

$list-layouts: (
  "value-left":   12px,
  "full":         24px,
  "value-right":  24px,
);


.pb_list, .pb_list_dark, .pb_list_borderless, .pb_list_borderless_dark, .pb_list_big, .pb_list_dark_big, .pb_list_xpadding, .pb_list_xpadding_dark {
  ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  ol {
    counter-reset: list-counter;
    li:before {
      content: counter(list-counter);
      counter-increment: list-counter;
      display: block;
      width: 20px;
      flex: 0 0 20px;
      text-align: left;
      color: $ink-lightest;
      font-weight: $bold;
      margin-right: $nspace-sm;
    }
  }
  li {
    border-bottom: 1px solid $sky;
    padding: $nspace-sm 0;
    display: flex;
    align-items: left;
    &:last-child {
      border-bottom: 0;
      // padding-bottom: 0;
    }
  }

  &_dark li {
    color: $white ;
    border-bottom: 1px solid $white-opacity-1;
    &:before {
      color: $white-opacity-7;
    }
  }

  &_big li {
    padding: $nspace-lg 0;
  }
  &_dark_big li {
    color: $white;
    padding: $nspace-lg 0;
  }
  &_xpadding li{
    padding-left: $nspace-md;
    padding-right: $nspace-md;
  }
  &_xpadding_dark li{
    color:$white;
    padding-left: $nspace-md;
    padding-right: $nspace-md;
  }
  &_borderless li {
    border-bottom: 0;
  }
  &_borderless_dark li {
    border-bottom: 0;
  }
  &_layout_left li {
    display: grid;
    grid-template: auto / repeat(3,1fr);
    align-items: center;

    :nth-child(odd){
      grid-column: 1 ;
    }
    :nth-child(even){
      grid-column: 3  ;
      text-align:right;
    }
  }
}
