.pb_selectable_card_icon_kit {

	text-align: center;
	user-select: none;

  .buffer > .pb_selectable_icon_kit::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .buffer > .pb_selectable_icon_kit {
    @media (hover:hover) {
      &:hover * {
            transition: transform $transition_short ease;
            transform: translateY(-2px);
          }
      }
  }


	input[type="checkbox"],
	input[type="radio"] {

    transition-duration: $transition_short;

		&:checked ~ label {
      transition-timing-function: $easeIn;
			color: $primary;

				h4 {
					color: $primary;
				}
			}

    &:not(:checked) ~ label {
      transition-timing-function: $easeOut;
        color: $slate;
      }
    }

    &._disabled {
      opacity: $opacity_6;
      cursor: not-allowed;

      * {
          cursor: not-allowed;
      }
    }

  &.dark {

    input[type="checkbox"],
    input[type="radio"] {

      transition-duration: $transition_short;

      &:checked ~ label {
        transition-timing-function: $easeIn;
        color: $active_dark;

        h4 {
          color: $active_dark !important;
        }

      }

      &:not(:checked) ~ label {
        transition-timing-function: $easeOut;
        color: $text_dk_lighter;

        h4 {
          color: $text_dk_default !important;
        }
      }
    }
  }

  .pb_selectable_icon_kit {
    margin-bottom: 0px;
  }

  .pb_body_kit_light {
    margin-top: $space_xs;
  }

  .pb_selectable_card_kit {
    margin-bottom: 0px !important;
  }
}
