@import "../tokens/spacing";
@import "../tokens/colors";
@import "../tokens/opacity";
@import "../pb_body/body";

$pb_pill_height: 22px;

.pb_pill_kit {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 $space-sm/1.8;
  height: $pb_pill_height;
  border-radius: $pb_pill_height/2;
  white-space: nowrap;

  &.lowercase {
    text-transform: lowercase;
  }

  &.none {
    text-transform: none;
  }

  @each $color_name, $color_value in $status_color_text {
    &[class*=_#{$color_name}]  {
        background: rgba($color_value, $opacity-1);

      .pb_pill_text {
        color: $color_value !important;
      }
    }
  }
}
