@import "../tokens/colors";
@import "../tokens/typography";

.pb_bar_graph {
    rect.highcharts-background {
        fill: #0000 !important;
    }
}

@import url("https://code.highcharts.com/css/highcharts.css");

// @import "highcharts/css/highcharts";
// @import "highcharts/highcharts.css";

:root {
    --highcharts-color-0: #{$data_1};
    --highcharts-color-1: #{$data_2};
    --highcharts-color-2: #{$data_3};
    --highcharts-color-3: #{$data_4};
    --highcharts-color-4: #{$data_5};
    --highcharts-color-5: #{$data_6};
    --highcharts-color-6: #{$data_7};
    --highcharts-color-7: #{$data_8};
}

.highcharts-title {
    font-family: $font_family_base;
    font-weight: $bold;
    font-size: $heading_3;
    color: $text_lt_default;
    fill: $text_lt_default;
}

.highcharts-subtitle {
    font-family: $font_family_base;
    color: $text_lt_light;
    fill: $text_lt_light;
    font-weight: $regular;
    font-size: $text_base;
}

.highcharts-yaxis > .highcharts-axis-title {
    color: $text_lt_lighter;
    fill: $text_lt_lighter;
    font-family: $font_family_base;
    font-weight: $bold;
    font-size: $text_smaller;
}

.highcharts-axis-labels {
    font-family: $font_family_base;
    color: $text_lt_lighter;
    fill: $text_lt_lighter;
    font-weight: $bold;
    font-size: $text_smaller;
}

.highcharts-grid-line {
    stroke: $border_light;
}