@import "../tokens/colors";
@import "../tokens/typography";
@import "../tokens/border_radius";
@import "../tokens/shadows";

.pb_pagination {
  display: inline-block;
  border-radius: $border_rad_light;
  border: $border_rad_lightest solid $border_light;
  background-color: $white;
  padding: $space_xxs 0px;
  margin: $space_xs 0px;
  li {
    display: inline;  
    > a, li > span {
    padding: 7px 13px 6px 13px;
    text-decoration: none;
    border: 0;
  }}
  li:first-child > a, li:first-child > span  {
    padding: 7px 13px;
    border-right: $border_rad_lightest solid $border_light;
    z-index: 2;
  }
  li:last-child > a, li:last-child > span {
    padding: 7px 13px;
    border-left: $border_rad_lightest solid $border_light;
    z-index: 2;
  }
  a {
    color: $text_lt_default;
    font-size: $text_small;
    font-weight: $regular;
    border: none;
    margin-left: $border_rad_lightest;
    margin-right: $border_rad_lightest;

    &:hover {
      background-color: $active_light;
      color: $primary;
      border-radius: $border_rad_light;
    }

    &:focus {
      outline: $border_rad_lightest solid $primary;
      border-radius: $border_rad_light;
    }
  }
  .active > span {
    background-color: $primary;
    border-radius: $border_rad_light;
    color: #fff;
    padding: 7px 13px 6px 13px;
    border: 0;
    text-decoration: none;
    font-weight: $bold;
    font-size: $text_small;

    &:hover {
      box-shadow: $shadow_deeper;
    }
  }
  .disabled > span {
    padding: 7px 10px;
    font-size: $text_small;
  }
}