# Managed by https://github.com/powerhome/software. Do not make changes here, they will be reverted.

name: Automated Code Reviews
on: [pull_request]

jobs:
  brakeman:
    name: Brakeman
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
      - name: "Brakeman playbook"
        uses: reviewdog/action-brakeman@5083efd49634e26645a0736681b618ccc3fb7f14 # v2
        with:
          brakeman_version: gemfile
          tool_name: "playbook"
          workdir: "./playbook"
