.pb_date_range_inline_kit {
  &._center  {
    & > .pb_caption,
    & > .pb_body {
      text-align: center;
    }
    & > .pb_date_range_inline_wrapper {
      justify-content: center;
    }
  }
  &._right {
    & > .pb_caption,
    & > .pb_body {
      text-align: right;
    }
    & > .pb_date_range_inline_wrapper {
      justify-content: flex-end;
    }
  }
  .pb_date_range_inline_wrapper {
    display: flex;
    align-items: center;
    .pb_date_range_inline_arrow {
      margin-left: $space_xs/2;
      margin-right: $space_xs/2;
    }
    .pb_date_range_inline_timezone {
      margin-left: $space_xs/2;
    }
    .pb_date_range_inline_icon {
      margin-right: $space_xs/2;
    }
  }
}
