@import "../pb_body/body_mixins";
@import "../pb_textarea/textarea_mixin";
@import "../tokens/titles";
@import "../tokens/colors";
@import "../tokens/spacing";

.pb_select {
  select {
    @include pb_textarea_light;
    @include pb_body_light;
    background: none;
    background-color: $input_background_default;
    appearance: none;
    cursor: pointer;
    padding-right: $space_xl;
    color: $input_text_active;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 45px;
    @media (hover:hover) {
      &:hover, &:active, &:focus {
        background-color: $input_background_state;
      }
    }
    &:focus{
      border-color: $primary;
      @include transition_default;
    }
    &:focus ~ .pb_select_kit_caret {
      color: $input_text_active;
    }
    &:disabled {
      background-color: $input_background_disabled;
      color: $input_text_disabled !important;
    }
    &:disabled ~ .pb_select_kit_caret {
      color: $input_text_disabled;
    }
  }
  select[multiple] {
    @include pb_textarea_light;
    @include pb_body_light;
    background: none;
    background-color: $input_background_default;
    appearance: none;
    cursor: pointer;
    padding-right: 0px !important;
    color: $input_text_default;
    text-shadow: 0 0 0 $input_text_default;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: $space_xs 0px !important;
    max-height: unset !important;
    &:focus{
      border-color: $primary;
      @include transition_default;
    }
    option {
      padding-left: $space_sm;
      padding-top: $space_xxs;
      padding-bottom: $space_xxs;
      color: $input_text_default;
    }
    option:checked {
      background-color: $input_background_state;
      color: $input_text_active;
    }
    option:hover {
      background-color: $input_background_state;
      color: $input_text_active;
    }
  }
  option {
    color: $input_text_default;
  }
  .pb_select_kit_label {
    margin-bottom: $space_xs;
    display: block;
  }
  .pb_select_kit_wrapper {
    position: relative;
    display: block;
    &.error {
      > .pb_body_kit_negative {
        margin-top: $space_xs / 2;
      }
      > select:first-child {
        border-color: $input_border_error;
      }
      .pb_select_kit_caret {
        top: 25px;
      }
    }
  }
  .pb_select_kit_caret {
    position: absolute;
    right: $space_sm;
    top: 50%;
    display: block;
    color: $input_text_default;
    font-size: ($font_large + 3);
    transform: translateY(-50%);
    pointer-events: none;
  }
  &.inline {
    svg {
      right: 6px;
    }
    @mixin active_arrow_style {
      svg {
        color: $primary !important;
        font-size: 16px;
      }
    }
    &:not(:hover) {
      svg {
        display: none;
      }
    }
    &.show_arrow:not(:hover) {
      svg {
        display: block;
      }
      @include active_arrow_style();
    }
    &:hover {
      @include active_arrow_style();
      select {
        color: $primary !important;
        background: $input_background_state;
      }
    }
    select { 
      box-shadow: none;
      border-color: transparent;
      padding: 4px 8px;
      padding-right: $space_lg; 
      border-radius: 4px;
      option {
        background-color: $input_background_default;
      }
    }
    &.compact {
      select {
        font-size: 12px;
      }
      .pb_select_kit_wrapper.error {
        .pb_select_kit_caret {
          top: 13.7px;
        }
      }
    }
    .pb_select_kit_wrapper.error {
      .pb_select_kit_caret {
        top: 16.2px;
      }
    }
  }
}

.pb_select.dark {
  select {
    @include pb_textarea_dark;
    @include pb_body_light_dark;
    background: none;
    background-color: $input_background_default_dark;
    color: $input_text_state_active;
    padding-right: $space_xl;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @media (hover:hover) {
      &:hover, &:active, &:focus {
        background-color: $input_background_state_dark;
      }
    }
    &:focus {
      border-color: $input_border_state_dark;
      @include transition_default;
    }
    &:focus ~ .pb_select_kit_caret {
      color: $input_text_state_active;
    }
    &:disabled {
      background-color: $input_background_disabled_dark;
      color: $input_text_disabled_dark !important;
    }
    &:disabled ~ .pb_select_kit_caret {
      color: $input_text_disabled_dark;
    }
  }
  select[multiple] {
    @include pb_textarea_dark;
    @include pb_body_light_dark;
    background: none;
    background-color: $input_background_default_dark;
    appearance: none;
    cursor: pointer;
    padding-right: 0px !important;
    color: $input_text_default_dark;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: $space_xs 0px !important;
    max-height: unset !important;
    &:focus{
      border-color: $primary;
      @include transition_default;
    }
    option {
      padding-left: $space_sm;
      padding-top: $space_xxs;
      padding-bottom: $space_xxs;
      color: $input_text_default_dark;
    }
    option:checked {
      background-color: $input_background_state_dark;
    }
    option:hover {
      background-color: $input_background_state_dark;
      color: $input_text_state_active;
    }
  }
  option {
    color: $input_text_default_dark;
  }
  .pb_select_kit_caret {
    color: $input_text_default_dark;
  }
  .pb_select_kit_wrapper {
    &.error {
      > select {
        border-color: $input_border_error_dark;
      }
    }
  }
  &.inline {
    svg {
      right: 6px;
    }
    &:not(:hover) {
      svg {
        display: none;
      }
    }
    &:hover {
      select {
        color: $input_text_state_active !important;
        background: $input_background_state_dark;
      }
      svg {
        color: $primary !important;
        font-size: 16px;
      }
    }
    select {
      box-shadow: none;
      border-color: transparent;
      background: transparent;
      padding: 4px 8px;
      padding-right: $space_lg; 
      border-radius: 4px;
      option {
        background-color: $input_background_default_dark;
      }
    }
    &.compact {
      select {
        font-size: 12px;
      }
    }
  }
}
