<h4>Large Distribution Bar</h4>
<%= pb_rails("distribution_bar", props: {
  values: [1,2,3,4,5,3,3,7]
}) %>

<br></br>
<h4>Small Distribution Bar</h4>
<%= pb_rails("distribution_bar", props: {
  values: [1,2,3,4,5,3,3,7],
  size: "sm"
}) %>
