@import "../pb_title/title";
@import "../pb_body/body";

[class^=pb_title_count_kit] {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;

  & > [class^=pb_title_kit] {
    margin-right: $space-xs;
  }

  &[class*=_center] {
    justify-content: center;
  }

  &[class*=_right] {
    justify-content: flex-end;
  }
}
