[class^=pb_title_count] {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;

  & > [class^=pb_title] {
    margin-right: $space-xs;
  }

  &[class*=_center] {
    justify-content: center;
  }

  &[class*=_right] {
    justify-content: flex-end;
  }
}
