
      <div class="pb_bread_crumb_items>
        <% object.children.each do |child|%>
          <div>
          <% if child[:icon].present? %>
          <%= pb_rails("icon", props: { icon: child[:icon], fixed_width: true }) %>
          <% end %>
            <% if child[:link].present? %>
                <a class="pb_bread_crumb_item" href=<%=child[:link]%>>
                  <%= child[:text] %> 
                </a>
            <% else %> 
              <div>
                <%= child[:text] %>
              </div>
            <% end %>
        <%end%>
       </div>
      

