// Now dependent on link
// refactor link to separate mixin



//== Alerts
//
//## Define alert colors, border radius, and padding.

$alert-padding:               15px !default;
$alert-border-radius:         $border-radius-base !default;
$alert-link-font-weight:      bold !default;

$alert-success-bg:            $power-green;
$alert-success-text:          $state-success-text !default;
$alert-success-border:        $state-success-border !default;

$alert-info-bg:               $power-royal;
$alert-info-text:             $state-info-text !default;
$alert-info-border:           $state-info-border !default;

$alert-warning-bg:            $power-gold;
$alert-warning-text:          $state-warning-text !default;
$alert-warning-border:        $state-warning-border !default;

$alert-danger-bg:             $power-red;
$alert-danger-text:           $state-danger-text !default;
$alert-danger-border:         $state-danger-border !default;



// Alerts

// Alerts

@mixin alert-variant($background) {
  background-color: tint($background, 90%);
  border-color: $background;
  color: $background;

  hr {
    border-top-color: darken($background, 5%);
  }
  .alert-link {
    @include link($color: $background, $underline: true);
  }
  &.alert-dismissable, &.alert-dismissible {
    .close:hover {
      color: shade($background, 20%);
    }
  }
}







//
// Alerts
// --------------------------------------------------


// Base styles
// -------------------------

.alert {
  padding: $alert-padding;
  margin-bottom: $line-height-computed;
  border: 1px solid transparent;
  border-radius: $border-rad-heavier;

  // Headings for larger alerts
  h4 {
    margin-top: 0;
    // Specified for the h4 to prevent conflicts of changing $headings-color
    color: inherit;
  }



  // Provide class for links that match alerts
  .alert-link {
    // font-weight: $alert-link-font-weight;
    @include link($color: $power-royal, $underline: true);
  }

  // Improve alignment and spacing of inner content
  > p,
  > ul {
    margin-bottom: 0;
  }

  > p + p {
    margin-top: 5px;
  }
}

// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

.alert-dismissable, // The misspelled .alert-dismissable was deprecated in 3.2.0.
.alert-dismissible {
  padding-right: ($alert-padding + 20);

  // Adjust close link position
  .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
    font-size: 36px;
    font-weight: 400;
    opacity: 1;
  }
}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.


.alert-success {
  @include alert-variant($power-green);
}

.alert-info {
  @include alert-variant($power-royal);
}

.alert-warning {
  @include alert-variant( $power-gold);
}

.alert-danger {
  @include alert-variant($power-red);
}
