@import "../base-mixins/all";
@import "../base-variables/all";
$slideout-menu-width: 200px;

.sidebar-loading {
  margin: 10px;
  text-align: center;
}

.full-menu {
  @include title-font;
  bottom: 0;
  list-style: none;
  overflow-y: auto;
  padding: 0;
  position: fixed;
  top: 0;
  width: $slideout-menu-width;
  z-index: 10000;

  li {
    a {
      background: $white;
      border-bottom: 1px solid mix($sky, $sky-light, 50%);
      border-right: 1px solid mix($sky, $sky-light, 50%);
      color: $ink;
      display: block;
      font-size: 13px;
      margin: 0;
      padding: 12px 10px;
      position: relative;
      font-weight: $bold;
      @include smooth-font;
      transition-property: color, border-color, background-color;
      transition-duration: 0.15s;
      transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);

      i.full-menu-icon {
        display: block;
        left: 14px;
        position: absolute;
        top: 15px;
        font-size: $font-small;
        color: $ink-lighter;
      }
      span {
        display: block;
        float: left;
        margin-left: 2em;
      }
      span.badge {
        display: block;
        float: right;
        font-size: 90%;
        line-height: 1.1em;
        border-radius: $border-rad-mega;
        position: relative;
        z-index: 1;
      }
      i.full-menu-caret {
        border-top-color: $ink;
        float: none;
        margin: none;
        position: absolute;
        right: 5px;
        top: 12px;
        font-size: 17px;
      }

      &:hover {
        background: $light-yellow;
      }
    }

    &.active {
      a, a:hover {
        -webkit-box-shadow: inset 0px 2px 5px 0px #bfbfbf;
        box-shadow: inset 0px 2px 5px 0px #bfbfbf;
        background: #e5e5e5;
        background: -moz-linear-gradient(top, #e5e5e5 0%, #f5f5f5 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#f5f5f5));
        background: -webkit-linear-gradient(top, #e5e5e5 0%,#f5f5f5 100%);
        background: -o-linear-gradient(top, #e5e5e5 0%,#f5f5f5 100%);
        background: -ms-linear-gradient(top, #e5e5e5 0%,#f5f5f5 100%);
        background: linear-gradient(to bottom, #e5e5e5 0%,#f5f5f5 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#f5f5f5',GradientType=0 );
      }
    }

    /* VACATION STYLE */
    &.corporate-trip {
      a {
        background: #fffdd5;
        background: -moz-linear-gradient(top, #fffdd5 1%, #eee100 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fffdd5), color-stop(100%,#eee100));
        background: -webkit-linear-gradient(top, #fffdd5 1%,#eee100 100%);
        background: -o-linear-gradient(top, #fffdd5 1%,#eee100 100%);
        background: -ms-linear-gradient(top, #fffdd5 1%,#eee100 100%);
        background: linear-gradient(to bottom, #fffdd5 1%,#eee100 100%);
        border-bottom: 1px solid #ffcd3c;
        border-right: 1px solid #ffcd3c;
        color: $power-red;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffdd5', endColorstr='#eee100',GradientType=0 );
      }
    }
    /* END VACATION STYLE */
  }

  /* collapsable menu items */
  .panel-collapse {
    li {
      a {
        background: $ink-light;
        border-bottom: none;
        color: $sky-light;
        padding: 5px 15px;

        i {
          font-size: 70%;
          left: 20px;
          top: 11px;
        }
      }
      a:hover {
        -webkit-box-shadow: none;
        background: $ink-lighter;
        box-shadow: none;
        color:$white;
        filter: none;
      }
    }
  }

}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 3000px) {
  .row-offcanvas {
    position: relative;
    left: 0; /* for firefox */
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    transition: all .4s ease-out;
    web-transition: width 1s;

    &.active {
      #header {
        left: $slideout-menu-width;
        right: -$slideout-menu-width;
        -webkit-transition: all .4s ease-out;
        -moz-transition: all .4s ease-out;
        transition: all .4s ease-out;
        web-transition: width 1s;
      }
    }
}

  .row-offcanvas-right .sidebar-offcanvas { right: -$slideout-menu-width; }
  .row-offcanvas-left  .sidebar-offcanvas { left: -$slideout-menu-width;  }

  .row-offcanvas-right.active { right: $slideout-menu-width; }
  .row-offcanvas-left.active  { left: $slideout-menu-width;  }

  .sidebar-offcanvas { position: absolute; top: 0; width: $slideout-menu-width; z-index: 10000; }
}
