<%= pb_rails("text_input") do %>
    <div>
      <form>
        <label for="input-field">Label</label>
        <input class="input_field" type="text" name="input-field" placeholder="Placeholder"><br>
      </form>
    </div>
<% end %>
